
[Desktop Entry]
Type=Application
Categories=Qt;KDE;Graphics;
Exec=kcoloredit
Icon=kcoloredit
Terminal=false
X-DocPath=kcoloredit/index.html
GenericName=Color Palette Editor
GenericName[be]=Рэдактар палітры колераў
GenericName[bg]=Редактор на цветови палитри
GenericName[ca]=Editor de paletes de colors
GenericName[cs]=Editor palety barev
GenericName[da]=Farvepaletredigering
GenericName[de]=Farbpaletten-Editor
GenericName[el]=Επεξεργαστής παλέτας χρωμάτων
GenericName[en_GB]=Colour Palette Editor
GenericName[et]=Värvipaleti redaktor
GenericName[fr]=Éditeur de palettes de couleurs
GenericName[ga]=Eagarthóir an Phailéid Dathanna
GenericName[gl]=Editor da paleta de cores
GenericName[he]=עורך אסופת-גווני צבע
GenericName[hi]=रंग पट्टिका संपादक
GenericName[hne]=रंगदानी संपादक
GenericName[is]=Litaspjaldaritill
GenericName[it]=Editor della tavolozza dei colori
GenericName[ja]=カラーパレットエディタ
GenericName[km]=កម្មវិធី​កែ​សម្រួល​ក្ដារ​លាយ​ពណ៌
GenericName[ku]=Edîtorê Paleta Rengan
GenericName[lt]=Spalvų paletės redaktorius
GenericName[lv]=Krāsu paletes redaktors
GenericName[ml]=നിറക്കൂട്ടിന്റെ സന്നിവേശം
GenericName[nb]=Redigering av fargepaletten
GenericName[nds]=Klörensett Editor
GenericName[nl]=Kleurpaletbewerker
GenericName[pa]=ਰੰਗ ਪਲੇਅਟ ਐਡੀਟਰ
GenericName[pl]=Edytor palety kolorów
GenericName[pt]=Editor de Paletas de Cores
GenericName[pt_BR]=Editor de paleta de cores
GenericName[ro]=Editor al paletei de culori
GenericName[sk]=Editor farebnej palety
GenericName[sv]=Färgpaletteditor
GenericName[th]=เครื่องมือแก้ไขจานสี
GenericName[tr]=Renk Paleti Düzenleyici
GenericName[uk]=Редактор палітри кольорів
GenericName[vi]=Bộ sửa bảng chọn màu
GenericName[x-test]=xxColor Palette Editorxx
GenericName[zh_CN]=调色板编辑器
GenericName[zh_TW]=調色盤編輯器
Name=KColorEdit
Name[be]=KColorEdit
Name[bg]=KColorEdit
Name[ca]=KColorEdit
Name[cs]=KColorEdit
Name[da]=KColorEdit
Name[de]=KColorEdit
Name[el]=KColorEdit
Name[en_GB]=KColourEdit
Name[et]=KColorEdit
Name[fr]=KColorEdit
Name[ga]=KColorEdit
Name[gl]=KColorEdit
Name[he]=KColorEdit
Name[hi]=के-कलर-एडिट
Name[hne]=के-कलर-एडिट
Name[is]=KColorEdit
Name[it]=KColorEdit
Name[ja]=KColorEdit
Name[km]=KColorEdit
Name[ku]=KColorEdit
Name[lt]=KColorEdit
Name[lv]=KColorEdit
Name[ml]=കെകളര്‍എഡിറ്റ്
Name[nb]=KColorEdit
Name[nds]=KColorEdit
Name[nl]=KColorEdit
Name[pa]=KColorEdit
Name[pl]=KColorEdit
Name[pt]=KColorEdit
Name[pt_BR]=KColorEdit
Name[ro]=KColorEdit
Name[sk]=KColorEdit
Name[sv]=Färgredigeraren
Name[th]=แก้ไขจานสี K
Name[tr]=KColorEdit
Name[uk]=KColorEdit
Name[vi]=KColorEdit
Name[x-test]=xxKColorEditxx
Name[zh_CN]=KColorEdit
Name[zh_TW]=KColorEdit
X-DBUS-StartupType=Multi

X-Desktop-File-Install-Version=0.15
