[Desktop Entry]
GenericName=Icon Editor
GenericName[bg]=Редактор на икони
GenericName[cs]=Editor ikon
GenericName[da]=Ikonredigering
GenericName[de]=Symbol-Editor
GenericName[el]=Επεξεργαστής εικονιδίων
GenericName[en_GB]=Icon Editor
GenericName[et]=Ikooniredaktor
GenericName[fr]=Éditeur d'icônes
GenericName[ga]=Eagarthóir Deilbhíní
GenericName[gl]=Editor de iconas
GenericName[he]=עורך צלמיות
GenericName[hi]=प्रतीक चिह्न संपादक
GenericName[hne]=चिनहा संपादक
GenericName[is]=Táknmyndaritill
GenericName[it]=Editor di icone
GenericName[ja]=アイコンエディタ
GenericName[km]=កម្មវិធី​និពន្ធ​រូប​តំណាង
GenericName[ku]=Edîtorê Îkonê
GenericName[lt]=Ženkliukų redaktorius
GenericName[lv]=Ikonu redaktors
GenericName[ml]=ചിഹ്നങ്ങളുടെ സന്നിവേശം
GenericName[nb]=Ikonredigering
GenericName[nds]=Lüttbildeditor
GenericName[nl]=Pictogrambewerker
GenericName[pa]=ਆਈਕਾਨ ਐਡੀਟਰ
GenericName[pl]=Edytor ikon
GenericName[pt]=Editor de Ícones
GenericName[pt_BR]=Editor de ícones
GenericName[ro]=Editor de pictograme
GenericName[sk]=Editor ikon
GenericName[sv]=Ikoneditor
GenericName[th]=เครื่องมือแก้ไขภาพไอคอน
GenericName[tr]=Simge Düzenleyici
GenericName[uk]=Редактор піктограм
GenericName[vi]=Bộ xem biểu tượng
GenericName[x-test]=xxIcon Editorxx
GenericName[zh_CN]=图标编辑器
GenericName[zh_TW]=圖示編輯器
Name=KIconEdit
Name[be]=KIconEdit
Name[bg]=KIconEdit
Name[cs]=KIconEdit
Name[da]=KIconEdit
Name[de]=KIconEdit
Name[el]=KIconEdit
Name[en_GB]=KIconEdit
Name[et]=KIconEdit
Name[fr]=KIconEdit
Name[ga]=KIconEdit
Name[gl]=KIconEdit
Name[he]=KIconEdit
Name[hi]=के-आइकॉन-एडिट
Name[hne]=के-आइकान-एडिट
Name[is]=KIconEdit
Name[it]=KIconEdit
Name[ja]=KIconEdit
Name[km]=KIconEdit
Name[ku]=KIconEdit
Name[lt]=KIconEdit
Name[lv]=KIconEdit
Name[ml]=കെഐക്കണ്‍എഡിറ്റ്
Name[nb]=KIconEdit
Name[nds]=KIconEdit
Name[nl]=KIconEdit
Name[pa]=ਕੇ-ਆਈਕਾਨ-ਐਡੀਟ
Name[pl]=KIconEdit
Name[pt]=KIconEdit
Name[pt_BR]=KIconEdit
Name[ro]=KIconEdit
Name[sk]=KIconEdit
Name[sv]=Kiconedit
Name[th]=วาดไอคอน K
Name[tr]=KIconEdit
Name[uk]=KIconEdit
Name[vi]=KIconEdit
Name[x-test]=xxKIconEditxx
Name[zh_CN]=KIconEdit
Name[zh_TW]=KIconEdit
MimeType=image/x-xpixmap;image/x-ico;image/png;image/jpeg;
Exec=kiconedit -caption "%c" %u
Icon=kiconedit
X-DocPath=kiconedit/index.html
Type=Application
Terminal=false

X-DBUS-StartupType=Multi
Categories=Qt;KDE;Graphics;X-KDE-More;
