[Desktop Entry]
Name=KUser
Name[af]=Kuser
Name[ar]=ك.مستخدم
Name[be]=KUser
Name[bg]=KUser
Name[bn]=কে-ব্যবহারকারী
Name[br]=KUser
Name[ca]=KUser
Name[ca@valencia]=KUser
Name[cs]=KUser
Name[cy]=KUser
Name[da]=KUser
Name[de]=KUser
Name[el]=KUser
Name[en_GB]=KUser
Name[eo]=Uzantoadministrilo
Name[es]=KUser
Name[et]=KUser
Name[eu]=KUser
Name[fi]=KUser
Name[fr]=KUser
Name[ga]=KUser
Name[gl]=KUser
Name[he]=KUser
Name[hi]=के-यूज़र
Name[hne]=के-यूजर
Name[hr]=KUser
Name[hu]=KUser
Name[hy]=KUser
Name[is]=KNotandi
Name[it]=KUser
Name[ja]=KUser
Name[kk]=KUser
Name[ko]=KUser
Name[lt]=KUser
Name[lv]=KUser
Name[mk]=KUser
Name[ml]=കെയൂസര്‍
Name[ms]=KUser
Name[nb]=KBruker
Name[nds]=KUser
Name[ne]=केडीई प्रयोगकर्ता
Name[nl]=KUser
Name[nn]=KUser
Name[pa]=ਕੇ-ਯੂਜ਼ਰ
Name[pl]=Użytkownicy
Name[pt]=KUser
Name[pt_BR]=KUser
Name[ro]=KUser
Name[ru]=KUser
Name[se]=KUser
Name[sk]=KUser
Name[sl]=KUser
Name[sv]=Kuser
Name[ta]=கேபயனீட்டாளர்
Name[tg]=KИстифодакунанда
Name[th]=จัดการบัญชีผู้ใช้
Name[tr]=KUser
Name[uk]=KUser
Name[uz]=Foydalanuvchilar
Name[uz@cyrillic]=Фойдаланувчилар
Name[vi]=KUser
Name[wa]=KUser
Name[xh]=KUser
Name[x-test]=xxKUserxx
Name[zh_CN]=KUser
Name[zh_HK]=KUser
Name[zh_TW]=KUser
GenericName=User Manager
GenericName[af]=Gebruiker Bestuurder
GenericName[be]=Кіраванне карыстальнікамі
GenericName[bg]=Управление на потребителите
GenericName[bn]=ব্যবহারকারী ম্যানেজার
GenericName[br]=Merour an arveriaded
GenericName[ca]=Gestor d'usuaris
GenericName[ca@valencia]=Gestor d'usuaris
GenericName[cs]=Správce uživatelů
GenericName[cy]=Rheolydd Defnyddwyr
GenericName[da]=Brugerhåndtering
GenericName[de]=Benutzerverwaltung
GenericName[el]=Διαχειριστής χρηστών
GenericName[en_GB]=User Manager
GenericName[eo]=Administrilo por la uzantoj de la komputilo
GenericName[es]=Gestor de usuarios
GenericName[et]=Kasutajate haldamine
GenericName[eu]=Erabiltzaile-kudeatzailea
GenericName[fa]=مدیر کاربر
GenericName[fi]=Käyttäjienhallinta
GenericName[fr]=Gestionnaire d'utilisateurs
GenericName[ga]=Bainisteoir Úsáideora
GenericName[gl]=Xestor de usuarios
GenericName[he]=מנהל משתמשים
GenericName[hi]=प्रयोक्ता प्रबंधक
GenericName[hne]=प्रयोक्ता प्रबंधक
GenericName[hr]=Upravljanje korisnicima
GenericName[hu]=Felhasználókezelő
GenericName[is]=Notandastjóri
GenericName[it]=Gestore utenti
GenericName[ja]=ユーザマネージャ
GenericName[kk]=Пайдаланушылар менеджерx
GenericName[ko]=사용자 관리자
GenericName[lt]=Naudotojų tvarkyklė
GenericName[lv]=Lietotāju pārvaldnieks
GenericName[mk]=Менаџер на корисници
GenericName[ml]=ഉപയോക്താക്കളുടെ നടത്തിപ്പുകാരന്‍
GenericName[ms]=Pengurus Pengguna
GenericName[nb]=Brukerbehandler
GenericName[nds]=Bruker-Pleger
GenericName[ne]=प्रयोगकर्ता प्रबन्धक
GenericName[nl]=Gebruikersbeheerder
GenericName[nn]=Brukarhandsamar
GenericName[pa]=ਯੂਜ਼ਰ ਮੈਨੇਜਰ
GenericName[pl]=Menedżer użytkowników
GenericName[pt]=Gestor de Utilizadores
GenericName[pt_BR]=Gerenciador de usuários
GenericName[ro]=Manager de utilizatori
GenericName[ru]=Управление пользователями
GenericName[se]=Geavaheaddjiid gieđahalli
GenericName[sk]=Správca užívateľov
GenericName[sl]=Upravljalnik uporabnikov
GenericName[sv]=Användarhanterare
GenericName[ta]=பயனீட்டாளர் மேலாளர்
GenericName[tg]=Роҳбари Истифодакунанда
GenericName[th]=จัดการบัญชีผู้ใช้
GenericName[tr]=Kullanıcı Yöneticisi
GenericName[uk]=Менеджер користувачів
GenericName[uz]=Foydalanuvchilar boshqaruvchisi
GenericName[uz@cyrillic]=Фойдаланувчилар бошқарувчиси
GenericName[vi]=Bộ quản lý người dùng
GenericName[wa]=Manaedjeu d' uzeus
GenericName[xh]=Umphathi We Calendar
GenericName[x-test]=xxUser Managerxx
GenericName[zh_CN]=用户管理程序
GenericName[zh_HK]=用戶管理員
GenericName[zh_TW]=使用者管理程式
Exec=kuser %i -caption "%c"
Icon=kuser
Type=Application
X-DocPath=kuser/index.html
Terminal=false
X-KDE-StartupNotify=true
X-KDE-SubstituteUID=true
Categories=Qt;KDE;System;
