[Desktop Entry]
Version=1.0

Name=Backup
Name[ast]=Copia de seguridá
Name[bg]=Резезрно копие
Name[ca]=Còpia de seguretat
Name[ca@valencia]=Còpia de seguretat
Name[cs]=Záloha
Name[da]=Sikkerhedskopi
Name[de]=Datensicherung
Name[el]=Αντίγραφο ασφαλείας
Name[en_AU]=Backup
Name[en_GB]=Backup
Name[eo]=Sekurkopio
Name[es]=Copia de seguridad
Name[eu]=Babeskopia
Name[fa]=پشتیبان گیری
Name[fi]=Varmuuskopiointi
Name[fo]=Trygdarrit
Name[fr]=Sauvegarder
Name[gl]=Copia de respaldo
Name[hr]=Sigurnosno kopiranje
Name[hu]=Biztonsági mentés
Name[id]=Backup
Name[io]=Sekurkopiuro
Name[it]=Backup
Name[ja]=バックアップ
Name[ko]=베껴두기
Name[lt]=Atsarginė kopija
Name[lv]=Dublēt
Name[ms]=Sandar
Name[nb]=Sikkerhetskopier
Name[nl]=Back-up
Name[oc]=Salvament
Name[pl]=Kopia zapasowa
Name[pt]=Cópia de segurança
Name[pt_BR]=Cópia de segurança
Name[ru]=Резервное копирование
Name[sk]=Zálohovanie
Name[sl]=Ustvari varnostno kopijo
Name[sq]=Backup (kopje)
Name[sv]=Säkerhetskopiera
Name[ta]=காப்பு
Name[te]=బ్యాక్అప్
Name[th]=สำรองข้อมูล
Name[tr]=Yedek
Name[ug]=زاپاسلا
Name[uk]=Резервне збереження
Name[vi]=Sao lưu
Name[zh_CN]=备份
Name[zh_HK]=備份
Name[zh_TW]=備份

X-Ubuntu-Software-Center-Name=Déjà Dup Backup Tool
X-Ubuntu-Software-Center-Name[ar]=أداة النسخ الإحتياطي
X-Ubuntu-Software-Center-Name[bg]=Инструмент за създаване на резервни копия Déjà Dup
X-Ubuntu-Software-Center-Name[ca]=Eina de còpies de seguretat Déjà Dup
X-Ubuntu-Software-Center-Name[ca@valencia]=Eina de còpies de seguretat Déjà Dup
X-Ubuntu-Software-Center-Name[cs]=Nástroj k zálohování Déjà Dup
X-Ubuntu-Software-Center-Name[da]=Déjà Dup sikkerhedskopieringsværktøj
X-Ubuntu-Software-Center-Name[de]=Déjà Dup Datensicherungswerkzeug
X-Ubuntu-Software-Center-Name[el]=Εργαλείο Αντιγράφων Ασφαλείας Déjà Dup
X-Ubuntu-Software-Center-Name[en_AU]=Déjà Dup Backup Tool
X-Ubuntu-Software-Center-Name[en_GB]=Déjà Dup Backup Tool
X-Ubuntu-Software-Center-Name[eo]=Déjà Dup sekurkopiilo
X-Ubuntu-Software-Center-Name[es]=Herramienta de respaldo Déjà Dup
X-Ubuntu-Software-Center-Name[eu]=Déjà Dup babeskopietarako tresna
X-Ubuntu-Software-Center-Name[fa]=ابزار پشتیبان گیری Déjà Dup
X-Ubuntu-Software-Center-Name[fi]=Déjà Dup -varmuuskopiointi
X-Ubuntu-Software-Center-Name[fo]=Déjà Dup trygdarritinghar amboð
X-Ubuntu-Software-Center-Name[fr]=Outil de sauvegarde Déjà Dup
X-Ubuntu-Software-Center-Name[gl]=Ferramenta de copia de seguranza do Déjà Dup
X-Ubuntu-Software-Center-Name[he]=כלי הגיבוי Déjà Dup
X-Ubuntu-Software-Center-Name[hr]=Déjà Dup alat sigurnosnog kopiranja
X-Ubuntu-Software-Center-Name[hu]=Déjà Dup biztonságimentés-kezelő
X-Ubuntu-Software-Center-Name[id]=Peralatan Backup Déjà Dup
X-Ubuntu-Software-Center-Name[io]=Déjà Dup Sekurkopilo
X-Ubuntu-Software-Center-Name[it]=Strumento di backup Déjà Dup
X-Ubuntu-Software-Center-Name[ja]=Déjà Dup バックアップツール
X-Ubuntu-Software-Center-Name[ko]=데자둡 베껴두기
X-Ubuntu-Software-Center-Name[lt]=Déjà Dup atsarginių kopijų įrankis
X-Ubuntu-Software-Center-Name[lv]=Déjà Dup dublēšanas rīks
X-Ubuntu-Software-Center-Name[ml]=Déjà Dup ബാക്കപ്പ് ടൂള്‍
X-Ubuntu-Software-Center-Name[ms]=Alat Sandar Déjà Dup
X-Ubuntu-Software-Center-Name[nb]=Déjà Dup verktøy for sikkerhetskopiering
X-Ubuntu-Software-Center-Name[nl]=Déjà Dup back-up maken
X-Ubuntu-Software-Center-Name[nn]=Déjà Dup verktøy for tryggleikskopiering
X-Ubuntu-Software-Center-Name[oc]=Aisina de salvament Déjà Dup
X-Ubuntu-Software-Center-Name[pl]=Program do tworzenia kopii zapasowych Déjà Dup
X-Ubuntu-Software-Center-Name[pt_BR]=Ferramenta de cópia de segurança Déjà Dup
X-Ubuntu-Software-Center-Name[ru]=Программа резервного копирования Déjà Dup
X-Ubuntu-Software-Center-Name[sk]=Déjà Dup - zálohovací nástroj
X-Ubuntu-Software-Center-Name[sl]=Orodje Déjà Dup za ustvarjanje varnostnih kopij
X-Ubuntu-Software-Center-Name[sv]=Déjà Dup Säkerhetskopiering
X-Ubuntu-Software-Center-Name[ta]=தேஜா டப் காப்புக் கருவி
X-Ubuntu-Software-Center-Name[th]=เครื่องมือสำรองข้อมูล Déjà Dup
X-Ubuntu-Software-Center-Name[tr]=Déjà Dup Yedekleme Aracı
X-Ubuntu-Software-Center-Name[uk]=Резервне копіювання з Déjà Dup
X-Ubuntu-Software-Center-Name[vi]=Công cụ Sao lưu Déjà Dup
X-Ubuntu-Software-Center-Name[zh_CN]=Déjà Dup 备份工具
X-Ubuntu-Software-Center-Name[zh_HK]=Déjà Dup 備份工具
X-Ubuntu-Software-Center-Name[zh_TW]=Déjà Dup 備份工具

Icon=deja-dup
TryExec=deja-dup
Exec=deja-dup --backup

StartupNotify=true
NoDisplay=true

Type=Application
Categories=GNOME;GTK;Archiving;Utility;
