
[Desktop Entry]
Encoding=UTF-8
Name=Wireshark
Name[fi]=Wireshark
Name[sv]=Wireshark
Comment=Wireshark traffic and network analyzer
Comment[fi]=Verkkoanalysaattori
Comment[sv]=Nätverkstrafikanalysator
TryExec=wireshark
Exec=wireshark %f
Icon=wireshark
Terminal=false
Type=Application
Categories=X-Red-Hat-Extra;Application;Network;GTK;X-Fedora;
MimeType=application/x-pcap;
X-Desktop-File-Install-Version=0.19
