
[Desktop Entry]
Name=Automatic Bug Reporting Tool
Name[as]=স্বচালিত বাগ সংবাদন সঁজুলি
Name[ast]=Ferramienta d'Informe de Fallos Automática
Name[bn_IN]=স্বয়ংক্রিয় বাগ রিপোর্টিং ব্যবস্থা
Name[ca]=Eina d'enviament automàtic d'informes d'errors
Name[cs]=Nástroj automatického hlášení chyb
Name[da]=Automatisk værktøj til fejlrapportering
Name[de]=Automatisches Bug-Reporting-Tool
Name[el]=Εργαλείο αυτόματης αναφοράς σφαλμάτων
Name[en_GB]=Automatic Bug Reporting Tool
Name[es]=Informe de Errores Automático
Name[fa]=ابزار گزارش اشکال خودکار
Name[fi]=Automaattinen ohjelmavikojen raportointiohjelma
Name[fr]=Automatic Bug Reporting Tool
Name[gu]=આપોઆપ ભૂલ અહેવાલીકરણ સાધન
Name[he]=כלי דיווח באגים אוטומטי
Name[hi]=स्वचालित बग रिपोर्टिंग औजार
Name[hu]=Önműködő Hibabejelentő Eszköz
Name[id]=Automatic Bug Reporting Tool
Name[it]=Automatic Bug Reporting Tool
Name[ja]=自動バグ報告ツール（ABRT）
Name[kn]=ಸ್ವಯಂಚಾಲಿತ ದೋಷ ವರದಿ ಮಾಡುವ ಉಪಕರಣ
Name[ko]=자동 버그 보고 도구 (ABRT) 
Name[ml]=ഓട്ടോമാറ്റിക് ബഗ് രേഖപ്പെടുത്തല്‍ പ്രയോഗം
Name[mr]=ऑटोमॅटीक बग रिपोर्टिंग टूल
Name[nb]=Automatisk feilrapporteringsverktøy
Name[nl]=Automatisch bug rapporteer gereedschap
Name[or]=ସ୍ୱୟଂଚାଳିତ ତ୍ରୁଟି ନିବାରଣ ସାଧନ
Name[pa]=ਆਟੋਮੈਟਿਕ ਬੱਗ ਰਿਪੋਰਟਿੰਗ ਟੂਲ
Name[pl]=Narzędzie do automatycznego zgłaszania błędów
Name[pt]=Ferramenta automática para reportar erros
Name[pt_BR]=Ferramenta para o relatório automático de erros
Name[ru]=Автоматизированный регистратор ошибок
Name[sk]=Nástroj na automatické hlásenie chýb
Name[sr]=Алатка за самосталну пријаву грешака
Name[sr@latin]=Alatka za samostalnu prijavu grеšaka
Name[sv]=Automatiskt felrapporteringsverktyg
Name[ta]=தானியக்க பிழை அறிக்கையிடும் கருவி
Name[te]=స్వయంచాలక బగ్ నివేదీకరణ సాధనము
Name[uk]=ABRT — автоматичне звітування про помилки
Name[zh_CN]=自动程序错误报告工具
Name[zh_TW]=自動錯誤回報工具
Comment=View and report application crashes
Comment[as]=অনুপ্ৰয়োগ স্খলনসমূহ চাওক আৰু সংবাদন কৰক
Comment[bn_IN]=অ্যাপ্লিকেশনের বিপর্যয় সংক্রান্ত তথ্য নিরীক্ষণ ও দায়ের করুন
Comment[ca]=Visualitzeu i informeu de les fallides en les aplicacions
Comment[cs]=Prohlédni si a nahlas chyby v aplikacích
Comment[da]=Vis og rapportér programnedbrud
Comment[de]=Applikationsabstürze ansehen und melden
Comment[el]=Προβολή και αναφορά κατάρρευσης εφαρμογών
Comment[en_GB]=View and report application crashes
Comment[es]=Ver e informar sobre la caída de la aplicación
Comment[fa]=دیدن و گزارش شکستهای برنامه
Comment[fi]=Katsele ja raportoi ohjelmien kaatumisia
Comment[fr]=Visualiser et signaler les incidents de l'application
Comment[gu]=કાર્યક્રમ તૂટવાનું દર્શાવો અને અહેવાલ કરો
Comment[he]=צפה ברשימת היישומים שקרסו ודווח על הקריסות
Comment[hi]=अनुप्रयोग क्रैश को देखें और रिपोर्ट करें
Comment[hu]=Alkalmazás összeomlásokat mutat és jelent
Comment[id]=Lihat dan laporkan crash applikasi
Comment[it]=Visualizza e notifica i crash dell'applicazione
Comment[ja]=アプリケーションクラッシュの表示とレポート
Comment[kn]=ಅನ್ವಯದ ಕುಸಿತವನ್ನು ನೋಡಿ ಹಾಗು ವರದಿ ಮಾಡಿ
Comment[ko]=애플리케이션 크래시를 확인 및 보고함
Comment[ml]=പ്രയോഗത്തിന്റെ തകരാറുകള്‍ രേഖപ്പെടുത്തുക
Comment[mr]=ऍप्लिकेशन क्रॅश पहा व कळवा
Comment[nb]=Vis og rapporter krasj i programmer
Comment[nl]=Bekijk en rapporteer crashes van toepassingen
Comment[or]=ପ୍ରୟୋଗ ନଷ୍ଟଗୁଡ଼ିକୁ ଦେଖନ୍ତୁ ଏବଂ ଖବର କରନ୍ତୁ
Comment[pa]=ਐਪਲੀਕੇਸ਼ਨ ਕਰੈਸ਼ ਵੇਖੋ ਅਤੇ ਰਿਪੋਰਟ ਕਰੋ
Comment[pl]=Wyświetlanie i zgłaszanie awarii aplikacji
Comment[pt]=Ver e reportar as falhas de aplicações
Comment[pt_BR]=Visualizar e reportar travamentos de aplicativos
Comment[ru]=Просмотреть сбои и создать отчет
Comment[sk]=Zobrazenie a nahlasovanie pádov aplikácií
Comment[sr]=Види и пријави програмски пад
Comment[sr@latin]=Vidi i prijavi programski pad
Comment[sv]=Visa och rapportera programkrascher
Comment[ta]=பயன்பாட்டு கிரஷ்களை பார்த்து அறிக்கையிடவும் 
Comment[te]=అనువర్తనము క్రాషెస్‌ను దర్శించుము మరియు నివేదించుము
Comment[uk]=Переглянути збої програми та створити звіт
Comment[zh_CN]=查看并报告应用程序崩溃
Comment[zh_TW]=檢視與回報應用程式錯誤
Exec=abrt-gui
Icon=abrt
Terminal=false
Type=Application
Categories=System;X-Red-Hat-Base;
StartupNotify=true
X-Desktop-File-Install-Version=0.19
