
[Desktop Entry]
Version=1.0
Name=Messaging and VoIP Accounts
Name[an]=Cuentas de mensacheria y VoIP
Name[ar]=حسابات التراسل
Name[as]=বাৰ্তা আৰু VoIP একাওন্টসমূহ
Name[ast]=Cuentes de mensaxería y Voz IP
Name[be]=Конты камунікатара і VoIP
Name[bg]=Съобщения и телефония
Name[bn]=মেসেজিং ও VoIP অ্যাকাউন্ট
Name[ca]=Comptes de missatgeria i VoIP
Name[ca@valencia]=Comptes de missatgeria i VoIP
Name[crh]=Mesajlaşma ve İPüS (İP üzeri Ses) Hesapları
Name[cs]=Účty IM a VoIP
Name[da]=Konti for meddelelser og VoIP
Name[de]=Sofortnachrichten- und VoIP-Konten
Name[el]=Λογαριασμοί μηνυμάτων και τηλεφωνίας
Name[en_CA]=Messaging and VoIP Accounts
Name[en_GB]=Messaging and VoIP Accounts
Name[eo]=Babilaj kaj VoIP-kontoj
Name[es]=Cuentas de mensajería y Voz IP
Name[et]=Sõnumi- ja VoIP kontod
Name[eu]=Mezularitzako eta VoIP-ko kontuak
Name[fa]=حساب‌های پیام‌رسانی و VoIP
Name[fi]=Viestintä ja VoIP-käyttäjätilit
Name[fr]=Comptes de messagerie et VoIP
Name[gl]=Contas de mensaxaría e Voz IP
Name[gu]=મેસેજિંગ અને VoIP ખાતાઓ
Name[he]=חשבונות התכתבות ו־VoIP
Name[hi]=मैसेजिंग और  VoIP खाता
Name[hu]=Üzenetküldő- és VoIP-fiókok
Name[id]=Akun Perpesanan dan VoIP
Name[it]=Account di messaggistica e VoIP
Name[ja]=メッセージングと VoIP のアカウント
Name[kn]=ಮೆಸೇಜಿಂಗ್ ಹಾಗು VoIP ಖಾತೆಗಳು
Name[ko]=메신저 및 VoIP 계정
Name[lt]=Pokalbių ir VoIP paskyros
Name[lv]=Ziņojumapmaiņas un IP balss pārraides konti
Name[mk]=Сметки за инстант пораки и VoIP
Name[mr]=मेसेजिंग व VoIP खाते
Name[my]=စာပို့ခြင်းနှင့် VoIP အကောင့်များ
Name[nb]=Meldings- og VoIP-kontoer
Name[nl]=Messaging- en VoIP-accounts
Name[nn]=Prat- og VoIP-kontoar
Name[or]=ସନ୍ଦେଶ ପ୍ରେରଣ ଏବଂ VoIP ଖାତାଗୁଡ଼ିକ
Name[pa]=ਸੁਨੇਹੇ ਅਤੇ VoIP ਅਕਾਊਂਟ
Name[pl]=Konta komunikatora i VoIP
Name[pt]=Contas de Mensagens Instantâneas e VoIP
Name[pt_BR]=Contas de Mensagem e VoIP
Name[ro]=Conturi de mesagerie și VoIP
Name[ru]=Учётные записи обмена сообщениями и VoIP
Name[sk]=Rozhovory a VoIP účty
Name[sl]=Sporočanje in računi VoIP
Name[sr]=Налози за дописивање и VoIP
Name[sr@latin]=Nalozi za dopisivanje i VoIP
Name[sv]=Meddelande och VoIP-konton
Name[ta]=செய்தி அனுப்புதல் மற்றும் வோய்ப் கணக்குகள்
Name[te]=సందేశకము మరియు VoIP ఖాతాలు
Name[th]=บัญชีข้อความทันใจและ VoIP
Name[tr]=Mesajlaşma ve VoIP Hesapları
Name[ug]=مۇڭداشقۇ ۋە VoIP ھېساباتلىرى
Name[uk]=Листування й облікові записи VoIP
Name[vi]=Tài khoản tin nhắn và VoIP
Name[xh]=Imiyalezo kunye nee-akhawunti za VoIp
Name[zh_CN]=消息和 VoIP 帐号
Name[zh_HK]=訊息與 VoIP 帳號
Name[zh_TW]=訊息與 VoIP 帳號
Name[zu]=Ukulayeza nama VoIP akhawunti
Comment=Manage Messaging and VoIP accounts
Comment[an]=Chestionar cuentas de mensacheria y VoIP
Comment[ar]=أدر حسابات التراسل والصوت عبر الشبكة
Comment[as]=বাৰ্তা আৰু VoIP একাওন্টসমূহ ব্যৱস্থাপনা কৰক
Comment[ast]=Xestionar les cuentes de mensaxería y Voz IP
Comment[be]=Кіраванне контамі камунікатара і VoIP
Comment[bg]=Управление на регистрациите за съобщения и телефония през Интернет
Comment[bn]=মেসেজিং ও VoIP অ্যাকাউন্ট পরিচালনা
Comment[ca]=Gestiona els comptes de missatgeria i VoIP
Comment[ca@valencia]=Gestiona els comptes de missatgeria i VoIP
Comment[crh]=Mesajlaşma ve İPüS (İP üzeri Ses; VoİP) Hesaplarını İdare Et
Comment[cs]=Spravovat účty IM a VoIP
Comment[da]=Håndtér konti for meddelelser og VoIP
Comment[de]=Sofortnachrichten- und VoIP-Konten verwalten
Comment[el]=Διαχείριση λογαριασμών μηνυμάτων και τηλεφωνίας
Comment[en_CA]=Manage Messaging and VoIP accounts
Comment[en_GB]=Manage Messaging and VoIP accounts
Comment[eo]=Administri babilaj kaj VoIP-kontojn
Comment[es]=Gestionar las cuentas de mensajería y Voz IP
Comment[et]=Sõnumi- ja VoIP kontode haldamine
Comment[eu]=Kudeatu mezularitzako eta VoIP-ko kontuak
Comment[fa]=مدیریت حساب‌های پیام‌رسانی و VoIP
Comment[fi]=Hallitse viestimiä ja Internet-puheluiden (VoIP) käyttäjätilejä
Comment[fr]=Gestion des comptes de messagerie et VoIP
Comment[gl]=Xestionar as contas de mensaxaría e Voz IP
Comment[gu]=મેસેજિંગ અને VoIP ખાતાઓને સંચાલિત કરો
Comment[he]=ניהול חשבונות התכתבות ו־VoIP
Comment[hi]=संदेश और VoIP खातों का प्रबंधन
Comment[hu]=Üzenetküldő- és VoIP-fiókok kezelése
Comment[id]=Mengelola akun Perpesanan dan VoIP
Comment[it]=Gestisce account di messaggistica e VoIP
Comment[ja]=メッセージングと VoIP のアカウントの管理
Comment[kn]=ಮೆಸೇಜಿಂಗ್ ಹಾಗು VoIP ಖಾತೆಗಳನ್ನು ನಿರ್ವಹಿಸಿ
Comment[ko]=메신저 및 VoIP 계정 관리
Comment[lt]=Tvarkyti pokalbių ir VoIP paskyras
Comment[lv]=Pārvaldīt ziņojumapmaiņas un IP balss pārraides kontus
Comment[mk]=Управувај со сметките за инстант пораки и VoIP
Comment[mr]=मेसेजिंग व VoIP खाते व्यवस्थापीत करा
Comment[my]=စာပို့ခြင်းနှင့် VoIP အကောင့်များ စီမံပါ
Comment[nb]=Håndter meldings- og VoIP-kontoer
Comment[nl]=Beheer Messaging- en VoIP-accounts
Comment[nn]=Handsam prat- og VoIP-kontoar
Comment[or]=ସନ୍ଦେଶ ପ୍ରେରଣ ଏବଂ VoIP ଖାତାଗୁଡ଼ିକୁ ପରିଚାଳନା କରନ୍ତୁ
Comment[pa]=ਸੁਨੇਹੇ ਅਤੇ VoIP ਅਕਾਊਂਟ ਪਰਬੰਧ
Comment[pl]=Zarządzanie kontami komunikatora i VoIP
Comment[pt]=Gerir contas de Mensagens Instantâneas e VoIP
Comment[pt_BR]=Gerencia contas de mensagem e VoIP
Comment[ro]=Administrare conturi de mesagerie și VoIP
Comment[ru]=Управление учётными записями для обмена сообщениями и VoIP
Comment[sk]=Spravovať rozhovory a VoIP účty
Comment[sl]=Upravljanje s sporočanjem in računi VoIP
Comment[sr]=Управљајте налозима за дописивање и ВоИП
Comment[sr@latin]=Upravljajte nalozima za dopisivanje i VoIP
Comment[sv]=Hantera konton för meddelanden och VoIP
Comment[ta]=செய்தி அனுப்புதல் மற்றும் வோய்ப் கணக்குகள் ஐ  மேலாளவும் 
Comment[te]=సందేశకము మరియు VoIP ఖాతాలను నిర్వహించు
Comment[th]=จัดการบัญชีข้อความทันใจและ VoIP
Comment[tr]=Mesajlaşma ve VoIP hesaplarını Yönet
Comment[ug]=مۇڭداشقۇ ۋە VoIP ھېساباتلىرىنى باشقۇرۇش
Comment[uk]=Керування обліковими записами повідомлень та VoIP
Comment[vi]=Quản lý tài khoản tin nhắn và VoIP
Comment[xh]=Miyalezo kunye nee-akhawunti za VoIp
Comment[zh_CN]=管理消息和 VoIP 帐号
Comment[zh_HK]=管理訊息與 VoIP 帳號
Comment[zh_TW]=管理訊息與 VoIP 帳號
Comment[zu]=Manenja ukulayeza nama VoIP akhawunti
Exec=empathy-accounts
Icon=empathy
StartupNotify=true
Terminal=false
Type=Application
Categories=GNOME;GTK;Settings;DesktopSettings;X-GNOME-PersonalSettings;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=empathy
X-GNOME-Bugzilla-Component=General
X-GNOME-Bugzilla-Version=3.4.2
X-Desktop-File-Install-Version=0.19
