
[Desktop Entry]
Name=Root Password
Name[ar]=كلمة مرور المستخدم الجذري
Name[as]=ৰূটৰ গুপ্ত শব্দ
Name[be]=Пароль адміністратара (Root)
Name[bg]=Root парола
Name[bn]=Root পাসওয়ার্ড
Name[bn_IN]=Root পাসওয়ার্ড
Name[ca]=Contrasenya del superusuari
Name[cs]=Heslo uživatele root
Name[cy]=Cyfrinair Gwraidd
Name[da]=Administrator-adgangskode
Name[de]=Root-Passwort
Name[el]=Συνθηματικό υπερχρήστη
Name[en_GB]=Root Password
Name[es]=Contraseña de root
Name[et]=Juurkasutaja parool
Name[fa]=گذرواژهٔ root
Name[fi]=Pääkäyttäjän salasana
Name[fr]=Mot de passe superutilisateur
Name[gl]=Contrasinal de Root
Name[gu]=રુટ પાસવર્ડ
Name[he]=ססמת root
Name[hi]=रूट शब्दकूट
Name[hr]=Root lozinka
Name[hu]=Rendszergazda jelszó
Name[id]=Password Root
Name[is]=Rótarlykilorð
Name[it]=Password di root
Name[ja]=ルートパスワード
Name[ka]=Root-ის პაროლი
Name[kn]=ಮೂಲದ ಗುಪ್ತಪದ
Name[ko]=루트 암호
Name[lt]=Root Slaptažodis
Name[lv]=Root parole
Name[mai]=रूट शब्दकूट
Name[mk]=Лозинката на root
Name[ml]=റൂട്ടിനുള്ള പാസ്‌വേര്‍ഡ്
Name[mn]=Эзэн-Нууц үг
Name[mr]=रुट पासवर्ड
Name[ms]=Katalaluan Root
Name[nb]=Root passord
Name[nl]=Root-wachtwoord
Name[or]=ପ୍ରମୂଖ ଚାଳକର ପ୍ରବେଶ ସଙ୍କେତ
Name[pa]=ਰੂਟ (root) ਪਾਸਵਰਡ
Name[pl]=Hasło roota
Name[pt]=Senha de 'Root'
Name[pt_BR]=Senha do root
Name[ro]=Parola de root
Name[ru]=Пароль root
Name[sk]=Heslo správcu
Name[sl]=Skrbniško geslo
Name[sr]=Root лозинка
Name[sr@latin]=Root lozinka
Name[sv]=Rootlösenord
Name[ta]=ரூட் கடவுச்சொல்
Name[te]=Root అనుమతిపదం
Name[th]=รหัสรูท
Name[tr]=Root Parolası
Name[uk]=Пароль користувача root
Name[vi]=Mật khẩu root
Name[zh_CN]=根口令
Name[zh_TW]=Root 密碼
Name[zu]=Igama lokudlula Lempande
Comment=Change the root password for the system
Comment[ar]=غيّر كلمة مرور المستخدم الجذري للنّظام
Comment[as]=ব্যৱস্থাপ্ৰণালীৰ বাবে ৰূটৰ গুপ্ত শব্দ সলনি কৰক
Comment[be]=Зьмена пароля адміністратара
Comment[bg]=Промяна на root паролата на ситемата
Comment[bn]=সিস্টেমের root পাসওয়ার্ড পরিবর্তন করুন
Comment[bn_IN]=সিস্টেমের root পাসওয়ার্ড পরিবর্তন করুন
Comment[ca]=Canvieu la contrasenya del superusuari del sistema
Comment[cs]=Změnit heslo uživatele root
Comment[cy]=Newid y cyfrinair gwraidd ar gyfer y system
Comment[da]=Ændr adgangskoden for administrator (root) på systemet
Comment[de]=Ändern Sie das root-Passwort für Ihr System.
Comment[el]=Αλλαγή συνθηματικού υπερχρήστη
Comment[en_GB]=Change the root password for the system
Comment[es]=Configure la contraseña de root para el  sistema.
Comment[et]=Muuda juurkasutaja parool süsteemile
Comment[fa]=تغییر گذرواژهٔ root سیستم
Comment[fi]=Vaihda järjestelmän pääkäyttäjän salasanaa
Comment[fr]=Modifier le mot de passe superutilisateur pour le système
Comment[gl]=Cambia o contrasinal de root do sistema
Comment[gu]=સિસ્ટમ માટે રુટ પાસવર્ડ બદલો
Comment[he]=שנה את ססמת root של המערכת
Comment[hi]=सिस्टम के लिए रूट शब्दकूट बदलें
Comment[hr]=Izmjena root lozinke sustava
Comment[hu]=Rendszergazda jelszó megváltoztatása
Comment[id]=Ganti password root untuk sistem
Comment[is]=Breyta rótarlykilorði vélarinnar
Comment[it]=Modificare la password di root per il sistema
Comment[ja]=システム用のルートパスワードを変更して下さい
Comment[ka]=სისტემის root-ის პაროლის შეცვლა
Comment[kn]=ವ್ಯವಸ್ಥೆಗೆ ಮೂಲದ ಗುಪ್ತಪದವನ್ನು ಬದಲಾಯಿಸು
Comment[ko]=시스템에 사용될 루트 암호를 변경
Comment[lt]=Keisti root sistemos slaptažodį
Comment[lv]=Nomainīt sistēmas root paroli
Comment[mai]=सिस्टम क' लेल रूट शब्दकूट बदलू
Comment[mk]=Промени ја лозинката на root
Comment[ml]=കംപ്യൂട്ടറിന്‍റെ റൂട്ട് പാസ്‍വേര്‍ഡ് മാറ്റുക
Comment[mn]=Системийнхээ эзэн нууц үгийг солих.
Comment[mr]=प्रणालीसाठी रुट पासवर्ड बदला
Comment[ms]=Tukar katalaluan root bagi sistem
Comment[nb]=Endre root passordet for systemet
Comment[nl]=Het root-wachtwoord van het systeem wijzigen
Comment[or]=ଏହି ତନ୍ତ୍ର ପାଇଁ ପ୍ରମୂଖ ଚାଳକର ପ୍ରବେଶ ସଙ୍କେତକୁ ପରିବର୍ତ୍ତନ କର
Comment[pa]=ਸਿਸਟਮ ਲਈ ਰੂਟ (root) ਦਾ ਪਾਸਵਰਡ ਬਦਲੋ
Comment[pl]=Zmień hasło roota dla systemu
Comment[pt]=Mudar a senha de 'root' do sistema
Comment[pt_BR]=Alterar a senha do root do sistema
Comment[ro]=Schimbaţi parola de root a sistemului
Comment[ru]=Изменение пароля root
Comment[sk]=Zmeniť heslo správcu pre systém
Comment[sl]=Spremeni skrbniško (root) geslo za sistem
Comment[sr]=Мења root лозинку на систему
Comment[sr@latin]=Menja root lozinku na sistemu
Comment[sv]=Byt rootlösenordet för systemet
Comment[ta]=கணிணியின் ரூட் கடவுச்சொல்லை மாற்று
Comment[te]=కంప్యూటరు కోసం root అనుమతి పదాన్ని మార్చండి
Comment[th]=เปลี่ยนรหัสรูทของระบบ
Comment[tr]=Sistemdeki root parolasını değiştirin.
Comment[uk]=Змінити пароль користувача root
Comment[vi]=Đổi mật khẩu root cho hệ thống
Comment[zh_CN]=改变系统的根口令
Comment[zh_TW]=請更改系統的 root 密碼
Comment[zu]=Shintsha igama lokudlula lempande lesistimu
Categories=Settings;System;
Icon=system-config-rootpassword
Exec=/usr/bin/system-config-rootpassword
Type=Application
StartupNotify=true
Terminal=false
X-Desktop-File-Install-Version=0.19
