
[Desktop Entry]
Name=Liferea
Name[ar]=لايفريا
Name[ast]=Liferea
Name[be@latin]=Liferea
Name[bg]=Събирач на RSS емисии (Liferea)
Name[ca]=Liferea
Name[cs]=Liferea
Name[da]=Liferea
Name[de]=Liferea
Name[el]=Liferea
Name[es]=Liferea
Name[eu]=Liferea
Name[fi]=Liferea
Name[fr]=Liferea
Name[gl]=Liferea
Name[he]=Liferea
Name[hu]=Liferea
Name[it]=Liferea
Name[ja]=Liferea
Name[lt]=Liferea
Name[lv]=Liferea
Name[nl]=Liferea
Name[pl]=Liferea
Name[pt]=Liferea
Name[pt_BR]=Liferea
Name[ro]=Liferea
Name[ru]=Liferea
Name[sk]=Liferea
Name[sq]=Liferea
Name[sv]=Liferea
Name[tr]=Liferea
Name[uk]=Liferea
Name[zh_CN]=Liferea
GenericName=Feed Reader
GenericName[ar]=قارئ تلقيمات
GenericName[ast]=Llector de noticies
GenericName[be@latin]=Hartač RSS
GenericName[ca]=Lector de canals de notícies
GenericName[cs]=Čtečka kanálů
GenericName[da]=Nyhedslæser
GenericName[de]=Feedreader
GenericName[el]=Ανάγνωση ροών
GenericName[es]=Lector de noticias
GenericName[eu]=Iturri irakurlea
GenericName[fr]=Lecteur de flux
GenericName[gl]=Lector de fontes
GenericName[he]=קורא ערוצים
GenericName[hu]=Hírforrásolvasó
GenericName[it]=Lettore notiziari
GenericName[ja]=フィード・リーダ
GenericName[lt]=Naujienų kanalų skaitytuvė
GenericName[lv]=Barotņu lasītājs
GenericName[nl]=Feedlezer
GenericName[pl]=Czytnik wiadomości
GenericName[pt]=Leitor de Fontes
GenericName[pt_BR]=Leitor de Fontes de Notícias
GenericName[ro]=Cititor fluxuri
GenericName[ru]=Приложение для чтения новостей
GenericName[sk]=Čítačka kanálov
GenericName[sq]=Lexues Prurjesh
GenericName[sv]=Nyhetsläsare
GenericName[tr]=Haber Okuyucusu
GenericName[uk]=Програма для читання подач
GenericName[zh_CN]=Feed 阅读器
X-GNOME-FullName=Liferea Feed Reader
X-GNOME-FullName[ar]=قارئ التلقيمات لايفريا
X-GNOME-FullName[ast]=Liferea, llector de noticies
X-GNOME-FullName[be@latin]=Hartač RSS Liferea
X-GNOME-FullName[cs]=Čtečka kanálů Liferea
X-GNOME-FullName[da]=Liferea - Nyhedslæser
X-GNOME-FullName[de]=Liferea Feedreader
X-GNOME-FullName[el]=Ανάγνωση ροών Liferea
X-GNOME-FullName[es]=Liferea, lector de noticias
X-GNOME-FullName[eu]=Liferea iturri irakurlea
X-GNOME-FullName[fr]=Lecteur de flux Liferea
X-GNOME-FullName[gl]=Lector de fontes Liferea
X-GNOME-FullName[he]=קורא הערוצים Liferea
X-GNOME-FullName[hu]=Liferea hírforrásolvasó
X-GNOME-FullName[it]=Lettore notiziari Liferea
X-GNOME-FullName[ja]=Liferea フィード・リーダ
X-GNOME-FullName[lt]=Liferea naujienų kanalų skaitytuvė
X-GNOME-FullName[lv]=Liferea barotņu lasītājs
X-GNOME-FullName[nl]=Liferea - Linux Feed Reader
X-GNOME-FullName[pl]=Czytnik Wiadomości RSS Liferea
X-GNOME-FullName[pt]=Leitor de Fontes Liferea
X-GNOME-FullName[pt_BR]=Agregador de Notícias Liferea
X-GNOME-FullName[ro]=Cititor fluxuri Liferea
X-GNOME-FullName[ru]=Приложение для чтения новостей Liferea
X-GNOME-FullName[sk]=Liferea - čítačka kanálov
X-GNOME-FullName[sq]=Lexuesi i Prurjeve Liferea
X-GNOME-FullName[sv]=Nyhetsläsaren Liferea
X-GNOME-FullName[tr]=Liferea Haber Okuyucusu
X-GNOME-FullName[uk]=Програма для читання подач Liferea
X-GNOME-FullName[zh_CN]=Lifera Feed 阅读器
Comment=Download and view feeds
Comment[ar]=نزّل واعرض التلقيمات
Comment[ast]=Baxar y ver noticies
Comment[be@latin]=Atrymvaj i ahladaj kanały RSS
Comment[ca]=Baixeu i visualitzeu canals de notícies
Comment[cs]=Stahovat a prohlížet novinkové kanály
Comment[da]=Hent og vis nyhedskilder
Comment[de]=Herunterladen und Anzeigen von Feeds
Comment[el]=Λήψη και προβολή ροών
Comment[es]=Descarga y muestra noticias
Comment[eu]=Deskargatu eta ikusi iturriak
Comment[fr]=Télécharger et voir des flux
Comment[gl]=Descarga e amosa fontes
Comment[he]=הורד וצפה בערוצים
Comment[hu]=Hírforrások letöltése és megjelenítése
Comment[it]=Scarica e visualizza notiziari
Comment[ja]=配信元をダウンロードして表示します
Comment[lt]=Parsiųskite ir skaitykite naujienas
Comment[lv]=Lejupielādē un lasi ziņas
Comment[nl]=Feeds downloaden en bekijken
Comment[pl]=Subskrybuj kanały informacyjne
Comment[pt]=Transferir e exibir fontes
Comment[pt_BR]=Download e exibir fontes de notícias
Comment[ro]=Descarcă și vizualizează fluxuri
Comment[ru]=Скачать и просмотреть ленты
Comment[sk]=Stiahnuť a zobraziť kanály
Comment[sq]=Shkarkoji dhe shfaqi prurjet
Comment[sv]=Hämta och visa kanaler
Comment[tr]=Haber kaynaklarını indir ve görüntüle
Comment[uk]=Звантаження і перегляд подач
Comment[zh_CN]=下载并查看 Feed
Exec=liferea
Icon=liferea
StartupNotify=true
Terminal=false
Type=Application
Categories=Network;News;
Version=0.9.4
X-Desktop-File-Install-Version=0.19
