
[Desktop Entry]
Name=ICC Profile Installer
Name[bg]=Инсталиране на цветови профил
Name[ca]=Instal·lador de perfils ICC
Name[ca@valencia]=Instal·lador de perfils ICC
Name[cs]=Instalátor profilu ICC
Name[da]=ICC-profilinstallering
Name[de]=ICC-Profil-Installation
Name[el]=Εγκαταστάτης προφίλ ICC
Name[en_GB]=ICC Profile Installer
Name[es]=Instalador de perfiles ICC
Name[et]=ICC-profiilide paigaldaja
Name[eu]=ICC profilen instalatzailea
Name[fr]=Programme d'installation de profil de couleur ICC
Name[gl]=Instalador de perfiles ICC
Name[he]=מתקין פרופילי ICC
Name[hu]=ICC profiltelepítő
Name[id]=Pemasang Profil ICC
Name[it]=Installa profili ICC
Name[ja]=ICCプロファイルのインストーラー
Name[ko]=ICC 프로파일 설치기
Name[lt]=ICC profilių diegiklis
Name[lv]=ICC profilu instalators
Name[nb]=Installer ICC-profil
Name[pa]=ICC ਪਰੋਫਾਇਲ ਇੰਸਟਾਲਰ
Name[pl]=Instalator profilów ICC
Name[pt]=Instalador de Perfil ICC
Name[pt_BR]=Instalador de perfil ICC
Name[ro]=Instalator de profiluri ICC
Name[ru]=Установка цветовых профилей
Name[sl]=Namestitveni program profilov ICC
Name[sr]=Инсталација ИЦЦ профила
Name[sr@latin]=Instalacija ICC profila
Name[sv]=Installera ICC-profiler
Name[ta]=ஐசிசி  வரிவுரு நிறுவி 
Name[ug]=ICC Profile ئورناتقۇچ
Name[uk]=Встановлення колірних профілів
Name[vi]=Trình cài đặt hồ sơ ICC
Name[zh_CN]=ICC 配置文件安装器
Name[zh_HK]=ICC 色彩描述檔安裝程式
Name[zh_TW]=ICC 色彩描述檔安裝程式
Comment=Install ICC profiles
Comment[bg]=Инсталиране на цветови профили
Comment[ca]=Instal·la perfils ICC
Comment[ca@valencia]=Instal·la perfils ICC
Comment[cs]=Instalovat profily ICC
Comment[da]=Installer ICC-profiler
Comment[de]=ICC-Profile installieren
Comment[el]=Εγκατάσταση προφίλ ICC
Comment[en_GB]=Install ICC profiles
Comment[es]=Instalar perfiles ICC
Comment[et]=ICC-profiilide paigaldamine
Comment[eu]=Instalatu ICC profilak
Comment[fr]=Installation de profils ICC
Comment[gl]=Instalar perfiles ICC
Comment[he]=התקנת פרופילי ICC
Comment[hu]=ICC profilok telepítése
Comment[id]=Pasang profil ICC
Comment[it]=Installa profili ICC
Comment[ja]=ICCプロファイルのインストール
Comment[ko]=ICC 프로파일 설치
Comment[lt]=Įdiegti ICC profilius
Comment[lv]=Instalēt ICC profilus
Comment[nb]=Installler ICC-profiler
Comment[pa]=ICC ਪਰੋਫਾਇਲ ਇੰਸਟਾਲ ਕਰੋ
Comment[pl]=Instalacja profilów ICC
Comment[pt]=Instalar perfis ICC
Comment[pt_BR]=Instala perfis ICC
Comment[ro]=Instalează profiluri ICC
Comment[ru]=Установка цветовых профилей
Comment[sl]=Namesti profile ICC
Comment[sr]=Инсталирај ИЦЦ профил
Comment[sr@latin]=Instaliraj ICC profil
Comment[sv]=Installera ICC-profiler
Comment[ta]=ஐசிசி  வரையுருக்களை நிறுவு
Comment[uk]=Встановлення профілів ICC
Comment[vi]=Cài đặt hồ sơ ICC
Comment[zh_CN]=安装 ICC 配置文件
Comment[zh_HK]=安裝 ICC 色彩描述檔
Comment[zh_TW]=安裝 ICC 色彩描述檔
Categories=System;
Exec=/usr/bin/gcm-import %F
Terminal=false
Type=Application
Icon=application-vnd.iccprofile
StartupNotify=true
NoDisplay=true
MimeType=application/vnd.iccprofile;

X-Desktop-File-Install-Version=0.19
