
[Desktop Entry]
Name=Online Accounts
Name[af]=Aanlynrekeninge
Name[ar]=حسابات الإنترنت
Name[as]=অনলাইন একাওন্টসমূহ
Name[ast]=Cuentes en llinia
Name[be]=Сеціўныя конты
Name[bg]=Мрежови регистрации
Name[ca]=Comptes en línia
Name[ca@valencia]=Comptes en línia
Name[crh]=Çevrimiçi Hesaplar
Name[cs]=Účty on-line
Name[da]=Onlinekonti
Name[de]=Online-Konten
Name[el]=Διαδικτυακοί λογαριασμοί
Name[en_GB]=Online Accounts
Name[eo]=Retaj kontoj
Name[es]=Cuentas en línea
Name[et]=Netikontod
Name[eu]=Lineako kontuak
Name[fa]=حساب‌های برخط
Name[fi]=Verkkotilit
Name[fr]=Comptes en ligne
Name[ga]=Cuntais ar Líne
Name[gl]=Contas en liña
Name[gu]=ઓનલાઇન ખાતાઓ
Name[he]=חשבונות מקוונים
Name[hi]=ऑनलाइन खातों
Name[hu]=Online fiókok
Name[id]=Akun Daring
Name[it]=Account online
Name[ja]=オンラインアカウント
Name[kk]=Желідегі тіркелгілер
Name[kn]=ಅಂತರಜಾಲದಲ್ಲಿನ ಖಾತೆಗಳು
Name[ko]=온라인 계정
Name[lt]=Interneto paslaugų paskyros
Name[lv]=Tiešsaistes konti
Name[mk]=Онлајн сметки
Name[mr]=ऑनलाइन खाते
Name[nb]=Kontoer på nettet
Name[nl]=Online-accounts
Name[or]=ଅନଲାଇନ ଖାତାଗୁଡ଼ିକ
Name[pa]=ਆਨਲਾਈਨ ਅਕਾਊਂਟ
Name[pl]=Konta online
Name[pt]=Contas Online
Name[pt_BR]=Contas on-line
Name[ru]=Сетевые учётные записи
Name[sk]=Online účty
Name[sl]=Spletni računi
Name[sr]=Налози на мрежи
Name[sr@latin]=Nalozi na mreži
Name[sv]=Nätkonton
Name[ta]=ஆன் லைன்  கணக்குகள்
Name[te]=ఆన్‌లైన్ ఖాతాలు
Name[th]=บัญชีออนไลน์
Name[tr]=Çevrimiçi Hesaplar
Name[ug]=توردىكى ھېساباتلار
Name[uk]=Мережеві облікові записи
Name[vi]=Tài khoản trực tuyến
Name[zh_CN]=在线账户
Name[zh_HK]=網上帳號
Name[zh_TW]=線上帳號
Comment=Manage online accounts
Comment[af]=Bestuur aanlynrekeninge
Comment[ar]=أدِر حسابات الإنترنت
Comment[as]=অনলাইন একাওন্টসমূহ ব্যৱস্থাপনা কৰক
Comment[ast]=Xestionar cuentes en llinia
Comment[be]=Настройка сеціўных контаў
Comment[bg]=Управление на регистрации в мрежата
Comment[ca]=Gestioneu els comptes en línia
Comment[ca@valencia]=Gestioneu els comptes en línia
Comment[crh]=Çevrimiçi hesapları yönet
Comment[cs]=Správa on-line účtů
Comment[da]=Håndtér online-konti
Comment[de]=Online-Konten verwalten
Comment[el]=Διαχείριση διαδικτυακών λογαριασμών
Comment[en_GB]=Manage online accounts
Comment[eo]=Mastrumi retkontojn
Comment[es]=Gestionar cuentas en línea
Comment[et]=Netikontode haldamine
Comment[eu]=Kudeatu lineako kontuak
Comment[fa]=مدیریت حساب‌های برخط
Comment[fi]=Hallitse verkkotilejä
Comment[fr]=Gérer les comptes en ligne
Comment[gl]=Xestionar contas en liña
Comment[gu]=ઓનલાઇન ખાતાઓ સંચાલિત કરો
Comment[he]=ניהול החשבונות המקוונים
Comment[hi]=ऑनलाइन खातों का प्रबंधन
Comment[hu]=Online fiókok kezelése
Comment[id]=Kelola akun daring
Comment[it]=Gestisce gli account online
Comment[ja]=オンラインアカウント管理
Comment[kk]=Желідегі тіркелгілерді басқару
Comment[kn]=ಅಂತರಜಾಲದಲ್ಲಿನ ಖಾತೆಗಳನ್ನು ನಿರ್ವಹಿಸು
Comment[ko]=온라인 계정 관리
Comment[lt]=Tvarkyti internetinių paslaugų paskyras
Comment[lv]=Pārvaldīt tiešsaistes kontus
Comment[mk]=Менаџирајте со онлајн сметките
Comment[mr]=ऑनलाइन खाते व्यवस्थापीत करा
Comment[nb]=Håndter kontoer på nettet
Comment[nl]=Online-accounts beheren
Comment[or]=ଅନଲାଇନ ଖାତାଗୁଡ଼ିକୁ ପରିଚାଳନା କରନ୍ତୁ
Comment[pa]=ਆਨਲਾਈਨ ਅਕਾਊਂਟ ਪਰਬੰਧ
Comment[pl]=Zarządzanie kontami online
Comment[pt]=Gerir as contas online
Comment[pt_BR]=Gerenciar contas on-line
Comment[ru]=Управление сетевыми учётными записями
Comment[sk]=Spravovať online účty
Comment[sl]=Upravljanje spletnih računov
Comment[sr]=Управљај налозима на мрежи
Comment[sr@latin]=Upravljaj nalozima na mreži
Comment[sv]=Hantera nätkonton
Comment[ta]=ஆன் லைன் கணக்குகளை மேலாள்
Comment[te]=ఆన్‌లైన్ ఖాతాలను నిర్వహించు
Comment[th]=จัดการบัญชีออนไลน์
Comment[tr]=Çevrimiçi hesapları yönet
Comment[ug]=توردىكى ھېساباتلارنى باشقۇرۇش
Comment[uk]=Створити нові облікові записи
Comment[vi]=Quản lý tài khoản trực tuyến
Comment[zh_CN]=管理在线账户
Comment[zh_HK]=管理網上帳號
Comment[zh_TW]=管理線上帳號
Exec=gnome-control-center online-accounts
Icon=goa-panel
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Settings;DesktopSettings;X-GNOME-Settings-Panel;X-GNOME-PersonalSettings;
OnlyShowIn=GNOME;Unity;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-control-center
X-GNOME-Bugzilla-Component=Online Accounts
X-GNOME-Bugzilla-Version=3.4.2
X-GNOME-Settings-Panel=online-accounts
# Translators: those are keywords for the online-accounts control-center panel
Keywords=Google;Facebook;Twitter;Yahoo;Web;Online;Chat;Calendar;Mail;Contact;
Keywords[af]=Google;Facebook;Twitter;Yahoo;Web;Online;Chat;Calendar;Mail;Contact;gesels;kalender;pos;epos;e-pos;kontak;
Keywords[ar]=جوجل;جووجل;فيسبوك;تويتر;ياهو;وب;ويب;محادثة;تقويم;بريد;اتصال;
Keywords[as]=Google;Facebook;Twitter;Yahoo;Web;Online;Chat;Calendar;Mail;Contact;
Keywords[ast]=Google;Facebook;Twitter;Yahoo;Web;En llinia;Chat;Calendariu;Corréu-e;Contautu;
Keywords[be]=Google;Facebook;Twitter;Yahoo;Сеціва;Інтэрнэт;Чат;Каляндар;Пошта;Кантакты;Сувязь;
Keywords[bg]=Google;Facebook;Twitter;Yahoo;Уеб;В мрежа;Разговор;Календар;Поща;Контакт;
Keywords[ca]=Google;Facebook;Twitter;Yahoo;Web;En línia;Xat;Calendari;Correu;Contacte;
Keywords[ca@valencia]=Google;Facebook;Twitter;Yahoo;Web;En línia;Xat;Calendari;Correu;Contacte;
Keywords[crh]=Google;Facebook;Twitter;Yahoo;Web;Çevrimiçi;Sohbet;Takvim;Posta;Bağlantı;
Keywords[cs]=Google;Facebook;Twitter;Yahoo;web;on-line;diskuze;kalendář;e-mail;pošta;kontakt;
Keywords[da]=Google;Facebook;Twitter;Yahoo;Internet;Online;Chat;Kalendar;Post;Kontaktpersoner;
Keywords[de]=Google;Facebook;Twitter;Yahoo;Web;Online;Chat;Kalender;Mail;Kontakt;
Keywords[el]=Google;Facebook;Twitter;Yahoo;Web;Online;Chat;Ημερολόγιο;Αλληλογραφία;Επαφές;
Keywords[en_GB]=Google;Facebook;Twitter;Yahoo;Web;Online;Chat;Calendar;Mail;Contact;
Keywords[eo]=Guglo;Vizaĵlibro;Tvitero;Jahuo;Reto;Konektite;Retbabilejo;Kalendaro;Retpoŝto;Kontaktoj;
Keywords[es]=Google;Facebook;Twitter;Yahoo;Web;En línea;Chat;Calendario;Correo-e;Contacto;
Keywords[et]=Google;Facebook;Twitter;Yahoo;veeb;onlain;vestlus;kalender;meil;kontaktid;
Keywords[eu]=Google;Facebook;Twitter;Yahoo;Weba;Linean;Berriketa;Egutegia;Posta;Kontaktua;
Keywords[fa]=گوگل;فیس بوک;تویتر;یاهو;وب;برخط;گپ;تقویم;پست‌الکترونیکی;آشنا;
Keywords[fi]=Google;Facebook;Twitter;Yahoo;Web;WWW;Online;keskustelu;Chat;kalenteri;Calendar;sähköposti;Mail;yhteystiedot;kontaktit;Contact;
Keywords[fr]=Google;Facebook;Twitter;Yahoo;Web;En ligne;Chat;Calendrier;Courriel;Email;Contact;
Keywords[gl]=Google;Facebook;Twitter;Yahoo;Web;En liña;Chat;Calendario;Correo-e;Contacto;
Keywords[he]=Google;Facebook;Twitter;Yahoo;Web;מקוון;שיחה;יומן;דוא״ל;לוח שנה;
Keywords[hi]=गूगल;फेसबुक;ट्विटर;याहू;वेब;ऑनलाइन;चैट;कैलेंडर;मेल;संपर्क;
Keywords[hu]=Google;Facebook;Twitter;Yahoo;Web;Online;Csevegés;Chat;Naptár;E-mail;Levél;Levelezés;Névjegyek;
Keywords[id]=Google;Facebook;Twitter;Yahoo;Web;Daring;Chat;Kalender;Surel;Kontak;
Keywords[it]=Google;Facebook;Twitter;Yahoo;Web;Online;Chat;Calendario;Email;Posta;Contatto;Contatti;
Keywords[ja]=Google;Facebook;Twitter;Yahoo;Web;Online;Chat;Calendar;Mail;Contact;ウェブ;オンライン;チャット;カレンダー;メール;連絡先;
Keywords[kn]=Google;Facebook;Twitter;Yahoo;Web;Online;Chat;Calendar;Mail;Contact;
Keywords[ko]=Google;구글;Facebook;페이스북;Twitter;트위터;Yahoo;야후;Web;웹;Online;온라인;Chat;채팅;Calendar;달력;Mail;메일;Contact;연락처;
Keywords[lt]=Google;Facebook;Twitter;Yahoo;Internetas;Tinkle;Pokalbiai;Kalendorius;Paštas;Adresatai;
Keywords[lv]=Google;Facebook;Twitter;Yahoo;Web;Tīmeklis;Tiešsaiste;Tērzēšana;Kalendārs;Pasts;kontakti;
Keywords[mk]=Google;Facebook;Twitter;Yahoo;Веб;Онлајн;Разговор;Календар;Пошта;Контакт;
Keywords[mr]=गूगल;फेसबूक;ट्विटर;याहू;वेब;ऑनलाइन;चॅट;कॅलेंडर;मेल;काँट्रॅक्ट;
Keywords[nb]=Google;Facebook;Twitter;Yahoo;Web;Nett;Lynmeldinger;Kalender;E-post;Kontakt;
Keywords[nl]=Google;Facebook;Twitter;Yahoo;Web;Online;Chat;Calendar;Mail;Contact;
Keywords[or]=Google;Facebook;Twitter;Yahoo;ୱେବ;ଅନଲାଇନ;ଚାର୍ଟ;କ୍ୟାଲେଣ୍ଡର;ମେଲ;ସମ୍ପର୍କ;
Keywords[pa]=ਗੂਗਲ;ਫੇਸਬੁੱਕ;ਟਵਿੱਟਰ;ਯਾਹੂ;ਵੈੱਬ;ਆਨਲਾਈਨ;ਗੱਲਬਾਤ;ਚੈਟ;ਕੈਲੰਡਰ;ਮੇਲ;ਸੰਪਰਕ;Google;Facebook;Twitter;Yahoo;Web;Online;Chat;Calendar;Mail;Contact;
Keywords[pl]=Google;Facebook;Twitter;Yahoo;WWW;Online;Komunikator;Kalendarz;Poczta;e-mail;email;Kontakt;
Keywords[pt]=Google;Facebook;Twitter;Yahoo;Web;Online;Diálogo;Calendário;Mail;Contacto;
Keywords[pt_BR]=Google;Facebook;Twitter;Yahoo;Web;Conectado;Bate-papo;Calendário;E-mail;Contato;
Keywords[ru]=Google;Facebook;Twitter;Yahoo;Web;Онлайн;Чат;Календарь;Почта;Контакт;
Keywords[sk]=Google;Facebook;Twitter;Yahoo;Web;Online;Chat;Rozhovor;Kalendár;Mail;Email;Kontakt;
Keywords[sl]=Google;Facebook;Twitter;Yahoo;Splet;Klepet;Koledar;Elektronska pošta;Stiki;Računi;
Keywords[sr]=Гугл;Фејсбук;Твитер;Јаху;Веб;На мрежи;Ћаскање;Календар;Пошта;Контакт;
Keywords[sr@latin]=Gugl;Fejsbuk;Tviter;Jahu;Veb;Na mreži;Ćaskanje;Kalendar;Pošta;Kontakt;
Keywords[sv]=Google;Facebook;Twitter;Yahoo;Webb;Online;Chatt;Kalender;E-post;Kontakt;
Keywords[ta]=கூகுள்;பேஸ்புக்;ட்விட்டர்;யாஹூ;வலை;ஆன்லைன்;அரட்டை;அஞ்சல்;தொடர்பு;
Keywords[te]=గూగుల్;ఫేస్‌బుక్;ట్విట్టర్;యాహూ;జాలం;ఆన్‌లైన్;సంభాషణ;క్యాలెండర్;మెయిల్;పరిచయం;
Keywords[th]=กูเกิล;เฟซบุ๊ก;ทวิตเตอร์;ยาฮู;เว็บ;ออนไลน์;แช็ต;ปฏิทิน;เมล;ที่อยู่ติดต่อ;
Keywords[tr]=Google;Facebook;Twitter;Yahoo;Web;Çevrimiçi;Sohbet;Takvim;Posta;Bağlantı;
Keywords[ug]=Google;Facebook;Twitter;Yahoo;Web;توردا;سۆزلىشىش;يىلنامە;خەت;ئالاقەداش;
Keywords[uk]=Google;Facebook;Twitter;Yahoo;Інтернет;Мережа;Балачка;Календар;Пошта;Контакт;
Keywords[vi]=Google;Facebook;Twitter;Yahoo;Web;Online;Chat;Calendar;Lịch;Mail;Thư;Contact;Liên;lạc;
Keywords[zh_CN]=Google;Facebook;Twitter;Yahoo;Web;Online;Chat;Calendar;Mail;Contact;网络;在线;聊天;日历;邮件;联系人;
Keywords[zh_HK]=Google;Facebook;Twitter;Yahoo;Web;Online;Chat;Calendar;Mail;Contact;網頁;網上;聊天;行事曆;郵件;聯絡人;
Keywords[zh_TW]=Google;Facebook;Twitter;Yahoo;Web;Online;Chat;Calendar;Mail;Contact;網頁;線上;聊天;行事曆;郵件;連絡人;
X-Desktop-File-Install-Version=0.19
