
[Desktop Entry]
Name=Printers
Name[af]=Drukkers
Name[ar]=الطابعات
Name[as]=প্ৰিন্টাৰসমূহ
Name[ast]=Imprentadores
Name[be]=Прынтары
Name[bg]=Принтери
Name[bn]=মুদ্রণযন্ত্র
Name[ca]=Impressores
Name[ca@valencia]=Impressores
Name[crh]=Bastırıcılar
Name[cs]=Tiskárny
Name[da]=Printere
Name[de]=Drucker
Name[el]=Εκτυπωτές
Name[en_GB]=Printers
Name[eo]=Presiloj
Name[es]=Impresoras
Name[et]=Printerid
Name[eu]=Inprimagailuak
Name[fa]=چاپ‌گرها
Name[fi]=Tulostimet
Name[fr]=Imprimantes
Name[ga]=Printéirí
Name[gl]=Impresoras
Name[gu]=પ્રિન્ટરો
Name[he]=מדפסות
Name[hi]=मुद्रक
Name[hu]=Nyomtatók
Name[id]=Pencetak
Name[it]=Stampanti
Name[ja]=プリンター
Name[kk]=Принтерлер
Name[kn]=ಮುದ್ರಕಗಳು
Name[ko]=프린터
Name[ku]=Çaper
Name[lt]=Spausdintuvai
Name[lv]=Printeri
Name[mk]=Печатачи
Name[mr]=छपाईयंत्र
Name[nb]=Skrivere
Name[nl]=Printers
Name[or]=ମୂଦ୍ରଣୀଗୁଡ଼ିକ
Name[pa]=ਪਰਿੰਟਰ
Name[pl]=Drukarki
Name[pt]=Impressoras
Name[pt_BR]=Impressoras
Name[ro]=Imprimante
Name[ru]=Принтеры
Name[sk]=Tlačiarne
Name[sl]=Tiskalniki
Name[sr]=Штампачи
Name[sr@latin]=Štampači
Name[sv]=Skrivare
Name[ta]=அச்சுப்பொறிகள்
Name[te]=ముద్రకాలు
Name[th]=เครื่องพิมพ์
Name[tr]=Yazıcılar
Name[ug]=پرىنتېرلار
Name[uk]=Принтери
Name[vi]=Máy in
Name[zh_CN]=打印机
Name[zh_HK]=打印機
Name[zh_TW]=印表機
Comment=Change printer settings
Comment[af]=Verander drukkerinstellings
Comment[ar]=غيّر إعدادات الطابعة
Comment[as]=প্ৰিন্টাৰ সংহতিসমূহ সলনি কৰক
Comment[ast]=Cambiar la configuración de la imprentadora
Comment[be]=Змяніць настройкі прынтараў
Comment[bg]=Промяна на настройките на принтера
Comment[bn]=মুদ্রণযন্ত্র সেটিং পরিবর্তন
Comment[ca]=Canvia els paràmetres de la impressora
Comment[ca@valencia]=Canvia els paràmetres de la impressora
Comment[crh]=Yazıcı ayarlarını değiştir
Comment[cs]=Změnit nastavení tiskárny
Comment[da]=Ændr printerindstillinger
Comment[de]=Druckereinstellungen ändern
Comment[el]=Αλλαγή ρυθμίσεων εκτυπωτή
Comment[en_GB]=Change printer settings
Comment[eo]=Ŝanĝi presilagordojn
Comment[es]=Cambiar la configuración de la impresora
Comment[et]=Printerisätete muutmine
Comment[eu]=Aldatu inprimagailuaren ezarpenak
Comment[fa]=تغییر تنظیمات چاپ‌گر
Comment[fi]=Muuta tulostimen asetuksia
Comment[fr]=Modifier les paramètres de l'imprimante
Comment[gl]=Cambiar a configuración da impresora
Comment[gu]=પ્રિન્ટર સુયોજનોને બદલો
Comment[he]=שינוי הגדרות המדפסת
Comment[hi]=प्रिंटर सेटिंग्स बदलें
Comment[hu]=Nyomtatóbeállítások módosítása
Comment[id]=Ubah pengaturan pencetak
Comment[it]=Cambia le impostazioni della stampante
Comment[ja]=プリンターの設定を変更する
Comment[kn]=ಮುದ್ರಕದ ಸಿದ್ಧತೆಗಳನ್ನು ಬದಲಾಯಿಸು
Comment[ko]=프린터 설정 바꾸기
Comment[lt]=Keisti spausdintuvo nustatymus
Comment[lv]=Mainīt printera iestatījumus
Comment[mk]=Промени ги поставувањата за печатачот
Comment[mr]=छपाईयंत्रच्या सेटिंग्स् बदला
Comment[nb]=Endre innstillinger for skriver
Comment[nl]=Printerinstellingen aanpassen
Comment[or]=ମୁଦ୍ରଣୀ ବିନ୍ୟାସକୁ ପରିବର୍ତ୍ତନ କରନ୍ତୁ
Comment[pa]=ਪਰਿੰਟਰ ਸੈਟਿੰਗ ਬਦਲੋ
Comment[pl]=Zmiana ustawień drukarki
Comment[pt]=Alterar as definições da impressora
Comment[pt_BR]=Alterar configurações da impressora
Comment[ro]=Modifică configurările imprimantei
Comment[ru]=Изменить параметры принтера
Comment[sk]=Zmeniť nastavenia tlačiarne
Comment[sl]=Spremeni nastavitve tiskalnika
Comment[sr]=Измените подешавања штампача
Comment[sr@latin]=Izmenite podešavanja štampača
Comment[sv]=Ändra skrivarinställningar
Comment[ta]=அச்சடிப்பி அமைப்புகள் ஐ மாற்றுக
Comment[te]=ముద్రకం అమరికలను మార్చు
Comment[th]=ตั้งค่าเครื่องพิมพ์
Comment[tr]=Yazıcı ayarlarını değiştir
Comment[ug]=پرىنتېر تەڭشىكىنى ئۆزگەرت
Comment[uk]=Змінити налаштування принтера
Comment[vi]=Thay đổi thiết lập máy in
Comment[zh_CN]=更改打印机设置
Comment[zh_HK]=改變打印機設定值
Comment[zh_TW]=改變印表機設定值
Exec=gnome-control-center printers
Icon=printer
Terminal=false
Type=Application
StartupNotify=true
# The X-GNOME-Settings-Panel is necessary to show in the main shell UI
Categories=GNOME;GTK;Settings;HardwareSettings;X-GNOME-Settings-Panel;
OnlyShowIn=GNOME;
X-GNOME-Settings-Panel=printers
# Translators: those are keywords for the printing control-center panel
Keywords=Printer;Queue;Print;Paper;Ink;Toner;
Keywords[af]=Printer;Queue;Print;Paper;Ink;Toner;drukker;druk;papier;
Keywords[ar]=طابعة;طباعة;طبع;ورق;حبر;
Keywords[as]=প্ৰিন্টাৰ;শাৰী;প্ৰিন্ট;কাগজ;কালী;টনাৰ;
Keywords[ast]=Imprentadora;Cola;Imprentar;Papel;Tinta;Tóner;
Keywords[be]=Прынтар;Чарга;Друк;Папера;Аркуш;Чарніла;Тонер;
Keywords[bg]=Принтер;Опашка;Печат;Хартия;Мастило;Тонер;
Keywords[bn]=মুদ্রণযন্ত্র;সারি;মুদ্রণ;কাগজ;কালি;টোনার;
Keywords[ca]=Impressora;Cua;Imprimir;Paper;Tinta;Tòner;
Keywords[ca@valencia]=Impressora;Cua;Imprimir;Paper;Tinta;Tòner;
Keywords[crh]=Yazıcı;Kuyruk;Yazdur;Kâğıt;Mürekkep;Toner;
Keywords[cs]=tiskárna;fronta;tisk;papír;inkoust;toner;
Keywords[da]=Printer;Kø;Print;Papir;Blæk;Toner;
Keywords[de]=Drucker;Warteschlange;Drucken;Papier;Tinte;Toner;Tintenpatrone;
Keywords[el]=Εκτυπωτής;Ουρά;Εκτύπωση;Χαρτί;Μελάνι;Τόνερ;
Keywords[en_GB]=Printer;Queue;Print;Paper;Ink;Toner;
Keywords[eo]=Presilo;Atendovico;Presi;Papero;Inko;Inkopulvoro;
Keywords[es]=Impresora;Cola;Imprimir;Papel;Tinta;Tóner;
Keywords[et]=Printer;Printimine;Printimisjärjekord;Trükkimine;Trükkimisjärjekord;Paber;Tint;Tooner;
Keywords[eu]=Inprimagailua;Ilara;Inprimatu;Papera;Tinta;Tonerra;
Keywords[fa]=چاپگر;صف;چاپ;کاغذ;جوهر;Toner;
Keywords[fi]=tulostin;jono;tulosta;paperi;muste;värikasetti;Printer;Queue;Print;Paper;Ink;Toner;
Keywords[fr]=Imprimante;File;Queue;Impression;Papier;Encre;Toner;
Keywords[gl]=Impresora;Cola;Imprimir;Papel;Tinta;Tóner;
Keywords[gu]=પ્રિન્ટર;કતાર;છાપો;પેપર;સહી;ટૉનર;
Keywords[he]=מדפסת;תור;הדפסה;דף;דיו;טונר;
Keywords[hi]=प्रिंटर;पंक्ति;मुद्रण;पेपर;इंक;टोनर;
Keywords[hu]=Nyomtató;Sor;Nyomtatás;Papír;Tinta;Festékkazetta;
Keywords[id]=Pencetak;Antrian;Cetak;Kertas;Tinta;Pewarna;
Keywords[it]=Stampante;Coda;Stampa;Carta;Inchostro;Toner;
Keywords[ja]=Printer;Queue;Print;Paper;Ink;Toner;プリンター;キュー;印刷;紙;インク;トナー;
Keywords[ko]=Printer;프린터;Queue;대기열;Print;인쇄;Paper;용지;종이;Ink;잉크;Toner;토너;
Keywords[lt]=Spausdintuvas;Eilė;Spausdinti;Rašalas;
Keywords[lv]=Printeris;Rinda;Drukāt;Papīrs;Tinte;Toneris;
Keywords[mk]=Печатач;Ред;Печати;Хартија;Боја за печатење;Тонер;
Keywords[mr]=प्रिंटर;क्युउ;प्रिंट;पेपर;इंक;टोनर;
Keywords[nb]=Skriver;Kø;Utskrift;Papir;Blekk;Toner;
Keywords[nl]=Printer;Queue;Print;Paper;Ink;Toner;Wachtrij;Papier;Inkt;
Keywords[or]=ମୁଦ୍ରଣୀ;କ୍ରମ;ମୁଦ୍ରଣ କରନ୍ତୁ;କାଗଜ;କାଳି;ଟୋନର;
Keywords[pa]=Printer;Queue;Print;Paper;Ink;Toner;
Keywords[pl]=Drukarka;Kolejka;Drukowanie;Papier;Atrament;Tusz;Toner;
Keywords[pt]=Impressora;Pilha;Imprimir;Papel;Tinta;Toner;
Keywords[pt_BR]=Impressora;Fila;Imprimir;Papel;Tinta;Toner;
Keywords[ro]=Printer;Queue;Print;Paper;Ink;Toner;Imprimantă;Tipărire;Coadă;Tiparire;Coada;Hartie;Hârtie;Cerneală;Cerneala;Toner;Laser;
Keywords[ru]=Принтер;Очередь;Печать;Бумага;Чернила;Тонер;
Keywords[sk]=Tlačiareň;Rad;Tlač;Papier;Atrament;Toner;
Keywords[sl]=Tiskalnik;Vrsta;Tiskanje;Papir;Črnilo;Toner;
Keywords[sr]=Штампач;Ред;Штампа;Папир;Мастило;Тонер;
Keywords[sr@latin]=Štampač;Red;Štampa;Papir;Mastilo;Toner;
Keywords[sv]=Skrivare;Kö;Skriv ut;Papper;Bläck;Toner;
Keywords[ta]=அச்சுப்பொறி;வரிசை;அச்சடி;காகிதம்;மசி;டோனர்;
Keywords[te]=ముద్రకం;వరుస;ముద్రించు;కాగితం;సిరా;టోనర్;
Keywords[th]=เครื่องพิมพ์;คิว;พิมพ์;กระดาษ;หมึก;ผงหมึก;
Keywords[tr]=Yazıcı;Kuyruk;Yazdur;Kâğıt;Mürekkep;Toner;
Keywords[ug]=پرىنتېر؛ئۆچىرەت؛بېسىش؛قەغەز؛سىياھ؛سىياھ كۇكۇنى؛;
Keywords[uk]=Принтер;Черга;Друк;Папір;Чорнило;Тонер;
Keywords[vi]=Printer;Máy;in;Queue;Print;In;Paper;Giấy;Ink;Mực;Toner;
Keywords[zh_CN]=Printer;Queue;Print;Paper;Ink;Toner;打印机;队列;打印;纸张;墨水;墨粉;硒鼓;墨盒;
Keywords[zh_HK]=Printer;Queue;Print;Paper;Ink;Toner;打印機;佇列;列印;紙張;墨水;碳粉;
Keywords[zh_TW]=Printer;Queue;Print;Paper;Ink;Toner;印表機;佇列;列印;紙張;墨水;碳粉;
X-Desktop-File-Install-Version=0.19
