
[Desktop Entry]
Name=Color
Name[af]=Kleur
Name[ar]=الألوان
Name[as]=ৰঙ
Name[ast]=Color
Name[be]=Колер
Name[bg]=Цвят
Name[ca]=Color
Name[ca@valencia]=Color
Name[crh]=Tüs
Name[cs]=Barvy
Name[da]=Farver
Name[de]=Farbe
Name[el]=Χρώμα
Name[en_GB]=Colour
Name[eo]=Koloro
Name[es]=Color
Name[et]=Värvid
Name[eu]=Kolorea
Name[fa]=رنگ
Name[fi]=Värit
Name[fr]=Couleur
Name[ga]=Dath
Name[gl]=Cor
Name[gu]=રંગ
Name[he]=צבע
Name[hi]=रंग
Name[hu]=Színek
Name[id]=Warna
Name[it]=Colore
Name[ja]=色
Name[kk]=Түс
Name[kn]=ಬಣ್ಣ
Name[ko]=색
Name[lt]=Spalva
Name[lv]=Krāsa
Name[mk]=Боја
Name[ml]=നിറം
Name[mr]=रंग
Name[nb]=Farge
Name[nl]=Kleur
Name[or]=ରଙ୍ଗ
Name[pa]=ਰੰਗ
Name[pl]=Kolor
Name[pt]=Cor
Name[pt_BR]=Cor
Name[ru]=Цвет
Name[sk]=Farby
Name[sl]=Barva
Name[sr]=Боја
Name[sr@latin]=Boja
Name[sv]=Färg
Name[ta]=நிறம்
Name[te]=రంగు
Name[th]=สี
Name[tr]=Renk
Name[ug]=رەڭ
Name[uk]=Колір
Name[vi]=Màu sắc
Name[zh_CN]=颜色
Name[zh_HK]=顏色
Name[zh_TW]=顏色
Comment=Color management settings
Comment[af]=Kleurbestuurinstellings
Comment[ar]=إعدادات إدارة الألوان
Comment[as]=ৰঙ ব্যৱস্থাপনা সংহতিসমূহ
Comment[ast]=Axustes de xestión de color
Comment[be]=Настройкі колераў
Comment[bg]=Настройка на цвета
Comment[ca]=Paràmetres de gestió del color
Comment[ca@valencia]=Paràmetres de gestió del color
Comment[crh]=Renk yönetim ayarları
Comment[cs]=Nastavení správy barev
Comment[da]=Indstillinger for håndtering af farver
Comment[de]=Einstellungen der Farbverwaltung
Comment[el]=Ρυθμίσεις διαχείρισης χρωμάτων
Comment[en_GB]=Colour management settings
Comment[eo]=Ŝanĝi administrad-agordojn
Comment[es]=Configuración de gestión de color
Comment[et]=Värvihalduse seaded
Comment[eu]=Kolore-kudeaketaren ezarpenak
Comment[fa]=تنظیمات مدیریت رنگ
Comment[fi]=Värien hallinta
Comment[fr]=Paramètres de gestion des couleurs
Comment[gl]=Preferencias de xestión de cor
Comment[gu]=રંગ સંચાલન સુયોજનો
Comment[he]=הגדרות ניהול צבע
Comment[hi]=रंग प्रबंधन सेटिंग्स
Comment[hu]=Színkezelési beállítások
Comment[id]=Pengaturan manajemen warna
Comment[it]=Impostazioni di gestione del colore
Comment[ja]=カラーマネージメントの設定
Comment[kn]=ಬಣ್ಣ ನಿರ್ವಹಣೆಯ ಸಿದ್ಧತೆಗಳು
Comment[ko]=색 관리 설정
Comment[lt]=Spalvų derinimo nustatymai
Comment[lv]=Krāsu pārvaldības iestatījumi
Comment[mk]=Поставувања за менаџмент на бои
Comment[mr]=रंग व्यवस्थापन सेटिंग्स्
Comment[nb]=Innstillinger for fargestyring
Comment[nl]=Kleurinstellingen
Comment[or]=ରଙ୍ଗ ପରିଚାଳନା ବ୍ୟବସ୍ଥାଗୁଡ଼ିକ
Comment[pa]=ਰੰਗ ਮੈਨੇਜਮੈਂਟ ਸੈਟਿੰਗ
Comment[pl]=Ustawienia zarządzania kolorami
Comment[pt]=Definições de gestão de cores
Comment[pt_BR]=Configurações de gerenciamento de cores
Comment[ru]=Параметры управления цветом
Comment[sk]=Nastavenia správy farieb
Comment[sl]=Nastavitve upravljanja barv
Comment[sr]=Подешавања управљања бојом
Comment[sr@latin]=Podešavanja upravljanja bojom
Comment[sv]=Inställningar för färghantering
Comment[ta]=நிற மேலாண்மை அமைப்பு
Comment[te]=రంగు నిర్వహణ అమరికలు
Comment[th]=ตั้งค่าการจัดการสี
Comment[tr]=Renk yönetim ayarları
Comment[ug]=رەڭ باشقۇرۇش تەڭشىكى
Comment[uk]=Налаштування керування кольором
Comment[vi]=Thiết lập quản lý màu sắc
Comment[zh_CN]=颜色管理设置
Comment[zh_HK]=顏色管理設定值
Comment[zh_TW]=顏色管理設定值
Exec=gnome-control-center color
Icon=preferences-color
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Settings;X-GNOME-Settings-Panel;HardwareSettings;
OnlyShowIn=GNOME;Unity;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-control-center
X-GNOME-Bugzilla-Component=color
X-GNOME-Bugzilla-Version=3.4.2
X-GNOME-Settings-Panel=color
# Translators: those are keywords for the color control-center panel
Keywords=Color;ICC;Profile;Calibrate;Printer;Display;
Keywords[af]=Color;ICC;Profile;Calibrate;Printer;Display;kleur;profiel;kalibreer;drukker;skerm;
Keywords[ar]=لون;ألوان;تشكيل;معايرة;طابعة;شاشة;
Keywords[as]=ৰঙ;ICC;আলেখ্য;মানাংকন;প্ৰিন্টাৰ;প্ৰদৰ্শন;
Keywords[ast]=Color;ICC;Perfil;Calibráu;Imprentadora;Pantalla;
Keywords[be]=Колер;ICC;Профіль;Каліброўка;Прынтар;Друк;Манітор;Экран;
Keywords[bg]=Цвят;ICC;Профил;Калибриране;Принтер;Екран;
Keywords[ca]=Color;ICC;Perfil;Calibratge;Impressora;Pantalla;
Keywords[ca@valencia]=Color;ICC;Perfil;Calibratge;Impressora;Pantalla;
Keywords[crh]=Renk;ICC;Profil;Ayar;Yazıcı;Görünüm;
Keywords[cs]=barvy;ICC;profil;kalibrace;tiskárna;obrazovka;
Keywords[da]=Farve;ICC;Profil;Kalibrer;Printer;Skærm;
Keywords[de]=Farbe;ICC;Profil;Kalibrieren;Drucker;Anzeige;
Keywords[el]=Χρώματα;ICC;Προφίλ;Καλιμπράρισμα;Εκτυπωτής;Οθόνη;
Keywords[en_GB]=Colour;ICC;Profile;Calibrate;Printer;Display;
Keywords[eo]=Koloro;ICC;Profilo;Kalibri;Presilo;Ekrano;
Keywords[es]=Color;ICC;Perfil;Calibrado;Impresora;Pantalla;
Keywords[et]=Värv;ICC;Profiil;Kalibreerimine;Printer;Kuva;Ekraan;Monitor;
Keywords[eu]=Kolorea;ICC;Profila;Kalibratu;Inprimagailua;Pantaila;
Keywords[fa]=رنگ;ICC;مجموعه تنظیمات;Calibrate;چاپگر;نمایشگر;
Keywords[fi]=väri;ICC;color;profiili;kalibrointi;Calibrate;Tulostin;Printer;Näyttö;
Keywords[fr]=Couleur;ICC;Profil;Calibrer;Calibration;Imprimante;Écran;
Keywords[gl]=Color;ICC;Perfil;Calibrado;Impresora;Pantalla;
Keywords[he]=צבע;ICC;פרופיל;כיול;מדפסת;תצוגה;
Keywords[hi]=रंग;आईसीसी;प्रोफाइल;जांच;प्रिंटर;प्रदर्शन;
Keywords[hu]=Szín;ICC;Színek;Profilozás;Kalibrálás;Nyomtató;Kijelző;
Keywords[id]=Warna;ICC;Profil;Kalibrasi;Pencetak;Tampilan;
Keywords[it]=Colore;ICC;Profilo;Calibrazione;Stampante;Display;Monitor;Schermo;
Keywords[ja]=Color;ICC;Profile;Calibrate;Printer;Display;色;ICC;プロファイル;キャリブレーション;プリンター;ディスプレイ;
Keywords[ko]=Color;색;ICC;Profile;프로파일;Calibrate;보정;Printer;프린터;Display;디스플레이;
Keywords[lt]=Spalva;ICC;Profilis;Kalibravimas;Spausdintuvas;Ekranas;
Keywords[lv]=Krāsa;ICC;profils;Kalibrēt;Printeris;Ekrāns;
Keywords[mk]=Боја;ICC;Профил;Калибрирај;Печатач;Приказ;
Keywords[mr]=रंग;ICC;प्रोफाइल;कॅलिब्रेट;प्रिंटर;डिस्पले;
Keywords[nb]=Farge;ICC;Profil;Kalibrer;Skriver;Skjerm;
Keywords[nl]=Color;ICC;Profile;Calibrate;Printer;Display;Kleur;Kalibreren;Weergave;
Keywords[or]=ରଙ୍ଗ;ICC;ରୂପରେଖା;ମାପନ୍ତୁ;ମୁଦ୍ରଣୀ;ପ୍ରଦର୍ଶନୀ;
Keywords[pa]=ਰੰਗ,Color;ICC;Profile;Calibrate;ਪ੍ਰਿੰਟਰ;ਪਰਿੰਟਰ;Printer;Display;ਡਿਸਪਲੇਅ;
Keywords[pl]=Kolor;ICC;Profil;Kalibracja;Drukarka;Ekran;
Keywords[pt]=Cor;ICC;Perfil;Calibrar;Impressora;Ecrã;
Keywords[pt_BR]=Cor;ICC;Perfil;Calibração;Impressão;Exibição;
Keywords[ru]=Цвет;ICC;Профиль;Калибровка;Принтер;Монитор;
Keywords[sk]=Farba;Farby;ICC;Profil;Kalibrovať;Tlačiareň;Monitor;
Keywords[sl]=Barva;ICC;Profil;Umerjanje;Tiskalnik;Zaslon;
Keywords[sr]=Боја;ИЦЦ;Профил;Калибрирај;Штампач;Приказ:;
Keywords[sr@latin]=Boja;ICC;Profil;Kalibriraj;Štampač;Prikaz:;
Keywords[sv]=Färg;ICC;Profil;Kalibrera;Skrivare;Skärm;
Keywords[ta]=நிறம்;ஐசிசி;வரிவுரு;அளவீடுசெய்;அச்சுப்பொறி;தோற்றம்;
Keywords[te]=వర్ణం;ICC;ప్రొఫైల్;కాలిబ్రేట్;ముద్రకం;ప్రదర్శకం;
Keywords[th]=สี;ICC;โพรไฟล์;เทียบมาตรฐาน;เครื่องพิมพ์;จอภาพ;
Keywords[tr]=Renk;ICC;Profil;Ayar;Yazıcı;Görünüm;
Keywords[ug]=رەڭ;ICC;سەپلىمە ھۆججەت;تۈزىتىش;پرىنتېر;ئېكران;
Keywords[uk]=Колір;ICC;Профіль;Калібрування;Принтер;Екран;
Keywords[vi]=Color;Màu;ICC;Profile;Calibrate;Printer;Máy;in;Display;Màn;hình;
Keywords[zh_CN]=颜色;色彩;配置;校准;打印机;显示;Color;ICC;Profile;Calibrate;Printer;Display;
Keywords[zh_HK]=Color;ICC;Profile;Calibrate;Printer;Display;顏色;色彩描述檔;校正;打印機;顯示器;
Keywords[zh_TW]=Color;ICC;Profile;Calibrate;Printer;Display;顏色;色彩描述檔;校正;印表機;顯示器;
X-Desktop-File-Install-Version=0.19
