
[Desktop Entry]
Type=Application
Terminal=false
Categories=Office;Dictionary;Qt;
Name=GoldenDict
GenericName=Multiformat Dictionary
Comment=GoldenDict
Encoding=UTF-8
Icon=goldendict 
Exec=goldendict
X-Desktop-File-Install-Version=0.18
