
[Desktop Entry]
Name=Software Settings
Name[af]=Sagteware-instellings
Name[ar]=إعدادات البرمجيات
Name[as]=চফ্টৱেৰ সংহতিসমূহ
Name[ast]=Configuración del software
Name[be]=Праграмныя настройкі
Name[bg]=Настройки
Name[ca]=Preferències de programari
Name[ca@valencia]=Preferències de programari
Name[cs]=Nastavení softwaru
Name[da]=Softwareindstillinger
Name[de]=Software-Einstellungen
Name[en_GB]=Software Settings
Name[eo]=Programar-agordoj
Name[es]=Configuración del software
Name[et]=Tarkvara sätted
Name[eu]=Softwarearen ezarpenak
Name[fa]=تنظیمات نرم‌افزار
Name[fi]=Ohjelmistoasetukset
Name[fr]=Paramètres des logiciels
Name[ga]=Socruithe Bogearraí
Name[gl]=Configuración do software
Name[gu]=સોફ્ટવેર સુયોજનો
Name[he]=הגדרות תכנה
Name[hi]=सॉफ्टवेयर सेटिंग्स
Name[hu]=Szoftverbeállítások
Name[id]=Pengaturan Perangkat Lunak
Name[it]=Impostazioni software
Name[ja]=ソフトウェアの設定
Name[ko]=소프트웨어 설정
Name[lt]=Programinės įrangos nustatymai
Name[lv]=Programmatūras iestatījumi
Name[mk]=Поставувања за софтвер
Name[nb]=Programvareinnstillinger
Name[pa]=ਸਾਫਟਵੇਅਰ ਸੈਟਿੰਗ
Name[pl]=Ustawienia oprogramowania
Name[pt]=Configurações de Software
Name[pt_BR]=Propriedades de programas
Name[ru]=Параметры приложения
Name[sk]=Nastavenie softvéru
Name[sl]=Nastavitve programske opreme
Name[sr]=Подешавања програма
Name[sr@latin]=Podešavanja programa
Name[sv]=Programinställningar
Name[ta]=மென்பொருள் அமைப்புகள்
Name[te]=సాఫ్ట్‍‌వేర్ అమరికలు
Name[th]=ตั้งค่าซอฟต์แวร์
Name[tr]=Yazılım Ayarları
Name[uk]=Налаштування програм
Name[vi]=Thiết lập phần mềm
Name[zh_CN]=软件设置
Name[zh_HK]=軟件設定值
Name[zh_TW]=軟體設定值
Comment=Change software update preferences and enable or disable software sources
Comment[af]=Verander sagtewarebywerkingsvoorkeure en aktiveer of deaktiveer sagtewarebronnne
Comment[ar]=غيّر تفضيلات تحديث البرمجيات وفعّل أو عطّل مصادر البرمجيات
Comment[as]=চফ্টৱেৰ আপডেইট পছন্দসমূহ সলনি কৰক আৰু চফ্টৱেৰ উৎসসমূহ সামৰ্থবান বা অসামৰ্থবান কৰক
Comment[ast]=Camudar les preferencies d'anovamientos de software y activar o desactivar los repositorios de software
Comment[be]=Змяненне настроек абнаўлення апраграмавання і спіса праграмных крыніц
Comment[bg]=Промяна на настройките за обновяване на софтуера и включване/изключване на хранилищата
Comment[bn]=সফ্টওয়্যার হালনাগাদ সংক্রান্ত পছন্দসমূহ পরিবর্তন এবং সফ্টওয়্যার সোর্স সক্রিয় বা নিষ্ক্রিয়
Comment[bn_IN]=সফ্টওয়্যার আপডেট সংক্রান্ত পছন্দসই মান পরিবর্তন করুন ও সফ্টওয়্যারের উৎসস্থল সক্রিয় অথবা নিষ্ক্রিয় করুন
Comment[ca]=Canvieu les preferències de les actualitzacions de programari i habiliteu o inhabiliteu fonts de programari
Comment[ca@valencia]=Canvieu les preferències de les actualitzacions de programari i habiliteu o inhabiliteu fonts de programari
Comment[cs]=Změnit nastavení aktualizací softwaru a povolit nebo zakázat zdroje softwaru
Comment[da]=Ændr indstillinger for softwareopdateringer og aktivér eller deaktivér softwarekilder
Comment[de]=Einstellungen zur Softwareaktualisierung bearbeiten und Softwarequellen aktivieren oder deaktivieren
Comment[el]=Αλλαγή των προτιμήσεων ενημερώσεων λογισμικού και ενεργοποίηση ή απενεργοποίηση πηγών λογισμικού
Comment[en_GB]=Change software update preferences and enable or disable software sources
Comment[es]=Cambiar las preferencias de actualizaciones de software y activar o desactivar los repositorios de software
Comment[et]=Tarkvarauuenduste eelistuste muutmine ja tarkvaraallikate lubamine ning keelamine
Comment[eu]=Aldatu softwarea eguneratzeko hobespenak eta gaitu/desgaitu softwareen iturburuak
Comment[fa]=تغییر ترجیحات بروزرسانی نرم‌افزار به‌کار انداختن یا از کار انداختن منابع نرم‌افزار
Comment[fi]=Muuta ohjelmistopäivitysten asetuksia ja ota käyttöön tai poista käytöstä ohjelmistolähteitä
Comment[fr]=Modifier les préférences pour la mise à jour des logiciels et activer ou désactiver les sources de logiciels
Comment[gl]=Cambiar as preferencias da actualización do software e activar ou desactivar as fontes de software
Comment[gu]=સોફ્ટવેર સુધારેલ પસંદગીઓને બદલો અને સોફ્ટવેર સ્ત્રોતોને સક્રિય અથવા નિષ્ક્રિય કરો
Comment[he]=שינוי העדפות עדכוני התכנה והפעלה או נטרול של מקורות תכנה
Comment[hi]=सॉफ्टवेयर अद्यतन वरीयताएँ बदलें और सॉफ्टवेयर स्रोत सक्षम या अक्षम
Comment[hu]=Szoftverfrissítési beállítások módosítása, és szoftverforrások engedélyezése vagy letiltása
Comment[id]=Mengubah preferensi pemutakhiran serta mengaktifkan/menonaktifkan sumber perangkat lunak
Comment[it]=Cambia le preferenze di aggiornamento del software e abilita o disabilita le sorgenti software
Comment[ja]=ソフトウェア更新の設定の変更とソフトウェアの提供元情報を有効／無効にする
Comment[ko]=소프트웨어 업데이트 기본 설정 바꾸기 및 소프트웨어 공급원 사용 혹은 해제
Comment[lt]=Pakeisti programinės įrangos atnaujinimo nustatymus ir įjungti/išjungti saugyklas
Comment[lv]=Izmainīt programmatūras atjaunināšanas iestatījumus, vai deaktivēt programmatūras avotus
Comment[mk]=Промени ги преференците за ажурирање на софтвер или оневозможи извори на софтвер
Comment[nb]=Endre brukervalg for programvareoppdateringer og slå av/på programvarekilder
Comment[nl]=Voorkeuren voor het bijwerken van software wijzigen en softwarebronnen in- of uitschakelen
Comment[nn]=Endra innstillingar for programvareoppdatering og slå av og på programvarekjelder
Comment[pa]=ਸਾਫਟਵੇਅਰ ਅੱਪਡੇਟ ਪਸੰਦ ਬਦਲੋ ਤੇ ਸਾਫਟਵੇਅਰ ਸਰੋਤ ਬੰਦ ਜਾਂ ਚਾਲੂ ਕਰੋ
Comment[pl]=Zmiana preferencji aktualizacji oprogramowania oraz włączania lub wyłączanie źródeł oprogramowania
Comment[pt]=Alterar preferências de actualizações de software e activar ou desactivar fontes de software.
Comment[pt_BR]=Altere as preferências da atualização de programas e habilite ou desabilite fontes de programas
Comment[ro]=Modifică preferințele de actualizare software și activează sau dezactivează sursele software
Comment[ru]=Изменить параметры обновления и настроить источники программ
Comment[sk]=Zmeniť predvoľby aktualizácie softvéru, povoliť alebo zakázať zdroje softvéru
Comment[sl]=Spreminjanje možnosti posodabljanja programske opreme in programskih virov
Comment[sr]=Промените подешавања ажурирања софтвера и укључите или искључите изворе софтвера
Comment[sr@latin]=Promenite podešavanja ažuriranja softvera i uključite ili isključite izvore softvera
Comment[sv]=Ändra inställningar för programuppdateringar och aktivera eller inaktivera programkällor
Comment[ta]=மென்பொருள் மேம்படுத்தல் முன்னுரிமைகளை மாற்று மற்றும் மென்பொருள் மூலங்களை செயலாக்கு அல்லது செயல்நீக்கு.
Comment[te]=సాఫ్ట్‍వేర్ నవీకరణ ప్రాధాన్యతలను మార్చండి మరియు సాఫ్ట్‍వేర్ మూలాలను చేతనం మరియు అచేతనం చేయండి
Comment[th]=ปรับแต่งการปรับรุ่นซอฟต์แวร์และเปิดหรือปิดแหล่งซอฟต์แวร์ที่จะใช้
Comment[tr]=Yazılım güncelleme tercihlerini değiştir ve yazılım kaynaklarını etkinleştir ve kapat
Comment[ug]=يۇمشاق دېتال يېڭىلاش خاسلىقلىرىنى ئۆزگەرتىش ۋە يۇمشاق دېتال مەنبەلىرىنى ئىشلىتىش ئىشلەتمەسلىك
Comment[uk]=Змінити параметри оновлення та налаштувати джерела програм
Comment[vi]=Thay đổi tuỳ thích cập nhậ và bật hoặc tắt nguồn phần mềm
Comment[zh_CN]=更改软件更新首选项并启用或禁用软件源
Comment[zh_HK]=更改軟件更新偏好設定，以及啟用或停用軟件來源
Comment[zh_TW]=變更軟體更新偏好設定，以及啟用或停用軟體來源
Icon=gpk-prefs
Exec=gpk-prefs
Terminal=false
Type=Application
Categories=Settings;X-GNOME-SystemSettings;
NotShowIn=KDE;
StartupNotify=true
X-Desktop-File-Install-Version=0.19
