
[Desktop Entry]
Name=Disk Management
Name[ar]=إدارة القرص
Name[as]=ডিষ্কৰ পৰিচালনা
Name[ast]=Alministración del discu
Name[be]=Кіраваньне дыскамі
Name[bg]=Управление на дискове
Name[bn]=ডিস্ক পরিচালনা
Name[bn_IN]=ডিস্ক পরিচালনা
Name[bs]=Upravljanje diskovima
Name[ca]=Gestió de disc
Name[cs]=Správa disku
Name[da]=Administration af disk
Name[de]=Plattenverwaltung
Name[de_CH]=Festplatten-Management
Name[el]=Διαχείριση δίσκων
Name[en_GB]=Disk Management
Name[es]=Administración del disco
Name[et]=Kettahaldur
Name[fa]=مدیریت دیسک
Name[fi]=Levyjen hallinta
Name[fr]=Gestion du disque
Name[gl]=Administración de Discos
Name[gu]=ડિસ્ક વ્યવસ્થાપન
Name[he]=ניהול כונן
Name[hi]=डिस्क प्रबंधन
Name[hr]=Upravljanje diskovima
Name[hu]=Lemezkezelés
Name[id]=Manajemen Disk
Name[is]=Diskastjórnun
Name[it]=Amministrazione del disco
Name[ja]=ディスク管理
Name[ka]=დისკის მართვა
Name[kn]=ಡಿಸ್ಕ್ ವ್ಯವಸ್ಥಾಪನೆ
Name[ko]=디스켓 관리
Name[lv]=Disku pārvaldnieks
Name[mai]=डिस्क प्रबंधन
Name[mk]=Менаџмент на дискови
Name[ml]=ഡിസ്ക് മാനേജ്മെന്‍റ്
Name[mr]=डिस्क व्यवस्थापन
Name[ms]=Pengurusan Cakera
Name[nb]=Diskhåndtering
Name[nds]=Lööpwarkoppassen
Name[nl]=Schijf beheer
Name[or]=ଡିସ୍କ ପରିଚାଳନା
Name[pa]=ਡਿਸਕ ਪਰਬੰਧ
Name[pl]=Zarządzanie dyskami
Name[pt]=Gestão de Disco
Name[pt_BR]=Gerenciamento do Disco
Name[ro]=Administrare discuri
Name[ru]=Управление дисками
Name[sk]=Správa diskov
Name[sl]=Upravljanje z diski
Name[sr]=Управљање дисковима
Name[sr@latin]=Upravljanje diskovima
Name[sv]=Diskhantering
Name[ta]=வட்டு மேலாண்மை
Name[te]=డిస్కు నిర్వహ
Name[tg]=Мудири диск
Name[tr]=Disk Yönetimi
Name[uk]=Керування дисками
Name[vi]=Quản lý đĩa
Name[zh_CN]=磁盘管理
Name[zh_TW]=磁碟管理
Comment=Mount and unmount filesystems
Comment[ar]=جهّز وأزل تجهيز أنظمة الملفّات
Comment[as]=নথিপত্ৰৰপ্ৰণালী তোলক আৰু অৱৰোহণ কৰক
Comment[ast]=Montar y desmontar sistemes de ficheros
Comment[be]=Далучае ці адлучае файлавыя сыстэмы
Comment[bg]=Монтиране и демонтиране на файлови системи
Comment[bn]=ফাইল-সিস্টেম মাউন্ট এবং আনমাউন্ট করা হবে
Comment[bn_IN]=ফাইল-সিস্টেম মাউন্ট ও আন-মাউন্ট করুন
Comment[bs]=Pristupanje i napuštanje datotečnih sustava
Comment[ca]=Munta i desmunta sistemes de fitxers
Comment[cs]=Připojit nebo odpojit souborové systémy
Comment[da]=Montér og afmontér filsystemer
Comment[de]=Dateisysteme ein- und aushängen
Comment[de_CH]=Dateisysteme ein- und aushängen
Comment[el]=Προσάρτηση και αποπροσάρτηση συστημάτων αρχείων
Comment[en_GB]=Mount and unmount filesystems
Comment[es]=Montar y desmontar sistemas de ficheros
Comment[et]=Failisüsteemide ühendamine ja lahutamine
Comment[fa]=سوار و پیاده کردن سیستم‌های پرونده‌ای
Comment[fi]=Liitä ja irrota tiedostojärjestelmiä
Comment[fr]=Monter et démonter les systèmes de fichiers
Comment[gl]=Montar e desmontar sistemas de ficheiros
Comment[gu]=ફાઈલસિસ્ટમો માઉન્ટ અને અનમાઉન્ટ કરો
Comment[he]=חיבור וניתוק נקודת חיבור אל מערכות הקבצים
Comment[hi]=माउंट व अनमाउंट फाइलसिस्टम
Comment[hr]=Pristupanje i napuštanje datotečnih sustava
Comment[hu]=Fájlrendszerek csatolása és leválasztása
Comment[id]=Pasang dan lepaskan filesistem
Comment[is]=Tengja og aftengja skráarkerfi
Comment[it]=Montaggio e smontaggio filesystems
Comment[ja]=ファイルシステムをマウント/マウント解除をします
Comment[ka]=ფაილური სისტემების მონტირება და დემონტირება
Comment[kn]=ಕಡತ ವ್ಯವಸ್ಥೆಗಳನ್ನು ಆರೋಹಿಸಿ ಹಾಗು ಅವರೋಹಿಸಿ
Comment[ko]=파일 시스템 마운트 및 마운트 해제
Comment[lv]=Montēt un nomontēt failu sistēmas
Comment[mai]=माउंट आ अनमाउंट फाइलसिस्टम
Comment[mk]=(Де)монтирање на датотечни системи
Comment[ml]=ഫയല്‍ സിസ്റ്റമുകള്‍ മൊണ്ടും അണ്‍മൌണ്ടും ചെയ്യുക
Comment[mr]=फाइलप्रणाल्या आरोहित आणि अनारोहित करा
Comment[ms]=Lekap dan nyahlekap sistem fail
Comment[nb]=Monter og avmonter filsystemer
Comment[nds]=In- un utbinnen vu'm Dateisystem
Comment[nl]=Bestandssystemen aankoppelen en afkoppelen
Comment[or]=ଫାଇଲ ତନ୍ତ୍ରକୁ ମାଉଣ୍ଟ କିମ୍ବା ଅନ-ମାଉଣ୍ଟ କରନ୍ତୁ
Comment[pa]=ਫਾਇਲ ਸਿਸਟਮ ਮਾਊਂਟ ਅਤੇ ਅਣ-ਮਾਊਂਟ
Comment[pl]=Montowanie i odmontowywanie systemów plików
Comment[pt]=Montar e desmontar sistemas de ficheiros
Comment[pt_BR]=Monte e desmonte sistemas de arquivos
Comment[ro]=Montează și demontează sisteme de fișiere
Comment[ru]=Подключает и отключает файловые системы
Comment[sk]=Pripojiť a odpojiť súborové systémy
Comment[sl]=Priklop in odklop datotečnih sistemov
Comment[sr]=Монтирање и демонтирање система датотека
Comment[sr@latin]=Montiranje i demontiranje sistema datoteka
Comment[sv]=Montera och avmontera filsystem
Comment[ta]=கோப்பு முறைமைகளை ஏற்றவும் அல்லது ஏற்றம்நீக்கவும்
Comment[te]=Mount మరియూ unmount ఫైళ్ల విధానా
Comment[tg]=Васлкунӣ ва ҷудокунии системаи файлӣ
Comment[tr]=Dosya sistemlerini bağla ve kaldır
Comment[uk]=Монтування і демонтування файлових систем
Comment[vi]=Gắn và tháo gắn kết hệ tập tin
Comment[zh_CN]=挂载和卸载文件系统
Comment[zh_TW]=掛載與卸載檔案系統
Exec=usermount
Terminal=false
Type=Application
Icon=disks
Categories=X-Red-Hat-Base;System;
X-Desktop-File-Install-Version=0.19
NotShowIn=GNOME;KDE;
