
[Desktop Entry]
Name=Users and Groups
Name[ar]=المستخدمون والمجموعات
Name[as]=ব্যৱহাৰকাৰী আৰু দলসমূহ
Name[be]=Карыстальнікі і групы
Name[bg]=Потребители и групи
Name[bn]=ব্যবহারকারী এবং দল
Name[bn_IN]=ব্যবহারকারী এবং দল
Name[bs]=Korisnici i grupe
Name[ca]=Usuaris i grups
Name[cs]=Uživatelé a skupiny
Name[cy]=Defnyddwyr a Grŵpiau
Name[da]=Brugere og grupper
Name[de]=Benutzer und Gruppen
Name[el]=Χρήστες και ομάδες
Name[en_GB]=Users and Groups
Name[es]=Usuarios y grupos
Name[et]=Kasutajad ja grupid
Name[fa]=کاربران و گروه‌ها
Name[fi]=Käyttäjät ja ryhmät
Name[fr]=Utilisateurs et groupes
Name[gu]=વપરાશકર્તાઓ અને જૂથો
Name[he]=משתמשים וקבוצות
Name[hi]=उपयोक्ता और समूह
Name[hr]=Korisnici i grupe
Name[hu]=Felhasználók és csoportok
Name[id]=Pengguna dan Grup
Name[is]=Notendur og hópar
Name[it]=Utenti e gruppi
Name[ja]=ユーザーとグループ
Name[ka]=მომხმარებლები და ჯგუფები
Name[kn]=ಬಳಕೆದಾರರು ಹಾಗು ಸಮೂಹಗಳು
Name[ko]=사용자 및 그룹
Name[lv]=Lietotāji un grupas
Name[mai]=प्रयोक्ता आओर समूह
Name[mk]=Корисници и групи
Name[ml]=ഉപയോക്താക്കളും ഗ്രൂപ്പുകളും
Name[mr]=वापरकर्ते आणि गट
Name[ms]=Pengguna dan Kumpulan
Name[nb]=Brukere og grupper
Name[nl]=Gebruikers en groepen
Name[or]=ଚାଳକ ଏବଂ ସମୂହ
Name[pa]=ਯੂਜ਼ਰ ਅਤੇ ਗਰੁੱਪ
Name[pl]=Użytkownicy i grupy
Name[pt]=Utilizadores e Grupos
Name[pt_BR]=Usuários e grupos
Name[ro]=Utilizatori şi Grupuri
Name[ru]=Пользователи и группы
Name[si]=පරිශීලකයන් සහ කණ්ඩායම්
Name[sk]=Používatelia a skupiny
Name[sl]=Uporabniki in skupine
Name[sr]=Корисници и групе
Name[sr@latin]=Korisnici i grupe
Name[sv]=Användare och grupper
Name[ta]=பயனர்கள் மற்றும் குழுக்கள்
Name[te]=వినియోగదారులు మరియూ సమూహాలు
Name[th]=ผู้ใช้และกลุ่ม
Name[tr]=Kullanıcılar ve Gruplar
Name[uk]=Користувачі та групи
Name[vi]=Người dùng và Nhóm
Name[zh_CN]=用户和组群
Name[zh_TW]=使用者與群組
Comment=Add or remove users and groups
Comment[ar]=أضف أو أزل المستخدمين والمجموعات
Comment[as]=ব্যৱহাৰকাৰী আৰু দলসমূহ যোগ কৰক বা আঁতৰাওক
Comment[be]=Стварыць альбо выдаліць карыстальніка ці группу
Comment[bg]=Добавяне/Премахване на потребители и групи
Comment[bn]=ব্যবহারকারী এবং দল যোগ করুন অথবা মুছে ফেলুন
Comment[bn_IN]=ব্যবহারকারী এবং দল যোগ করুন অথবা মুছে ফেলুন
Comment[bs]=Dodavanje ili uklanjanje korisnika i grupa
Comment[ca]=Afegiu o suprimiu usuaris i grups
Comment[cs]=Přidat nebo odebrat uživatele a skupiny
Comment[cy]=Ychwanegu neu waredu defnydwydd a grwpiau
Comment[da]=Tilføj eller fjern brugere og grupper
Comment[de]=Benutzer und Gruppen hinzufügen oder entfernen
Comment[el]=Προσθήκη ή διαγραφή χρηστών και ομάδων
Comment[en_GB]=Add or remove users and groups
Comment[es]=Añadir o eliminar usuarios y grupos
Comment[et]=Lisa või eemalda kasutajad ja grupid
Comment[fa]=اضافه یا حذف کردن کاربران و گروه‌ها
Comment[fi]=Lisää tai poista käyttäjiä ja ryhmiä
Comment[fr]=Ajouter ou supprimer des utilisateurs et des groupes
Comment[gu]=વપરાશકર્તાઓ અને જૂથો ઉમેરો અથવા દૂર કરો
Comment[he]=הוספת או מחיקת משתמשים וקבוצות
Comment[hi]=उपयोक्ताओं और समूहों को जोड़ें या हटाएँ
Comment[hr]=Dodavanje ili uklanjanje korisnika i grupa
Comment[hu]=Felhasználók és csoportok hozzáadása vagy elvétele
Comment[id]=Tambah atau hapus pengguna dan grup
Comment[is]=Bæta við eða eyða notendum og hópum
Comment[it]=Aggiungere o rimuovere utenti e gruppi
Comment[ja]=ユーザーとグループを追加または削除
Comment[kn]=ಬಳಕೆದಾರರು ಹಾಗು ಸಮೂಹಗಳನ್ನು ಸೇರಿಸು ಅಥವಾ ತೆಗೆ
Comment[ko]=사용자 및 그룹을 추가하거나 삭제함
Comment[lv]=Papildināt vai izdzēst lietotājus un grupas
Comment[mai]=प्रयोक्ता आओर समूह केँ जोड़ू अथवा हटाउ
Comment[mk]=Додај и отстрани корисници и групи
Comment[ml]=ഉപയോക്താക്കളും ഗ്രൂപ്പുകളും ചേര്‍ക്കുക അല്ലങ്കില്‍ മാറ്റം വരുത്തുക
Comment[mr]=वापरकर्ते आणि गट जोडा किंवा काढा
Comment[ms]=Tambah atau buang pengguna dan kumpulan
Comment[nb]=Legg til eller fjern brukere og grupper
Comment[nl]=Gebruikers en groepen toevoegen of verwijderen
Comment[or]=ଚାଳକ ଏବଂ ସମୂହ ମାନଙ୍କୁ ଯୋଗ କିମ୍ବା ଅପସାରଣ କର
Comment[pa]=ਯੂਜ਼ਰ ਅਤੇ ਗਰੁੱਪ ਸ਼ਾਮਲ ਕਰੋ ਜਾਂ ਹਟਾਓ
Comment[pl]=Dodawanie lub usuwanie użytkowników i grupy
Comment[pt]=Adicionar ou remover utilizadores e grupos
Comment[pt_BR]=Adicione ou remova usuários e grupos
Comment[ro]=Adaugă sau şterge utilizatori şi grupuri
Comment[ru]=Добавить или удалить пользователей и группы
Comment[si]=පරිශීලකයන් සහ කණ්ඩායම් එකතු කිරීම හෝ ඉවත් කිරීම
Comment[sk]=Pridať alebo odstrániť používateľov a skupiny
Comment[sl]=Dodaj ali odstrani uporabnike ali skupine
Comment[sr]=Додаје или уклања кориснике или групе
Comment[sr@latin]=Dodaje ili uklanja korisnike ili grupe
Comment[sv]=Lägg till eller ta bort användare och grupper
Comment[ta]=பயனர்கள் மற்றும் குழுக்களை சேர்க்கவும் அல்லது நீக்கவும்
Comment[te]=వినియోగదారులనూ మరియూ సమూహాలనూ కలుపు లేదా తొలగించు
Comment[th]=เพิ่มหรือลบผู้ใช้และกลุ่ม
Comment[tr]=Kullanıcı ya da grup ekle/kaldır
Comment[uk]=Додати або видалити користувачів або групи
Comment[vi]=Thêm hoặc bỏ người dùng và nhóm
Comment[zh_CN]=添加或删除用户和组群
Comment[zh_TW]=新增或移除使用者與群組
Categories=System;Settings;X-Red-Hat-Base;
Icon=system-users
Exec=/usr/bin/system-config-users
Type=Application
Terminal=false
X-Desktop-File-Install-Version=0.19
