
[Desktop Entry]
Encoding=UTF-8
X-Desktop-File-Install-Version=0.19
Categories=System;Settings;
Name=Java Toolset
Name[as]=Java Toolset
Name[bn_IN]=Java Toolset
Name[ca]=Eines Java
Name[cs]=Java nástroj
Name[da]=Java-værktøjssæt
Name[de]=Java-Werkzeugset
Name[el]=Σετ εργαλείων Java
Name[en_CA]=Java Toolset
Name[en_GB]=Java Toolset
Name[es]=Conjunto de Herramientas Java
Name[fi]=Java-työkalut
Name[fr]=Jeu d'outils Java
Name[gu]=Java ટુલસેટ
Name[he]=ערכת ה-Java
Name[hi]=जावा टूलसेट
Name[hu]=Java eszközkészlet
Name[id]=Toolset Java
Name[it]=Toolset di Java
Name[ja]=Java Toolset
Name[kn]=ಜಾವ ಉಪಕರಣಗಳು
Name[ko]=Java 툴셋 
Name[mai]=जावा टूलसेट
Name[ml]=ജാവാ ടൂള്‍സെറ്റ്
Name[mr]=Java साधनसंच
Name[nl]=Java-toolset
Name[or]=java ଉପକରଣ ସେଟ
Name[pa]=ਜਾਵਾ ਟੂਲਸੈੱਟ
Name[pl]=Zestaw narzędzi Java
Name[pt]=Versão Java
Name[pt_BR]=Conjunto de ferramentas Java
Name[ro]=Setul de Unelte Java
Name[ru]=Набор инструментов Java
Name[sk]=Sada Java nástrojov
Name[sr]=Комплет Java алата
Name[sr@latin]=Komplet Java alata
Name[sv]=Javaverktyg
Name[ta]=ஜாவா டூல்செட்
Name[te]=Java సాధనములసమితి
Name[zh_CN]=Java 工具组件
Name[zh_TW]=Java 工具集
Comment=Change the default Java toolset
Comment[as]=অবিকল্পিত Java toolset সলনি কৰক
Comment[bn_IN]=ডিফল্ট Java toolset পরিবর্তন করুন
Comment[ca]=Canvia les eines Java per omissió
Comment[cs]=Změnit výchozí Java nástroj
Comment[da]=Ændr standard Java-værktøjssæt
Comment[de]=Ändere das Standard-Java-Werkzeugset
Comment[el]=Αλλαγή του προεπιλεγμένου σετ εργαλείων Java
Comment[en_CA]=Change the default Java toolset
Comment[en_GB]=Change the default Java toolset
Comment[es]=Cambiar el conjunto de herramientas Java predeterminado
Comment[fi]=Muuta oletus-Java-työkaluja
Comment[fr]=Modifier le jeu d'outils Java par défaut
Comment[gu]=મૂળભૂત Java ટુલસેટ ને બદલો
Comment[he]=שינוי ברירת המחדל של ערכת ה-Java
Comment[hi]=तयशुदा जावा टूलसेट बदलें
Comment[hu]=Az alapértelmezett Java eszközkészlet megváltoztatása
Comment[id]=Ubah toolset java standar
Comment[it]=Cambia il toolset predefinito di Java
Comment[ja]=デフォルト Java Toolset の変更
Comment[kn]=ಡೀಫಾಲ್ಟ್‍ ಜಾವ ಉಪಕರಣಗಳನ್ನು ಬದಲಾಯಿಸು
Comment[ko]=기본값 Java 툴셋 변경 
Comment[mai]=पूर्वनिर्धारित जावा टूलसेट बदलू
Comment[ml]=സ്വതവേയുള്ള ജാവാ ടൂള്‍സെറ്റ് മാറ്റുക
Comment[mr]=मुलभूत Java साधनसंच बदलवा
Comment[nl]=De standaard Java-toolset veranderen
Comment[or]=ପୂର୍ବନିର୍ଦ୍ଧାରିତ java ଉପକରଣ ସେଟକୁ ପରିବର୍ତ୍ତନ କରନ୍ତୁ
Comment[pa]=ਮੂਲ ਜਾਵਾ ਟੂਲਸੈੱਟ ਤਬਦੀਲ ਕਰੋ
Comment[pl]=Zmiana domyślnego zestawu narzędzi Java
Comment[pt]=Alterar a versão Java por omissão
Comment[pt_BR]=Altere o conjunto padrão de ferramentas Java
Comment[ro]=Schimbați setul de unelte Java implicit pentru acest sistem.
Comment[ru]=Изменить текущий набор инструментов Java
Comment[sk]=Zmeniť predvolenú sadu Java nástrojov
Comment[sr]=Промените подразумевани комплет Java алата
Comment[sr@latin]=Promenite podrazumevani komplet Java alata
Comment[sv]=Ändra standard för Javaverktyg
Comment[ta]=முன்னிருப்பு ஜாவா டூல்செட்டை மாற்று
Comment[te]=అప్రమేయ Java సాధనములసమితిని మార్చుము
Comment[zh_CN]=更改默认 Java 工具组件
Comment[zh_TW]=更改預設的 Java 工具集
Exec=/usr/bin/system-switch-java
Terminal=false
Type=Application
Icon=system-switch-java.png
