
[Desktop Entry]
Name=Samba
Name[ar]=سامبا
Name[as]=Samba
Name[ast]=Samba
Name[bg]=Samba
Name[bn]=Samba
Name[bn_IN]=Samba
Name[bs]=Samba
Name[ca]=Samba
Name[cs]=Samba
Name[cy]=Samba
Name[da]=Samba
Name[de]=Samba
Name[de_CH]=Samba
Name[el]=Samba
Name[en_GB]=Samba
Name[es]=Samba
Name[et]=Samba
Name[fa]=سامبا
Name[fi]=Samba
Name[fr]=Samba
Name[gu]=સામ્બા
Name[he]=Samba
Name[hi]=सांबा
Name[hr]=Samba
Name[hu]=Samba
Name[id]=Samba
Name[is]=Samba
Name[it]=Samba
Name[ja]=Samba
Name[kn]=Samba
Name[ko]=Samba
Name[lv]=Samba
Name[mai]=सांबा
Name[mk]=Самба
Name[ml]=സാംബാ
Name[mr]=Samba
Name[ms]=Samba
Name[nb]=Samba
Name[nds]=Samba
Name[nl]=Samba
Name[or]=ଶାମ୍ବା
Name[pa]=ਸਾਂਬਾ
Name[pl]=Samba
Name[pt]=Samba
Name[pt_BR]=Samba
Name[ro]=Samba
Name[ru]=Samba
Name[si]=සම්බා
Name[sk]=Samba
Name[sl]=Samba
Name[sr]=Самба
Name[sr@latin]=Samba
Name[sv]=Samba
Name[ta]=சம்பா
Name[te]=సాంబ
Name[th]=Samba
Name[tr]=Samba
Name[uk]=Samba
Name[vi]=Samba
Name[zh_CN]=Samba
Name[zh_TW]=Samba
Comment=Create, modify, and delete samba shares
Comment[ar]=إنشاء، تعدّيل وحذف مجلدات سامبا المُشتركة
Comment[as]=samba অংশৰ সৃষ্টি, সাল-সলনি কৰক বা আঁতঁতৰা দিয়কই 
Comment[ast]=Criar, camudar y desaniciar recursos compartíos samba
Comment[bg]=Създаване, редактиране и премахване на samba споделени ресурси
Comment[bn]=Samba শেয়ার নির্মাণ, পরিবর্তন এবং অপসারণ পদ্ধতি
Comment[bn_IN]=Samba শেয়ার নির্মাণ, পরিবর্তন এবং অপসারণ পদ্ধতি
Comment[bs]=Izrada, izmjena ili brisanje Samba dijeljenih mapa
Comment[ca]=Creeu, modifiqueu i elimineu recursos compartits samba
Comment[cs]=Přidat, upravit nebo smazat sdílené adresáře
Comment[cy]=Creu, addasu, a dileu rhaniadau samba
Comment[da]=Opret, ændr og fjern samba-delinger
Comment[de]=Samba-Freigaben anlegen, ändern und löschen
Comment[de_CH]=Samba-Freigaben anlegen, ändern und löschen
Comment[el]=Δημιουργία,  μετατροπή,  και διαγραφή κοινών πόρων samba
Comment[en_GB]=Create, modify, and delete samba shares
Comment[es]=Crear, modificar y borrar recursos compartidos samba
Comment[et]=Loo, muuda ja kustuta samba jagamisi
Comment[fa]=ایجاد , تغییر , و حذف  اشتراکهای سامبا 
Comment[fi]=Luo, muokkaa ja poista samba-jakoja
Comment[fr]=Créer, modifier et supprimer les partages Samba
Comment[gu]=સામ્બા શેરો બનાવો, સુધારો અને કાઢી નાંખો
Comment[he]=יצירה, שינוי, ומחיקת שיתופי Samba
Comment[hi]=सांबा साझा बनाएँ, संशोधित, और विलोपित करें
Comment[hr]=Izrada, izmjena ili brisanje Samba dijeljenih mapa
Comment[hu]=Samba megosztásokat teremt, módosít, töröl
Comment[id]=Buat, modifikasi, dan hapus samba shares
Comment[is]=Búa til, breyta eða eyða samba sameignum
Comment[it]=Crea, modifica e rimuove condivisioni samba
Comment[ja]=Samba 共有の作成、変更および削除
Comment[kn]=Samba ಹಂಚಿಕೆಗಳನ್ನು ಸೃಷ್ಟಿಸು, ಬದಲಾಯಿಸು ಹಾಗು ಅಳಿಸು
Comment[ko]=samba 공유를 생성, 수정하고 삭제하기
Comment[lv]=Izveidot, modificēt un dzēst Samba koplietojumus
Comment[mai]=सांबा साझा बनाउ, संशोधित, आओर विलोपित  करू 
Comment[mk]=Креирај, уреди и отстрани самба делења
Comment[ml]=സാംബാ ഷെയറുകള്‍ ഉണ്ടാക്കുവാനും മാറ്റം വരുത്തുവാനും നീക്കം ചെയ്യുവാനും സഹായിക്കുന്നു
Comment[mr]=samba शेअर निर्माण, बदल, आणि नष्ट करा
Comment[ms]=Cipta, ubahsuai, dan padam pengkongsian samba
Comment[nb]=Opprett, endre og slett samba-ressurser
Comment[nl]=Aanmaken, wijzigen en verwijderen van Samba gedeelde bronnen
Comment[or]=ଶାମ୍ବା ର ସହଭାଗ ମାନଙ୍କୁ ସ୍ରୁଷ୍ଟି କର, ରୂପାନ୍ତର କର, ଏବଂ ଅପସାରଣ କର
Comment[pa]=ਸਾਂਬਾ ਸ਼ੇਅਰ ਬਣਾਓ, ਸੋਧੋ ਅਤੇ ਹਟਾਓ
Comment[pl]=Tworzenie, modyfikacja i usuwanie udziałów Samby
Comment[pt]=Criar, modificar e apagar partilhas samba
Comment[pt_BR]=Crie, modifique e apague compartilhamentos do Samba
Comment[ro]=Creează, modifică şi şterge partajări samba
Comment[ru]=Создание, изменение и удаление ресурсов Samba
Comment[si]=සම්බා හවුල් සාදන්න, සංශෝධනය කරන්න නැතහොත් මකාදමන්න
Comment[sk]=Vytvoriť, upraviť alebo odstrániť samba zdieľania
Comment[sl]=Izdela, spremeni in izbriše skupne diske SMB
Comment[sr]=Направи, измени, и обриши Самба дељене ресурсе
Comment[sr@latin]=Napravi, izmeni, i obriši Samba deljene resurse
Comment[sv]=Skapa, ändra och ta bort sambautdelningar
Comment[ta]=சம்பா பகிர்வுகளை உருவாக்கவும், திருத்தவும், அழிக்கவும்
Comment[te]=సాంబా భాగాలను సృష్టించు, మార్చు, మరియూ తొలగించు
Comment[th]=สร้าง, แก้ไขและลบการแบ่งปันทาง Samba
Comment[tr]=Samba paylaşımlarını oluşturur, değiştirir ve siler
Comment[uk]=Створення, зміна чи видалення ресурсів Samba
Comment[vi]=Tạo, hiệu chỉnh, và xóa Chia sẻ Samba
Comment[zh_CN]=创建、修改和删除 samba 共享
Comment[zh_TW]=建立、修改與刪除 Samba 共享
Categories=System;Settings;
Icon=system-config-samba
Exec=/usr/bin/system-config-samba
Type=Application
StartupNotify=true
Terminal=false
X-Desktop-File-Install-Version=0.19
