[user]
	name = zodiac1111
	email = zodiac8765+github_admin@gmail.com
[color]
	diff = auto
	log = auto
	branch = auto
	ui = true
[alias]  
	co = checkout  
	ci = commit -a  
	st = status  
	br = branch 
[push]
#default = simple
