[Desktop Entry]
Name=Release Notes for Fedora 17
Name[nl_NL]=Vrijgave informatie voor Fedora 17
Name[it_IT]=Note di rilascio per Fedora 17
Name[ja_JP]=Fedora 17 のリリースノート
Name[zh_TW]=Fedora 17 發&#x200B;行&#x200B;備&#x200B;註&#x200B;
Name[fr_FR]=Notes de version de Fedora 17
Name[zh_CN]=Fedora 17 发&#x200B;行&#x200B;注&#x200B;记&#x200B;
Name[bg_BG]=Бележки към Изданието Fedora 17
Name[uk_UA]=Нотатки щодо випуску Fedora 17
GenericName=Release Notes
GenericName[nl_NL]=Vrijgave informatie
GenericName[it_IT]=Note di rilascio
GenericName[ja_JP]=リリースノート
GenericName[zh_TW]=發&#x200B;行&#x200B;備&#x200B;註&#x200B;
GenericName[fr_FR]=Notes de version
GenericName[zh_CN]=发&#x200B;行&#x200B;注&#x200B;记&#x200B;
GenericName[bg_BG]=Бележки към Изданието
GenericName[uk_UA]=Нотатки щодо випуску
Exec=xdg-open file:///usr/share/doc/HTML/fedora-release-notes/index.html
Icon=fedora-release-notes
Terminal=false
Type=Application
OnlyShowIn=KDE;
Categories=Documentation;System;
X-KDE-StartupNotify=true
