[Desktop Entry]
Type=Application
Exec=kfmclient openURL %u application/x-sysinfo
Icon=konqueror
Terminal=false
MimeType=application/x-sysinfo;
InitialPreference=9
NoDisplay=true
Name=System Information
Name[cs]=Systémové informace
Name[de]=System-Information
Name[el]=Πληροφορίες συστήματος
Name[en_GB]=System Information
Name[es]=Información de sistema
Name[et]=Süsteemi info
Name[fr]=Information système
Name[ga]=Faisnéis Córais
Name[gl]=Información do sistema
Name[hr]=Informacije o sustavu
Name[km]=ព័ត៌មាន​ប្រព័ន្ធ
Name[nds]=Systeem-Informatschonen
Name[nl]=Systeeminformatie
Name[pa]=ਸਿਸਟਮ ਜਾਣਕਾਰੀ
Name[pl]=Informacje o systemie
Name[pt]=Informação do Sistema
Name[pt_BR]=Informação do sistema
Name[ro]=Informații sistem
Name[ru]=Системная информация
Name[sv]=Systeminformation
Name[tr]=Sistem Bilgileri
Name[uk]=Системна інформація
Name[x-test]=xxSystem Informationxx
Categories=Qt;KDE;System;
X-KDE-HasTempFileOption=true
