[Desktop Entry]
GenericName=Internet Dial-Up Tool
GenericName[ar]=أداة إنترنت طلب هاتفي
GenericName[bg]=Включване в Интернет
GenericName[bn]=ইন্টারনেট ডায়াল-আপ সরঞ্জাম
GenericName[ca]=Eina per a la connexió telefònica a Internet
GenericName[ca@valencia]=Eina per a la connexió telefònica a Internet
GenericName[cs]=Připojení přes vytáčenou linku
GenericName[da]=Internet-opkaldsværktøj
GenericName[de]=Einwahl ins Internet
GenericName[el]=Εργαλείο σύνδεσης μέσω τηλεφώνου στο διαδίκτυο
GenericName[en_GB]=Internet Dial-Up Tool
GenericName[eo]=Ilo por konekti al Interreto
GenericName[es]=Herramienta de conexión telefónica a Internet
GenericName[et]=Sissehelistamine
GenericName[eu]=Interneteko markatzaile tresna
GenericName[fa]=ابزار شماره‌گیری اینترنت
GenericName[fi]=Internet-yhteyden soitto-ohjelma
GenericName[fr]=Connexion internet par modem
GenericName[ga]=Uirlis Diailithe Idirlín
GenericName[gl]=Ferramenta de conexón telefónica a Internet
GenericName[he]=כלי חיוג לאינטרנט
GenericName[hi]=इंटरनेट डायल-अप औज़ार
GenericName[hne]=इंटरनेट डायल-अप औजार
GenericName[hr]=Program za spajanje na Internet
GenericName[hu]=Internetes tárcsázó
GenericName[is]=Tengjast Netinu með upphringisambandi
GenericName[it]=Strumento per la connessione telefonica ad Internet
GenericName[ja]=インターネットダイヤルアップツール
GenericName[kk]=Телефондық желі арқылы Интернетке қосылу құралы
GenericName[km]=ឧបករណ៍​ចូល​ដំណើរការ​អ៊ីនធឺណិត តាម​រយៈ​ទូរស័ព្ទ​លើ​តុ
GenericName[ko]=인터넷 전화 접속 도구
GenericName[lt]=Interneto skambinimo priemonė
GenericName[lv]=Interneta iezvanpieejas rīks
GenericName[mk]=Алатка за поврзување на Интернет
GenericName[ml]=ഇന്റര്‍നെറ്റ് ഡയലപ്പ് ഉപകരണം
GenericName[nb]=Verktøy for oppringing til Internet
GenericName[nds]=Internetinwahl-Warktüüch
GenericName[ne]=इन्टरनेट डायल-अप उपकरण
GenericName[nl]=Inbelprogramma
GenericName[nn]=Verktøy for Internett-oppringing
GenericName[pa]=ਇੰਟਰਨੈੱਟ ਡਾਇਲ-ਅੱਪ ਟੂਲ
GenericName[pl]=Narzędzie do łączenia telefonicznego z Internetem
GenericName[pt]=Ferramenta de Ligação à Internet
GenericName[pt_BR]=Ferramenta de Conexão a Internet
GenericName[ro]=Unealtă de Internet dial-up
GenericName[ru]=Соединение с Интернетом при помощи модема
GenericName[sk]=Pripojenie na internet cez modem
GenericName[sl]=Orodje za klicni priklop na internet
GenericName[sr]=Алатка за модемски приступ Интернету
GenericName[sr@latin]=Alatka za modemski pristup Internetu
GenericName[sv]=Uppringningsverktyg för Internet
GenericName[ta]=இணைய அழைப்புக் கருவி
GenericName[tg]=Асбоб барои Зангзанӣ ба Интернет
GenericName[tr]=İnternet Çevirmeli Ağ Aracı
GenericName[uk]=Засіб додзвону в Інтернет
GenericName[vi]=Công cụ quay số Mạng
GenericName[x-test]=xxInternet Dial-Up Toolxx
GenericName[zh_CN]=Internet 拨号工具
GenericName[zh_HK]=互聯網撥號工具
GenericName[zh_TW]=Internet 撥號工具
Name=KPPP
Name[af]=Kppp
Name[ar]=برنامج اتصال كيدي
Name[bg]=KPPP
Name[bn]=কে-পি-পি-পি
Name[br]=KPPP
Name[ca]=KPPP
Name[ca@valencia]=KPPP
Name[cs]=KPPP
Name[cy]=KPPP
Name[da]=KPPP
Name[de]=KPPP
Name[el]=KPPP
Name[en_GB]=KPPP
Name[eo]=KPPP
Name[es]=KPPP
Name[et]=KPPP
Name[eu]=KPPP
Name[fi]=KPPP
Name[fr]=KPPP
Name[ga]=KPPP
Name[gl]=KPPP
Name[he]=KPPP
Name[hi]=केपीपीपी
Name[hne]=केपीपीपी
Name[hr]=KPPP
Name[hu]=KPPP
Name[is]=KPPP
Name[it]=KPPP
Name[ja]=KPPP
Name[kk]=KPPP
Name[km]=KPPP
Name[ko]=KPPP
Name[lt]=KPPP
Name[lv]=KPPP
Name[mk]=KPPP
Name[ml]=കെപിപിപി
Name[ms]=KPPP
Name[nb]=KPPP
Name[nds]=KPPP
Name[ne]=केपीपीपी
Name[nl]=KPPP
Name[nn]=KPPP
Name[pa]=KPPP
Name[pl]=KPPP
Name[pt]=KPPP
Name[pt_BR]=KPPP
Name[ro]=KPPP
Name[ru]=KPPP
Name[se]=KPPP
Name[sk]=KPPP
Name[sl]=KPPP
Name[sr]=КППП
Name[sr@latin]=KPPP
Name[sv]=Kppp
Name[ta]=KPPP
Name[tg]=KPPP
Name[tr]=KPPP
Name[uk]=KPPP
Name[uz]=KPPP
Name[uz@cyrillic]=KPPP
Name[vi]=KPPP
Name[wa]=KPPP
Name[xh]=KPPP
Name[x-test]=xxKPPPxx
Name[zh_CN]=KPPP
Name[zh_HK]=KPPP
Name[zh_TW]=KPPP 撥號工具
MimeType=
X-DocPath=kppp/index.html
Exec=kppp
Icon=kppp
Type=Application
Terminal=false
X-KDE-StartupNotify=true
X-DBUS-StartupType=Multi
Categories=Qt;KDE;Network;Dialup;
