[Desktop Entry]
Name=KPPPLogview
Name[ar]=معاين سجلات KPPP
Name[bg]=KPPPLogview
Name[bn]=কে-পি-পি-পি লগভিউ
Name[br]=KPPPLogview
Name[ca]=KPPPLogview
Name[ca@valencia]=KPPPLogview
Name[cs]=KPPPLogview
Name[da]=KPPPLogview
Name[de]=KPPP-Protokoll-Betrachter
Name[el]=Προβολή καταγραφής KPPP
Name[en_GB]=KPPPLogview
Name[eo]=KPPPLogview
Name[es]=KPPPLogview
Name[et]=KPPPLogview
Name[eu]=KPPPLogview
Name[fa]=نمای ثبت KPPP
Name[fi]=KPPPLogview
Name[fr]=KPPPLogview
Name[ga]=KPPPLogview
Name[gl]=KPPPLogview
Name[he]=KPPP תצוגת רישום
Name[hi]=केपीपीपीलॉगव्यू
Name[hne]=केपीपीपीलागव्यू
Name[hu]=KPPPLogview
Name[is]=KPPP annálaskoðari
Name[it]=Visualizzatore log KPPP
Name[ja]=KPPP - ログビューア
Name[kk]=KPPPLogview
Name[km]=KPPPLogview
Name[ko]=KPPPLogview
Name[lt]=KPPP žurnalo žiūriklis
Name[lv]=KPPPLogview
Name[ml]=കെപിപിപി ദിനസരിക്കാഴ്ച
Name[nb]=KPPP loggviser
Name[nds]=KPPPLogview
Name[ne]=केपीपीपी लग दृश्य
Name[nl]=KPPPLogview
Name[nn]=KPPP-loggvisar
Name[pa]=KPPP ਲਾਗ ਝਲਕ
Name[pl]=Dziennik połączeń KPPP
Name[pt]=KPPPLogview
Name[pt_BR]=KPPPLogview
Name[ro]=KPPPLogview
Name[ru]=KPPPLogview
Name[sk]=KPPP prehliadač záznamov
Name[sl]=Ogled dnevnika KPPP
Name[sr]=КППП‑приказ-дневника
Name[sr@latin]=KPPP‑prikaz-dnevnika
Name[sv]=Kppp - Loggvisare
Name[tr]=KPPP Kayıt Görüntüleyici
Name[uk]=KPPPLogview
Name[uz]=KPPPLogview
Name[uz@cyrillic]=KPPPLogview
Name[vi]=Bộ xem bản ghi KPPP
Name[x-test]=xxKPPPLogviewxx
Name[zh_CN]=KPPPLogview
Name[zh_HK]=KPPPLogview
Name[zh_TW]=KPPP - 紀錄檔檢視器
GenericName=Internet Dial-Up Tool Log Viewer
GenericName[ar]=أداة مستعرض سجل إنترنت طلب هاتفي  
GenericName[bg]=Преглед на журнала на KPPP
GenericName[bn]=ইন্টারনেট ডায়াল-আপ সরঞ্জাম কার্যবিবরণী প্রদর্শক
GenericName[ca]=Visor de la bitàcola de l'eina de connexió telefònica a Internet
GenericName[ca@valencia]=Visor de la bitàcola de l'eina de connexió telefònica a Internet
GenericName[cs]=Prohlížeč záznamů připojení přes vytáčenou linku
GenericName[da]=Internet-opkaldsværktøj-logviser
GenericName[de]=Protokoll-Betrachter für die Einwahl ins Internet
GenericName[el]=Προβολή καταγραφής εργαλείου σύνδεσης μέσω τηλεφώνου στο διαδίκτυο
GenericName[en_GB]=Internet Dial-Up Tool Log Viewer
GenericName[eo]=Raporta vidilo por telefona interreto
GenericName[es]=Visor del registro de conexión telefónica a Internet
GenericName[et]=Interneti sissehelistamise rakenduse logide näitaja
GenericName[eu]=Interneteko markatzaile tresnaren erregistroen ikustailea
GenericName[fa]=ابزار مشاهده‌گر ثبت شماره‌گیری اینترنت
GenericName[fi]=Internet-yhteyden soitto-ohjelman lokinäytin
GenericName[fr]=Afficheur de l'historique des connexion internet par modem
GenericName[ga]=Amharcán Logchomhad na hUirlise Diailithe Idirlín
GenericName[gl]=Visor dos rexistos da ferramenta de conexón telefónica a internet
GenericName[he]=תצוגת רישום של כלי חיוג לאינטרנט
GenericName[hi]=इंटरनेट डायलअप औजार लॉग प्रदर्शक
GenericName[hne]=इंटरनेट डायलअप औजार लाग प्रदर्सक
GenericName[hr]=Preglednik dnevnika spajanja na Internet biranjem
GenericName[hu]=Tárcsázási napló
GenericName[is]=Annálaskoðari fyrir upphringisambönd
GenericName[it]=Visualizzatore di log della connessione telefonica ad Internet
GenericName[ja]=インターネットダイヤルアップツールのログビューア
GenericName[kk]=Телефондық желі арқылы қосылудың журналын қарау құралы
GenericName[km]=កម្មវិធី​មើល​កំណត់​ហេតុ​របស់​ឧបករណ៍​ដែល​តភ្ជាប់​ទៅ​អ៊ីនធឺណិត​តាម​រយៈ​ទូរស័ព្ទ​លើ​តុ
GenericName[ko]=인터넷 전화 접속 도구 로그 뷰어
GenericName[lt]=Interneto skambinimo priemonės žurnalo žiūriklis
GenericName[lv]=Interneta iezvanpieejas žurnāla skatītājs
GenericName[ml]=ഇന്റര്‍നെറ്റ് ഡയലപ്പ് ഉപകരണ ലോഗ് ദര്‍ശകന്‍
GenericName[nb]=Loggviser for verktøyet for oppringt Internet
GenericName[nds]=Protokollkieker för Internetinwahl
GenericName[ne]=इन्टरनेट डायल-अप उपकरण लग दर्शक
GenericName[nl]=Logviewer voor het inbelprogramma kppp
GenericName[nn]=Loggvisar for verktøyet for Internett-oppringing
GenericName[pa]=ਇੰਟਰਨੈੱਟ ਡਾਇਲ-ਅੱਪ ਟੂਲ ਲਾਗ ਦਰਸ਼ਕ
GenericName[pl]=Narzędzie do przeglądania dziennika programu do łączenia z Internetem
GenericName[pt]=Visualizador de Registos da Ferramenta de Ligação à Internet
GenericName[pt_BR]=Visualizador de Logs do KPPP
GenericName[ro]=Vizualizator jurnal pentru Unealta de Internet dial-up
GenericName[ru]=Просмотр журнала соединения с Интернетом посредством телефонной линии
GenericName[sk]=Prehliadač záznamov nástroja pre pripojenie na internet cez modem
GenericName[sl]=Orodje za ogled dnevnika KPPP
GenericName[sr]=Приказивач дневника модемске везе са Интернетом
GenericName[sr@latin]=Prikazivač dnevnika modemske veze sa Internetom
GenericName[sv]=Loggvisning för Internetuppringningsverktyg
GenericName[tr]=İnternet Çevirmeli Ağ Aracı Kayıt Görüntüleyici
GenericName[uk]=Переглядач журналу засобу додзвону в Інтернет
GenericName[vi]=Trình xem bản ghi của công cụ quay số Mạng
GenericName[x-test]=xxInternet Dial-Up Tool Log Viewerxx
GenericName[zh_CN]=Internet 拨号工具日志查看器
GenericName[zh_HK]=互聯網撥號工具記錄檢視器
GenericName[zh_TW]=Internet 撥號工具紀錄檢視器
MimeType=
Exec=kppplogview
Icon=kppp
Type=Application
Terminal=false
X-DBUS-StartupType=Multi
Categories=Qt;KDE;Network;X-KDE-More;Dialup;
NoDisplay=true
