# KDE Config File

[Desktop Entry]
Type=Application
Exec=ksig -caption "%c"
Icon=ksig
Terminal=false
Name=KSig
Name[sv]=Ksig
Name[vi]=K-Ký
Name[x-test]=xxKSigxx
GenericName=Signature Editor
GenericName[bg]=Редактор на подписи
GenericName[br]=Aozer ar sinadurioù
GenericName[ca]=Editor per la signatura
GenericName[cs]=Editor podpisů
GenericName[cy]=Golygydd Llofnod
GenericName[da]=Underskriftteditor
GenericName[de]=Signaturen-Editor
GenericName[el]=Επεξεργαστής υπογραφής
GenericName[es]=Editor de firma
GenericName[et]=Allkirja redaktor
GenericName[eu]=Sinadura editorea
GenericName[fa]=ویرایشگر امضا
GenericName[fi]=Allekirjoitusmuokkain
GenericName[fr]=Éditeur de signatures
GenericName[fy]=Hântekeningen bewurkje
GenericName[ga]=Eagarthóir Sínithe
GenericName[gl]=Editor de Sinaturas
GenericName[he]=עורך חתימות
GenericName[hu]=Aláírásszerkesztő
GenericName[is]=Ritill fyrir undirritanir
GenericName[it]=Editor della firma
GenericName[ja]=署名エディタ
GenericName[kk]=Қолтаңба редакторы
GenericName[km]=កម្មវិធី​និពន្ធ​ហត្ថលេខា
GenericName[lt]=Parašo rengyklė
GenericName[mk]=Уредувач на потписи
GenericName[ms]=Editor Tandatangan
GenericName[nb]=Signaturredigering
GenericName[nds]=Signatuur-Editor
GenericName[ne]=हस्ताक्षर सम्पादक
GenericName[nl]=Handtekeningen bewerken
GenericName[pa]=ਦਸਤਖਤ ਸੰਪਾਦਕ
GenericName[pl]=Edytor podpisów
GenericName[pt]=Editor de Assinaturas
GenericName[pt_BR]=Editor de Assinaturas
GenericName[ro]=Editor de semnături
GenericName[ru]=Редактор подписей
GenericName[sl]=Urejevalnik podpisov
GenericName[sr]=Уређивач потписа
GenericName[sr@latin]=Uređivač potpisa
GenericName[sv]=Signatureditor
GenericName[ta]=கையொப்ப தொகுப்பான்
GenericName[tg]=Муҳаррири имзоҳо
GenericName[tr]=İmza Düzenleyici
GenericName[uk]=Редактор підписів
GenericName[uz]=Имзо таҳрирчиси
GenericName[vi]=Bộ soạn thảo chữ ký
GenericName[x-test]=xxSignature Editorxx
GenericName[zh_CN]=签名编辑器
GenericName[zh_TW]=簽名編輯器
Categories=Qt;KDE;Utility;X-KDE-Utilities-PIM;
X-Desktop-File-Install-Version=0.15
