
[Desktop Entry]
Name=About this Computer
Name[en]=About this Computer
Name[as]=এই কম্পিউটাৰৰ বিষয়ে
Name[bn_IN]=কম্পিউটার পরিচিতি
Name[cs]=O tomto počítači
Name[de]=Über diesen Computer
Name[el]=Περί υπολογιστή
Name[es]=Acerca de esta Computadora
Name[fi]=Tietoja tästä tietokoneesta
Name[fr]=À propos de cet ordinateur
Name[gu]=આ કમ્પ્યૂટર વિશે
Name[he]=אודות מחשב זה
Name[hi]=इस कंप्यूटर के बारे में
Name[id]=Mengenai Komputer Ini
Name[it]=Informazioni sul computer
Name[ja]=このコンピュータについて
Name[kn]=ಈ ಗಣಕದ ಬಗ್ಗೆ
Name[ko]=컴퓨터에 관하여
Name[ml]=ഈ കമ്പ്യൂട്ടറിനെ സംബന്ധിച്ചു്
Name[mr]=या संगणक विषयी
Name[nb]=Om denne datamaskinen
Name[nl]=Over Deze Computer
Name[or]=ଏହି କମ୍ପୁଟର ବିଷୟରେ
Name[pa]=ਇਸ ਕੰਪਿਊਟਰ ਬਾਰੇ
Name[pl]=Informacje o komputerze
Name[pt_BR]=Sobre este computador
Name[ro]=Despre acest calculator
Name[ru]=О системе
Name[sk]=O tomto počítači
Name[sr]=О овом рачунару
Name[sr@latin]=O ovom računaru
Name[sv]=Om den här datorn
Name[ta]=இந்தக் கணினிப் பற்றி
Name[te]=ఈ కంప్యూటర్ గురించి
Name[zh_CN]=关于本计算机
Name[zh_TW]=關於這部電腦
Comment=Get some basic information about this computer
Comment[en]=Get some basic information about this computer
Comment[as]=এই কম্পিউটাৰৰ বিষয়ে কিছু মূল তথ্য লাভ কৰক
Comment[bn_IN]=এই কম্পিউটার সম্বন্ধে কিছু মৌলিক তথ্য জেনে নিন
Comment[cs]=Základní informace o tomto počítači
Comment[de]=Erhalten Sie Basis-Informationen über dieses System
Comment[el]=Δείτε βασικές πληροφορίες για αυτόν τον υπολογιστή
Comment[es]=Obten información básica sobre esta computadora
Comment[fi]=Perustietoja tästä tietokoneesta
Comment[fr]=Obtenir des informations sommaires sur cet ordinateur
Comment[gu]=આ કમ્પ્યૂટર વિશે અમુક મૂળભૂત જાણકારી મેળવો
Comment[he]=הצגת מידע בסיסי אודות מחשב זה
Comment[hi]=इस कंप्यूटर के बारे में कुछ मौलिक जानकारी हासिल करें
Comment[id]=Lihat beberapa informasi umum mengenai komputer ini
Comment[it]=Alcune informazioni di base su questo computer
Comment[ja]=このコンピュータに関する基本的な情報
Comment[kn]=ಈ ಗಣಕದ ಬಗೆಗಿನ ಕೆಲವು ಮೂಲಭೂತ ಮಾಹಿತಿಯನ್ನು ಪಡೆದುಕೊಳ್ಳಿ
Comment[ko]=컴퓨터에 관한 기본 정보 보기
Comment[ml]=ഈ കമ്പ്യൂട്ടറിനെ സംബന്ധിച്ചുള്ള ചില അടിസ്ഥാന വിവരങ്ങള്‍
Comment[mr]=या संगणक विषयी जराशी मुळ माहिती प्राप्त करा
Comment[nb]=Vis grunnleggende informasjon om denne datamaskinen
Comment[nl]=Geef basis informatie weer over deze computer
Comment[or]=ଏହି କମ୍ପୁଟର ବିଷୟରେ କିଛି ମୌଳିକ ସୂଚନା ହାସଲ କରନ୍ତୁ
Comment[pa]=ਇਸ ਕੰਪਿਊਟਰ ਬਾਰੇ ਕੁਝ ਮੁਢਲੀ ਜਾਣਕਾਰੀ ਲਵੋ
Comment[pl]=Więcej informacji o komputerze
Comment[pt_BR]=Obtenha informações básicas sobre este computador
Comment[ro]=Vedeți niște informații utile despre acest calculator
Comment[ru]=Основная информация об этом компьютере
Comment[sk]=Zobraziť základné informácie o tomto počítači
Comment[sr]=Сазнајте основне информације о овом рачунару
Comment[sr@latin]=Saznajte osnovne informacije o ovom računaru
Comment[sv]=Få grundläggande information om den här datorn
Comment[ta]=இந்தக் கணினிப் பற்றிய சில அடிப்படை தகவல்கள்
Comment[te]=ఈ కంప్యూటర్ గురించి కొంత ప్రాధమిక సమాచారం
Comment[zh_CN]=获取本计算机的一些基本信息
Comment[zh_TW]=取得關於這部電腦的一些基本訊息
Exec=gnome-system-monitor --show-system-tab
TryExec=gnome-system-monitor
Icon=computer
Terminal=false
Type=Application
Categories=X-System-About;
StartupNotify=true
# we don't want this in the regular menus at all
NotShowIn=GNOME;KDE;
X-Desktop-File-Install-Version=0.15
