
[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
#Name=XSane
Name=Scanner Tool
GenericName=Scanner Tool
Comment=Scan images to view, copy, fax or email them
Exec=xsane
TryExec=xsane
Icon=xsane
Terminal=false
Categories=Graphics;2DGraphics;RasterGraphics;Scanning;GTK;
StartupNotify=true
X-Desktop-File-Install-Version=0.15
