
[Desktop Entry]
Version=1.0
Name=Deluge
Name[ar]=دلوج
Name[ast]=دلوج
Name[be]=Deluge
Name[bg]=Deluge
Name[ca]=Deluge
Name[cs]=Deluge
Name[cy]=Deluge
Name[da]=Deluge
Name[de]=Deluge
Name[el]=Deluge
Name[en_AU]=Deluge
Name[en_CA]=Deluge
Name[en_GB]=Deluge
Name[es]=Deluge
Name[et]=Deluge
Name[fi]=Deluge
Name[fr]=Deluge
Name[fy]=Deluge
Name[gl]=Deluge
Name[he]=Deluge
Name[hi]=डिल्यूज
Name[hr]=Deluge
Name[hu]=Deluge
Name[id]=Deluge
Name[is]=Deluge
Name[it]=Deluge
Name[ja]=Deluge
Name[ka]=დელუჯი
Name[kk]=Deluge
Name[ko]=Deluge
Name[lt]=Deluge
Name[lv]=Deluge
Name[mk]=Deluge
Name[ms]=Deluge
Name[nb]=Deluge
Name[nl]=Deluge
Name[oc]=Deluge
Name[pl]=Deluge
Name[pt]=Deluge
Name[pt_BR]=Deluge
Name[ro]=Deluge
Name[ru]=Deluge
Name[sk]=Deluge
Name[sl]=Deluge
Name[sr]=Deluge
Name[sv]=Deluge
Name[tr]=Deluge
Name[uk]=Deluge
Name[zh_CN]=Deluge
Name[zh_TW]=Deluge
GenericName=Deluge
X-GNOME-FullName=Deluge BitTorrent Client
Comment=Download and share files over BitTorrent
TryExec=deluge-gtk
Exec=deluge-gtk %U
Icon=deluge
Terminal=false
Type=Application
Categories=Network;FileTransfer;P2P;GTK;
StartupNotify=true
MimeType=application/x-bittorrent;x-scheme-handler/magnet;
X-Desktop-File-Install-Version=0.19
GenericName[ar]=دلوج
GenericName[ast]=دلوج
GenericName[be]=Deluge
GenericName[bg]=Deluge
GenericName[ca]=Deluge
GenericName[cs]=Deluge
GenericName[cy]=Deluge
GenericName[da]=Deluge
GenericName[de]=Deluge
GenericName[el]=Deluge
GenericName[en_AU]=Deluge
GenericName[en_CA]=Deluge
GenericName[en_GB]=Deluge
GenericName[es]=Deluge
GenericName[et]=Deluge
GenericName[fi]=Deluge
GenericName[fr]=Deluge
GenericName[fy]=Deluge
GenericName[gl]=Deluge
GenericName[he]=Deluge
GenericName[hi]=डिल्यूज
GenericName[hr]=Deluge
GenericName[hu]=Deluge
GenericName[id]=Deluge
GenericName[is]=Deluge
GenericName[it]=Deluge
GenericName[ja]=Deluge
GenericName[ka]=დელუჯი
GenericName[kk]=Deluge
GenericName[ko]=Deluge
GenericName[lt]=Deluge
GenericName[lv]=Deluge
GenericName[mk]=Deluge
GenericName[ms]=Deluge
GenericName[nb]=Deluge
GenericName[nl]=Deluge
GenericName[oc]=Deluge
GenericName[pl]=Deluge
GenericName[pt]=Deluge
GenericName[pt_BR]=Deluge
GenericName[ro]=Deluge
GenericName[ru]=Deluge
GenericName[sk]=Deluge
GenericName[sl]=Deluge
GenericName[sr]=Deluge
GenericName[sv]=Deluge
GenericName[tr]=Deluge
GenericName[uk]=Deluge
GenericName[zh_CN]=Deluge
GenericName[zh_TW]=Deluge
