
[Desktop Entry]
Version=1.0
Name=Empathy
Name[an]=Empathy
Name[ar]=إمبَثي
Name[as]=Empathy
Name[ast]=Empathy
Name[be]=Empathy
Name[bg]=Empathy
Name[bn]=Empathy
Name[bn_IN]=Empathy
Name[br]=Empathy
Name[ca]=Empathy
Name[ca@valencia]=Empathy
Name[crh]=Empathy
Name[cs]=Empathy
Name[da]=Empathy
Name[de]=Empathy
Name[el]=Empathy
Name[en@shaw]=·𐑧𐑥𐑐𐑩𐑔𐑦
Name[en_CA]=Empathy
Name[en_GB]=Empathy
Name[eo]=Empatio
Name[es]=Empathy
Name[et]=Empathy
Name[eu]=Empathy
Name[fa]=اِمپاتی
Name[fi]=Empathy
Name[fr]=Empathy
Name[ga]=Empathy
Name[gl]=Empathy
Name[gu]=Empathy
Name[he]=Empathy
Name[hi]=Empathy
Name[hu]=Empathy
Name[id]=Empathy
Name[it]=Empathy
Name[ja]=Empathy
Name[kn]=Empathy
Name[ko]=엠퍼시
Name[ku]=Empathy
Name[lt]=Empathy
Name[lv]=Empathy
Name[mk]=Empathy
Name[ml]=എമ്പതി
Name[mr]=एम्पथि
Name[ms]=Empathy
Name[my]=အမ်ပသီ
Name[nb]=Empathy
Name[nl]=Empathy
Name[nn]=Empathy
Name[oc]=Empathy
Name[or]=Empathy
Name[pa]=ਇੰਪੈਥੀ
Name[pl]=Empathy
Name[pt]=Empathy
Name[pt_BR]=Empathy
Name[ro]=Empathy
Name[ru]=Empathy
Name[si]=Empathy
Name[sk]=Empathy
Name[sl]=Empathy
Name[sr]=Интернет писмоноша
Name[sr@latin]=Internet pismonoša
Name[sv]=Empathy
Name[ta]=எம்பதி
Name[te]=ఎంపతి
Name[th]=Empathy
Name[tr]=Empathy
Name[ug]=Empathy
Name[uk]=Empathy
Name[vi]=Empathy
Name[xh]=I-Empathy
Name[zh_CN]=Empathy
Name[zh_HK]=Empathy
Name[zh_TW]=Empathy
Name[zu]=I-Empathy
GenericName=IM Client
GenericName[an]=Client d'IM
GenericName[ar]=عميل محادثة فورية
GenericName[as]=IM গ্ৰাহক
GenericName[ast]=Veceru de mensaxería nel intre
GenericName[be]=Інтэрнэт-камунікатар
GenericName[bg]=Клиент за моментни съобщения
GenericName[bn]=IM ক্লায়েন্ট
GenericName[bn_IN]=IM ক্লায়েন্ট
GenericName[br]=Arval postelerezh prim Empathy
GenericName[ca]=Client de missatgeria instantània
GenericName[ca@valencia]=Client de missatgeria instantània
GenericName[crh]=Aniy Mesajlaşma Müşterisi
GenericName[cs]=Komunikátor
GenericName[da]=IM-Klient
GenericName[de]=Sofortnachrichten-Client
GenericName[el]=Λογισμικό αποστολής άμεσων μηνυμάτων (Google Talk, MSN, Yahoo!, Facebook και άλλα)
GenericName[en@shaw]=IM 𐑒𐑤𐑲𐑩𐑯𐑑
GenericName[en_CA]=IM Client
GenericName[en_GB]=IM Client
GenericName[eo]=Tujmesaĝilo
GenericName[es]=Cliente de mensajería instantánea
GenericName[et]=Välksõnumiklient
GenericName[eu]=BM bezeroa
GenericName[fa]=کارگیر پیام‌رسان فوری
GenericName[fi]=pikaviestin
GenericName[fr]=Client de messagerie instantanée
GenericName[ga]=Cliant IM
GenericName[gl]=Cliente de mensaxaría instantánea
GenericName[gu]=IM ક્લાઇન્ટ
GenericName[he]=לקוח מסרים מידיים
GenericName[hi]=IM क्लाएंट
GenericName[hu]=Üzenetküldő-kliens
GenericName[id]=Klien IM
GenericName[it]=Messaggistica istantanea
GenericName[ja]=インスタントメッセンジャー・クライアント
GenericName[kk]=Жедел хабарласу қолданбасы
GenericName[kn]=IM ಕ್ಲೈಂಟ್
GenericName[ko]=메신저 클라이언트
GenericName[ku]=Daxwazkera IM
GenericName[lt]=Tikralaikių pokalbių klientas
GenericName[lv]=TZ klients
GenericName[mk]=Клиент за инстант пораки
GenericName[ml]=ഐഎം ക്ലയന്റ്
GenericName[mr]=IM क्लाएंट
GenericName[my]=အိုင်အမ်ဆော့ဝဲ သုံးသူများ
GenericName[nb]=Lynmeldingsklient
GenericName[nl]=Chatprogramma
GenericName[nn]=Lynmeldingsklient
GenericName[oc]=Client de messatjariá instantanèa
GenericName[or]=IM ଗ୍ରାହକ
GenericName[pa]=IM ਕਲਾਇਟ
GenericName[pl]=Komunikator
GenericName[pt]=Cliente de MI
GenericName[pt_BR]=Cliente de mensagens instantâneas
GenericName[ro]=Client de mesagerie instant
GenericName[ru]=Клиент обмена мгновенными сообщениями
GenericName[si]=IM සේවාලාභියා
GenericName[sk]=Komunikátor
GenericName[sl]=Hipni sporočilnik
GenericName[sr]=Програм за брзе поруке
GenericName[sr@latin]=Program za brze poruke
GenericName[sv]=Snabbmeddelandeklient
GenericName[ta]=ஐ எம் சார்ந்தோன்
GenericName[te]=IM క్లయింటు
GenericName[th]=โปรแกรมลูกข่ายข้อความทันใจ
GenericName[tr]=IM İstemcisi
GenericName[ug]=ئالاقە كېلىشىمى
GenericName[uk]=Миттєві повідомлення
GenericName[vi]=Trình nhắn tin nhanh
GenericName[xh]=Umxhasi we-IRC
GenericName[zh_CN]=即时通讯客户端
GenericName[zh_HK]=即時通用戶端
GenericName[zh_TW]=即時通用戶端
GenericName[zu]=Iklayenti le-IM
X-GNOME-FullName=Empathy Internet Messaging
X-GNOME-FullName[an]=Client de mensacheria instantania Empathy
X-GNOME-FullName[ar]=مرسال الإنترنت إمبَثي
X-GNOME-FullName[as]=Empathy ইন্টাৰনেট বাৰ্তাকৰণ
X-GNOME-FullName[ast]=Mensaxería nel intre Empathy
X-GNOME-FullName[be]=Інтэрнэт-камунікатар Empathy
X-GNOME-FullName[bg]=Моментни съобщения с Empathy
X-GNOME-FullName[ca]=Missatgeria d'Internet Empathy
X-GNOME-FullName[ca@valencia]=Missatgeria d'Internet Empathy
X-GNOME-FullName[crh]=Empati İnternet Mesajlaşması
X-GNOME-FullName[cs]=Internetový komunikátor Empathy
X-GNOME-FullName[da]=Samtaleklienten Empathy
X-GNOME-FullName[de]=Empathy Internet-Sofortnachrichtendienst
X-GNOME-FullName[el]=Μηνύματα διαδικτύου Empathy
X-GNOME-FullName[en_CA]=Empathy Internet Messaging
X-GNOME-FullName[en_GB]=Empathy Internet Messaging
X-GNOME-FullName[eo]=Empatio ret-mesaĝado
X-GNOME-FullName[es]=Mensajería instantánea Empathy
X-GNOME-FullName[et]=Empathy interneti sõnumivahetus
X-GNOME-FullName[eu]=Empathy interneteko mezularitza
X-GNOME-FullName[fa]=پیام‌رسان اینترنتی اِمپاتی
X-GNOME-FullName[fi]=Empathy-pikaviestin
X-GNOME-FullName[fr]=Messagerie Internet Empathy
X-GNOME-FullName[ga]=Cur Teachtaireachtaí Meandaracha Empathy
X-GNOME-FullName[gl]=Mensaxaría instantánea Empathy
X-GNOME-FullName[gu]=Empathy ઇન્ટરનેટ મેસેજિંગ
X-GNOME-FullName[he]=‏Empathy מסרים מידיים
X-GNOME-FullName[hi]=एंपैथी इंटरनेट मैसेजिंग
X-GNOME-FullName[hu]=Empathy üzenetküldő
X-GNOME-FullName[id]=Perpesanan Internet Empathy
X-GNOME-FullName[it]=Messaggistica Internet Empathy
X-GNOME-FullName[ja]=Empathy インスタントメッセージング
X-GNOME-FullName[kn]=Empathy ಇಂಟರ್ನೆಟ್ ಮೆಸೇಜಿಂಗ್
X-GNOME-FullName[ko]=엠퍼시 인터넷 메신저
X-GNOME-FullName[lt]=Tikralaikių pokalbių programa Empathy
X-GNOME-FullName[lv]=Tūlītēja ziņojumapmaiņa
X-GNOME-FullName[mk]=Empathy - инстант пораки
X-GNOME-FullName[mr]=एम्पथि इंटरनेट मेसेजिंग
X-GNOME-FullName[my]=အမ်ပသီ အင်တာနက် ဆက်သွယ်ရေး
X-GNOME-FullName[nb]=Empathy internettmeldinger
X-GNOME-FullName[nl]=Empathy chatprogramma
X-GNOME-FullName[nn]=Empathy Internettprat
X-GNOME-FullName[or]=Empathy ଇଣ୍ଟରନେଟ ସନ୍ଦେଶ ପବାହ
X-GNOME-FullName[pa]=ਇੰਪੈਥੀ ਇੰਟਰਨੈੱਟ ਮੈੱਸਜ਼ਿੰਗ
X-GNOME-FullName[pl]=Komunikator Empathy
X-GNOME-FullName[pt]=Mensagens na Internet Empathy
X-GNOME-FullName[pt_BR]=Mensageiro Instantâneo Empathy
X-GNOME-FullName[ro]=Empathy – Mesagerie instant
X-GNOME-FullName[ru]=Программа обмена сообщениями Empathy
X-GNOME-FullName[sk]=Empathy - internetová komunikácia
X-GNOME-FullName[sl]=Empathy hipno sporočanje
X-GNOME-FullName[sr]=Дописивање преко Интернет писмоноше
X-GNOME-FullName[sr@latin]=Dopisivanje preko Internet pismonoše
X-GNOME-FullName[sv]=Meddelandeklienten Empathy
X-GNOME-FullName[ta]=எம்பதி இணைய செய்தியாளர் 
X-GNOME-FullName[te]=ఎంపతి అంతర్జాల సందేశకం
X-GNOME-FullName[th]=Empathy: โปรแกรมข้อความทันใจ
X-GNOME-FullName[tr]=Empathy İnternetten Mesajlaşma
X-GNOME-FullName[ug]=Empathy ئىنتېرنېت مۇڭداشقۇسى
X-GNOME-FullName[uk]=Обмін повідомленнями Empathy
X-GNOME-FullName[vi]=Trình gửi tin nhắn Empathy
X-GNOME-FullName[xh]=Umyalezo ka-Empathy kwi-inthanethi
X-GNOME-FullName[zh_CN]=Empathy 即时通讯程序
X-GNOME-FullName[zh_HK]=Empathy 互聯網通訊
X-GNOME-FullName[zh_TW]=Empathy 網際網路通訊
X-GNOME-FullName[zu]=Ukuthunyelwa komlayezo we-Empathy
Comment=Chat on Google Talk, Facebook, MSN and many other chat services
Comment[an]=Charra en Google Talk, Facebook, MSN, y muitos atros servicios de chat
Comment[ar]=دردش عبر جوجل توك وفيسبوك وMSN وغيرها من خدمات الدردشة
Comment[as]=Google Talk, Facebook, MSN আৰু বহুতো অন্য চেট সেৱাসমূহত চেট কৰক
Comment[ast]=Charrar en Google Talk, Facebook, MSN y munchos otros servicios de chat
Comment[be]=Чат у Google Talk, Facebook, MSN ды інш.
Comment[bg]=Разговори чрез Google Talk, Фейсбук, MSN и много други услуги за моментни съобщения
Comment[ca]=Conversa a través del Google Talk, el Facebook, el MSN i molts altres serveis de xat
Comment[ca@valencia]=Conversa a través del Google Talk, el Facebook, el MSN i molts altres serveis de xat
Comment[crh]=Google Qonuşma, Facebook, MSN ve çoq diger suhbet hızmeti üzerinde suhbet etiñiz
Comment[cs]=Diskutovat na serverech Google Talk, Facebook, MSN a mnoha dalších
Comment[da]=Chat via Google Talk, Facebook, MSN og mange andre tjenester
Comment[de]=Chat auf Google Talk, Facebook, MSN und vielen anderen Chat-Diensten
Comment[el]=Συζητήστε στα Google Talk, Facebook, MSN και σε πολλές άλλες υπηρεσίες συζητήσεων
Comment[en_CA]=Chat on Google Talk, Facebook, MSN and many other chat services
Comment[en_GB]=Chat on Google Talk, Facebook, MSN and many other chat services
Comment[eo]=Retbabilo per Google Talk, Vizaĝlibro, MSN kaj multaj aliaj servoj
Comment[es]=Chatee en Google Talk, Facebook, MSN y muchos otros servicios de chat
Comment[et]=Vestlus Google Talki, Facebooki, MSN-i ja paljude teiste vestlusteenuste kaudu
Comment[eu]=Egin berriketa Google Talk, Facebook, MSN eta berriketako beste hainbat zerbitzutan
Comment[fa]=گپ در گوگل تاک، فیس بوک، ام‌اس‌ان، و بسیاری سرویس‌های دیگر گپ
Comment[fi]=Keskustele käyttäen Google Talkia, Facebookia, MSN:ää ja monia muita palveluja
Comment[fr]=Discuter sur Google Talk, Facebook, MSN et beaucoup d'autres services
Comment[gl]=Converse en Google Talk, Facebook, MSN e moitos máis servizos de chat
Comment[gu]=Google Talk, Facebook, MSN અને ઘણી બીજી સંવાદ સેવાઓ પર વાર્તાલાપ
Comment[he]=ניתן לשוחח דרך Google Talk,‏ Facebook,‏ MSN ושירותי שיחה רבים נוספים
Comment[hi]=गूगल टॉक, फेसबुक, एमएसएन और कई अन्य चैट सेवा पर चैट करें
Comment[hu]=Csevegés Google Talk, Facebook, MSN és sok más szolgáltatáson
Comment[id]=Mengobrol pada Google Talk, Facebook, MSN, dan banyak layanan obrolan lain
Comment[it]=Conversa su Google Talk, Facebook, MSN e molti altri servizi di messaggistica
Comment[ja]=Googleトーク、Facebook、MSN や他の多くのチャットサービスでチャット
Comment[kn]=Google Talk, Facebook, MSN ಹಾಗು ಇತರೆ ಚಾಟ್‌ ಸೇವೆಗಳಲ್ಲಿ ಚಾಟ್ ಮಾಡಿ
Comment[ko]=구글 토크, 페이스북, MSN 및 기타 대화 서비스에서 대화
Comment[lt]=Plepėkite naudodamiesi Google Talk, Facebook, MSN ir kitomis pokalbių paslaugomis
Comment[lv]=Tērzē, izmantojot Google Talk, Facebook, MSN un daudzus citus tērzēšanas pakalpojumus
Comment[mk]=Разговарајте на Google Talk, Facebook, MSN и многу други сервиси
Comment[ml]=ഗൂഗിള്‍ ടാക്ക്, ഫേസ്ബുക്ക്, എംഎസ്എന്‍ തുടങ്ങി നിരവധി സല്ലാപ സേവനങ്ങളുപയോഗിച്ചു് സല്ലപിയ്ക്കുക
Comment[mr]=Google Talk, Facebook, MSN व इतर चॅट सर्व्हिसेसवर गप्पा करा
Comment[my]=Google Talk, Facebook, MSN နှင့် အခြား စကားဝိုင်းဆော့ဝဲများ သုံးပါ။
Comment[nb]=Prat på Google Talk, Facebook, MSN og mange andre pratetjenester
Comment[nl]=Chatten op Google Talk, Facebook, MSN en vele andere chatdiensten
Comment[or]=Google ବାର୍ତ୍ତାଳାପ, Facebook, MSN ଏବଂ ଅନ୍ୟାନ୍ୟ ବାର୍ତ୍ତାଳାପ ସର୍ଭିସଗୁଡ଼ିକରେ ବାର୍ତ୍ତାଳାପ କରନ୍ତୁ
Comment[pa]=ਗੂਗਲ ਟਾਕ, ਫੇਸਬੁੱਕ, MSN ਤੇ ਹੋਰ ਕਈ ਚੈੱਟ ਸਰਵਿਸਾਂ ਉੱਤੇ ਗੱਲਾਂ ਕਰੋ
Comment[pl]=Rozmawianie przez Google Talk, Facebook, MSN i wiele innych usług
Comment[pt]=Dialoge no Google Talk, Facebook, MSN e muitos outros serviços de diálogo
Comment[pt_BR]=Converse no Google Talk, Facebook, MSN e muitos outros serviços de bate-papo
Comment[ro]=Discută pe Google Talk, Facebook, Yahoo!, MSN sau multe alte servicii de mesagerie
Comment[ru]=Общайтесь в Google Talk, Facebook, MSN и во многих других службах
Comment[sk]=Komunikujte pomocou služieb Google Talk, Facebook, MSN a mnoho ďalších
Comment[sl]=Klepet na Google Talk, Facebook, MSN in na mnogih drugih klepetalnih storitvah.
Comment[sr]=Ћаскајте на Гугл разговору, Фејсбуку, МСН-у и на многим другим сервисима за ћаскање
Comment[sr@latin]=Ćaskajte na Gugl razgovoru, Fejsbuku, MSN-u i na mnogim drugim servisima za ćaskanje
Comment[sv]=Chatta på Google Talk, Facebook, MSN och många andra chattjänster
Comment[ta]=கூகுள் டாக், ஃபேஸ்புக், எம்எஸ்என், மற்றும் பல அரட்டை சேவைகளில் அரட்டை அடிக்க. 
Comment[te]=గూగుల్ టాక్, ఫేస్‌బుక్, MSN వంటి మరిన్ని ఇతర చాట్ సేవలలో సంభాషించండి
Comment[th]=สนทนาผ่าน Google Talk, Facebook, MSN และบริการสนทนาอื่นอีกมากมาย
Comment[tr]=Google Talk, Facebook, MSN ve daha birçok sohbet hizmeti üzerinden sohbet edin
Comment[ug]=Google Talk، Facebook، MSN ۋە باشقا سۆھبەت مۇلازىمەتلىرىنى ئىشلىتىپ پاراڭلىشىش
Comment[uk]=Балачки через Google Talk, Facebook, MSN та багато інших служб 
Comment[vi]=Trò chuyện qua Google Talk, Facebook, MSN và nhiều dịch vụ tương tự khác
Comment[xh]=Xa ngo-Google Talk, Facebook, MSN kunye nezinye ezininzi indawo zokuxoxa
Comment[zh_CN]=使用 Google Talk、Facebook、MSN 以及许多其它聊天服务
Comment[zh_HK]=使用 Google Talk、Facebook、MSN 與其他聊天服務和他人對話
Comment[zh_TW]=使用 Google Talk、Facebook、MSN 與其他聊天服務和他人對話
Comment[zu]=Xoxa ku-Google Talk, Facebook, MSN kanye nezinye izinsiza zokuxoxa
Exec=empathy
Icon=empathy
StartupNotify=false
Terminal=false
Type=Application
Categories=GNOME;GTK;Network;InstantMessaging;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=empathy
X-GNOME-Bugzilla-Component=General
X-GNOME-Bugzilla-Version=3.4.2
X-Desktop-File-Install-Version=0.19
