[Desktop Entry]
Name=Color Profile Viewer
Name[cs]=Prohlížeč profilů barev
Name[de]=Farbprofilbetrachter
Name[el]=Προβολή χρωματικών προφίλ
Name[en_GB]=Colour Profile Viewer
Name[es]=Visor de perfiles de color
Name[et]=Värviprofiilide näitaja
Name[fr]=Visionneur de profil de couleurs
Name[gl]=Visor de perfiles de cor
Name[he]=מציג פרופילי הצבע
Name[hu]=Színprofil-megjelenítő
Name[it]=Visualizzatore profili colore
Name[ja]=カラープロファイルビューワ
Name[ko]=색 프로파일 보기
Name[lt]=Spalvų profilio žiūryklė
Name[lv]=Krāsu profila skatītājs
Name[nb]=Visning av fargeprofil
Name[pa]=ਰੰਗ ਪਰੋਫਾਇਲ ਦਰਸ਼ਕ
Name[pl]=Podgląd profilu kolorów
Name[pt]=Visualizador de Perfis de Cor
Name[pt_BR]=Visualizador de perfil de cor
Name[ro]=Vizualizator profiluri de culoare
Name[ru]=Просмотрщик цветовых профилей
Name[sl]=Pregledovalnik barvnih profilov
Name[sr]=Прегледач профила боја
Name[sr@latin]=Pregledač profila boja
Name[sv]=Färgprofilvisare
Name[vi]=Trình xem hồ sơ màu
Name[zh_CN]=配置查看器
Name[zh_HK]=色彩描述檔檢視器
Name[zh_TW]=色彩描述檔檢視器
Comment=Inspect and compare installed color profiles
Comment[cs]=Prozkoumat a porovnat nainstalované profily barev
Comment[de]=Installierte Farbprofile überprüfen und vergleichen
Comment[el]=Επιθεώρηση και σύγκριση εγκατεστημένων προφίλ χρώματος
Comment[en_GB]=Inspect and compare installed colour profiles
Comment[es]=Inspeccionar y comparar perfiles de color instalados
Comment[et]=Paigaldatud värviprofiilide vaatamine ja võrdlemine
Comment[fr]=Examine et compare les profils de couleurs installés
Comment[gl]=Inspeccionar e comparar perfiles de cor instalados
Comment[he]=ניתוח והשוואה של פרופילי הצבע המתוקנים
Comment[hu]=Telepített színprofilok vizsgálata és összehasonlítása
Comment[it]=Esamina e compara i profili colore installati
Comment[ja]=インストールされたカラープロファイルの検査・比較
Comment[ko]=설치한 시스템 색 프로파일 점검 및 비교하기
Comment[lt]=Tikrinti ir lyginti įdiegtus spalvų profilius
Comment[lv]=Izpētīt un salīdzināt instalētos krāsu profilus
Comment[nb]=Inspiser og sammenligne installerte fargeprofiler
Comment[pa]=ਇੰਸਟਾਲ ਹੋਏ ਰੰਗ ਪਰੋਫਾਇਲ ਦੀ ਜਾਂਚ ਤੇ ਤੁਲਨਾ ਕਰੋ
Comment[pl]=Badanie i porównywanie zainstalowanych profilów kolorów
Comment[pt]=Inspeccionar e comparar os perfis de cor instalados
Comment[pt_BR]=Inspecionar e comparar perfis de cores instalados
Comment[ro]=Verifică și compară profilurile de culoare instalate
Comment[ru]=Исследование и сравнивание установленных цветовых профилей
Comment[sl]=Nadzor in primerjava nameščenih barvnih profilov
Comment[sr]=Провери и упореди инсталиране профиле боја
Comment[sr@latin]=Proveri i uporedi instalirane profile boja
Comment[sv]=Inspektera och jämför installerade färgprofiler
Comment[vi]=Xem và so sánh hồ sơ màu đã cài đặt
Comment[zh_HK]=檢查並比較已安裝的色彩描述檔
Comment[zh_TW]=檢查並比較已安裝的色彩描述檔
Icon=gnome-color-manager
Exec=gcm-viewer
Terminal=false
Type=Application
Categories=GNOME;GTK;System;
StartupNotify=true
NoDisplay=true
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-color-manager
X-GNOME-Bugzilla-Component=gnome-color-manager
