
[Desktop Entry]
Name=Color
Name[cs]=Barva
Name[de]=Farbe
Name[el]=Χρώμα
Name[en_GB]=Colour
Name[eo]=Koloro
Name[es]=Color
Name[et]=Värvus
Name[fr]=Couleur
Name[gl]=Cor
Name[he]=צבע
Name[hu]=Szín
Name[id]=Warna
Name[it]=Colore
Name[ja]=色
Name[ko]=색
Name[lt]=Spalva
Name[lv]=Krāsa
Name[ml]=നിറം
Name[nb]=Farge
Name[pa]=ਰੰਗ
Name[pl]=Kolor
Name[pt]=Cor
Name[pt_BR]=Cor
Name[ro]=Culoare
Name[ru]=Управление цветом
Name[sl]=Barva
Name[sr]=Боја
Name[sr@latin]=Boja
Name[sv]=Färg
Name[ta]=நிறம்
Name[ug]=رەڭ
Name[vi]=Màu
Name[zh_CN]=色彩
Name[zh_HK]=顏色
Name[zh_TW]=顏色
Comment=Color Calibration
Comment[cs]=Kalibrace barev
Comment[de]=Farbkalibrierung
Comment[es]=Calibración del color
Comment[fr]=Calibration de la couleur
Comment[gl]=Calibración de cor
Comment[ko]=색 보정
Comment[lt]=Spalvos kalibravimas
Comment[lv]=Krāsu kalibrēšana
Comment[nb]=Fargekalibrering
Comment[pl]=Kalibracja kolorów
Comment[pt]=Calibração de Cor
Comment[ru]=Цветовая калибровка устройств
Comment[sl]=Barvno umerjanje
Comment[sv]=Färgkalibrering
Comment[zh_CN]=颜色校准
Comment[zh_HK]=色彩校準
Comment[zh_TW]=色彩校準
Icon=gnome-color-manager
Exec=gcm-calibrate
Terminal=false
Type=Application
Categories=Settings;
StartupNotify=true
NoDisplay=true
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-color-manager
X-GNOME-Bugzilla-Component=gnome-color-manager
X-Desktop-File-Install-Version=0.19
