
[Desktop Entry]
Name=Background
Name[af]=Agtergrond
Name[ar]=الخلفية
Name[as]=পটভূমি
Name[ast]=Fondu de pantalla
Name[be]=Абрус
Name[be@latin]=Fon
Name[bg]=Фон
Name[bn]=পটভূমি
Name[bn_IN]=পটভূমি
Name[br]=Drekleur
Name[ca]=Fons
Name[ca@valencia]=Fons
Name[crh]=Arqazemin
Name[cs]=Pozadí
Name[da]=Baggrund
Name[de]=Hintergrund
Name[dz]=རྒྱབ་གཞི་
Name[el]=Παρασκήνιο
Name[en@shaw]=𐑚𐑨𐑒𐑜𐑮𐑬𐑯𐑛
Name[en_GB]=Background
Name[eo]=Fono
Name[es]=Fondo
Name[et]=Taust
Name[eu]=Atzeko planoa
Name[fa]=پس‌زمینه
Name[fi]=Taustakuva
Name[fr]=Arrière-plan
Name[ga]=Cúlra
Name[gl]=Fondo
Name[gu]=પાશ્વ ભાગ
Name[he]=רקע
Name[hi]=पृष्ठभूमि
Name[hr]=Pozadina
Name[hu]=Háttér
Name[id]=Latar Belakang
Name[it]=Sfondo
Name[ja]=背景
Name[ka]=ფონი
Name[kk]=Фон
Name[kn]=ಹಿನ್ನಲೆ ಚಿತ್ರ
Name[ko]=배경
Name[ku]=Rûerd
Name[lt]=Fonas
Name[lv]=Fons
Name[mai]=पृष्ठभूमि
Name[mk]=Позадина
Name[ml]=പശ്ചാത്തലം
Name[mr]=पार्श्वभूमी
Name[ms]=Latar Belakang
Name[my]=နောက်ခံပုံ
Name[nb]=Bakgrunn
Name[nds]=Achtergrund
Name[ne]=पृष्ठभूमि
Name[nl]=Achtergrond
Name[nn]=Bakgrunn
Name[oc]=Fons
Name[or]=ପ୍ରୁଷ୍ଠଭୂମି
Name[pa]=ਬੈਕਗਰਾਊਂਡ
Name[pl]=Tło
Name[pt]=Fundo
Name[pt_BR]=Plano de fundo
Name[ro]=Fundal
Name[ru]=Фон
Name[si]=පසුබිම
Name[sk]=Pozadie
Name[sl]=Ozadje
Name[sq]=Sfondi
Name[sr]=Позадина
Name[sr@latin]=Pozadina
Name[sv]=Bakgrund
Name[ta]=பின்னணி
Name[te]=నేపథ్యం
Name[th]=พื้นหลัง
Name[tr]=Arkaplan
Name[ug]=تەگلىك
Name[uk]=Тло
Name[uz]=Orqa fon
Name[uz@cyrillic]=Орқа фон
Name[vi]=Ảnh nền
Name[zh_CN]=背景
Name[zh_HK]=背景
Name[zh_TW]=背景
Comment=Change the background
Comment[af]=Verander die agtergrond instellings
Comment[ar]=غيّر الخلفية
Comment[as]=পটভূমী পৰিৱৰ্তন কৰক
Comment[ast]=Cambia'l fondu
Comment[be]=Змяніць абрус
Comment[bg]=Промяна на фона
Comment[bn]=পটভূমির ছবি সংরক্ষণ
Comment[ca]=Canvia la imatge de fons
Comment[ca@valencia]=Canvia la imatge de fons
Comment[crh]=Arqazeminni deñiştir
Comment[cs]=Změnit pozadí
Comment[da]=Skift baggrund
Comment[de]=Den Hintergrund ändern
Comment[el]=Αλλαγή παρασκηνίου
Comment[en_GB]=Change the background
Comment[eo]=Ŝanĝi la fonon
Comment[es]=Cambiar el fondo
Comment[et]=Taustapildi vahetamine
Comment[eu]=Aldatu atzeko planoa
Comment[fa]=تعویض تصویر پس‌زمینه
Comment[fi]=Vaihda taustakuvaa
Comment[fr]=Modifier l'arrière-plan
Comment[ga]=Athraigh an cúlra
Comment[gl]=Cambiar o fondo
Comment[gu]=પાશ્વભાગને બદલો
Comment[he]=שינוי הרקע
Comment[hi]=पृष्ठभूमि बदलें
Comment[hu]=Háttér megváltoztatása
Comment[id]=Ubah latar belakang
Comment[it]=Cambia lo sfondo
Comment[ja]=背景を変更する
Comment[kn]=ಹಿನ್ನಲೆ ಚಿತ್ರವನ್ನು ಬದಲಾಯಿಸಿ
Comment[ko]=배경 바꾸기
Comment[ku]=Rûerdî biguherîne
Comment[lt]=Pakeisti foną
Comment[lv]=Mainīt fonu
Comment[mk]=Смени ја позадината
Comment[ml]=പശ്ചാത്തലം മാറ്റുക
Comment[mr]=पार्श्वभूमी बदला
Comment[nb]=Endre bakgrunnen
Comment[nl]=Achtergrond wijzigen
Comment[nn]=Endra bakgrunnen
Comment[or]=ପୃଷ୍ଠଭୂମିକୁ ପରିବର୍ତ୍ତନ କରନ୍ତୁ
Comment[pa]=ਬੈਕਗਰਾਊਂਡ ਬਦਲੋ
Comment[pl]=Zmiana tła
Comment[pt]=Alterar o fundo
Comment[pt_BR]=Alterar o plano de fundo
Comment[ro]=Schimbă fundalul
Comment[ru]=Изменить фон
Comment[sk]=Zmeniť pozadie
Comment[sl]=Spremeni ozadje
Comment[sr]=Промените позадину
Comment[sr@latin]=Promenite pozadinu
Comment[sv]=Ändra bakgrunden
Comment[ta]=பின்னணி படத்தை மாற்று
Comment[te]=నేపథ్యమును మార్చు
Comment[th]=เปลี่ยนพื้นหลังของพื้นโต๊ะ
Comment[tr]=Arkaplanı değiştir
Comment[ug]=تەگلىكنى ئۆزگەرتىدۇ
Comment[uk]=Змінити тло
Comment[vi]=Đổi nền
Comment[zh_CN]=更改背景图像
Comment[zh_HK]=更改背景
Comment[zh_TW]=更改背景
Exec=gnome-control-center background
Icon=preferences-desktop-wallpaper
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Settings;DesktopSettings;X-GNOME-Settings-Panel;X-GNOME-PersonalSettings;
OnlyShowIn=GNOME;Unity;
X-GNOME-Settings-Panel=background
# Translators: those are keywords for the background control-center panel
Keywords=Wallpaper;Screen;Desktop;
Keywords[af]=Wallpaper;Screen;Desktop;agtergrond;werkskerm;muurpapier;
Keywords[ar]=خلفية;شاشة;سطح المكتب;
Keywords[as]=ৱালপেপাৰ;পৰ্দা;ডেস্কটপ;
Keywords[ast]=Fondu d'escritoriu;Pantalla;Escritoriu;
Keywords[be]=Абрус;Экран;Стол;
Keywords[bg]=Фон;Екран;Работен плот;
Keywords[bn]=ওয়ালপেপার;স্ক্রীন;ডেস্কটপ;
Keywords[ca]=Fons de pantalla;Pantalla;Escriptori;
Keywords[ca@valencia]=Fons de pantalla;Pantalla;Escriptori;
Keywords[crh]=Divar kâğıtı;Ekran;Masaüstü;
Keywords[cs]=tapeta;obrazovka;plocha;
Keywords[da]=Skrivebordsbaggrund;Skærm;Skrivebord;
Keywords[de]=Hintergrundbild;Bildschirm;Arbeitsfläche;
Keywords[el]=Ταπετσαρία;Οθόνη;Επιφάνεια εργασίας;
Keywords[en_GB]=Wallpaper;Screen;Desktop;
Keywords[eo]=Ekranfono;Ekrano;Labortablo;
Keywords[es]=Fondo de pantalla;Pantalla;Escritorio;
Keywords[et]=Taustapilt;Tapeet;Ekraan;Töölaud;
Keywords[eu]=Horma-papera;Pantaila;Mahaigaina;
Keywords[fa]=پس‌زمینه;صفحه‌نمایش;رومیزی;
Keywords[fi]=Taustakuva;Näyttö;Työpöytä;
Keywords[fr]=Papier peint;Écran;Bureau;
Keywords[ga]=Cúlbhrat;Scáileán;Deasc;
Keywords[gl]=Fondo de pantalla;Pantalla;Escritorio;
Keywords[gu]=વોલપેપર;સ્ક્રીન;ડેસ્કટોપ;
Keywords[he]=רקע;תמונת רקע;צג;מסך;
Keywords[hi]=वॉलपेपर; स्क्रीन; डेस्कटॉप;
Keywords[hu]=Háttérkép;Képernyő;Asztal;
Keywords[id]=Gambar latar;Layar;Desktop;
Keywords[it]=Rivestimento;Sfondo;Scrivania;Desktop;Wallpaper;
Keywords[ja]=Wallpaper;Screen;Desktop;壁紙;スクリーン;デスクトップ;
Keywords[kn]=ವಾಲ್‌ಪೇಪರ್;ತೆರೆ;ಗಣಕತೆರೆ;
Keywords[ko]=Wallpaper;배경 그림;Screen;화면;Desktop;바탕 화면;
Keywords[ku]=Kaxiza dîwar;Dîmender;Sermasê;
Keywords[lt]=Fonas;Ekranas;Darbastalis;
Keywords[lv]=Tapete;Ekrāns;Darbvirsma;
Keywords[mk]=Позадини;Екран;Работна површина;
Keywords[ml]=ചുമര്‍ചിത്രം;സ്ക്രീന്‍;പണിയിടം;
Keywords[mr]=वॉलपेपर;स्क्रीन;डेस्कटॉप;
Keywords[nb]=Bakgrunn;Skjerm;Skrivebord;
Keywords[nl]=Wallpaper;Screen;Desktop;Achtergrond;Scherm;Bureaublad;
Keywords[or]=ୱାଲପେପର;ପରଦା;ଡେସ୍କଟପ;
Keywords[pa]=ਵਾਲਪੇਪਰ;ਸਕਰੀਨ;ਡੈਸਕਟਾਪ;Wallpaper;Screen;Desktop;
Keywords[pl]=Tapeta;Ekran;Pulpit;
Keywords[pt]=Papel de Parede;Ecrã;Área de Trabalho;
Keywords[pt_BR]=Papel de Parede;Tela;Área de Trabalho;
Keywords[ro]=Wallpaper;Screen;Fundal;Ecran;Desktop;Monitor;Imagine;
Keywords[ru]=Обои;Экран;Рабочий;
Keywords[sk]=Tapeta;Obrazovka;Plocha;
Keywords[sl]=Slika ozadja;Zaslon;Namizje;
Keywords[sr]=Позадина;Екран;Радна површ;
Keywords[sr@latin]=Pozadina;Ekran;Radna površ;
Keywords[sv]=Skrivbordsbakgrund;Skärm;Skrivbord;
Keywords[ta]=சுவர்-காகிதங்கள் ;திரை;மேல்மேசை;
Keywords[te]=నేపథ్యచిత్రం;తెర;డెస్క్​టాప్;
Keywords[th]=ภาพพื้นหลัง;หน้าจอ;พื้นโต๊ะ;
Keywords[tr]=Duvar kağıdı;Ekran;Masaüstü;
Keywords[ug]=تام قەغىزى;ئېكران;ئۈستەلئۈستى;
Keywords[uk]=Шпалери;Екран;Стільниця;
Keywords[vi]=Wallpaper;Ảnh;nền;Screen;Màn;hình;Desktop;
Keywords[zh_CN]=Wallpaper;Screen;Desktop;壁纸;墙纸;屏幕;桌面;背景;
Keywords[zh_HK]=Wallpaper;Screen;Desktop;桌布;螢幕;桌面;
Keywords[zh_TW]=Wallpaper;Screen;Desktop;桌布;螢幕;桌面;
X-Desktop-File-Install-Version=0.19
