
[Desktop Entry]
Name=Keyboard Shortcuts
Name[af]=Sleutelbordkortpaaie
Name[am]=የፊደል ሠሌዳው አቋራጭ
Name[ar]=اختصارات لوحة المفاتيح
Name[as]=চাবিৰ ফলকৰ চৰ্টকাট
Name[ast]=Atayos del Tecláu
Name[az]=Klaviatura Qısa Yolları
Name[be]=Хуткія клявішы клявіятуры
Name[be@latin]=Klavijaturnyja skaroty
Name[bg]=Клавишни комбинации
Name[bn]=কি-বোর্ড শর্টকাট
Name[bn_IN]=কি-বোর্ড শর্টকাট
Name[br]=Berradenn klavier
Name[bs]=Kratice tastature
Name[ca]=Dreceres de teclat
Name[ca@valencia]=Dreceres de teclat
Name[crh]=Klavye Kısayolları
Name[cs]=Klávesové zkratky
Name[cy]=Llwybrau byr y Bysellfwrdd
Name[da]=Tastaturgenveje
Name[de]=Tastenkombinationen
Name[dz]=ལྡེ་སྒྲོམ་གྱི་མགྱོགས་ཐབས།
Name[el]=Συντομεύσεις πληκτρολογίου
Name[en_CA]=Keyboard Shortcuts
Name[en_GB]=Keyboard Shortcuts
Name[es]=Combinaciones de teclas
Name[et]=Kiirklahvid
Name[eu]=Laster-teklak
Name[fa]=میان‌برهای صفحه‌کلید
Name[fi]=Pikanäppäimet
Name[fr]=Raccourcis clavier
Name[ga]=Aicearraí Méarchláir
Name[gl]=Atallo de teclado
Name[gu]=કીબોર્ડ ટૂંકાણો
Name[he]=קיצורי מקלדת
Name[hi]=कुंजीपटल शार्टकट
Name[hr]=Kratice tipkovnice
Name[hu]=Gyorsbillentyűk
Name[is]=Flýtilyklar
Name[it]=Scorciatoie da tastiera
Name[ja]=キーボード・ショートカット
Name[ka]=სხარტი კლავიშები
Name[kn]=ಕೀಲಿಮಣೆ ಶಾರ್ಟ್-ಕಟ್‍ಗಳು
Name[ko]=키보드 바로 가기
Name[ku]=Kurteriyên Klavyeyê
Name[lt]=Klavišų susiejimai
Name[lv]=Tastatūras saīsnes
Name[mai]=कुंजीपटल शार्टकट
Name[mg]=Hintsin-dàlan'ny kitendry
Name[mk]=Кратенки за тастатурата
Name[ml]=കീബോര്‍ഡ് എളുപ്പവഴിികള്‍ 
Name[mn]=Гарын шорткат
Name[mr]=कळफलक शॉर्टकट
Name[ms]=Pintasan Papan Kekunci
Name[nb]=Tastatursnarveier
Name[ne]=कुञ्जीपाटी सर्टकट
Name[nl]=Sneltoetsen
Name[nn]=Snøggtastar
Name[nso]=Dikgaoletšo tša Boroto ya Dinotlelo
Name[oc]=Acorchis de clavièr
Name[or]=କିବୋର୍ଡ ସର୍ଟକଟଗୁଡିକ
Name[pa]=ਕੀ-ਬੋਰਡ ਸ਼ਾਰਟਕੱਟ
Name[pl]=Skróty klawiszowe
Name[pt]=Atalhos de Teclado
Name[pt_BR]=Atalhos de teclado
Name[ro]=Scurtături tastatură
Name[ru]=Комбинации клавиш клавиатуры
Name[si]=යතුරු පුවරු කෙටි මාර්‍ඟ
Name[sk]=Klávesové skratky
Name[sl]=Tipkovne bližnjice
Name[sq]=Kombinime përshpejtuese nga tastiera
Name[sr]=Пречице на тастатури
Name[sr@latin]=Prečice na tastaturi
Name[sv]=Tangentbordsgenvägar
Name[ta]=விசைப்பலகை குறுக்கு வழிகள்
Name[te]=కీబోర్డు లఘువులు
Name[th]=ปุ่มลัด
Name[tr]=Klavye Kısayolları
Name[uk]=Комбінації клавіш
Name[uz]=Klaviatura tugmalar birikmasi:
Name[uz@cyrillic]=Клавиатура тугмалар бирикмаси:
Name[vi]=Phím tắt
Name[wa]=Rascourtis del taprece
Name[xh]=Iindlela eziNqumlayo ze-Keyboard
Name[zh_CN]=键盘快捷键
Name[zh_HK]=鍵盤捷徑鍵
Name[zh_TW]=鍵盤捷徑鍵
Name[zu]=Izinqamulo zendawo yokushaya uma ubhala
Comment=Assign shortcut keys to commands
Comment[af]=Wys kortpadsleutel toe aan opdragte
Comment[ar]=اربط مفاتيح اختصار بأوامر
Comment[as]=বিভিন্ন আদেশৰ বাবে চৰ্টকাট নিৰ্ধাৰণ কৰক
Comment[ast]=Asigne una combinación de tecles a comandos
Comment[az]=Əmrlərə qısa yol düymələri tə'yin edin
Comment[be]=Прызначыць загадам хуткія клявішы
Comment[be@latin]=Pryviažy klavijaturnyja skaroty da zahadaŭ
Comment[bg]=Поставяне на клавишни комбинации за команди
Comment[bn]=বিভিন্ন কমান্ডের জন্য শর্টকাট নির্ধারণ করুন
Comment[bn_IN]=বিভিন্ন কমান্ডের জন্য শর্ট-কাট নির্ধারণ করুন
Comment[bs]=Dodijeli kratice naredbama
Comment[ca]=Assigna dreceres a ordres
Comment[ca@valencia]=Assigna dreceres a ordes
Comment[crh]=Komutlara kısayol ata
Comment[cs]=Přiřadí klávesové zkratky k příkazům
Comment[cy]=_Neilltuo bysell byrlwybr â gorchmynion
Comment[da]=Tildel genvejstaster til kommandoer
Comment[de]=Befehlen eine Tastenkombination zuweisen
Comment[dz]=བརྡ་བཀོད་ཚུ་ལུ་ མགྱོགས་ཐབས་ལྡེ་མིག་ འགན་སྤྲོད་འབད།
Comment[el]=Ορισμός πλήκτρων συντόμευσης σε εντολές
Comment[en_CA]=Assign shortcut keys to commands
Comment[en_GB]=Assign shortcut keys to commands
Comment[es]=Asigne una combinación de teclas a comandos
Comment[et]=Käskudele kiirklahvide seadmine
Comment[eu]=Esleitu laster-teklak komandoei
Comment[fa]=انتساب کلید میان‌بر به فرمان‌ها
Comment[fi]=Liitä pikanäppäimiä komentoihin
Comment[fr]=Assigner des raccourcis clavier aux commandes
Comment[ga]=Sann eochracha aicearra ar orduithe
Comment[gl]=Asignar atallos de teclado a ordes
Comment[gu]=આદેશો માટે ટુંકાણ કી સુયોજીત કરો
Comment[he]=שייך מקשי קיצור לפקודות
Comment[hi]=कमांड हेतु शार्टकट कुंजियाँ नियत करें
Comment[hr]=Pridruživanje kratica tipaka naredbama
Comment[hu]=Gyorsbillentyűk parancsokhoz rendelése
Comment[is]=Tengja flýtilykla við skipanir
Comment[it]=Assegna dei tasti scorciatoia a dei comandi
Comment[ja]=コマンドにショートカット・キーを割り当てます
Comment[ka]=ბრძანებისთვის სხარტი კლავიშის მინიჭება
Comment[kn]=ಆಜ್ಞೆಗಳಿಗೆ ಶಾರ್ಟ್-ಕಟ್ ಕೀಲಿಗಳನ್ನು ನಿಯೋಜಿಸು
Comment[ko]=명령어에 단축 키를 지정합니다
Comment[ku]=Kurteriyan li fermanan tayîn bike
Comment[lt]=Priskirti sparčiuosius klavišus komandoms
Comment[lv]=Nozīmēt komandas saīsņu taustiņiem
Comment[mai]=कमाँड लेल शार्टकट कुँजीसभ नियत करू
Comment[mg]=Hamorona kitendry hitsin-dàlana ho ana baiko
Comment[mk]=Додели кратенки за команди
Comment[ml]=ആജ്ഞകള്‍ക്ക്  എളുപ്പകീകള്‍ നല്‍കുക
Comment[mn]=Тушаалуудад шорткат оноох
Comment[mr]=शॉर्टकट किज् आदेशांस लागू 
Comment[ms]=Umpuk kekunci pintasan pada arahan
Comment[nb]=Tilegn snarveitaster til kommandoer
Comment[ne]=आदेशहरूमा सर्टकट कुञ्जीहरू मानाङ्कन गर्नुहोस्
Comment[nl]=Sneltoetsen toewijzen aan opdrachten
Comment[nn]=Tileigna snøggtastar til kommandoar
Comment[nso]=Abela dinotlelo tša kgaoletšo go ditaelo
Comment[or]=ଆଦେଶଗୁଡିକୁ ସର୍ଟକଟ କିଗୁଡିକ ପ୍ରଦାନ କର
Comment[pa]=ਕਮਾਡਾਂ ਨੂੰ ਸ਼ਾਰਟਕੱਟ ਮੁਹੱਈਆ ਕਰੋ:
Comment[pl]=Powiązania skrótów klawiszowych z poleceniami
Comment[pt]=Associar atalhos de teclado a comandos
Comment[pt_BR]=Atribuir teclas de atalhos a comandos
Comment[ro]=Asociați combinații comenzilor des utilizate
Comment[ru]=Диалог назначения комбинаций клавиш командам
Comment[sk]=Priradiť klávesové skratky príkazom
Comment[sl]=Ukazom določi tipkovne bližnjice
Comment[sq]=Cakton pulsante përshpejtues komandave
Comment[sr]=Подесите тастере за покретање честих наредби
Comment[sr@latin]=Podesite tastere za pokretanje čestih naredbi
Comment[sv]=Associera snabbtangenter med kommandon
Comment[ta]=கட்டளைகளுக்கான குறுக்கு வழி விசைகளை ஒப்படை
Comment[te]=ఆదేశాలకు లఘువులను జతచేయుము
Comment[th]=ตั้งปุ่มลัดสำหรับเรียกใช้คำสั่งต่างๆ
Comment[tr]=Komutlara kısayol ata
Comment[uk]=Пов'язати комбінації клавіш з командами
Comment[uz]=Buyruqlarga tugmalar birikmasi tayinlash
Comment[uz@cyrillic]=Буйруқларга тугмалар бирикмаси тайинлаш
Comment[vi]=Gán phím tắt cho lệnh
Comment[xh]=Nikela amaqhosha endlela enqumlayo kwimiyalelo
Comment[zh_CN]=为命令指定快捷键
Comment[zh_HK]=為不同的指令分配捷徑鍵
Comment[zh_TW]=為不同的指令分配捷徑鍵
Comment[zu]=Nikela iinkinombho kwimilayezo
Exec=gnome-keybinding-properties
Icon=preferences-desktop-keyboard-shortcuts
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Settings;X-GNOME-PersonalSettings;
OnlyShowIn=GNOME;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-control-center
X-GNOME-Bugzilla-Component=Keybinding
X-GNOME-Bugzilla-Version=2.28.1
X-Desktop-File-Install-Version=0.15
