
[Desktop Entry]
Name=Appearance
Name[af]=Voorkoms
Name[ar]=المظهر
Name[as]=প্ৰদৰ্শন
Name[ast]=Aspeutu
Name[be@latin]=Vyhlad
Name[bg]=Външен вид
Name[bn]=উপস্থিতি
Name[bn_IN]=চেহারা
Name[br]=Neuz
Name[ca]=Aparença
Name[ca@valencia]=Aparença
Name[crh]=Görünüm
Name[cs]=Vzhled
Name[da]=Udseende
Name[de]=Erscheinungsbild
Name[dz]=འབྱུང་སྣང་
Name[el]=Εμφάνιση
Name[en_GB]=Appearance
Name[es]=Apariencia
Name[et]=Välimus
Name[eu]=Itxura
Name[fi]=Ulkoasu
Name[fr]=Apparence
Name[ga]=Cuma
Name[gl]=Aparencia
Name[gu]=દેખાવ
Name[he]=מראה
Name[hi]=रूप
Name[hr]=Izgled
Name[hu]=Megjelenés
Name[id]=Penampilan
Name[it]=Aspetto
Name[ja]=外観の設定
Name[ka]=გარემოს იერსახე
Name[kn]=ಗೋಚರಿಕೆ
Name[ko]=모양새
Name[lt]=Išvaizda
Name[lv]=Izskats
Name[mai]=प्रकटन
Name[mk]=Изглед
Name[ml]=ചമയം
Name[mr]=दर्शन
Name[nb]=Utseende
Name[ne]=देखावट
Name[nl]=Uiterlijk
Name[nn]=Utsjåande
Name[oc]=Aparéncia
Name[or]=ସାଦ୍ରୁଶ୍ଯ
Name[pa]=ਦਿੱਖ
Name[pl]=Wygląd
Name[pt]=Aparência
Name[pt_BR]=Aparência
Name[ro]=Aspect
Name[ru]=Внешний вид
Name[sk]=Vzhľad
Name[sl]=Videz
Name[sq]=Paraqitja
Name[sr]=Изглед
Name[sr@latin]=Izgled
Name[sv]=Utseende
Name[ta]=தோற்றம்
Name[te]=ఆకారం
Name[th]=รูปโฉม
Name[tr]=Görünüm
Name[uk]=Зовнішній вигляд
Name[uz]=Tashqi koʻrinishi
Name[uz@cyrillic]=Ташқи кўриниши
Name[vi]=Diện mạo
Name[zh_CN]=外观
Name[zh_HK]=外觀
Name[zh_TW]=外觀
Comment=Customize the look of the desktop
Comment[af]=Pasmaak die voorkoms van die werkarea
Comment[ar]=خصّص مظهر سطح المكتب
Comment[as]=ডেস্কট'পৰ প্ৰদৰ্শনৰ পছন্দ নিৰ্ধাৰণ কৰক
Comment[ast]=Personalice l'aspeutu del escritoriu
Comment[be@latin]=Źmiani vyhlad stała
Comment[bg]=Настройване на външния вид на работния плот
Comment[bn]=ডেস্কটপের চেহারা পছন্দ অনুসারে নির্ধারণ করুন
Comment[bn_IN]=ডেস্কটপের চেহারা পছন্দ অনুসারে নির্ধারণ করুন
Comment[br]=Personelaat an dres ar burev
Comment[ca]=Personalitzeu l'aparença de l'escriptori
Comment[ca@valencia]=Personalitzeu l'aparença de l'escriptori
Comment[crh]=Masaüstü görünümünü özelleştir
Comment[cs]=Upravit vzhled pracovního prostředí
Comment[da]=Tilpas skrivebordets udseende
Comment[de]=Aussehen der Arbeitsfläche anpassen
Comment[dz]=ཌེཀསི་ཊོཔ་གི་མཐོང་སྣང་སྲོལ་སྒྲིག་འབད
Comment[el]=Προσαρμόστε την εμφάνιση της επιφάνειας εργασίας σας
Comment[en_GB]=Customise the look of the desktop
Comment[es]=Personalice la apariencia del escritorio
Comment[et]=Töölaua välimuse kohandamine
Comment[eu]=Pertsonalizatu mahaigainaren itxura
Comment[fi]=Muuta työpöydän ulkoasua
Comment[fr]=Personnaliser l'apparence du bureau
Comment[ga]=Saincheap cuma na deisce
Comment[gl]=Personalizar a aparencia do escritorio
Comment[gu]=ડેસ્કટોપનો દેખાવ વૈવિધ્યપૂર્ણ બનાવો
Comment[he]=התאמה אישית של המראה של שולחן העבודה
Comment[hi]=डेस्कटॉप रूप पंसदीदा करें
Comment[hu]=Az asztal megjelenésének testreszabása
Comment[id]=Kostumisasi tampilan desktop
Comment[it]=Personalizza l'aspetto dell'ambiente grafico
Comment[ja]=デスクトップの見映えを設定します
Comment[ka]=სამუშაო მაგიდის ხედის გალამაზება
Comment[kn]=ಗಣಕತೆರೆಯನ್ನು ನೋಟವನ್ನು ಇಚ್ಛೆಗೆ ತಕ್ಕಂತೆ ಬದಲಾಯಿಸಿ
Comment[ko]=데스크탑의 모양새를 설정합니다
Comment[lt]=Keisti darbo aplinkos išvaizdą
Comment[lv]=Pielāgojiet darba vides izskatu
Comment[mk]=Прилагодете го изгледот на работната околина
Comment[ml]=പണിയിടത്തിനെ ഇഷ്ടപ്പെട്ട രീതിയിലാക്കുക
Comment[mr]=डेस्कटॉपचा दृश्य स्वपसंत करा
Comment[nb]=Tilpass utseende for skrivebordet
Comment[ne]=डेक्सटपको हेराइ अनुकुलन गर्नुहोस्
Comment[nl]=De achtergrond van het bureaublad instellen
Comment[nn]=Tilpass utsjåande for skrivebordet
Comment[or]=ଡେସ୍କଟପର ଦୃଶ୍ୟକୁ ଇଚ୍ଛାମୁତାବକ କରନ୍ତୁ
Comment[pa]=ਡੈਸਕਟਾਪ ਲਈ ਪਸੰਦੀਦਾ ਦਿੱਖ
Comment[pl]=Dostosowanie wyglądu środowiska
Comment[pt]=Personalizar a aparência do ambiente de trabalho
Comment[pt_BR]=Personalizar a aparência da área de trabalho
Comment[ro]=Personalizează aspectul spațiului de lucru
Comment[ru]=Настройте тему рабочего стола
Comment[sk]=Prispôsobiť vzhľad pracovného prostredia
Comment[sl]=Prilagajanje videza namizja
Comment[sq]=Personalizon paraqitjen e ambjentit grafik
Comment[sr]=Прилагодите изглед радне површи
Comment[sr@latin]=Prilagodite izgled radne površi
Comment[sv]=Anpassa utseendet för skrivbordet
Comment[ta]=கணிமேசைக்கான காட்சியை தனிப்பயனாக்குக
Comment[te]=డెస్కుటాప్ యొక్క రూపాన్ని మలుచుము
Comment[th]=ปรับแต่งรูปโฉมของพื้นโต๊ะ
Comment[tr]=Masaüstü görünümünü özelleştir
Comment[uk]=Налаштувати вигляд робочого столу
Comment[vi]=Tùy chỉnh màn hình nền
Comment[zh_CN]=自定义桌面外观
Comment[zh_HK]=自選桌面的外觀
Comment[zh_TW]=自訂桌面的外觀
Exec=gnome-appearance-properties %F
Icon=preferences-desktop-theme
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Settings;DesktopSettings;
OnlyShowIn=GNOME;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-control-center
X-GNOME-Bugzilla-Component=Appearance
X-GNOME-Bugzilla-Version=2.28.1
X-Desktop-File-Install-Version=0.15
