
[Desktop Entry]
Encoding=UTF-8
Name=Open Folder
Name[af]=Open gids
Name[ar]=افتح المجلّد
Name[as]=ফোল্ডাৰ খোলক
Name[ast]=Abrir carpeta
Name[be]=Адкрыць тэчку
Name[be@latin]=Adčyni kataloh
Name[bg]=Отваряне на папка
Name[bn]=ফোল্ডার খুলুন
Name[bn_IN]=ফোল্ডার খুলুন
Name[br]=Digeriñ an teuliad
Name[ca]=Obre la carpeta
Name[ca@valencia]=Obri la carpeta
Name[crh]=Cilbent Aç
Name[cs]=Otevřít složku
Name[da]=Åbn mappe
Name[de]=Ordner öffnen
Name[dz]=སྣོད་འཛིན་ཁ་ཕྱེ།
Name[el]=Άνοιγμα φακέλου
Name[en_CA]=Open Folder
Name[en_GB]=Open Folder
Name[eo]=Malfermu dosierujon
Name[es]=Abrir carpeta
Name[et]=Avatakse kataloog
Name[eu]=Ireki karpeta
Name[fi]=Avaa kansio
Name[fr]=Ouvrir le dossier
Name[fur]=Vierç cartele
Name[ga]=Oscail Fillteán
Name[gl]=Abrir cartafol
Name[gu]=ફોલ્ડર ખોલો
Name[he]=פתח תיקייה
Name[hi]=खुला फ़ोल्डर
Name[hr]=Otvori mapu
Name[hu]=Mappa megnyitása
Name[id]=Buka Folder
Name[io]=Apertez Dokumentuyo
Name[is]=Opna möppu
Name[it]=Apri cartella
Name[ja]=フォルダを開く
Name[ka]=დასტის გახსნა
Name[kn]=ಕಡತಕೋಶವನ್ನು ತೆರೆ
Name[ko]=폴더 열기
Name[ku]=Peldankê Veke
Name[lt]=Atverti aplanką
Name[lv]=Atvērt mapi
Name[mai]=फोल्डर खोलू
Name[mk]=Отвори датотека
Name[ml]=അറ തുറക്കുക 
Name[mr]=संचयीका उघडा
Name[nb]=Åpne mappe
Name[nds]=Verteeknis opmaken
Name[ne]=फोल्डर खोल्नुहोस्
Name[nl]=Map openen
Name[nn]=Opna mappe
Name[oc]=Dobrir un repertòri
Name[or]=ଫୋଲଡର ଖୋଲନ୍ତୁ
Name[pa]=ਫੋਲਡਰ ਖੋਲ੍ਹੋ
Name[pl]=Otwórz katalog
Name[ps]=پوښۍ پرانيستل
Name[pt]=Abrir Pasta
Name[pt_BR]=Abrir pasta
Name[ro]=Deschide dosar
Name[ru]=Открыть папку
Name[si]=බහලුම විවෘත කරන්න
Name[sk]=Otvoriť priečinok
Name[sl]=Odpri mapo
Name[sq]=Hap kartelën
Name[sr]=Отвори фасциклу
Name[sr@latin]=Otvori fasciklu
Name[sv]=Öppna mapp
Name[ta]=அடைவினை திற
Name[te]=సంచయాన్ని తెరువుము
Name[th]=เปิดโฟลเดอร์
Name[tr]=Klasör Aç
Name[uk]=Домашня тека
Name[uz]=Jildni ochish
Name[uz@cyrillic]=Жилдни очиш
Name[vi]=Mở thư mục
Name[zh_CN]=打开文件夹
Name[zh_HK]=開啟資料夾
Name[zh_TW]=開啟資料夾
TryExec=nautilus
Exec=nautilus --no-desktop %U
X-Gnome-Vfs-System=gio
NoDisplay=true
Terminal=false
Icon=folder-open
StartupNotify=true
Type=Application
MimeType=x-directory/gnome-default-handler;x-directory/normal;inode/directory;application/x-gnome-saved-search;
OnlyShowIn=GNOME;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=nautilus
X-GNOME-Bugzilla-Component=general
X-GNOME-Bugzilla-Version=2.28.4
X-Desktop-File-Install-Version=0.15
