
[Desktop Entry]
Name=Date and Time
Name[af]=Datum en tyd
Name[ar]=التاريخ والوقت
Name[as]=তাৰিখ আৰু সময়
Name[ast]=Data y hora
Name[be]=Дата і час
Name[bg]=Дата и час
Name[bn]=তারিখ ও সময়
Name[ca]=Data i hora
Name[ca@valencia]=Data i hora
Name[crh]=Tarih ve Saat
Name[cs]=Datum a čas
Name[da]=Dato og klokkeslæt
Name[de]=Datum und Zeit
Name[el]=Ημερομηνία και ώρα
Name[en_GB]=Date and Time
Name[eo]=Dato kaj horo
Name[es]=Fecha y hora
Name[et]=Kuupäev ja kellaaeg
Name[eu]=Data eta ordua
Name[fa]=تاریخ و زمان
Name[fi]=Päiväys ja aika
Name[fr]=Date et heure
Name[ga]=Dáta agus Am
Name[gl]=Data e hora
Name[gu]=તારીખ અને સમય
Name[he]=תאריך ושעה
Name[hi]=दिनांक व समय
Name[hu]=Dátum és idő
Name[id]=Tanggal dan Waktu
Name[it]=Data e ora
Name[ja]=日付と時刻
Name[kn]=ದಿನಾಂಕ ಹಾಗು ಸಮಯ
Name[ko]=날짜 및 시각
Name[ku]=Roj û dem
Name[lt]=Data ir laikas
Name[lv]=Datums un laiks
Name[mk]=Датум и време
Name[ml]=തീയതിയും സമയവും
Name[mr]=दिनांक व वेळ
Name[nb]=Dato og klokkeslett
Name[nl]=Datum en tijd
Name[or]=ତାରିଖ ଏବଂ ସମୟ
Name[pa]=ਮਿਤੀ ਤੇ ਸਮਾਂ
Name[pl]=Data i czas
Name[pt]=Data e Hora
Name[pt_BR]=Data e hora
Name[ro]=Data și ora
Name[ru]=Дата и время
Name[sk]=Dátum a čas
Name[sl]=Datum in čas
Name[sr]=Време и датум
Name[sr@latin]=Vreme i datum
Name[sv]=Datum och tid
Name[ta]=நாள் மற்றும் நேரம்
Name[te]=తేది మరియు సమయం
Name[th]=วันที่และเวลา
Name[tr]=Tarih ve Saat
Name[ug]=چېسلا ۋە ۋاقىت
Name[uk]=Дата й час
Name[vi]=Ngày giờ
Name[zh_CN]=日期和时间
Name[zh_HK]=日期與時刻
Name[zh_TW]=日期與時刻
Comment=Date and Time preferences panel
Comment[af]=Voorkeurepaneel vir datum en tyd
Comment[ar]=لوحة تفضيلات التاريخ والوقت
Comment[as]=তাৰিখ আৰু সময় পছন্দসমূহ পেনেল
Comment[ast]=Panel de preferencies de la data y hora
Comment[be]=Панэль настройкі даты і часу
Comment[bg]=Панел за настройки на дата и час
Comment[bn]=তারিখ ও সময় পছন্দ করার প্যানেল
Comment[ca]=Quadre de preferències de la data i l'hora
Comment[ca@valencia]=Quadre de preferències de la data i l'hora
Comment[crh]=Tarih ve Saat tercihleri paneli
Comment[cs]=Panel předvoleb data a času
Comment[da]=Indstillingspanel for dato og klokkeslæt
Comment[de]=Einstellungen für Datum und Zeit
Comment[el]=Πίνακας προτιμήσεων ημερομηνίας και ώρας
Comment[en_GB]=Date and Time preferences panel
Comment[eo]=Agordoj de la panelo pri dato kaj horo
Comment[es]=Panel de preferencias de la fecha y hora
Comment[et]=Kuupäeva ja kellaaja eelistuste paneel
Comment[eu]=Data eta orduaren hobespenen panela
Comment[fa]=ترجیحات تاریخ و زمان تابلو
Comment[fi]=Ajan ja päiväyksen asetuspaneeli
Comment[fr]=Volet des préférences pour la date et l'heure
Comment[gl]=Panel de preferencias da data e hora
Comment[gu]=તારીખ અને સમય પસંદગીઓ પેનલ
Comment[he]=לוח ניהול התאריך והשעה
Comment[hi]=दिनांक और समय वरीयताओं पैनल
Comment[hu]=Dátum és idő beállításai
Comment[hy]=Ամսաթիվը և Ժամանակի նախընտրությունների վահանակ
Comment[id]=Panel preferensi Tanggal dan Waktu
Comment[it]=Pannello di preferenze data e ora
Comment[ja]=日付と時刻の設定パネル
Comment[kn]=ದಿನಾಂಕ ಹಾಗು ಸಮಯದ ಆದ್ಯತೆಗಳ ಫಲಕ
Comment[ko]=날짜 및 시각 기본 설정 패널
Comment[ku]=Darikê vebijêrkên roj û demê
Comment[lt]=Datos ir laiko nustatymų skydelis
Comment[lv]=Datuma un laika iestatījumu panelis
Comment[mk]=Панел за преференци за датум и време
Comment[ml]=തീയതിയും സമയവും മുന്‍ഗണനാ പാനല്‍
Comment[mr]=दिनांक व वेळ पसंती पटल
Comment[nb]=Brukervalgpanel for dato og klokkeslett
Comment[nl]=Voorkeurenpaneel voor datum en tijd
Comment[nn]=Panel for innstillingar til dato og tid
Comment[or]=ତାରିଖ ଏବଂ ସମୟ ପସନ୍ଦ ପ୍ୟାନେଲ
Comment[pa]=ਮਿਤੀ ਤੇ ਸਮਾਂ ਪਸੰਦ ਪੈਨਲ
Comment[pl]=Panel preferencji daty i czasu
Comment[pt]=Painel de preferências de Data e Hora
Comment[pt_BR]=Preferências do painel de Data e Hora
Comment[ro]=Panoul de preferințe pentru dată și oră
Comment[ru]=Панель настройки даты и времени
Comment[sk]=Panel nastavení dátumu a času
Comment[sl]=Pult možnosti nastavitev datuma in časa
Comment[sr]=Панел поставки времена и датума
Comment[sr@latin]=Panel postavki vremena i datuma
Comment[sv]=Inställningspanel för datum och tid
Comment[ta]=நாள் நேரம் விருப்பங்கள் பலகம்
Comment[te]=తేది మరియు సమయం ప్రాధాన్యతల ప్యానల్
Comment[th]=แผงปรับแต่งวันที่และเวลา
Comment[tr]=Tarih ve Saat seçenekleri
Comment[ug]=چېسلا ۋە ۋاقىت مايىللىق تاختىسى
Comment[uk]=Панель налаштування дати і часу
Comment[vi]=Khung tuỳ thích ngày giờ
Comment[zh_CN]=日期和时间首选项面板
Comment[zh_HK]=日期和時刻偏好設定面板
Comment[zh_TW]=日期和時刻偏好設定面板
Exec=gnome-control-center datetime
Icon=preferences-system-time
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Settings;X-GNOME-SystemSettings;X-GNOME-Settings-Panel;
OnlyShowIn=GNOME;
X-GNOME-Settings-Panel=datetime
# Translators: those are keywords for the date and time control-center panel
Keywords=Clock;Timezone;Location;
Keywords[af]=Clock;Timezone;Location;horlosie;tydsone;ligging;
Keywords[ar]=ساعة;توقيت;منطقة زمنية;منطقة;
Keywords[as]=ঘড়ি;সময়অঞ্চল;অৱস্থান;
Keywords[ast]=Reló;Estaya horaria;Allugamientu;
Keywords[be]=Гадзіннік;Часавы пояс;Месцазнаходжанне;Месца;
Keywords[bg]=Часовник;Часови пояс;Местоположение;
Keywords[bn]=ঘড়ি;টাইম জোন;অবস্থান;
Keywords[ca]=Rellotge;Zona horària;Ubicació;
Keywords[ca@valencia]=Rellotge;Zona horària;Ubicació;
Keywords[crh]=Saat;Saat Tilimi;Qonum;
Keywords[cs]=hodiny;časové pásmo;umístění;
Keywords[da]=Ur;Tidszone;Sted;
Keywords[de]=Uhr;Zeitzone;Ort;
Keywords[el]=Ρολόι;Ζώνη ώρας;Τοποθεσία;
Keywords[en_GB]=Clock;Timezone;Location;
Keywords[eo]=Horo;Horzono;Loko;
Keywords[es]=Reloj;Zona horaria;Ubicación;
Keywords[et]=Kell;Ajavöönd;Asukoht;
Keywords[eu]=Erlojua;Ordu-zona;Kokalekua;
Keywords[fa]=سایت;منطقه‌ی زمانی;مکان;
Keywords[fi]=Kello;Aikavyöhyke;Sijainti;
Keywords[fr]=Horloge;Fuseau;Heure;Date;Emplacement;
Keywords[ga]=Clog;Crios Ama;Suíomh;
Keywords[gl]=Reloxo;Fuso horario;Localización;
Keywords[gu]=ઘડિયાળ;ટાઇમઝોન;સ્થાન;
Keywords[he]=שעון;אזור זמן;מיקום;
Keywords[hi]=घड़ी;समय क्षेत्र;स्थान;
Keywords[hu]=Óra;Időzóna;Hely;
Keywords[id]=Jam;Zona waktu;Lokasi;
Keywords[it]=Orologio;Tempo;Data;Fuso;Posizione;Orario;
Keywords[ja]=Clock;Timezone;Location;時計;日付;時刻;時間;日時;タイムゾーン;場所;
Keywords[kn]=ಗಡಿಯಾರ;ಕಾಲವಲಯ;ಸ್ಥಳ;
Keywords[ko]=Clock;시계;Timezone;시간대;Location;위치;
Keywords[ku]=Demjimêr;Herêma demê;Cih;
Keywords[lt]=Laikrodis;Laiko juosta;Vietovė;
Keywords[lv]=Pulkstenis;Laika josla;Vieta;
Keywords[mk]=Часовник;Временска зона;Локација;
Keywords[mr]=क्लॉक;टाइमझोन;ठिकाण;
Keywords[nb]=Klokke;Tidssone;Plassering;Adresse;
Keywords[nl]=Clock;Timezone;Location;Klok;Tijdzone;Locatie;
Keywords[nn]=Klokke;Tidssone;Stad;
Keywords[or]=ଘଡ଼ି;ସମୟ ମଣ୍ଡଳ;ଅବସ୍ଥାନ;
Keywords[pa]=ਘੜੀ;ਸਮਾਂ-ਖੇਤਰ;ਟਿਕਾਣਾ;
Keywords[pl]=Zegar;Strefa czasowa;Położenie;
Keywords[pt]=Relógio;Fuso-Horário;Localização;
Keywords[pt_BR]=Relógio;Fuso horário;Localização;
Keywords[ro]=Clock;Timezone;Location;Ceas;Fus orar;Locație;Ora;Data;Oră;Dată;
Keywords[ru]=Часы;Часовой;Местоположение;
Keywords[sk]=Hodiny;Časová zóna;Umiestnenie;
Keywords[sl]=Ura;Časovni pas;Mesto;
Keywords[sr]=Сат;Временска зона;Место;
Keywords[sr@latin]=Sat;Vremenska zona;Mesto;
Keywords[sv]=Klocka;Tidszon;Plats;
Keywords[ta]=கடிகாரம்;நேரமண்டலம்;இடம்;
Keywords[te]=గడియారం;సమయక్షేత్రం;ప్రదేశం;
Keywords[th]=นาฬิกา;เขตเวลา;ตำแหน่งที่ตั้ง;
Keywords[tr]=Saat;Saat Dilimi;Yer;
Keywords[ug]=سائەت;ۋاقىت رايونى;ئورۇن;
Keywords[uk]=Годинник;Пояс;Місцевість;
Keywords[vi]=Clock;Đồng;hồ;Timezone;Múi;giờ;Location;Vị;trí;
Keywords[zh_CN]=Clock;Timezone;Location;时钟;时区;位置;
Keywords[zh_HK]=Clock;Timezone;Location;時鐘;時區;位置;
Keywords[zh_TW]=Clock;Timezone;Location;時鐘;時區;位置;
X-Desktop-File-Install-Version=0.19
