
[Desktop Entry]
Encoding=UTF-8
Name=Network
Name[af]=Netwerk
Name[ar]=الشبكة
Name[as]=নেটৱৰ্ক
Name[ast]=Rede
Name[az]=Şəbəkə
Name[be]=Сетка
Name[be@latin]=Sietka
Name[bg]=Локална мрежа
Name[bn]=নেটওয়ার্ক
Name[bn_IN]=নেটওয়ার্ক
Name[br]=Rouedad
Name[bs]=Mreža
Name[ca]=Xarxa
Name[ca@valencia]=Xarxa
Name[crh]=Şebeke
Name[cs]=Síť
Name[cy]=Rhwydwaith
Name[da]=Netværk
Name[de]=Netzwerk
Name[dz]=ཡོངས་འབྲེལ།
Name[el]=Δίκτυο
Name[en_CA]=Network
Name[en_GB]=Network
Name[eo]=Reto
Name[es]=Red
Name[et]=Võrk
Name[eu]=Sarea
Name[fa]=شبکه
Name[fi]=Verkko
Name[fr]=Réseau
Name[fur]=Rêt
Name[ga]=Líonra
Name[gl]=Rede
Name[gu]=નેટવર્ક
Name[ha]=Mahaɗar Sadarwa
Name[he]=רשת
Name[hi]=नेटवर्क
Name[hr]=Mreža
Name[hu]=Hálózat
Name[hy]=Ցանց
Name[id]=Jaringan
Name[ig]=Ikukumgbasaozi
Name[io]=Reto
Name[is]=Netkerfi
Name[it]=Rete
Name[ja]=ネットワーク
Name[ka]=ქსელი
Name[kn]=ಜಾಲಬಂಧ
Name[ko]=네트워크
Name[ku]=Tor
Name[lt]=Tinklas
Name[lv]=Tīkls
Name[mai]=नेटवर्क
Name[mg]=Tambajotra
Name[mi]=Kōtuitui
Name[mk]=Мрежа
Name[ml]=നെറ്റ്‌വര്‍ക്ക്
Name[mn]=Сүлжээ
Name[mr]=नेटवर्क
Name[ms]=Rangkaian
Name[nb]=Nettverk
Name[nds]=Netwark
Name[ne]=सञ्जाल
Name[nl]=Netwerk
Name[nn]=Nettverk
Name[nso]=Neteweke
Name[oc]=Ret
Name[or]=ନେଟୱାର୍କ
Name[pa]=ਨੈੱਟਵਰਕ
Name[pl]=Sieć
Name[ps]=ځال
Name[pt]=Rede
Name[pt_BR]=Rede
Name[ro]=Rețea
Name[ru]=Сеть
Name[rw]=urusobe
Name[si]=ජාලය
Name[sk]=Sieť
Name[sl]=Omrežje
Name[sq]=Rrjeti
Name[sr]=Мрежа
Name[sr@ije]=Мрежа
Name[sr@latin]=Mreža
Name[sv]=Nätverk
Name[ta]=வலைப்பின்னல்
Name[te]=అల్లిక
Name[th]=เครือข่าย
Name[tk]=Şebeke
Name[tr]=Ağ
Name[uk]=Мережа
Name[uz]=Tarmoq
Name[uz@cyrillic]=Тармоқ
Name[vi]=Mạng
Name[xh]=Uthungelwano
Name[yo]=Alátagbà
Name[zh_CN]=网络
Name[zh_HK]=網絡
Name[zh_TW]=網路
Name[zu]=Ulwembu
Comment=Browse bookmarked and local network locations
Comment[ar]=تصفح مواقع الشبكة والمحلّية المعلّمة
Comment[as]=বুকমাৰ্ক আৰু স্থানীয় নেটৱৰ্ক অৱস্থান ব্ৰাউজ কৰা হ'ব
Comment[ast]=Agüeya los llugares llocales y remotos conseñaos
Comment[be]=Праглядзець месцы з лакальнай сеткі альбо з закладак
Comment[be@latin]=Prahlad zakładak i pałažeńniaŭ u lakalnaj sietcy
Comment[bg]=Преглед на локални или отметнати мрежови местоположения
Comment[bn]=বুকমার্ক ও স্থানীয় নেটওয়ার্ক অবস্থান ব্রাউজ করা হবে
Comment[bn_IN]=বুকমার্ক ও স্থানীয় নেটওয়ার্ক অবস্থান ব্রাউজ করা হবে
Comment[ca]=Navegueu adreces d'interès i ubicacions de xarxa locals
Comment[ca@valencia]=Navegueu adreces d'interés i ubicacions de xarxa locals
Comment[crh]=Yer-imli ve yerli şebeke qonumlarını kezin
Comment[cs]=Procházet založená a místní síťová umístění
Comment[da]=Gennemse bogmærkede og lokale netværkssteder
Comment[de]=Lesezeichen und lokale Netzwerke durchsuchen
Comment[dz]=དེབ་རྟགས་བཀལ་ཡོད་མི་དང་ ཉེ་གནས་ཡོངས་འབྲེལ་གནས་ཁོངས་ཚུ་ བརྡ་འཚོལ་འབད་
Comment[el]=Περιήγηση στους σελιδοδείκτες και το τοπικό δίκτυο
Comment[en_CA]=Browse bookmarked and local network locations
Comment[en_GB]=Browse bookmarked and local network locations
Comment[es]=Examina los lugares locales y remotos marcados
Comment[et]=Järjehoidjates või kohaliku võrgus asuvate asukohtade sirvimine
Comment[eu]=Arakatu laster-markatutako eta sare lokaleko kokalekuak
Comment[fi]=Selaa kirjanmerkittyjä ja paikallisia verkkosijainteja
Comment[fr]=Parcourir les emplacements mis en signets et du réseau local
Comment[fur]=Sgarfe tes posizions di rêt locâls e tai segnelibris
Comment[ga]=Brábhsáil suíomh líonra leabharmharcáilte agus logánta
Comment[gl]=Navegar nas localizacións de rede marcadas e locais
Comment[gu]=બુકમાર્ક થયેલ અને સ્થાનિક નેટવર્ક સ્થાનો ખોળો
Comment[he]=עיין במיקומים מסומנים או מיקומים ברשת
Comment[hi]=पुस्तकचिह्न व स्थानीय संजाल अवस्थिति ब्रॉउज करें
Comment[hu]=Könyvjelzős vagy helyi hálózati kapcsolatok tallózása
Comment[id]=Rambah marka buku dan lokasi jaringan lokal
Comment[is]=Flakka um bókamerktar og staðbundnar nettengingar
Comment[it]=Esplora le posizioni di rete locali e nei segnalibri
Comment[ja]=ブックマークの場所やローカルのネットワークの場所を参照します
Comment[ka]=ლოკალური და ქსელური მისამართების დათვალიერება
Comment[kn]=ಬುಕ್‍ಮಾರ್ಕ್ ಮಾಡಲಾದ ಹಾಗು ಸ್ಥಳೀಯ ಜಾಲಬಂಧ ಸ್ಥಳಗಳನ್ನು ವೀಕ್ಷಿಸು
Comment[ko]=책갈피와 로컬 네트워크를 찾아봅니다
Comment[lt]=Naršyti pažymėtas ir vietines tinklo vietas
Comment[lv]=Pārlūkot grāmatzīmēs saglabātās vai lokālā tīkla vietas
Comment[mai]=पुस्तकचिह्न आ स्थानीय सँजाल अवस्थिति ब्रॉउज करू 
Comment[mk]=Разгледај обележани и локални мрежни локации
Comment[ml]=അടയാളപ്പെടുത്തിയ വെബ് പേജുകളും ലോക്കല്‍ നെറ്റ്‌വര്‍ക്ക്​ സ്ഥാനങ്ങളും തിരയുക
Comment[mr]=संचार्ह ओळचिन्हे व स्थानिक नेटवर्क स्थळे
Comment[nb]=Bla gjennom nettverkslokasjoner i bokmerker og lokalt
Comment[ne]=पुस्तकचिनो लगाइएको र स्थानीय सञ्जाल स्थानहरू ब्राउज गर्नुहोस्
Comment[nl]=Bladeren door opgeslagen en lokale netwerklocaties
Comment[nn]=Bla gjennom nettverkslokasjonar i bokmerke og lokalt
Comment[oc]=Explorar los emplaçaments dins los favorits e la ret locala
Comment[or]=ପୁସ୍ତକ ଚିହ୍ନିତ ଏବଂ ସ୍ଥାନୀୟ ନେଟୱାର୍କ ଅବସ୍ଥାନ ମାନଙ୍କୁ ବ୍ରାଉଜ କରନ୍ତୁ
Comment[pa]=ਬੁੱਕਮਾਰਕ ਕੀਤੇ ਅਤੇ ਲੋਕਲ ਨੈੱਟਵਰਕ ਟਿਕਾਣੇ ਖੋਲ੍ਹੋ
Comment[pl]=Przeglądanie zakładek i położeń w sieci lokalnej
Comment[pt]=Navegar em localizações marcadas ou na rede local
Comment[pt_BR]=Navegue em localizações de rede local e marcadas
Comment[ro]=Navighează prin locațiile favorite sau din rețeaua locală
Comment[ru]=Просмотреть закладки и локальные сетевые адреса
Comment[si]=පිටු සළකුණු කළ සහ ප්‍රදේශිය ජාල පිහිටීම් ගවේශනය කරන්න
Comment[sk]=Prehliadať záložky a miesta v lokálnej sieti
Comment[sl]=Brskanje med mesti lokalnega omrežja
Comment[sq]=Shfleton pozicionet e rrjetit lokal dhe në libërshënues
Comment[sr]=Разгледа раније обележена и локална мрежна места
Comment[sr@latin]=Razgleda ranije obeležena i lokalna mrežna mesta
Comment[sv]=Bläddra bland bokmärkta och lokala nätverksplatser
Comment[ta]=புத்தக குறிப்பு செய்த மற்றும் உள்ளமை இடங்களை உலாவுக
Comment[te]=బుక్‌మార్కుడ్ మరియు స్థానిక నెట్వర్కు స్థానముల కొరకు అన్వేషించు
Comment[th]=ท่องดูตำแหน่งเครือข่ายที่คั่นหน้าไว้ และตำแหน่งต่างๆ ในเครือข่ายเฉพาะที่
Comment[tr]=Yer imi oluşturulmuş ve yerel ağ konumlarını göz at
Comment[uk]=Переглянути локальні та мережні адреси
Comment[vi]=Duyệt các địa điểm mạng cục bộ và các địa điểm có liên kết đã lưu
Comment[zh_CN]=浏览书签和局域网中的位置
Comment[zh_HK]=瀏覽已記錄及本地網絡的位置
Comment[zh_TW]=瀏覽已記錄及本地網路的位置
TryExec=nautilus
Exec=nautilus --no-desktop network:
X-Gnome-Vfs-System=gio
Terminal=false
StartupNotify=true
Type=Application
Icon=network-workgroup
Categories=Core;
OnlyShowIn=GNOME;
X-Desktop-File-Install-Version=0.15
