
[Desktop Entry]
Name=Desktop Sharing
Name[ar]=مشاركة سطح المكتب
Name[as]=ডেস্কটপ অংশীদাৰী
Name[be]=Супольны доступ да стала
Name[bg]=Споделяне на работното място
Name[ca]=Compartició de l'escriptori
Name[ca@valencia]=Compartició de l'escriptori
Name[cs]=Sdílení pracovní plochy
Name[da]=Deling af skrivebord
Name[de]=Freigabe der Arbeitsfläche
Name[en_GB]=Desktop Sharing
Name[eo]=Labortablo-komunigo
Name[es]=Compartición del escritorio
Name[et]=Töölaua jagamine
Name[eu]=Mahaigaina partekatzea
Name[fa]=به‌اشتراک‌گذاری رومیزی
Name[fi]=Työpöydän jako
Name[fr]=Partage de bureau
Name[gl]=Compartición do escritorio
Name[gu]=ડેસ્કટોપ વહેંચણી
Name[he]=שיתוף שולחן העבודה
Name[hi]=डेस्कटॉप साझेदारी
Name[hu]=Asztal megosztása
Name[id]=Berbagi Desktop
Name[it]=Condivisione desktop
Name[ja]=デスクトップの共有
Name[ko]=데스크톱 공유
Name[lt]=Darbastalio bendrinimas
Name[lv]=Darbvirsmas koplietošana
Name[nb]=Deling av skrivebord
Name[nl]=Werkomgeving delen
Name[pa]=ਡੈਸਕਟਾਪ ਸ਼ੇਅਰਿੰਗ
Name[pl]=Współdzielenie pulpitu
Name[pt]=Partilha da Área de Trabalho
Name[pt_BR]=Compartilhamento da área de trabalho
Name[ru]=Общий доступ к рабочему столу
Name[sl]=Souporaba namizja
Name[sr]=Дељење радне површи
Name[sr@latin]=Deljenje radne površi
Name[sv]=Skrivbordsdelning
Name[ta]=மேல்மேசை பகிர்வு 
Name[te]=రంగస్థలం పంచుకొనుట 
Name[th]=การแบ่งปันพื้นโต๊ะ
Name[tr]=Masaüstü Paylaşımı
Name[ug]=ئۈستەلئۈستىنى ھەمبەھىرلەش
Name[uk]=Cпільне користування стільницею 
Name[zh_CN]=桌面共享
Name[zh_HK]=桌面分享
Name[zh_TW]=桌面分享
Comment=Choose how other users can remotely view your desktop
Comment[ar]=اختر كيف يستطيع المستخدمين الآخرين عرض سطح مكتبك عن بعد
Comment[as]=দূৰবৰ্তী ব্যৱহাৰকাৰীৰ বাবে আপোনাৰ ডেস্কট'প প্ৰদৰ্শনৰ প্ৰণালী নিৰ্ধাৰণ কৰক
Comment[ast]=Escoyer cómo otros usuarios ven remotamente el mio escritoriu
Comment[be]=Магчымасць прагляду вашага стала іншымі карыстальнікамі
Comment[be@latin]=Vybiery sposab, u jaki inšyja karystalniki zmohuć bačyć tvoj stoł
Comment[bg]=Изберете как други потребители могат да наблюдават работното ви място
Comment[bn]=দূরবর্তী ব্যবহারকারীদের জন্য অাপনার ডেস্কটপ প্রদর্শনের প্রণালী নির্ধারণ করুন
Comment[bn_IN]=দূরবর্তী ব্যবহারকারীদের জন্য অাপনার ডেস্কটপ প্রদর্শনের প্রণালী নির্ধারণ করুন
Comment[ca]=Trieu com altres usuaris remots poden visualitzar el meu escriptori
Comment[ca@valencia]=Trieu com altres usuaris remots poden visualitzar el meu escriptori
Comment[cs]=Vyberte, jakým způsobem umožníte vzdáleně zobrazit vaši pracovní plochu
Comment[da]=Vælg hvordan andre brugere kan se dit skrivebord fjernt
Comment[de]=Legen Sie fest, ob und wie andere Benutzer Ihren Bildschirm betrachten können
Comment[el]=Επιλογή του τρόπου με τον οποίο άλλοι χρήστες θα βλέπουν απομακρυσμένα την επιφάνεια εργασίας σας
Comment[en@shaw]=𐑗𐑵𐑟 𐑣𐑬 𐑳𐑞𐑼 𐑿𐑟𐑼𐑟 𐑒𐑨𐑯 𐑮𐑦𐑥𐑴𐑑𐑤𐑦 𐑝𐑿 𐑿𐑼 𐑛𐑧𐑕𐑒𐑑𐑪𐑐
Comment[en_GB]=Choose how other users can remotely view your desktop
Comment[eo]=Elektu, kielmaniere aliaj uzantoj povas de fore vidi vian labortablon
Comment[es]=Elegir cómo otros usuarios ven remotamente mi escritorio
Comment[et]=Määrab kuidas teised kasutajad sinu töölauda vaadata tohivad
Comment[eu]=Aukeratu beste erabiltzaileek zure mahaigaina urrunetik nola ikusiko duten
Comment[fa]=انتخاب کنید که چگونه کاربران دیگر می‌توانند از دوردست رومیزی شما را ببینند
Comment[fi]=Valitse kuinka muut käyttäjät voivat katsella työpöytääsi
Comment[fr]=Choisir comment d'autres utilisateurs peuvent voir votre bureau à distance
Comment[ga]=Roghnaigh conas a amharcfaidh úsáideoirí eile ar do dheasc
Comment[gl]=Seleccione como poden ver o seu escritorio de forma remota outras persoas
Comment[gu]=કેટલા બીજા વપરાશકર્તાઓ એ તમારા ડેસ્કટોપ ને દૂરસ્થ રીતે દેખી શકે છે તે પસંદ કરો
Comment[he]=נא לבחור כיצד משתמשים אחרים יכולים לצפות מרחוק בשולחן העבודה שלך
Comment[hi]=चुनें कि कैसे दूसरे उपयोक्ता आपके डेस्कटॉप को दूरस्थ रूप से देख सकते हैं
Comment[hu]=Távoli asztal elérésének beállításai
Comment[id]=Pilih bagaimana pengguna lain dapat melihat desktop Anda jarak jauh
Comment[it]=Indica come gli altri utenti possano visualizzare questo desktop da remoto
Comment[ja]=リモートからデスクトップを表示する方法を選択したり設定します
Comment[kn]=ಬೇರೆಯವರು ಹೇಗೆ ದೂರದಿಂದ ನಿಮ್ಮ ಗಣಕವನ್ನು ನಿಲುಕಿಸಿಕೊಳ್ಳಬಹುದು ಎಂಬುದನ್ನು ಆಯ್ಕೆ ಮಾಡಿ
Comment[ko]=다른 사용자가 데스크톱을 보는 방법을 설정합니다
Comment[lt]=Pasirinkite, kaip kiti naudotojai gali matyti Jūsų darbastalį
Comment[lv]=Izvēlieties kā ļaut citiem lietotājiem attālināti skatīt jūsu darbvirsmu
Comment[ml]=മറ്റുളള ഉപയോക്താക്കള്‍ക്ക് നിങ്ങളുടെ പണിയിടം കാണുന്നതെങ്ങനെയെന്നു് തെരഞ്ഞെടുക്കുക
Comment[mr]=इतर वापरकर्ता तुमचे डेस्कटॉप दूरस्थरित्या कसे पाहू शकतिल ते पसंत करा
Comment[nb]=Velg hvordan andre eksterne brukere kan se ditt skrivebord
Comment[nl]=Voorkeuren voor uw bureaublad op afstand instellen
Comment[nn]=Vel korleis andre brukarar kan sjå skrivebordet ditt over nettet
Comment[or]=ଅନ୍ଯ ଚାଳକମାନେ କିପରି ଦୂରରେ ରହି ଆପଣଙ୍କ ଡେସ୍କଟପକୁ ଦେଖିପାରିବେ ତାହା ବାଛନ୍ତୁ
Comment[pa]=ਚੋਣ ਕਰੋ ਕਿ ਹੋਰ ਯੂਜ਼ਰ ਤੁਹਾਡੇ ਡੈਸਕਟਾਪ ਰਿਮੋਟ ਉੱਤੇ ਕਿੰਝ ਵੇਖ ਸਕਣ
Comment[pl]=Wybór, jak inny użytkownicy mogą zdalnie wyświetlać pulpit
Comment[pt]=Seleccionar como outros utilizadores poderão remotamente visualizar a sua área de trabalho
Comment[pt_BR]=Defina como outros usuários podem acessar sua área de trabalho remotamente
Comment[ro]=Alegeți modul în care alți utilizatori pot vedea de la distanță desktopul dumneavoastră
Comment[ru]=Позволять определять, как другие пользователи могут видеть ваш рабочий стол
Comment[sl]=Izberite, na kakšen način si lahko drugi uporabniki ogledajo vaše namizje
Comment[sr]=Одаберите како остали корисници могу удаљено да гледају вашу радну површ
Comment[sr@latin]=Odaberite kako ostali korisnici mogu udaljeno da gledaju vašu radnu površ
Comment[sv]=Välj hur andra användare kan se ditt skrivbord
Comment[ta]=மற்ற பயனீட்டாளர் உங்கள் பணிமேடையை பார்க்க தேர்ந்தெடுக்கவும்
Comment[te]=ఇతర వాడుకరులు దూరస్థంగా యెలా మీ డెస్కుటాపును చూడగలగాలో యెంచుకొనుండి
Comment[th]=เลือกว่าจะอนุญาตให้ผู้ใช้อื่นมองพื้นโต๊ะของคุณอย่างไร
Comment[tr]=Masaüstünüzü diğer kullanıcıların nasıl görebileceklerini seçin
Comment[ug]=يىراقتىكى ئۈستەلئۈستىنى كۆرسىتىش ئۇسۇلىنى تاللايدۇ ۋە تەڭشەيدۇ.
Comment[uk]=Виберіть спосіб віддаленого перегляду вашої стільниці
Comment[zh_CN]=选择其他用户如何远程查看您的桌面
Comment[zh_HK]=選擇其他使用者要以何種方式遠端觀看你的桌面
Comment[zh_TW]=選擇其他使用者要以何種方式遠端觀看您的桌面
Exec=vino-preferences
Icon=preferences-desktop-remote-desktop
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Settings;X-GNOME-NetworkSettings;RemoteAccess;Network;
OnlyShowIn=GNOME;Unity;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=vino
X-GNOME-Bugzilla-Component=Preferences Dialog
X-GNOME-Bugzilla-Version=3.4.2
X-Desktop-File-Install-Version=0.19
