
[Desktop Entry]
Encoding=UTF-8
Name=IBus Preferences
Name[ar]=تفضيلات IBus
Name[as]=IBus পছন্দ
Name[bn_IN]=IBus সংক্রান্ত পছন্দ
Name[ca]=Prefèrencies de l'IBus
Name[da]=Indstillinger for IBus
Name[de]=IBus-Einstellungen
Name[es]=Preferencias de IBus
Name[fr]=Préférences d'IBus
Name[gu]=IBus પસંદગીઓ
Name[hi]=IBus वरीयता
Name[hu]=IBus beállítás
Name[it]=Preferenze di IBus
Name[ja]=IBus の設定
Name[kn]=IBus ಆದ್ಯತೆಗಳು
Name[ko]=IBus 환경 설정  
Name[ml]=IBus മുന്‍ഗണനകള്‍
Name[mr]=IBus आवड निवड
Name[or]=IBus ପସନ୍ଦ
Name[pa]=IBus ਪਸੰਦ
Name[pl]=Preferencje programu iBus
Name[pt_BR]=Preferências do IBus
Name[ru]=Параметры IBus
Name[sr]=IBus поставке
Name[sr@latin]=IBus postavke
Name[ta]=IBus முன்னுரிமைகள்
Name[te]=IBus అభీష్టములు
Name[vi]=Tùy chọn IBus
Name[zh_CN]=IBus 设置
Name[zh_HK]=IBus 偏好設定
Name[zh_TW]=IBus 偏好設定
GenericName=IBus Preferences
GenericName[ar]=تفضيلات IBus
GenericName[as]=IBus পছন্দ
GenericName[bn_IN]=IBus সংক্রান্ত পছন্দ
GenericName[ca]=Prefèrencies de l'IBus
GenericName[da]=Indstillinger for IBus
GenericName[de]=IBus-Einstellungen
GenericName[es]=Preferencias de IBus
GenericName[fr]=Préférences d'IBus
GenericName[gu]=IBus પસંદગીઓ
GenericName[hi]=IBus वरीयता
GenericName[hu]=IBus beállítás
GenericName[it]=Preferenze di IBus
GenericName[ja]=IBus の設定
GenericName[kn]=IBus ಆದ್ಯತೆಗಳು
GenericName[ko]=IBus 환경 설정  
GenericName[ml]=IBus മുന്‍ഗണനകള്‍
GenericName[mr]=IBus आवड निवड
GenericName[or]=IBus ପସନ୍ଦ
GenericName[pa]=IBus ਪਸੰਦ
GenericName[pl]=Preferencje programu iBus
GenericName[pt_BR]=Preferências do IBus
GenericName[ru]=Параметры IBus
GenericName[sr]=IBus поставке
GenericName[sr@latin]=IBus postavke
GenericName[ta]=IBus முன்னுரிமைகள்
GenericName[te]=IBus అభీష్టములు
GenericName[vi]=Tùy chọn IBus
GenericName[zh_CN]=IBus 设置
GenericName[zh_HK]=IBus 偏好設定
GenericName[zh_TW]=IBus 偏好設定
Comment=IBus Preferences
Comment[ar]=تفضيلات IBus
Comment[as]=IBus পছন্দ
Comment[bn_IN]=IBus সংক্রান্ত পছন্দ
Comment[ca]=Prefèrencies de l'IBus
Comment[da]=Indstillinger for IBus
Comment[de]=IBus-Einstellungen
Comment[es]=Preferencias de IBus
Comment[fr]=Préférences d'IBus
Comment[gu]=IBus પસંદગીઓ
Comment[hi]=IBus वरीयता
Comment[hu]=IBus beállítás
Comment[it]=Preferenze di IBus
Comment[ja]=IBus の設定
Comment[kn]=IBus ಆದ್ಯತೆಗಳು
Comment[ko]=IBus 환경 설정  
Comment[ml]=IBus മുന്‍ഗണനകള്‍
Comment[mr]=IBus आवड निवड
Comment[or]=IBus ପସନ୍ଦ
Comment[pa]=IBus ਪਸੰਦ
Comment[pl]=Preferencje programu iBus
Comment[pt_BR]=Preferências do IBus
Comment[ru]=Параметры IBus
Comment[sr]=IBus поставке
Comment[sr@latin]=IBus postavke
Comment[ta]=IBus முன்னுரிமைகள்
Comment[te]=IBus అభీష్టములు
Comment[vi]=Tùy chọn IBus
Comment[zh_CN]=IBus 设置
Comment[zh_HK]=IBus 偏好設定
Comment[zh_TW]=IBus 偏好設定
Exec=ibus-setup
Icon=ibus-setup
Terminal=false
Type=Application
StartupNotify=true
Categories=Settings;
NoDisplay=true
X-Desktop-File-Install-Version=0.15
