[Desktop Entry]
Version=1.0
Terminal=false
Icon=libreoffice-calc
Type=Application
Categories=Office;X-Red-Hat-Base;X-SuSE-Core-Office;X-MandrivaLinux-Office-Spreadsheets;
Exec=libreoffice --calc %U
MimeType=application/vnd.oasis.opendocument.spreadsheet;application/vnd.oasis.opendocument.spreadsheet-template;application/vnd.sun.xml.calc;application/vnd.sun.xml.calc.template;application/msexcel;application/vnd.ms-excel;application/vnd.openxmlformats-officedocument.spreadsheetml.sheet;application/vnd.ms-excel.sheet.macroenabled.12;application/vnd.openxmlformats-officedocument.spreadsheetml.template;application/vnd.ms-excel.template.macroenabled.12;application/vnd.ms-excel.sheet.binary.macroenabled.12;text/csv;application/x-dbf;text/spreadsheet;
Name=LibreOffice Calc
GenericName=Spreadsheet
GenericName[en]=Spreadsheet
GenericName[af]=Sigblad
GenericName[ar]=جدول بيانات
GenericName[as]=স্প্ৰেডশ্বীট
GenericName[bg]=Електронна таблица
GenericName[bn]=স্প্রেডশীট
GenericName[ca]=Full de càlcul
GenericName[cs]=Sešit
GenericName[cy]=Taenlen
GenericName[da]=Regneark
GenericName[de]=Tabellenkalkulation
GenericName[dz]=ཤོག་ཁྲམ།
GenericName[el]=Υπολογιστικό φύλλο
GenericName[es]=Hoja de cálculo
GenericName[et]=Tabelarvutus
GenericName[eu]=Kalkulu-orria
GenericName[fa]=صفحه‌گسترده
GenericName[fi]=Taulukkolaskenta
GenericName[fr]=Classeur
GenericName[ga]=Scarbhileog
GenericName[gl]=Folla de cálculo
GenericName[gu]=સ્પ્રેડશીટ
GenericName[he]=גיליון אלקטרוני
GenericName[hi]=स्प्रेडशीट
GenericName[hr]=Proračunska tablica
GenericName[hu]=Munkafüzet
GenericName[it]=Foglio elettronico
GenericName[ja]=表計算ドキュメント
GenericName[kn]=ಸ್ಪ್ರೆಡ್‌ಶೇಟ್‌
GenericName[ko]=스프레드시트
GenericName[lt]=Skaičiuoklė
GenericName[lv]=Izklājlapa
GenericName[mai]=स्प्रेडशीट
GenericName[ml]=സ്പ്രെഡ്ഷീറ്റ്
GenericName[mr]=स्प्रेडशीट्
GenericName[nb]=Regneark
GenericName[nl]=Werkblad
GenericName[nn]=Rekneark
GenericName[nr]=Spreadsheet
GenericName[nso]=Letlakala-kalo
GenericName[or]=Spreadsheet
GenericName[pa_IN]=ਸਪਰੈੱਡ ਸ਼ੀਟ
GenericName[pl]=Arkusz kalkulacyjny
GenericName[pt]=Folha de cálculo
GenericName[pt_BR]=Planilha
GenericName[qtz]=PRe‖Spreadsheet
GenericName[ro]=Foaie de calcul
GenericName[ru]=Электронная таблица
GenericName[sh]=Tablica
GenericName[si]=පැතුරුම්පත
GenericName[sk]=Zošit
GenericName[sl]=Preglednica
GenericName[sr]=Таблица
GenericName[ss]=Liphephacansi
GenericName[st]=Spreadsheet
GenericName[sv]=Kalkylblad
GenericName[ta]=விரிதாள்
GenericName[te]=స్ర్పెడ్ షీట్
GenericName[th]=ตารางคำนวณ
GenericName[tn]=Spreadsheet
GenericName[tr]=Hesap Tablosu
GenericName[ts]=Spreadsheet
GenericName[uk]=Електронна таблиця
GenericName[ve]=Spreadsheet
GenericName[xh]=Spreadsheet
GenericName[zh_CN]=电子表格
GenericName[zh_TW]=試算表
GenericName[zu]=Ikhasi lokubala
Comment=Perform calculations, analyze information and manage lists in spreadsheets by using Calc.
Comment[en]=Perform calculations, analyze information and manage lists in spreadsheets by using Calc.
Comment[af]=Perform calculations, analyze information and manage lists in spreadsheets by using Calc.
Comment[ar]=Perform calculations, analyze information and manage lists in spreadsheets by using Calc.
Comment[as]=Calc ব্যৱহাৰ কৰি স্প্ৰেডশ্বিটসমূহত গণনাসমূহ কৰক, তথ্য বিশ্লেষণ কৰক আৰু তালিকাসমূহ ব্যৱস্থাপনা কৰক।
Comment[bg]=С Calc можете да извършвате изчисления, да анализирате информация и да организирате списъци в електронни таблици.
Comment[bn]=Perform calculations, analyze information and manage lists in spreadsheets by using Calc.
Comment[ca]=Feu càlculs, analitzeu informació i gestioneu llistes en fulls de càlcul amb el Calc.
Comment[cs]=Calc umožňuje vytvářet a spravovat tabulkové seznamy a provádět na těchto datech výpočty a analýzu informací.
Comment[cy]=Cyfrifo, dadansoddi data a rheoli rhestrau mewn taenlenni gan ddefnyddio Calc.
Comment[da]=Udfør beregning, analyser information og administrer lister i regneark ved brug af Calc.
Comment[de]=Berechnungen ausführen, Informationen analysieren und Listen in Tabellenform verwalten - Calc macht's möglich.
Comment[dz]=Perform calculations, analyze information and manage lists in spreadsheets by using Calc.
Comment[el]=Εκτέλεση υπολογισμών, ανάλυσης πληροφοριών και διαχείρισης λιστών σε υπολογιστικά φύλλα με τη χρήση του Calc.
Comment[es]=Realice cálculos, analice información y maneje listas en hojas de cálculo con Calc.
Comment[et]=Calc võimaldab arvutustabelite abiga teha arvutusi, analüüsida teavet ja hallata loendeid.
Comment[eu]=Kalkuluak egin, informazioa aztertu eta kalkulu-orrietako zerrendak kudeatu Calc erabiliz.
Comment[fa]=Perform calculations, analyze information and manage lists in spreadsheets by using Calc.
Comment[fi]=Calcin avulla voit tehdä laskutoimituksia, analysoida tietoja ja hallita listoja laskentataulukoissa.
Comment[fr]=Calc - Calculs, analyses et gestion de listes dans des feuilles de calcul.
Comment[ga]=Déan ríomhaireacht, déan anailís agus bainistigh liostaí i scarbhileoga trí úsáid a bhaint as Calc.
Comment[gl]=Facer cálculos, analizar información e xestionar listas en follas de cálculo con Calc.
Comment[gu]=Perform calculations, analyze information and manage lists in spreadsheets by using Calc.
Comment[he]=ביצוע חישובים, ניתוח מידע וניהול רשימות בגיליונות אלקטרוניים באמצעות Calc.
Comment[hi]=Perform calculations, analyze information and manage lists in spreadsheets by using Calc.
Comment[hr]=Perform calculations, analyze information and manage lists in spreadsheets by using Calc.
Comment[hu]=Számítások végrehajtása, adatok elemzése és listák kezelése munkafüzetekben a Calc használatával.
Comment[it]=Calc può essere usato per eseguire calcoli, analizzare informazioni e gestire elenchi nei fogli elettronici.
Comment[ja]=Calc を使用して、スプレッドシートで計算を実行し、情報を分析し、リストを管理します。
Comment[kn]=Perform calculations, analyze information and manage lists in spreadsheets by using Calc.
Comment[ko]=Calc를 사용하여 스프레드시트에서 계산, 정보 분석 및 목록 관리를 수행합니다.
Comment[lt]=Skaičiuokle galima atlikti įvairius skaičiavimus, analizuoti informaciją, tvarkyti sąrašus lentelėse.
Comment[lv]=Veikt aprēķinus, analizēt informāciju un pārvaldīt sarakstus izklājlapās, lietojot Calc.
Comment[mai]=Perform calculations, analyze information and manage lists in spreadsheets by using Calc.
Comment[ml]=Perform calculations, analyze information and manage lists in spreadsheets by using Calc.
Comment[mr]=Perform calculations, analyze information and manage lists in spreadsheets by using Calc.
Comment[nb]=Utfør beregninger, analyser informasjon og håndter lister i regneark ved å bruke Calc.
Comment[nl]=Met Calc kunt u in werkbladen berekeningen uitvoeren, gegevens analyseren en lijsten beheren.
Comment[nn]=Perform calculations, analyze information and manage lists in spreadsheets by using Calc.
Comment[nr]=Perform calculations, analyze information and manage lists in spreadsheets by using Calc.
Comment[nso]=Perform calculations, analyze information and manage lists in spreadsheets by using Calc.
Comment[or]=Perform calculations, analyze information and manage lists in spreadsheets by using Calc.
Comment[pa_IN]=ਕੈਲਸ ਦੀ ਵਰਤੋਂ ਕਰਕੇ ਸਪਰੈੱਡਸ਼ੀਟ ਨਾਲ ਗਣਨਾ, ਜਾਣਕਾਰੀ ਦੀ ਸਮੀਖਿਆ ਅਤੇ ਸੂਚੀਆਂ ਨੂੰ ਰੱਖਿਆ ਜਾ ਸਕਦਾ ਹੈ।
Comment[pl]=Przeprowadzaj obliczenia, analizuj informacje i zarządzaj listami w arkuszach kalkulacyjnych używając programu Calc.
Comment[pt]=Efetue cálculos, analise informações e faça a gestão de listas em folhas de cálculo através do Calc.
Comment[pt_BR]=Efetue cálculos, analise informações e gerencie listas em planilhas utilizando o Calc.
Comment[qtz]=LFFj‖Perform calculations, analyze information and manage lists in spreadsheets by using Calc.
Comment[ro]=Perform calculations, analyze information and manage lists in spreadsheets by using Calc.
Comment[ru]=Выполнение вычислений, анализ информации и управление списками в электронных таблицах с помощью Calc.
Comment[sh]=Izvedite proračune, analizirajte podatke i upravljajte listama u tablicama uz Račun.
Comment[si]=Perform calculations, analyze information and manage lists in spreadsheets by using Calc.
Comment[sk]=Počítajte, analyzujte informácie a spravujte zoznamy v zošitoch s použitím Calc.
Comment[sl]=S programom Calc izvajajte računske operacije, analizirajte podatke in upravljajte sezname v preglednicah.
Comment[sr]=Изведите прорачуне, анализирајте податке и управљајте листама у таблицама уз Рачун.
Comment[ss]=Perform calculations, analyze information and manage lists in spreadsheets by using Calc.
Comment[st]=Perform calculations, analyze information and manage lists in spreadsheets by using Calc.
Comment[sv]=Utför beräkningar, anaysera information och hantera listor i kalkylblad med hjälp av Calc.
Comment[ta]=Perform calculations, analyze information and manage lists in spreadsheets by using Calc.
Comment[te]=Perform calculations, analyze information and manage lists in spreadsheets by using Calc.
Comment[th]=Perform calculations, analyze information and manage lists in spreadsheets by using Calc.
Comment[tn]=Perform calculations, analyze information and manage lists in spreadsheets by using Calc.
Comment[tr]=Calc kullanarak çalışma sayfasında performans hesaplamak, bilgi analiz etmek ve listeleri yönetmek.
Comment[ts]=Perform calculations, analyze information and manage lists in spreadsheets by using Calc.
Comment[uk]=Perform calculations, analyze information and manage lists in spreadsheets by using Calc.
Comment[ve]=Perform calculations, analyze information and manage lists in spreadsheets by using Calc.
Comment[xh]=Perform calculations, analyze information and manage lists in spreadsheets by using Calc.
Comment[zh_CN]=使用 Calc 进行计算、分析信息以及管理电子表格中的列表。
Comment[zh_TW]=使用 Calc 可在試算表中執行計算、分析資訊與管理清單。
Comment[zu]=Perform calculations, analyze information and manage lists in spreadsheets by using Calc.
InitialPreference=5
X-GIO-NoFuse=true
StartupNotify=true
TryExec=oocalc
