
[Desktop Entry]
Encoding=UTF-8
Name=Manage Print Jobs
Name[ar]=إدارة مهام الطباعة
Name[as]=মূদ্ৰণ কৰক
Name[bg]=Управление на задачите за печат
Name[bn_IN]=প্রিন্ট কর্ম পরিচালনা করুন
Name[ca]=Gestió de tasques d'impressió
Name[cs]=Spravovat tiskové úlohy
Name[da]=Håndtér udskriftsjob
Name[de]=Druckaufträge verwalten
Name[el]=Διαχείριση εργασιών εκτύπωσης
Name[en_GB]=Manage Print Jobs
Name[es]=Administrar Trabajos de Impresión
Name[et]=Trükitööde haldus
Name[fi]=Hallitse tulostustöitä
Name[fr]=Gérer les tâches d'impression
Name[gu]=છાપન ક્રિયાઓની વ્યવસ્થા કરો
Name[he]=ניהול משימות הדפסה
Name[hi]=मुद्रण कार्य प्रबंधित करें
Name[hr]=Upravljanje zadacima ispisivanja
Name[hu]=Nyomtatási feladatok kezelése
Name[it]=Gestione lavori di stampa
Name[ja]=印刷依頼を管理する
Name[kn]=ಮುದ್ರಣ ಕಾರ್ಯಗಳನ್ನು ವ್ಯವಸ್ಥಾಪಿಸು
Name[ko]=인쇄 작업 관리
Name[mai]=मुद्रण काज प्रबंधित करू
Name[ml]=പ്രിന്റ് ചെയ്യുവാനുളളവ കൈകാര്യം ചെയ്യുക
Name[mr]=छपाई कार्य व्यवस्थापीत करा
Name[nb]=Håndter utskriftsjobber
Name[nl]=Printopdrachten beheren
Name[nn]=Handter utskriftsjobbar
Name[or]=ମୁଦ୍ରଣ କାର୍ଯ୍ଯକୁ ପରିଚାଳନା କରନ୍ତୁ
Name[pa]=ਪ੍ਰਿੰਟ ਜੌਬ ਪਰਬੰਧਨ
Name[pl]=Zarządzanie zadaniami wydruku
Name[pt]=Gerir as Tarefas de Impressão
Name[pt_BR]=Gerenciar trabalhos de impressão
Name[ru]=Управление заданиями печати
Name[sk]=Spravovať tlačové úlohy 
Name[sr]=Управљај пословима штампања
Name[sr@latin]=Upravljaj poslovima štampanja
Name[sv]=Hantera utskriftsjobb
Name[ta]=அச்சு பணிகளை மேலாண்மை செய்தல்
Name[te]=ముద్రణ పనులను నిర్వహించు
Name[th]=จัดการงานพิมพ์
Name[uk]=Керування завданнями друку
Name[vi]=Quản lý công việc in
Name[zh_CN]=管理打印任务
Name[zh_TW]=管理列印工作
Comment=Cancel, pause, resume or reprint jobs
Comment[ar]=ألغ أو أوقف أو استأنف أو أعد طباعة المهام
Comment[as]=কাৰ্য্য বাতিল, স্থগিত, পুনৰাৰম্ভ বা পুনঃ কৰক
Comment[bg]=Отказ, пауза, възстановяване или печат отново на задачите
Comment[bn_IN]=কর্ম বাতিল, স্থগিত, পুনরারম্ভ অথবা পুনরায় করুন
Comment[ca]=Cancel·la, posa en pausa, reprèn o torna a imprimir tasques
Comment[cs]=Zrušit, pozastavit, znovu povolit nebo znovu vytisknout úlohy
Comment[da]=Annullér, pause, genoptag eller genudskriv udskriftsjob
Comment[de]=Aufträge abbrechen, anhalten, fortsetzen oder erneut drucken
Comment[el]=Ακύρωση, παύση, συνέχεια ή εκ νέου εκτύπωση εργασιών
Comment[en_GB]=Cancel, pause, resume or reprint jobs
Comment[es]=Cancelar, pausar, reanudar o reimprimir trabajos
Comment[et]=Trükitööde katkestamine, paus, taastamine või taastrükkimine
Comment[fi]=Peru, aseta tauolle, jatka tai tulosta uudelleen töitä
Comment[fr]=Annuler, mettre en pause, relancer ou réimprimer les tâches
Comment[gu]=ક્રિયાઓ રદ કરો, અટકાવો, છોડો અથવા પુનઃછાપો
Comment[he]=ביטול, השהייה, אתחול או הדפסה מחדש של משימות
Comment[hi]=रद्द, ठहरायें, फिर बहाल करें या कार्य फिर छापें
Comment[hr]=Odustajanje, pauziranje, nastavljanje ili ponavljanje zadataka
Comment[hu]=Feladatok megszakítása, szüneteltetése, folytatása vagy újranyomtatása
Comment[is]=Hætta við, halda, sleppa eða endurprenta verk
Comment[it]=Annulla, sospendi, riprendi o ristampa lavori
Comment[ja]=依頼の取消し、一時停止、再開、再印刷
Comment[kn]=ರದ್ದು ಮಾಡು, ತಾತ್ಕಾಲಿಕ ಸ್ಥಗಿತಗೊಳಿಸು, ಪುನರಾರಂಭಿಸು ಅಥವ ಮುದ್ರಣ ಕಾರ್ಯಗಳನ್ನು ಪುನರ್ ಮುದ್ರಿಸು
Comment[ko]=취소, 일시 정지, 다시 시작, 다시 인쇄
Comment[mai]=रद, रोकू, फेर बहाल करू अथवा काज फेर छापू
Comment[ml]=റദ്ദാക്കുക, താല്‍ക്കാലികമായി നിര്‍ത്തുക, വീണ്ടും ആരംഭിക്കുക അല്ലെങ്കില്‍ വീണ്ടും പ്രിന്റ് ചെയ്യുക
Comment[mr]=रद्द करा, स्तब्ध, कार्य पुन्हा करा किंवा पुन्ह छपाई करा
Comment[nb]=Avbryt, pause, gjenoppta eller skriv ut jobber på nytt
Comment[nl]=Opdrachten annuleren, pauzeren, hervatten of opnieuw afdrukken
Comment[nn]=Avbryt, stopp eller start utskriftsjobbar
Comment[or]=କାର୍ଯ୍ଯ ମାନଙ୍କୁ ବାତିଲ କରନ୍ତୁ, ସ୍ଥଗିତ କରନ୍ତୁ, ପୁନର୍ଚାଳନ କରନ୍ତୁ କିମ୍ବା ପୁନର୍ବାର ମୁଦ୍ରଣ କରନ୍ତୁ
Comment[pa]=ਜੌਬਾਂ ਰੱਦ, ਸ਼ਾਂਤ, ਮੁੜ-ਪ੍ਰਾਪਤ ਜਾਂ ਪ੍ਰਿੰਟ ਕਰੋ
Comment[pl]=Anulowanie, wstrzymywanie, wznawianie lub ponowne drukowanie zadań
Comment[pt]=Cancelar, pausar, retomar ou imprimir novamente as tarefas
Comment[pt_BR]=Cancele, pause, continue ou reimprima trabalhos
Comment[ro]=Anulează, pauză, reia sau relistează lucrări
Comment[ru]=Отменить, приостановить, возобновить или повторить задания
Comment[sk]=Zrušiť, pozastaviť, pokračovať alebo znovu vytlačiť úlohy
Comment[sr]=Откажи, паузирај, настави или поново штампај послове
Comment[sr@latin]=Otkaži, pauziraj, nastavi ili ponovo štampaj poslove
Comment[sv]=Avbryt, gör paus, fortsätt eller skriv ut jobb igen
Comment[ta]=ரத்து, இடைநிறுத்தம், தொடர்தல் அல்லது பணிகளை மறு அச்சிடல்
Comment[te]=పనులను రద్దుచేయి, నిలిపివుంచు, తిరిగికొనసాగించు లేదా తిరిగిముద్రించు
Comment[th]=ยกเลิก, หยุดชั่วคราว, ทำต่อหรือพิมพ์งานซ้ำ
Comment[uk]=Скасувати, призупинити, відновити чи повторити завдання
Comment[vi]=Thôi, tạm dừng, tiếp tục lại hoặc in lại các công việc
Comment[zh_CN]=取消，暂停，恢复或者重新打印任务
Comment[zh_TW]=取消、暫停、復原或重新列印工作
Exec=system-config-printer-applet --no-tray-icon
Terminal=false
Type=Application
Icon=printer
NoDisplay=true
X-Desktop-File-Install-Version=0.15
Categories=GTK;Monitor;System;
