
[Desktop Entry]
Encoding=UTF-8
Name=Default Printer
Name[ar]=الطابعة المبدئية
Name[as]=অৱিকল্পিত মুদ্ৰক
Name[bg]=По подразбиране
Name[bn_IN]=ডিফল্ট প্রিন্টার রূপে চিহ্নিত করা হবে
Name[ca]=Impressora predeterminada
Name[cs]=Výchozí tiskárna
Name[da]=Standardprinter
Name[de]=Standarddrucker
Name[el]=Προεπιλεγμένος εκτυπωτής
Name[en_GB]=Default Printer
Name[es]=Impresora Predeterminada
Name[et]=Vaikimisi printer
Name[fi]=Oletustulostin
Name[fr]=Imprimante par défaut
Name[gu]=મૂળભૂત પ્રિન્ટર
Name[he]=מדפסת ברירת המחדל
Name[hi]=तयशुदा मुद्रक
Name[hr]=Zadani pisač
Name[hu]=Alapértelmezett nyomtató
Name[it]=Stampante predefinita
Name[ja]=デフォルトのプリンター
Name[kn]=ಪೂರ್ವನಿಯೋಜಿತ ಮುದ್ರಕ
Name[ko]=기본 프린터
Name[mai]=स्वनिर्धारित मुद्रक
Name[ml]=സ്വതവേയുള്ള പ്രിന്റര്‍
Name[mr]=पूर्वनिर्धारीत छपाईयंत्र
Name[nb]=Forvalgt skriver
Name[nl]=Standaardprinter
Name[nn]=Standardskrivar
Name[or]=ପୂର୍ବନିର୍ଦ୍ଧାରିତ ମୂଦ୍ରଣୀ
Name[pa]=ਮੂਲ ਪ੍ਰਿੰਟਰ
Name[pl]=Domyślna drukarka
Name[pt]=Impressora Predefinida
Name[pt_BR]=Impressora padrão
Name[ro]=Imprimantă implicită
Name[ru]=Принтер по умолчанию
Name[sk]=Predvolená tlačiareň
Name[sr]=Подразумевани штампач
Name[sr@latin]=Podrazumevani štampač
Name[sv]=Standardskrivare
Name[ta]=முன்னிருப்பு அச்சடிப்பி
Name[te]=అప్రమేయ ముద్రకము
Name[th]=เครื่องพิมพ์ปริยาย
Name[uk]=Типовий принтер
Name[vi]=Máy in mặc định
Name[zh_CN]=默认打印机
Name[zh_TW]=預設印表機
Comment=Select default printer
Comment[ar]=حدد الطابعة الافتراضية
Comment[as]=অৱিকল্পিত
Comment[bg]=Избор на принтер по подразбиране
Comment[bn_IN]=ডিফল্ট প্রিন্টার নির্বাচন করুন
Comment[ca]=Seleccioneu la impressora predeterminada
Comment[cs]=Nastavit výchozí tiskárnu
Comment[da]=Vælg standardprinter
Comment[de]=Standarddrucker wählen
Comment[el]=Επιλογή προεπιλεγμένου εκτυπωτή
Comment[en_GB]=Select default printer
Comment[es]=Elegir impresora predeterminada
Comment[et]=Määra vaikeprinter
Comment[fi]=Valitse oletustulostin
Comment[fr]=Sélectionner l'imprimante par défaut
Comment[gu]=મૂળભૂત પ્રિન્ટર પસંદ કરો
Comment[he]=בחירת מדפסת ברירת המחדל
Comment[hi]=तयशुदा मुद्रक चुनें
Comment[hr]=Odaberi zadani pisač
Comment[hu]=Alapértelmezett nyomtató kiválasztása
Comment[it]=Seleziona stampante predefinita
Comment[ja]=デフォルトのプリンターを選択する
Comment[kn]=ಪೂರ್ವನಿಯೋಜಿತ ಮುದ್ರಕವನ್ನು ಆರಿಸಿ
Comment[ko]=기본 프린터 선택
Comment[mai]=स्वनिर्धारित मुद्रक चुनू
Comment[ml]=സ്വതവേയുള്ള പ്രിന്റര്‍ തെരഞ്ഞെടുക്കുക
Comment[mr]=पूर्वनिर्धारीत छपाईयंत्र निवडा
Comment[nb]=Velg forvalgt skriver
Comment[nl]=Selecteer standaardprinter
Comment[nn]=Vel standardskrivar
Comment[or]=ପୂର୍ବନିର୍ଦ୍ଧାରିତ ମୂଦ୍ରଣୀ ଚୟନ କରନ୍ତୁ
Comment[pa]=ਮੂਲ ਪ੍ਰਿੰਟਰ ਚੁਣੋ
Comment[pl]=Wybór domyślnej drukarki
Comment[pt]=Seleccionar a impressora predefinida
Comment[pt_BR]=Selecione a impressora padrão
Comment[ru]=Выбрать принтер по умолчанию
Comment[sk]=Nastaviť tlačiareň ako predvolenú
Comment[sr]=Изабери подразумевани штампач
Comment[sr@latin]=Izaberi podrazumevani štampač
Comment[sv]=Välj standardskrivare
Comment[ta]=முன்னிருப்பு அச்சடிப்பியை தேர்ந்தெடு
Comment[te]=అప్రమేయ ముద్రకాన్ని యెంపికచేయి
Comment[th]=เลือกเครื่องพิมพ์ปริยาย
Comment[uk]=Зробити типовим принтером
Comment[vi]=Chọn máy in mặc định
Comment[zh_CN]=选择默认打印机
Comment[zh_TW]=選擇預設印表機
Exec=my-default-printer
Terminal=false
Type=Application
Icon=printer
X-Desktop-File-Install-Version=0.15
Categories=GTK;HardwareSettings;Settings;
