[Desktop Entry]
Version=1.0
Terminal=false
Icon=openofficeorg-math
Type=Application
Categories=Office;X-Red-Hat-Base;X-SuSE-Core-Office;X-MandrivaLinux-Office-Other;
Exec=openoffice.org -math %U
MimeType=application/vnd.oasis.opendocument.formula;application/vnd.sun.xml.math;application/vnd.stardivision.math;
Name=OpenOffice.org Math
GenericName=Formula Editor
GenericName[en]=Formula Editor
GenericName[ar]=محرر الصيغة
GenericName[as]=সূত্র সম্পাদক
GenericName[ast]=Editor de fórmules
GenericName[bg]=Редактор на формули
GenericName[bn]=সূত্র সম্পাদক
GenericName[ca_XV]=Editor de fórmules
GenericName[ca]=Editor de fórmules
GenericName[cs]=Editor vzorců
GenericName[da]=Formeleditor
GenericName[de]=Formeleditor
GenericName[en_GB]=Formula Editor
GenericName[eo]=Formuloredaktilo
GenericName[es]=Editor de formulas
GenericName[eu]=Formula editorea
GenericName[fr]=Éditeur de formule
GenericName[gu]=સૂત્ર સંપાદક
GenericName[hi]=सूत्र संपादक
GenericName[hu]=Képletszerkesztő
GenericName[id]=Penyunting Rumus
GenericName[is]=Formúluritill
GenericName[it]=Elaboratore di formule
GenericName[ja]=数式エディタ
GenericName[kn]=ಸೂತ್ರ ಸಂಪಾದಕ
GenericName[ko]=수식 편집기
GenericName[lt]=Matematinė rengyklė
GenericName[lv]=Formulu redaktors
GenericName[mk]=Уредувач на формула
GenericName[ml]=ഫോര്‍മുലാ എഡിറ്റര്‍
GenericName[mr]=सूत्र संपादक
GenericName[my]=ပုံသေနည်း တည်းဖြတ်သူ
GenericName[nl]=Formule-bewerler
GenericName[oc]=Editor de formula
GenericName[om]=Gulaalaa Foormulaa
GenericName[or]=ସୂତ୍ର ସମ୍ପାଦକ
GenericName[pa_IN]=ਫਾਰਮੂਲਾ ਐਡੀਟਰ
GenericName[pl]=Edytor formuł
GenericName[pt_BR]=Editor de fórmulas
GenericName[pt]=Editor de fórmulas
GenericName[ru]=Редактор формул
GenericName[si]=සූත්‍ර සකසනය
GenericName[sl]=Urejevalnik formul
GenericName[sq]=Edituesi i ImageMapës
GenericName[sv]=Formelredigerare
GenericName[ta]=சூத்திரத் தொகுப்பி
GenericName[te]=ఫార్ములా సరికూర్పరి
GenericName[tr]=Formül Düzenleyici
GenericName[ug]=فورمۇلا تەھرىرلىگۈچ
GenericName[uz]=Formula tahrirchisi
GenericName[vi]=Trình soạn công thức 
GenericName[zh_CN]=公式编辑器
GenericName[zh_TW]=公式編輯器
GenericName[be_BY]=Рэдактар формул
GenericName[fi]=Kaavaeditori
GenericName[sk]=Editor vzorcov
GenericName[sh]=Uređivač formule
GenericName[sr]=Уређивач формуле
GenericName[km]=កម្មវិធី​កែសម្រួល​រូបមន្ដ
GenericName[ga]=Eagarthóir Foirmlí
GenericName[et]=Valemiredaktor
GenericName[nb]=Formelredigering
GenericName[nn]=Formelredigering
GenericName[gl]=Editor de fórmulas
GenericName[ro]=Editor de formule
GenericName[el]=Επεξεργαστής μαθηματικών τύπων
Comment=Create and edit scientific formulas and equations by using Math.
Comment[en]=Create and edit scientific formulas and equations by using Math.
Comment[be_BY]=Стварайце і рэдагуйце навуковыя формулы і ўраўненні з дапамогаю Math-а.
Comment[fi]=Luo ja muokkaa tieteellisiä kaavioita ja yhtälöitä käyttämällä Math -ohjelmaa.
Comment[af]=Skep en redigeer wetenskaplike formules en vergelykings met Math.
Comment[bg]=С Math можете да създавате и редактирате математически формули и уравнения.
Comment[bo]=OpenOffice.org སྤྱི་འགྲོས།
Comment[br]=Jedon. - Krouiñ hag embann formulennoù skiantel hag ataladoù.
Comment[brx]=सानखान्थि बाहायनानै गोनोखो फरमुला आरो समानथाय सोरजि आरो सुजु।
Comment[bs]=Kreiranje i uređivanje naučnih formula i jednačina koristeći Math.
Comment[cs]=Vytvářejte a upravujte vědecké výpočty a vzorce pomocí Math.
Comment[cy]=Creu a golygu fformiwlâu gwyddonol a hafaliadau gan ddefnyddio Math
Comment[da]=Opret og rediger videnskabelige formler ved brug af Math.
Comment[dgo]=स्हाब बरतियै विज्ञानक फार्मूले ते समीकरण   सिरजो ते संपादत करो. 
Comment[en_ZA]=Create and edit scientific formulae and equations by using Math.
Comment[eo]=Krei kaj redakti sciencajn formulojn kaj ekvaciojn per Formulilo.
Comment[eu]=Formula zientifikoak eta ekuazioak sortu eta editatu Math erabiliz.
Comment[fa]=با استفاده از ریاضی، فرمول‌ها و معادلات ریاضی ایجاد یا ویرایش کنید.
Comment[hr]=Stvorite i uredite znanstvene formule i jednadžbe koristeći Math.
Comment[kk]= Math көмегiмен ғылыми формуларды және теңдеулердi түзетуге және жасауға болады.
Comment[kok]=गणित वापरून वैज्ञानिक सूत्रां आनिक समीकरणां  तयार करात आनिक सम्पादन करात.
Comment[mai]=Math क प्रयोगसँ वैज्ञानिक सूत्र बनाबु आ संपादित करू.
Comment[mk]=Креирајте и уредувајте научни формули и равенки користејќи Math.
Comment[mn]=Math ашиглан шинжлэх ухааны томьёо ба тэнцэтгэл биш үүсгэх болон засварлах.
Comment[mni]=অঙ্ক শিজিন্নদুনা সাইন্তিফিক ফোর্মুলাশিং অমসুং ইক্বেসনশিং শেমগতলো অমসুং শেমদোকউ. 
Comment[ne]=गणितको प्रयोगद्वारा वैज्ञानिक सूत्रहरू र समीकरणहरू सिर्जना तथा सम्पादन गर्नुहोस् ।
Comment[nr]=Enza nokuhlela amafomula namakhotheyitjhini ngokusebenzisa i-Math.
Comment[ns]=Hlama le go rulaganya difomula tša saense le diekhoišene ka go diriša Math.
Comment[pa_IN]=ਗਣਿਤ (Math) ਨਾਲ ਵਿਗਿਆਨਕ ਫਾਰਮੂਲੇ ਅਤੇ ਸਮੀਕਰਨ ਬਣਾਓ।
Comment[rw]=Kurema no guhindura inzira n'inganyagaciro bya gihanga ukoresheje Math.
Comment[sa_IN]=मैत् उपयुज्य वैज्ञानिकसूत्राणि ईक्वेशन्स् च उत्पादय तथा सम्पदाय च।
Comment[sat]=एलखा रेयाक् बेभार दाराय ते सोमान होचो आर सांड़ेस नियोम सापड़ाव आर तेयार.
Comment[sd]=ميٿ جو اِستعمال ڪندي وگيانڪ نسخا ۽ مُساوتنو خلقيو ۽ سمپادت ڪريو 
Comment[ss]=Yakha u-edithe ngekwesayensi yemafomula nemakhweshini ngakusebentisa Math.
Comment[st]=Bopa le ho lokisa difomula tsa saense le diekweishene ka ho sebedisa Math.
Comment[sw_TZ]=Create and edit scientific formulas and equations by using Math.
Comment[tg]=Бо ёрии Math формулаҳои илмӣ сохтан, онҳоро ислоҳ кардан мумкин аст.
Comment[ts]=Endla ni ku lulamisa Tifomula ta vutshila bya sayense ni tinhlayo hi ku tirhisa Math.
Comment[ve]=Vhumbani na u lumalamisa dzifomuḽa dza sainthifiki na dziikhwesheni nga u shumisa Math.
Comment[xh]=Dala uze uhlele iindlela zokusebenzisa inzululwazi nongqinelaniso ngokusebenzisa u-Math.
Comment[zu]=Yenza futhi ulungise amafomula ezesayensi nama-ikhuweyjini ngokusebenzisa into yeziBalo.
Comment[dz]=ཨང་རྩིས་ལག་ལེན་འཐབ་ཐོག་ལས་ ཚན་རིག་དང་འབྲེལ་བའི་མན་ངག་དང་ཨི་ཀུའེ་ཊེ་ཤཱན་བཟོ་ནི་དང་ཞུན་དག་རྐྱབ་ནི།
Comment[ka]=ქმნის და ასწორებს სამეცნიერო ფორმულებს და განტოლებებს Math-ის გამოყენებით.
Comment[ku]=Wekhevîn û formulên zanistî bi Mathê çê bike û sererast bike.
Comment[th]=สร้างและแก้ไขสูตรและสมการทางวิทยาศาสตร์โดยการใช้ Math
Comment[ar]=إنشاء الصيغ العلمية والمعادلات وتحريرها باستخدام Math.
Comment[as]=গণিত ব্যৱহাৰ কৰি বৈজ্ঞানিক সূত্ৰ আৰু সমীকৰণবোৰ সৃষ্টি আৰু সম্পাদনা কৰক. 
Comment[ast]=Crear y editar fórmules científiques y ecuaciones emplegando Math.
Comment[bn]=Math ব্যবহার করে বৈজ্ঞানিক ফর্মূলা এবং সমীকরণ তৈরি এবং সম্পাদনা করুন। 
Comment[ca_XV]=Creeu i editeu fórmules científiques i equacions amb el Math.
Comment[ca]=Creeu i editeu fórmules científiques i equacions amb el Math.
Comment[de]=Wissenschaftliche Formeln erstellen und bearbeiten - Math macht's möglich.
Comment[en_GB]=Create and edit scientific formulae and equations using Math.
Comment[es]=Crear y editar fórmulas científicas y ecuaciones con Math.
Comment[fr]=Math - Création et édition de formules scientifiques et d'équations.
Comment[gu]=ગણિત વડે વૈજ્ઞાનિક સુત્રો અને સમીકરણો બનાવો.
Comment[hi]=गणित के प्रयोग से वैज्ञानिक सूत्र बनाएं और संपादित करें.
Comment[hu]=Képletek és egyenletek létrehozása és szerkesztése a Math használatával.
Comment[id]=Mengolah rumus ilmiah maupun persamaannya menggunakan Math.
Comment[is]=Búa til og breyta vísindaformúlum og jöfnum með því að nota Math.
Comment[it]=Math vi permette di creare e modificare formule scientifiche ed equazioni.
Comment[ja]=Math を使用して、科学の公式や方程式を作成し、編集します。
Comment[kn]=ಮ್ಯಾಥ್ ಬಳಸಿ ವೈಜ್ಞಾನಿಕ ಸೂತ್ರಗಳನ್ನು ಮತ್ತು ಸಮೀಕರಣಗಳನ್ನು ರಚಿಸಿ ಮತ್ತು ಸಂಪಾದಿಸಿ.
Comment[ko]=Math를 사용하여 수식 및 공학용 수식을 만들고 편집합니다.
Comment[lt]=Matematinė rengyklė skirta formulėms ir lygtims rašyti.
Comment[lv]=Veidot un rediģēt zinātniskās formulas un izteiksmes lietojot Math.
Comment[ml]=കണക്ക് ഉപയോഗിച്ച് ശാസ്ത്രീയ സൂത്രവാക്യങ്ങളും  സമവാക്യങ്ങളും സൃഷ്ടിക്കുകയും എഡിറ്റു ചെയ്യുകയും ചെയ്യാം.
Comment[mr]=Math चा वापर करून वैज्ञानिक सूत्रे व समीकरणे बनवा व संपादीत करा.
Comment[my]=သင်္ချာကိုသုံးခြင်းဖြင့် သိပ္ပံဆိုင်ရာပုံသေနည်းများနှင့် ညီမျှခြင်းများ ဖန်တီးတည်းဖြတ်ပါ။
Comment[nl]=Met Math kunt u wiskundige formules en vergelijkingen maken en bewerken.
Comment[oc]=Math - Creacion e edicion de formulas scientificas e d'eqüacions.
Comment[om]=Math fayyadamuun foormulaawwan saayinsaawaa fi himoota qixxaatoo uumi, gulaali.
Comment[or]=ଗଣିତ ଉପୟୋଗକରି ବୌଜ୍ଞାନିକ ସୂତ୍ର ଏବଂ ସମିକରଣଗୁଡିକୁ   ସୃଷ୍ଟି ଏବଂ ସମ୍ପାଦନ କର ୤
Comment[pl]=Twórz i edytuj wzory matematyczne i naukowe używając programu Math.
Comment[pt_BR]=Crie e edite fórmulas científicas e equações por meio do Math.
Comment[pt]=Permite criar e editar fórmulas e equações científicas utilizando o Math.
Comment[ru]=Создание и редактирование научных формул и уравнений.
Comment[si]=Math භාවිතා කරමින් විද්‍යාත්මක සූත්‍ර සහ සමීකරණ සාදන්න සහ වෙනස් කරන්න.
Comment[sl]=S programom Math ustvarjajte in urejajte znanstvene formule in enačbe.
Comment[sq]=Krijo dhe edito formula shkencore dhe ekuacione përmes Math
Comment[sv]=Skapa och redigera vetenskapliga formler och ekvationer med hjälp av Math.
Comment[ta]=அறிவியல் சூத்திரங்களையும் சமன்பாடுகளையும் உருவாக்க, தொகுக்க மேத்தைப் பயன்படுத்துக.
Comment[te]=శాస్ర్తీయమైన సూత్రములు మరియు  మాత్ తో ఉపయోగించిన సమికరణములను నిర్మించి సరిచేయుము
Comment[tr]=Math kullanarak bilimsel formülleri ve eşitlikleri oluşturabilir ve düzenleyebilirsiniz.
Comment[ug]=Math ئىشلىتىپ ئىلىم-پەن فورمۇلاسى ۋە ئىپادىسى قۇرىدۇ، تەھرىرلەيدۇ.
Comment[uk]=Створення та редагування наукових формул та рівнянь.
Comment[uz]=Math yordamida ilmiy formulalarni tuzish va tahrirlash.
Comment[vi]=Tạo và sửa công thức và phương trình khoa học, dùng trình Math.
Comment[zh_CN]=使用 Math 创建并编辑科学公式和方程式。
Comment[zh_TW]=使用 Math 可建立與編輯科學公式與方程式。
Comment[sk]=Vytvárajte a upravujte vedecké vzorce a výrazy s použitím Math.
Comment[sh]=Napravite i uređujte naučne formule i jednačine u Matematici.
Comment[sr]=Направите и уређујте научне формуле и једначине у Математици.
Comment[km]=បង្កើត និង​កែ​សម្រួល​រូបមន្ត​វិទ្យាសាស្ត្រ និង​សមីការ​ដោយ​ប្រើ Math ។
Comment[ga]=Cruthaigh foirmlí eolaíocha agus cothromóidí agus cuir iad in eagar le Math.
Comment[et]=Math võimaldab luua ja redigeerida teaduslikke valemeid ning võrrandeid.
Comment[he]=יצירה ועריכה של נוסחאות ומשוואות מדעיות באמצעות תוכנת הנוסחאות ‏
Comment[nb]=Opprett og rediger vitenskapelige formler og ligninger ved bruk av Math.
Comment[nn]=Med Math kan du laga og redigera vitskaplege formlar og likningar.
Comment[gl]=Crear e editar fórmulas científicas e ecuacións con Math.
Comment[ro]=Creați și editați formule științifice și ecuații folosind Math.
Comment[el]=Δημιουργία και επεξεργασία επιστημονικών τύπων και εξισώσεων με τη χρήση του Math.
X-GIO-NoFuse=true
StartupNotify=true
TryExec=oomath
NoDisplay=true
