[Desktop Entry]
Icon=fetion
Name=OpenFetion
Name[en_GB]=OpenFetion
Name[zh_CN]=OpenFetion(飞信)
Comment=Fetion For Linux
Comment[zh_CN]=Linux 版飞信客户端
Exec=openfetion
StartupNotify=true
Terminal=false
Type=Application
Categories=Network;InstantMessaging;
