
[Desktop Entry]
Type=Application
Name=Vidalia
GenericName=Tor GUI
Comment=GUI controller for the Tor Onion Routing Network 
Exec=vidalia
Terminal=false
Categories=Network;Qt;
Icon=vidalia
X-Desktop-File-Install-Version=0.19
