
[Desktop Entry]
Name=Authentication
Name[ar]=التّوثيق
Name[as]=অনুমোদন ব্যৱস্থা
Name[bal]=تصدیق
Name[bg]=Удостоверяване
Name[bn]=অনুমোদন ব্যবস্থা
Name[bn_IN]=অনুমোদন ব্যবস্থা
Name[bs]=Provjera vjerodostojnosti
Name[ca]=Autenticació
Name[cs]=Autentizace
Name[cy]=Dilysiant
Name[da]=Godkendelse
Name[de]=Authentifizierung
Name[el]=Πιστοποίηση
Name[en_GB]=Authentication
Name[es]=Autenticación
Name[et]=Autentimine
Name[fa]=تأیید هویت
Name[fi]=Todennus
Name[fr]=Authentification
Name[gl]=Autenticación
Name[gu]=સત્તાધિકરણ
Name[hi]=सत्यापन
Name[hr]=Provjera vjerodostojnosti
Name[hu]=Azonosítás
Name[id]=Otentikasi
Name[is]=Auðkenning
Name[it]=Autenticazione
Name[ja]=認証
Name[ka]=ავთენთიკაცია
Name[kn]=ದೃಢೀಕರಣ
Name[ko]=인증
Name[mai]=सत्यापन
Name[mk]=Автентикација
Name[ml]=ആധികാരികത ഉറപ്പാക്കല്‍
Name[mr]=ओळख पटवा
Name[ms]=Pengesahan
Name[nb]=Autentisering
Name[nl]=Authenticatie
Name[or]=ବୈଧିକରଣ
Name[pa]=ਪ੍ਰਮਾਣਿਕਤਾ
Name[pl]=Uwierzytelnianie
Name[pt]=Autenticação
Name[pt_BR]=Autenticação
Name[ro]=Autentificare
Name[ru]=Аутентификация
Name[si]=තහවුරු කර ගැනීම
Name[sk]=Overenie totožnosti
Name[sl]=Avtentikacija
Name[sq]=Mirëfilltësim
Name[sr]=Аутентификација
Name[sr@latin]=Autentifikacija
Name[sv]=Autentisering
Name[ta]=அங்கீகாரம்
Name[te]=ధృవీకరణ
Name[tr]=Kimlik Denetimi
Name[uk]=Аутентифікація
Name[ur]=تصدیق
Name[vi]=Xác thực
Name[zh_CN]=验证
Name[zh_TW]=認證
Comment=Control how the system verifies users who attempt to log in
Comment[ar]=تحكّم بكيفيّة تحقّق النّظام من المستخدمين الذي يحاولون تسجيل الدّخول
Comment[as]=প্ৰৱেশ কৰোঁতে প্ৰচেষ্টাৰত ব্যৱহাৰকৰোঁতাৰ অনুমোদন প্ৰক্ৰিয়া নিয়ন্ত্ৰণ কৰক
Comment[bal]=کنترل کتن که چه طورکا سیستم کارمرز کنوکانی که جهد کننت وارد بینت تایید کنت
Comment[bg]=Контролира удостоверяването на потребителите, желаещи да влязат в системата
Comment[bn]=লগ-ইন করতে প্রচেষ্টারত ব্যবহারকারীদের অনুমোদন প্রক্রিয়া নিয়ন্ত্রণ করুন
Comment[bn_IN]=লগ-ইন করতে প্রচেষ্টারত ব্যবহারকারীদের অনুমোদন প্রক্রিয়া নিয়ন্ত্রণ করুন
Comment[bs]=Nadzor sistemske provjere korisnika koji se namjeravaju prijaviti
Comment[ca]=Controleu com el sistema verifica els usuaris que intenten entrar-hi
Comment[cs]=Nastavit, jak systém ověřuje uživatele, kteří se pokoušejí přihlásit
Comment[cy]=Rheoli sut mae'r system yn dilysu defnyddwyr sy'n ceisio mewngofnodi
Comment[da]=Bestem hvorledes systemet kontrollerer brugere som prøver at logge ind
Comment[de]=Kontrolle, wie das System die Benutzer prüft, die sich anmelden möchten.
Comment[el]=Έλεγχος του τρόπου που το σύστημα πιστοποιεί τους χρήστες που επιχειρούν να συνδεθούν
Comment[en_GB]=Control how the system verifies users who attempt to log in
Comment[es]=Controlar cómo el sistema verifica a los usuarios que intentan iniciar sesión
Comment[et]=Kontrolli kuidas süsteem kontrollib kasutajaid, kes üritavad sisse logida
Comment[fa]=چگونگی سنجش هویت کاربرانی را که سعی می‌کنند وارود رایانه شوند را کنترل کنید
Comment[fi]=Kontrolloi kuinka järjestelmä vahvistaa sisäänkirjautumista yrittävät käyttäjät
Comment[fr]=Contrôler la manière dont le système vérifie les utilisateurs qui veulent se connecter
Comment[gu]=કેવી રીતે સિસ્ટમ વપરાશકર્તાઓની ખાતરી કરે કે જેઓ પ્રવેશે તેને નિયંત્રિત કરો
Comment[hi]=नियंत्रित करें कि कैसे तंत्र उपयोक्ताओं को जांचता है जो लॉगिन का प्रयास करता है
Comment[hr]=Nadzor sistemske provjere korisnika koji se namjeravaju prijaviti
Comment[hu]=Ez határozza meg a bejelentkező felhasználók azonosítási módját
Comment[id]=Kontrol bagaimana sistem bisa melakukan verifikasi pengguna yang mencoba untuk masuk
Comment[is]=Stýrir hvernig kerfið auðkennir notendur sem reyna að tengjast
Comment[it]=Controlla come il sistema verifica i tentativi di accesso
Comment[ja]=ログインしようとするユーザーをシステムが確証する方法を制御する
Comment[kn]=ಒಳಗೆ ಪ್ರವೇಶಿಸಲು ಪ್ರಯತ್ನಿಸುವ ಬಳಕೆದಾರರನ್ನು ಹೇಗೆ ಪರಿಶೀಲಿಸುತ್ತದೆ ಎಂಬುದನ್ನು ನಿಯಂತ್ರಿಸುತ್ತದೆ
Comment[ko]=시스템이 로그인 하려는 사용자를 인증하는 방식을 제어합니다.
Comment[mai]=नियंत्रित करू जे कहिना सिस्टम प्रयोक्ता केँ जाँचैत अछि जे लागिनक प्रयास करैत अछि
Comment[mk]=Контрола на начинот на кој корисниците се проверуваат при најава во системот
Comment[ml]=പ്രവേശിക്കുവാന്‍ ശ്രമിക്കുന്നു ഉപയോക്താക്കളെ സിസ്റ്റം പരിശോധിക്കുന്നതില്‍ ഉളള നിയന്ത്രണം
Comment[mr]=लॉगीन करण्याचा प्रयत्न करणाऱ्या उपयोक्त्यांस प्रणाली कशा प्रकारे पडताळते यावर नियंत्रण ठेवा
Comment[ms]=Kawal bagaimana sistem mengesahkan pengguna yang cuba untuk log masuk
Comment[nb]=Kontroller hvordan systemet verifiserer brukere som prøver å logge inn
Comment[nl]=Bepalen hoe het systeem gebruikers verifieert die zich proberen aan te melden
Comment[or]=ଲଗଇନ୍ କରାବା ପାଇଁ ପ୍ରଚେଷ୍ଟା କରୁଥିବା ଚାଳକ ମାନଙ୍କ ର ଯାଞ୍ଚ ପ୍ରକ୍ରିୟା କୁ ନିୟନ୍ତ୍ରଣ କରନ୍ତୁ
Comment[pa]=ਕੰਟਰੋਲ ਕਰੋ ਕਿ ਸਿਸਟਮ ਇੱਕ ਯੂਜ਼ਰ ਦੇ ਲਾਗ-ਇਨ ਕਰਨ ਸਮੇਂ ਕਿਵੇਂ ਜਾਂਚ ਕਰੇ
Comment[pl]=Kontrola sposobu uwierzytelniania logujących się do systemu użytkowników
Comment[pt]=Controla como o sistema verifica os utilizadores que se tentam ligar
Comment[pt_BR]=Controla o modo como o sistema verifica os usuários que tentam se autenticar
Comment[ro]=Controlează felul în care sistemul verifică utilizatorii care încearcă să se autentifice
Comment[ru]=Настраивает методы проверки пользователей, которые пытаются войти в систему
Comment[sk]=Kontroluje ako systém overuje používateľov, ktorí žiadajú o prihlásenie
Comment[sl]=Nadzoruje, kako sistem preverja uporabnike, ki se skušajo prijaviti
Comment[sq]=Kontrolloni se si i verifikon sistemi përdoruesit që përpiqen të hyjnë në të
Comment[sr]=Контролише како систем проверава кориснике који покушају да се пријаве
Comment[sr@latin]=Kontroliše kako sistem proverava korisnike koji pokušaju da se prijave
Comment[sv]=Styr hur systemet verifierar användare som försöker logga in
Comment[ta]=கணினியில் பயனர்கள் புகுபதிவு போது சரிபார்க்கப்படுவதை கட்டுப்படுத்துகிறது.
Comment[te]=ఎవరు ప్రవేశానికి ప్రయత్నిస్తున్నారో కంప్యూటరు ఎలా తనిఖీచేస్తుందో నియంత్రించు 
Comment[tr]=Sisteme giriş yapmak isteyen kullanıcıların nasıl doğrulanacağını denetler
Comment[uk]=Визначає методи перевірки користувачів, які намагаються ввійти
Comment[ur]=وہ کنٹرول کہ سسٹم کیسے تصدیق کرے کہ کس نے لوگان ہونے کی کوشش کی ہے                                                                                                                                                                    
Comment[vi]=Điều khiển cách hệ thống kiểm tra người dùng thử đăng nhập
Comment[zh_CN]=控制系统对试图登录的用户进行校验的方式
Comment[zh_TW]=控制系統如何驗證欲登入的使用者
Icon=system-config-authentication
Exec=/usr/bin/system-config-authentication
Type=Application
Terminal=false
StartupNotify=true
Categories=System;Settings;Security;
X-Desktop-File-Install-Version=0.15
