[Desktop Entry]
Name=Bluetooth Transfer
Name[af]=Bluetooth-oordrag
Name[ar]=نقل بلوتوث
Name[as]=ব্লুটুথ স্থানান্তৰ
Name[be]=Перадача Bluetooth
Name[bg]=Предаване чрез Bluetooth
Name[bn]=ব্লু-টুথ স্থানান্তর
Name[bn_IN]=ব্লু-টুথ বিনিময়
Name[ca]=Transferència per Bluetooth
Name[ca@valencia]=Transferència per Bluetooth
Name[cs]=Přenos přes Bluetooth
Name[da]=Bluetooth-overførsel
Name[de]=Bluetooth-Übertragung
Name[el]=Μεταφορά Bluetooth
Name[en_GB]=Bluetooth Transfer
Name[es]=Transferencia Bluetooth
Name[et]=Bluetoothi failiülekanne
Name[eu]=Bluetooth-en transferentzia
Name[fa]=انتقال از طریق بلوتوث
Name[fi]=Bluetooth-siirto
Name[fr]=Transfert Bluetooth
Name[gl]=Transferencia Bluetooth
Name[gu]=બ્લુટુથ પરિવહન
Name[he]=העברה דרך Bluetooth
Name[hi]=ब्लूटूथ हस्तांतरण
Name[hu]=Bluetooth átvitel
Name[id]=Transfer Bluetooth
Name[it]=Trasferimento Bluetooth
Name[ja]=Bluetooth 転送
Name[ko]=블루투스 전송
Name[ku]=Veguhestina Bluetooth
Name[lt]=Bluetooth perdavimas
Name[lv]=Bluetooth pārsūtīšana
Name[mk]=Bluetooth пренос
Name[nb]=Bluetooth-overføring
Name[nl]=Bluetooth-overdracht
Name[or]=ବ୍ଲୁଟୁଥ ପରିବହନ
Name[pa]=ਬਲਿਊਟੁੱਥ ਟਰਾਂਸਫਰ
Name[pl]=Przesyłanie przez Bluetooth
Name[pt]=Transferência por Bluetooth
Name[pt_BR]=Transferência Bluetooth
Name[ro]=Transfer Bluetooth
Name[ru]=Передача данных через Bluetooth
Name[sk]=Bluetooth prenos
Name[sl]=Prenos Bluetooth
Name[sr]=Блутут пренос
Name[sr@latin]=Blutut prenos
Name[sv]=Blåtandsöverföring
Name[ta]=ப்ளூடூத் பரிமாற்றம்
Name[te]=బ్లూటూత్ బదిలీకరణ
Name[th]=ถ่ายโอนผ่านบลูทูท
Name[tr]=Bluetooth Aktarımı
Name[ug]=كۆكچىش ئۇزىتىشى
Name[uk]=Передача файлів через Bluetooth
Name[xh]=Uthumela nge-Bluetooth
Name[zh_CN]=蓝牙传输
Name[zh_HK]=藍牙傳輸
Name[zh_TW]=藍牙傳輸
Name[zu]=Ukudluliselwa nge-Bluetooth
Comment=Send files via Bluetooth
Comment[af]=Stuur lêers via Bluetooth
Comment[ar]=أرسل الملفات عبر بلوتوث
Comment[as]=ব্লুটুথৰ মাধ্যমে নথিপত্ৰ পঠিৱাওক
Comment[be]=Пасылка файлаў праз Bluetooth
Comment[bg]=Изпращане на файлове чрез Bluetooth
Comment[bn]=ব্লু-টুথের মাধ্যমে ফাইল পাঠানো হচ্ছে
Comment[bn_IN]=ব্লু-টুথের মাধ্যমে ফাইল পাঠানো হবে
Comment[ca]=Envia fitxers a través del Bluetooth
Comment[ca@valencia]=Envia fitxers a través del Bluetooth
Comment[cs]=Posílat soubory přes Bluetooth
Comment[da]=Send filer via Bluetooth
Comment[de]=Dateien über Bluetooth versenden
Comment[el]=Αποστολή αρχείων μέσω Bluetooth
Comment[en_GB]=Send files via Bluetooth
Comment[eo]=Sendi dosierojn per Bludento
Comment[es]=Enviando archivos vía Bluetooth
Comment[et]=Failide saatmine üle Bluetoothi
Comment[eu]=Fitxategiak Bluetooth bidez bidaltzea
Comment[fa]=ارسال پرونده‌ها از طریق بلوتوث
Comment[fi]=Lähetä tiedostoja Bluetoothilla
Comment[fr]=Envoi de fichiers par Bluetooth
Comment[gl]=Enviando ficheiros vía Bluetooth
Comment[gu]=બ્લુટુથ મારફતે ફાઇલોને મોકલો
Comment[he]=שליחת קבצים דרך Bluetooth
Comment[hi]=ब्लूटूथ से होकर फ़ाइल भेजें
Comment[hu]=Fájlok küldése Bluetoothon
Comment[id]=Mengirim berkas melalui Bluetooth
Comment[it]=Invia file attraverso Bluetooth
Comment[ja]=ファイルを Bluetooth で送信
Comment[ko]=블루투스를 통해 파일을 전송합니다
Comment[ku]=Şandina pelan bi Bluetooth re
Comment[lt]=Siųsti failus per Bluetooth
Comment[lv]=Sūtīt failus caur Bluetooth
Comment[mk]=Испрати датотеки преку Bluetooth
Comment[nb]=Send filer via Bluetooth
Comment[nl]=Bestanden versturen via Bluetooth
Comment[or]=ବ୍ଲୁଟୁଥ ମାଧ୍ଯମରେ ଫାଇଲଗୁଡ଼ିକୁ ପଠାନ୍ତୁ
Comment[pa]=ਬਲਿਊਟੁੱਥ ਰਾਹੀਂ ਫਾਇਲਾਂ ਭੇਜੋ
Comment[pl]=Wysyłanie plików przez Bluetooth
Comment[pt]=Enviar ficheiros através do Bluetooth
Comment[pt_BR]=Enviar arquivos via Bluetooth
Comment[ro]=Trimiteți fișiere prin Bluetooth
Comment[ru]=Отправка файлов через Bluetooth
Comment[sk]=Posielať súbory cez Bluetooth
Comment[sl]=Pošiljanje datotek preko Bluetooth
Comment[sr]=Шаљем датотеке преко Блутута
Comment[sr@latin]=Šaljem datoteke preko Blututa
Comment[sv]=Skicka filer via Bluetooth
Comment[ta]=ப்ளூடூத் வழியாக கோப்புகள் அனுப்பு
Comment[te]=బ్లూటూత్ ద్వారా ఫైళ్ళను పంపు
Comment[th]=ส่งแฟ้มทางบลูทูท
Comment[tr]=Dosyaları Bluetooth ile gönder
Comment[ug]=كۆكچىش بىلەن ھۆججەت يوللاش
Comment[uk]=Надіслати файли через Bluetooth
Comment[xh]=Thumela iifayile usebenzisa i-Bluetooth
Comment[zh_CN]=通过蓝牙传输文件
Comment[zh_HK]=透過藍牙傳送檔案
Comment[zh_TW]=透過藍牙傳送檔案
Comment[zu]=Thumela amafayela nge-Bluetooth
Icon=bluetooth
Exec=bluetooth-sendto
Terminal=false
Type=Application
Categories=GTK;GNOME;
StartupNotify=true
NoDisplay=true
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-bluetooth
X-GNOME-Bugzilla-Component=sendto
X-GNOME-Bugzilla-Version=3.4.0
