
[Desktop Entry]
Name=Bluetooth
Name[af]=Bluetooth
Name[ar]=بلوتوث
Name[as]=ব্লুটুথ
Name[ast]=Bluetooth
Name[be]=Bluetooth
Name[bg]=Мрежа през Bluetooth
Name[bn]=ব্লুটুথ
Name[ca]=Bluetooth
Name[ca@valencia]=Bluetooth
Name[crh]=Bluetooth
Name[cs]=Bluetooth
Name[da]=Bluetooth
Name[de]=Bluetooth
Name[el]=Bluetooth
Name[en_GB]=Bluetooth
Name[eo]=Bludento
Name[es]=Bluetooth
Name[et]=Bluetooth
Name[eu]=Bluetooth
Name[fa]=بلوتوس
Name[fi]=Bluetooth
Name[fr]=Bluetooth
Name[ga]=Bluetooth
Name[gl]=Bluetooth
Name[gu]=બ્લુટુથ
Name[he]=Bluetooth
Name[hi]=ब्लूटूथ
Name[hu]=Bluetooth
Name[id]=Bluetooth
Name[it]=Bluetooth
Name[ja]=Bluetooth
Name[kn]=ಬ್ಲೂಟೂತ್
Name[ko]=블루투스
Name[lt]=Bluetooth
Name[lv]=Bluetooth
Name[mk]=Bluetooth
Name[ml]=ബ്ലൂടൂത്ത്
Name[mr]=ब्ल्युटूथ
Name[nb]=Blåtann
Name[nl]=Bluetooth
Name[or]=ବ୍ଲୁଟୁଥ
Name[pa]=ਬਲਿਊਟੁੱਥ
Name[pl]=Bluetooth
Name[pt]=Bluetooth
Name[pt_BR]=Bluetooth
Name[ro]=Bluetooth
Name[ru]=Bluetooth
Name[sk]=Bluetooth
Name[sl]=Bluetooth
Name[sr]=Блутут
Name[sr@latin]=Blutut
Name[sv]=Bluetooth
Name[ta]=ப்ளூடூத்
Name[te]=బ్లూటూత్
Name[th]=บลูทูท
Name[tr]=Bluetooth
Name[ug]=كۆكچىش
Name[uk]=Bluetooth
Name[vi]=Bluetooth
Name[zh_CN]=蓝牙
Name[zh_HK]=藍牙
Name[zh_TW]=藍牙
Comment=Configure Bluetooth settings
Comment[ar]=ضبط إعدادات بلوتوث
Comment[as]=ব্লুটুথ সংহতিসমূহ সংৰূপণ কৰক
Comment[ast]=Configurar axustes de Bluetooth
Comment[be]=Настройка Bluetooth
Comment[bg]=Настройване на Bluetooth
Comment[ca]=Configura els paràmetres del Bluetooth
Comment[ca@valencia]=Configura els paràmetres del Bluetooth
Comment[crh]=Bluetooth ayarlarını endamlandır
Comment[cs]=Nastavit Bluetooth
Comment[da]=Ændr Bluetooth-indstillinger
Comment[de]=Bluetooth-Einstellungen bearbeiten
Comment[el]=Ρύθμιση επιλογών Bluetooth
Comment[en_GB]=Configure Bluetooth settings
Comment[eo]=Ŝanĝi la Bludentajn agordojn
Comment[es]=Configuración de Bluetooth
Comment[et]=Bluetoothi seaded
Comment[eu]=Konfiguratu Bluetooth-aren ezarpenak
Comment[fa]=پیکربندی تنظیمات بلوتوث
Comment[fi]=Määritä Bluetooth-asetukset
Comment[fr]=Configurer les paramètres du bluetooth
Comment[gl]=Preferencias de Bluetooth
Comment[gu]=બ્લુટુથ સુયોજનોને રૂપરેખાંકિત કરો
Comment[he]=הגדרת תצורת ה־Bluetooth
Comment[hi]=ब्लूटूथ सेटिंग विन्यस्त करें
Comment[hu]=Bluetooth beállítások módosítása
Comment[it]=Configura le impostazioni Bluetooth
Comment[ja]=Bluetooth の設定を調整する
Comment[kn]=ಬ್ಲೂಟೂತ್ ಸಿದ್ಧತೆಗಳನ್ನು ಸಂರಚಿಸು
Comment[ko]=블루투스를 설정합니다
Comment[lt]=Keisti „Bluetooth“ nustatymus
Comment[lv]=Konfigurēt Bluetooth iestatījumus
Comment[mk]=Конфигурирај ги поставувањата за Bluetooth
Comment[ml]=ബ്ലൂടൂത്ത് ക്രമീകരണങ്ങള്‍ ക്രമീകരിക്കുക
Comment[mr]=ब्ल्युटूथ सेटिंग्स् संरचीत करा
Comment[nb]=Konfigurer innstillinger for Bluetooth
Comment[nl]=Bluetooth-instellingen configureren
Comment[or]=ବ୍ଲୁଟୁଥ ସଂରଚନାକୁ ବିନ୍ୟାସ କରନ୍ତୁ
Comment[pa]=ਬਲਿਊਟੁੱਥ ਸੈਟਿੰਗ ਸੰਰਚਨਾ
Comment[pl]=Konfiguracja ustawień Bluetooth
Comment[pt]=Configurar as definições de Bluetooth
Comment[pt_BR]=Configurar ajustes de Bluetooth
Comment[ru]=Настроить Bluetooth
Comment[sl]=Nastavitve vmesnika Bluetooth
Comment[sr]=Измените подешавања блутута
Comment[sr@latin]=Izmenite podešavanja blututa
Comment[sv]=Konfigurera Bluetooth-inställningar
Comment[ta]=ப்ளூடூத் அமைப்புகளை வடிவமை
Comment[te]=బ్లూటూత్ అమరికలను స్వరూపించు
Comment[th]=ตั้งค่าบลูทูท
Comment[tr]=Bluetooth ayarlarını yapılandır
Comment[uk]=Налаштувати параметри Bluetooth
Comment[vi]=Cấu hình thiết lập Bluetooth
Comment[zh_CN]=配置蓝牙设置
Comment[zh_HK]=設定藍牙設定值
Comment[zh_TW]=設定藍牙設定值
Icon=bluetooth
Exec=gnome-control-center bluetooth
Terminal=false
Type=Application
Categories=GTK;GNOME;Settings;X-GNOME-NetworkSettings;HardwareSettings;X-GNOME-Settings-Panel;
OnlyShowIn=GNOME;Unity;
StartupNotify=true
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-bluetooth
X-GNOME-Bugzilla-Component=properties
X-GNOME-Bugzilla-Version=3.4.2
X-GNOME-Settings-Panel=bluetooth
X-Desktop-File-Install-Version=0.19
