[Desktop Entry]
Name=Brasero
Name[ar]=براسيرو
Name[as]=Brasero
Name[ast]=Brasero
Name[be]=Brasero
Name[bg]=Brasero
Name[bn_IN]=Brasero
Name[ca]=Brasero
Name[cs]=Brasero
Name[da]=Brasero
Name[de]=Brasero
Name[el]=Brasero
Name[en_GB]=Brasero
Name[es]=Brasero
Name[et]=Brasero
Name[eu]=Brasero
Name[fi]=Brasero
Name[fr]=Brasero
Name[ga]=Brasero
Name[gl]=Brasero
Name[gu]=Brasero
Name[hi]=ब्रैसेरो
Name[hu]=Brasero
Name[it]=Brasero
Name[ja]=Brasero
Name[kn]=Brasero
Name[ko]=브라세로
Name[lt]=Brasero
Name[ml]=ബ്രസേറോ 
Name[mr]=ब्रसेरो
Name[nb]=Brasero
Name[nds]=Brasero
Name[or]=Brasero
Name[pa]=ਬਰਾਸੀਰੋ
Name[pl]=Brasero
Name[pt]=Brasero
Name[pt_BR]=Brasero
Name[ro]=Brasero
Name[ru]=Brasero
Name[sl]=Brasero
Name[sr]=Бразеро
Name[sr@latin]=Brazero
Name[sv]=Brasero
Name[ta]=Brasero
Name[te]=బ్రాసెరో
Name[tr]=Brasero
Name[uk]=Brasero
Name[zh_CN]=Brasero
Name[zh_HK]=Brasero
Name[zh_TW]=Brasero
GenericName=Disc Copier
GenericName[ar]=ناسخ القرص
GenericName[as]=ডিস্ক নকল ব্যৱস্থা
GenericName[ast]=Copiador de discos
GenericName[be]=Капіявальнік дыскаў
GenericName[bg]=Копиране на диск
GenericName[bn]=ডিস্ক অনুলিপিকারক
GenericName[bn_IN]=ডিস্ক কপি ব্যবস্থা
GenericName[br]=Eilerez kantennoù
GenericName[ca]=Copia un disc
GenericName[ca@valencia]=Copia un disc
GenericName[cs]=Kopírování disku
GenericName[da]=Diskkopiering
GenericName[de]=CD/DVD-Kopierer
GenericName[el]=Αντιγραφή δίσκων
GenericName[en_GB]=Disc Copier
GenericName[es]=Copiador de discos
GenericName[et]=Plaadikopeerija
GenericName[eu]=Disko kopiatzailea
GenericName[fi]=Levyn kopiointi
GenericName[fr]=Copie de disque
GenericName[gl]=Copiador de discos
GenericName[gu]=ડિસ્ક નકલ કરનાર
GenericName[he]=מעתיק דיסקים
GenericName[hi]=डिस्क कॉपियर
GenericName[hu]=Lemezmásoló
GenericName[it]=Copia disco
GenericName[ja]=ディスクのコピー
GenericName[kn]=ಡಿಸ್ಕಿನ ನಕಲುಗಾರ
GenericName[ko]=디스크 복사
GenericName[lt]=Diskų kopijuoklis
GenericName[ml]=ഡിസ്ക് പകര്‍ത്തുന്നതിനുള്ള സംവിധാനം
GenericName[mr]=डिस्क प्रतिकृतकर्ता
GenericName[nb]=Kopier plater
GenericName[or]=ଡିସ୍କ ନକଲ
GenericName[pa]=ਡਿਸਕ ਕਾਪੀਕਰਤਾ
GenericName[pl]=Kopiowanie płyt
GenericName[pt]=Copiar Discos
GenericName[pt_BR]=Copiador de Discos
GenericName[ro]=Copiere de discuri
GenericName[ru]=Копирование диска
GenericName[sl]=Kopiranje diskov
GenericName[sr]=Клонирање дискова
GenericName[sr@latin]=Kloniranje diskova
GenericName[sv]=Skivkopierare
GenericName[ta]=வட்டு நகலி
GenericName[te]=డిస్కును నకలుతీయునది
GenericName[th]=เครื่องมือทำสำเนาแผ่น
GenericName[tr]=Disk Kopyalayıcı
GenericName[uk]=Копіювання дисків
GenericName[vi]=Bộ sao chép đĩa
GenericName[zh_CN]=光盘复制器
GenericName[zh_HK]=光碟複製器
GenericName[zh_TW]=光碟複製器
Comment=Copy CDs and DVDs
Comment[ar]=انسخ CD و  DVD
Comment[as]=CD আৰু DVD নকল কৰক
Comment[ast]=Copie CD y DVD
Comment[be]=Капіяваць CD і DVD
Comment[bg]=Копиране на CD и DVD дискове
Comment[bn]=CD এবং DVD অনুলিপি করুন
Comment[bn_IN]=CD ও DVD কপি করুন
Comment[br]=Eilañ CDoù ha DVDoù
Comment[ca]=Copia CD i DVD
Comment[ca@valencia]=Copia CD i DVD
Comment[cs]=Kopírovat CD a DVD
Comment[da]=Kopiér cd'er og dvd'er
Comment[de]=CDs und DVDs kopieren
Comment[el]=Αντιγραφή CD και DVD
Comment[en_GB]=Copy CDs and DVDs
Comment[es]=Copie CD y DVD
Comment[et]=Kopeeri CD ja DVD plaate
Comment[eu]=Kopiatu CD eta DVDak
Comment[fi]=Kopioi CD- ja DVD-levyjä
Comment[fr]=Copier des CD et des DVD
Comment[gl]=Copiar CD e DVD
Comment[gu]=CDs અને DVDs ની નકલ કરો
Comment[he]=העתקת דיסקים
Comment[hi]=सीडी व डीवीडी की नक़ल करें
Comment[hu]=CD-k és DVD-k másolása
Comment[it]=Copia CD e DVD
Comment[ja]=CD と DVD のコピー
Comment[kn]=CD ಮತ್ತು DVDಗಳನ್ನು ಪ್ರತಿಮಾಡಿರಿ
Comment[ko]=CD와 DVD를 복사합니다
Comment[lt]=Kopijuoti CD ar DVD diskus
Comment[ml]=സിഡികളും ഡിവിഡികളും പകര്‍ത്തുക
Comment[mr]=CDs व DVDs प्रतिकृत करा
Comment[nb]=Kopier CDer og DVDer
Comment[or]=CD ଏବଂ DVD ଗୁଡ଼ିକୁ ନକଲ କରନ୍ତୁ
Comment[pa]=CD ਅਤੇ DVD ਕਾਪੀ
Comment[pl]=Kopiowanie płyt CD i DVD
Comment[pt]=Copiar CDs e DVDs
Comment[pt_BR]=Copiar CDs e DVDs
Comment[ro]=Copiere CD-uri și DVD-uri
Comment[ru]=Копирование CD и DVD дисков
Comment[sl]=Kopiranje CD-jev in DVD-jev
Comment[sr]=Клонира ЦД и ДВД дискове
Comment[sr@latin]=Klonira CD i DVD diskove
Comment[sv]=Kopiera cd- och dvd-skivor
Comment[ta]=சிடி மற்றும் டிவிடி களை நகலெடு 
Comment[te]=CDలు మరియు DVDలను నకలుతీయుము
Comment[th]=ทำสำเนาซีดีและดีวีดี
Comment[tr]=CD ve DVD kopyala
Comment[uk]=Копіювання дисків CD та DVD
Comment[vi]=Sao chép CD/DVD
Comment[zh_CN]=复制 CD/DVD
Comment[zh_HK]=複製 CD 和 DVD
Comment[zh_TW]=複製 CD 和 DVD
Exec=brasero -c %u
Icon=brasero
MimeType=x-content/audio-cdda;x-content/video-dvd;x-content/video-vcd;x-content/video-svcd;x-content/image-picturecd;
StartupNotify=true
Terminal=false
Type=Application
NoDisplay=true
OnlyShowIn=GNOME;
X-GNOME-FullName=Brasero Disc Copier
X-GNOME-FullName[ar]=براسيرو ناسخ الأقراص
X-GNOME-FullName[as]=Brasero ডিস্ক নকল ব্যৱস্থা
X-GNOME-FullName[ast]=Copiador de discos Brasero
X-GNOME-FullName[be]=Капіявальнік дыскаў Brasero
X-GNOME-FullName[bg]=Brasero — Копиране на диск
X-GNOME-FullName[bn_IN]=Brasero ডিস্ক কপি ব্যবস্থা
X-GNOME-FullName[ca]=Copia un disc amb el Brasero
X-GNOME-FullName[cs]=Brasero - Kopírování disku
X-GNOME-FullName[da]=Brasero - diskkopiering
X-GNOME-FullName[de]=Brasero - CD/DVD kopieren
X-GNOME-FullName[el]=Αντιγραφή δίσκων Brasero
X-GNOME-FullName[en_GB]=Brasero Disc Copier
X-GNOME-FullName[es]=Copiador de discos Brasero
X-GNOME-FullName[et]=Brasero plaadikopeerija
X-GNOME-FullName[eu]=Brasero disko kopiatzailea
X-GNOME-FullName[fi]=Brasero-levynkopiointi
X-GNOME-FullName[fr]=Copieur de disque Brasero
X-GNOME-FullName[gl]=Copiador de disco Brasero
X-GNOME-FullName[gu]=Brasero ડિસ્ક નકલ
X-GNOME-FullName[hi]=ब्रेसेरो डिस्क कॉपियर
X-GNOME-FullName[hu]=Brasero lemezmásoló
X-GNOME-FullName[it]=Brasero - Copia CD
X-GNOME-FullName[ja]=Brasero - ディスクのコピー
X-GNOME-FullName[kn]=Brasero ಡಿಸ್ಕ್ ಕಾಪಿಯರ್
X-GNOME-FullName[ko]=브라세로 디스크 복사
X-GNOME-FullName[lt]=Brasero diskų kopijuoklis
X-GNOME-FullName[ml]=ബ്രസേറോ ഡിസ്ക് കോപ്പിയര്‍
X-GNOME-FullName[mr]=ब्रेसेरो डिस्क कॉपियर
X-GNOME-FullName[or]=Brasero ଡିସ୍କ ନକଲ କାରୀ
X-GNOME-FullName[pa]=ਬਰਾਸੀਰੋ ਡਿਸਕ ਕਾਪੀਅਰ
X-GNOME-FullName[pl]=Kopiowanie płyt Brasero
X-GNOME-FullName[pt]=Copiador de Discos Brasero
X-GNOME-FullName[pt_BR]=Copiador de Discos Brasero
X-GNOME-FullName[ro]=Copiator disc Brasero
X-GNOME-FullName[ru]=Brasero — копирование диска
X-GNOME-FullName[sl]=Brasero kopiranje diskov
X-GNOME-FullName[sr]=Бразеро за умножавање дискова
X-GNOME-FullName[sr@latin]=Brazero za umnožavanje diskova
X-GNOME-FullName[sv]=Skivkopieraren Brasero
X-GNOME-FullName[ta]=Brasero வட்டு நகலெடுத்தல்
X-GNOME-FullName[te]=బ్రాసెరో డిస్కు నకలుతీయునది
X-GNOME-FullName[tr]=Brasero Disk Kopyalayıcı
X-GNOME-FullName[uk]=Brasero — копіювання диска
X-GNOME-FullName[zh_CN]=Brasero 光盘刻录器
X-GNOME-FullName[zh_HK]=Brasero 光碟複製程式
X-GNOME-FullName[zh_TW]=Brasero 光碟複製程式
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=brasero
X-GNOME-Bugzilla-Component=general
X-GNOME-Bugzilla-Version=2.28.3
