[Desktop Entry]
Name=Caribou
GenericName=Virtual on-screen keyboard
Comment=Enter text with a virtual keyboard
Exec=caribou
Icon=caribou
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Utility;Accessibility;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=caribou
X-GNOME-Bugzilla-Component=default
X-GNOME-Bugzilla-Version=@VERSION@
X-Ubuntu-Gettext-Domain=caribou
NoDisplay=true
