
[Desktop Entry]
Name=Cheese
Name[af]=Cheese
Name[ar]=«ابتسم»
Name[as]=Cheese
Name[ast]=Cheese
Name[be]=Cheese
Name[be@latin]=Cheese
Name[bg]=Cheese
Name[bn]=চিজ
Name[bn_IN]=Cheese
Name[ca]=Cheese
Name[ca@valencia]=Cheese
Name[cs]=Cheese
Name[da]=Cheese
Name[de]=Cheese
Name[dz]=ཅིསི།
Name[el]=Cheese
Name[en_GB]=Cheese
Name[es]=Cheese
Name[et]=Cheese
Name[eu]=Cheese
Name[fi]=Muikku
Name[fr]=Cheese
Name[ga]=Cheese
Name[gl]=Cheese
Name[gu]=Cheese
Name[he]=‏Cheese
Name[hi]=चीज
Name[hu]=Csííz
Name[it]=Cheese
Name[ja]=Cheese
Name[kn]=ಚೀಸ್
Name[ko]=치즈
Name[ku]=Cheese
Name[lt]=Cheese
Name[lv]=Cheese
Name[mk]=Cheese
Name[ml]=ചീസ്
Name[mr]=Cheese
Name[nb]=Cheese
Name[nds]=Cheese
Name[nl]=Cheese
Name[nn]=Cheese
Name[oc]=Cheese
Name[or]=Cheese
Name[pa]=ਚੀਜ਼
Name[pl]=Cheese
Name[ps]=چيز
Name[pt]=Cheese
Name[pt_BR]=Cheese
Name[ro]=Cheese
Name[ru]=Cheese
Name[sl]=Cheese
Name[sq]=Cheese
Name[sr]=Птичица
Name[sr@latin]=Ptičica
Name[sv]=Cheese
Name[ta]=சீஸ்
Name[te]=చీజ్
Name[th]=ชีส
Name[tr]=Peynir
Name[uk]=Cheese
Name[vi]=Cheese
Name[zh_CN]=茄子
Name[zh_HK]=Cheese
Name[zh_TW]=Cheese 表情符號
X-GNOME-FullName=Cheese Webcam Booth
X-GNOME-FullName[af]=Cheese kamerahokkie
X-GNOME-FullName[ar]=غرفة كمرة الوب «ابتسم»
X-GNOME-FullName[as]=Cheese ৰ ৱেবকেম বুথ
X-GNOME-FullName[ast]=Fotomatón de cámara web Cheese
X-GNOME-FullName[be]=Cheese Webcam Booth
X-GNOME-FullName[be@latin]=Cheese Webcam Booth
X-GNOME-FullName[bg]=Крива камера с Cheese
X-GNOME-FullName[bn]=চিজ ওয়েবক্যাম বুথ
X-GNOME-FullName[bn_IN]=Cheese-র ওয়েবক্যাম বুথ
X-GNOME-FullName[ca]=Cabina de fotografia del Cheese
X-GNOME-FullName[ca@valencia]=Cabina de fotografia del Cheese
X-GNOME-FullName[cs]=Fotobudka Cheese
X-GNOME-FullName[da]=Cheese - webkamerastand
X-GNOME-FullName[de]=Cheese Webcam-Automat
X-GNOME-FullName[el]=Cheese
X-GNOME-FullName[en_GB]=Cheese Webcam Booth
X-GNOME-FullName[es]=Fotomatón de cámara web Cheese
X-GNOME-FullName[et]=Cheese'i veebikaamera kabiin
X-GNOME-FullName[eu]=Cheese-ren web kameraren kabina
X-GNOME-FullName[fi]=Muikku-valokuvakoppi
X-GNOME-FullName[fr]=Studio webcam Cheese
X-GNOME-FullName[ga]=Both Cheamara Greásáin Cheese
X-GNOME-FullName[gl]=Fotomatón de cámara web Cheese
X-GNOME-FullName[gu]=Cheese વેબકેમ બુથ
X-GNOME-FullName[he]=תא הצילום של Cheese
X-GNOME-FullName[hi]=चीज वेबकैम बूथ
X-GNOME-FullName[hu]=Csííz webkamerakezelő
X-GNOME-FullName[it]=Cabina per webcam Cheese
X-GNOME-FullName[ja]=Cheese ウエブカム・ブース
X-GNOME-FullName[kn]=ಚೀಸ್ ವೆಬ್‌ಕ್ಯಾಮ್ ಬೂತ್
X-GNOME-FullName[ko]=치즈 웹카메라 사진 찍기
X-GNOME-FullName[ku]=Bernameya Webcam'an Cheese
X-GNOME-FullName[lt]=Cheese internetinės kameros programa
X-GNOME-FullName[lv]=Cheese foto būdiņa
X-GNOME-FullName[mk]=Кабина за веб камерата
X-GNOME-FullName[ml]=ചീസിന്റെ വെബ്കാം ബൂത്ത്
X-GNOME-FullName[mr]=Cheese वेबकॅम बूथ
X-GNOME-FullName[nb]=Cheese webkamera
X-GNOME-FullName[nds]=Cheese Netkamera Knippskassen
X-GNOME-FullName[nl]=Cheese webcamstudio
X-GNOME-FullName[or]=Cheese ୱେବକେମ ଦୋକାନ
X-GNOME-FullName[pa]=ਚੀਜ਼ ਵੈੱਬ-ਕੈਮ ਬੂਥ
X-GNOME-FullName[pl]=Obsługa kamer Cheese
X-GNOME-FullName[pt]=Cabine Fotográfica Cheese
X-GNOME-FullName[pt_BR]=Cabine de webcam do Cheese
X-GNOME-FullName[ro]=Cabina camerei web Cheese
X-GNOME-FullName[ru]=Фотовидеобудка Cheese
X-GNOME-FullName[sl]=Foto kabina Cheese
X-GNOME-FullName[sq]=Kabina e kamerës web Cheese
X-GNOME-FullName[sr]=Фоторадња „Птичица“
X-GNOME-FullName[sr@latin]=Fotoradnja „Ptičica“
X-GNOME-FullName[sv]=Webbkamerabåset Cheese
X-GNOME-FullName[ta]=சீஸ் வெப்கேம் பூத்
X-GNOME-FullName[te]=చీజ్ వెబ్‌కామ్ బూత్
X-GNOME-FullName[th]=บูทเว็บแคมชีส
X-GNOME-FullName[tr]=Peynir Web Kamerası Standı
X-GNOME-FullName[uk]=Фотовідеокіоск Cheese
X-GNOME-FullName[vi]=Trang chủ Cheese
X-GNOME-FullName[zh_CN]=茄子大头贴
X-GNOME-FullName[zh_HK]=Cheese 網絡攝影鋪
X-GNOME-FullName[zh_TW]=Cheese 網路視訊表情符號
Comment=Take photos and videos with your webcam, with fun graphical effects
Comment[af]=Neem foto's en video's met die webkamera, met oulike grafiese effekte
Comment[ar]=التقط صور و فيديو من كاميرا الوب، مع مؤثرات رسومية
Comment[as]=ৱেবকেমৰ সহায়ত আমোদময় গ্ৰাফিক্সসহ ফ'টো তোলক আৰু ভিডিও তৈয়াৰ কৰক
Comment[ast]=Tome semeyes y vídeos cola so cámara web, con divertíos efeutos gráficos
Comment[be]=Рабі здымкі й відэа з сваёй ўэб-камэры, зь цікавымі графічнымі эфэктамі
Comment[be@latin]=Rabi zdymki j videa sa svajoj web-kamery, ź cikavymi hrafičnymi efektami
Comment[bg]=Заснeмане на снимки и клипове с вашата уеб камера и прилагане на ефекти
Comment[bn]=ওয়েবক্যামের সাহায্যে মজাদার গ্র্যাফিক্সের আবহ সহ ফটো তুলুন এবং ভিডিও তৈরি করুন
Comment[bn_IN]=ওয়েবক্যামের সাহায্যে মজাদার গ্র্যাফিক্স সহ ফটো তুলুন ও ভিডিও তৈরি করুন
Comment[ca]=Feu fotos i vídeos amb la càmera web, amb efectes gràfics divertits
Comment[ca@valencia]=Feu fotos i vídeos amb la càmera web, amb efectes gràfics divertits
Comment[cs]=Snímejte obrázky a videoklipy svou webovou kamerou, se zábavnými grafickými efekty
Comment[da]=Tag billeder og optag video fra dit webkamera, med sjove grafiske effekter
Comment[de]=Ein Programm, um Bilder und Videos mit einer Webcam aufzunehmen und lustige graphische Effekte hinzuzufügen
Comment[el]=Λήψη φωτογραφιών και βίντεο από την δικτυακή σας κάμερα, με διασκεδαστικά γραφικά εφέ
Comment[en_GB]=Take photos and videos with your webcam, with fun graphical effects
Comment[es]=Tome fotografías y vídeos con su cámara web, con divertidos efectos gráficos
Comment[et]=Veebikaamerast fotode ja videote salvestamine, ka koos graafiliste efektidega
Comment[eu]=Hartu argazkiak eta bideoak web kameratik, efektu grafiko dibertigarriekin
Comment[fi]=Ota valokuvia ja videoita webikamerallasi hauskojen tehosteiden kera
Comment[fr]=Prise de photos et enregistrement de vidéos grâce à votre webcam avec effets graphiques rigolos
Comment[ga]=Tóg grianghraif agus físeáin le do cheamara gréasáin, le maisíochtaí grafacha greannmhara
Comment[gl]=Tire fotografías e vídeos coa súa cámara web, con efectos gráficos divertidos
Comment[gu]=- તમારા વેબકેમમાંથી ફોટાઓ અને વીડિયો લો, ગ્રાફિકલ અસરો સાથે આનંદ મેળવો
Comment[he]=צלם תמונות וסרטים בעזרת מצלמת האינטרנט שלך ואפקטים גרפיים משעשעים
Comment[hi]=अपने वेबकैम से तस्वीर व वीडियो लें, मजेदार आलेखी प्रभाव के साथ
Comment[hu]=Képek és videók felvétele webkamerával, vicces grafikai hatásokkal
Comment[it]=Scatta fotografie e registra video con la webcam applicando divertenti effetti grafici
Comment[ja]=ウェブカムで画像効果を付与した楽しい写真や動画を撮ります
Comment[kn]=ನಿಮ್ಮ ವೆಬ್‌ಕ್ಯಾಮ್‌ ಅನ್ನು ಬಳಸಿಕೊಂಡು ತಮಾಷೆಯ ಗ್ರಾಫಿಕಲ್ ಪರಿಣಾಮಗಳೊಂದಿಗೆ ಚಿತ್ರಗಳನ್ನು ಹಾಗು ವಿಡಿಯೋಗಳನ್ನು ತೆಗೆಯಿರಿ
Comment[ko]=웹카메라에서 사진과 비디오를 찍고, 재미있는 그래픽 효과를 사용할 수도 있습니다
Comment[ku]=Bi webcama xwe wêne û vîdyoyan bikişînin, bi efektên seyr.
Comment[lt]=Fotografuokite ir filmuokite internetine kamera, su įdomiais efektais
Comment[lv]=Uzņemiet fotogrāfijas un video ar savu tīmekļa kameru ar jautriem efektiem
Comment[mk]=Сликајте фотографии и снимајте видеа од Вашата веб камера, со забавни графички ефекти
Comment[ml]=നിങ്ങളുടെ വെബ്കാം ഉപയോഗിച്ചു് നല്ല രസമുള്ള ഗ്രാഫിക്കല്‍ എഫക്ടുകളോടുകൂടിയ ഫോട്ടോകളും വീഡിയോകളും എടുക്കുക
Comment[mr]=चित्रलेखीय प्रभावांसह, वेबकॅमेऱ्यातून फोटो व चलचित्र घ्या
Comment[nb]=Ta bilder og ta opp video fra ditt webkamera med morsomme effekter
Comment[nl]=Foto's en video's met een webcam maken, met leuke visuele effecten
Comment[nn]=- Ta bilete og video frå vevkameraet ditt, med morosame grafiske effektar
Comment[oc]=Prenètz de fotografias e de vidèos amb vòstra webcam amb d'efièches grafics risolièrs
Comment[or]=ଆପଣଙ୍କ ୱେବକ୍ୟାମ ସାହାଯ୍ୟରେ ଆଲୋକଚିତ୍ର ଏବଂ ଚଳଚିତ୍ର ନିଅନ୍ତୁ, ମଜାଳିଆ ଗ୍ରାଫିକାଲ ପ୍ରଭାବ ସହିତ
Comment[pa]=ਆਪਣੇ ਵੈੱਬ-ਕੈਮ ਨਾਲ ਫੋਟੋ ਲਵੋ ਅਤੇ ਵੀਡਿਓ ਬਣਾਓ ਅਤੇ ਗਰਾਫਿਕਸ ਪਰਭਾਵ ਨਾਲ ਮੌਜਾਂ ਲੁੱਟੋ
Comment[pl]=Robienie zdjęć i nagrywanie filmów z zabawnymi efektami za pomocą kamery internetowej
Comment[ps]=په خپل ګورتکېم باندې انځورونه او وېډيوګانې جوړې کړﺉ، د کښنيزو اغېزو سره
Comment[pt]=Tire fotografias e grave vídeos com a sua webcam, com engraçados efeitos gráficos
Comment[pt_BR]=Tire fotos e vídeos com sua webcam, com efeitos gráficos divertidos
Comment[ro]=Faceți fotografii și filme cu camera web, folosind efect grafice nostime
Comment[ru]=Создание фотографий и видео с помощью веб-камеры, c применением занятных эффектов
Comment[sl]=Zajem slik in posnetkov s spletno kamero ter veliko grafičnimi učinki
Comment[sq]=Bëj foto dhe regjistro video me kamerën tënde web, me efekte të këndshme grafike.
Comment[sr]=Направи фотке и снимке веб камерицом, уз забавне ефекте
Comment[sr@latin]=Napravi fotke i snimke veb kamericom, uz zabavne efekte
Comment[sv]=Ta bilder och videor från din webbkamera med roliga grafiska effekter
Comment[ta]=வெப்கேம் மூலம் வேடிக்கையான பட அமைப்பு விளைவுகளுடன் போட்டோ மற்றும் வீடீயோ எடுங்கள்
Comment[te]=నవ్వుతెప్పించు గ్రాఫికల్ ప్రభావాలతో, మీవెబ్‌కేమ్‌తో ఫోటోలను మరియు వీడియోలను తీసుకొనుము.
Comment[th]=ถ่ายภาพและวีดิทัศน์จากเว็บแคมของคุณ พร้อมใส่ลูกเล่นสนุกๆ
Comment[tr]=Web kameranızdan fotoğraflar ve videolar çekip bunlara grafiksel etkiler ekler.
Comment[uk]=Створення фотографій та відео за допомогою веб-камери, із використанням зайнятих ефектів
Comment[vi]=Chụp ảnh và phim dùng webcam, thêm các hiệu ứng đồ họa thứ vị.
Comment[zh_CN]=使用摄像头拍照或录像，并加上有趣的图像效果
Comment[zh_HK]=從你的網絡攝影機擷取相片與影片，並加入有趣的圖片特效
Comment[zh_TW]=從您的網路攝影機擷取相片與影片，並加入有趣的圖片特效
Exec=cheese
Terminal=false
Type=Application
StartupNotify=true
Icon=cheese
Categories=GNOME;AudioVideo;X-AudioVideoImport;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=cheese
X-GNOME-Bugzilla-Component=general
X-GNOME-Bugzilla-Version=2.28.1
X-GNOME-Bugzilla-ExtraInfoScript=/usr/libexec/cheese/cheese-bugreport.sh
X-Desktop-File-Install-Version=0.15
