[Desktop Entry]
Encoding=UTF-8
Name=Desktop Effects
Name[as]=ডেষ্কট'পৰ গুণ
Name[bg]=Ефекти в работния плот
Name[bn_IN]=ডেস্কটপ ইফেক্টস
Name[bs]=Efekti radne površine
Name[ca]=Efectes d'escriptori
Name[cs]=Efekty desktopu
Name[da]=Skrivebordseffekter
Name[de]=Desktopeffekte
Name[el]=Εφέ επιφάνειας εργασίας
Name[es]=Efectos de Escritorio
Name[fi]=Työpöytätehosteet
Name[fr]=Effets du bureau
Name[gu]=ડેસ્કટોપ અસરો
Name[hi]=डेस्कटॉप प्रभाव
Name[hr]=Efekti radne površine
Name[hu]=Asztalhatások
Name[id]=Efek Desktop
Name[is]=Skjáborðsbrellur
Name[it]=Effetti desktop
Name[ja]=デスクトップ効果
Name[ka]=სამუშაო გარემოს ეფექტები
Name[kn]=ಗಣಕತೆರೆ ಪರಿಣಾಮಗಳು
Name[ko]=데스크탑 효과
Name[mk]=Ефекти за Работната Површина
Name[ml]=ഡസ്ക്ടോപ്പ് മാറ്റങ്ങള്‍
Name[mr]=कार्यस्थळ प्रभाव
Name[ms]=Kesan Desktop
Name[nb]=Skrivebordseffekter
Name[nl]=Bureaublad effecten
Name[or]=ଡେସ୍କଟପ ଇଫେକ୍ଟସ
Name[pa]=ਵੇਹੜਾ ਪਰਭਾਵ
Name[pl]=Efekty pulpitu
Name[pt]=Efeitos do Ambiente de Trabalho
Name[pt_BR]=Efeitos da área de trabalho
Name[ro]=Desktop Effects
Name[ru]=Эффекты рабочего стола
Name[si]=ඩෙස්ක්ටොප් රංග සැරසිලි
Name[sk]=Efekty pracovného prostredia
Name[sl]=Namizni effekti
Name[sr]=Ефекти радног окружења
Name[sr@latin]=Efekti radnog okruženja
Name[sv]=Skrivbordseffekter
Name[ta]=பணிமேடை தோற்றங்கள்
Name[te]=డెస్కుటాప్ ప్రభావాలు
Name[uk]=Ефекти робочого столу
Name[zh_CN]=桌面效果
Name[zh_TW]=桌面特效
Comment=Select desktop effects
Comment[as]=ডেষ্কট'পৰ গুণ নিৰ্ব্বাচন কৰক
Comment[bg]=Избор на ефекти в работния плот
Comment[bn_IN]=ডেস্কটপের ইফেক্ট নির্বাচন করুন
Comment[bs]=Odaberite efekte radne površine
Comment[ca]=Seleccioneu els efectes d'escriptori
Comment[cs]=Vyberte efekty desktopu
Comment[da]=Vælg skrivebordseffekter
Comment[de]=Desktopeffekte auswählen
Comment[el]=Επιλέξτε εφέ επιφάνειας εργασίας
Comment[es]=Seleccionar efectos de escritorio
Comment[fi]=Valitse työpöytätehosteet
Comment[fr]=Sélectionner les effets du bureau
Comment[gu]=ડેસ્કટોપ અસરો પસંદ કરો
Comment[hi]=डेस्कटॉप प्रभाव चुनें
Comment[hr]=Odaberite efekte radne površine
Comment[hu]=Asztalhatások kiválasztása
Comment[id]=Pilih efek desktop
Comment[is]=Veldu skjáborðsbrellur
Comment[it]=Seleziona effetti desktop
Comment[ja]=デスクトップ効果の選択
Comment[ka]=აირჩიეთ სამუშაო გარემოს ეფექტები
Comment[kn]=ಗಣಕತೆರೆ ಪರಿಣಾಮಗಳನ್ನು ಆಯ್ಕೆಮಾಡು
Comment[ko]=데스크탑 효과 선택
Comment[mk]=Одбери ефекти за работната површина
Comment[ml]=ഡസ്ക്ടോപ്പ് മാറ്റങ്ങള്‍ തിരഞ്ഞെടുക്കുക
Comment[mr]=कार्यस्थळ प्रभाव निवडा
Comment[ms]=Pilih kesan desktop
Comment[nb]=Velg skrivebordseffekter
Comment[nl]=Bureaublad effecten selecteren
Comment[or]=ଡେସ୍କଟପ ଇଫେକ୍ଟସକୁ ଚୟନ କରନ୍ତୁ
Comment[pa]=ਵੇਹੜਾ ਪਰਭਾਵ ਚੁਣੋ
Comment[pl]=Wybór efektów graficznych dla pulpitu
Comment[pt]=Selecionar efeitos do Ambiente de trabalho
Comment[pt_BR]=Selecione efeitos da área de trabalho
Comment[ro]=Selectează efecte desktop
Comment[ru]=Выбрать эффект рабочего стола
Comment[si]=ඩෙස්ක්ටොප් රංග සැරසිලි තෝරාගන්න
Comment[sk]=Zvoľte efekty pracovného prostredia
Comment[sl]=SeleIzberi namizne effekte
Comment[sr]=Изаберите ефекте радног окружења
Comment[sr@latin]=Izaberite efekte radnog okruženja
Comment[sv]=Välj skrivbordseffekter
Comment[ta]=பணிமேடை தோற்றங்களை தேர்ந்தெடுக்கவும்
Comment[te]=డెస్కుటాప్ ప్రభావాలను ఎన్నుకో
Comment[uk]=Обрати ефект робочого столу
Comment[zh_CN]=选择桌面效果
Comment[zh_TW]=選擇桌面特效
Exec=desktop-effects
Icon=desktop-effects
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Settings;DesktopSettings;
OnlyShowIn=GNOME;
