
[Desktop Entry]
Encoding=UTF-8
Name=Smolt
GenericName=Smolt Desktop Profiler
Comment=View and send a hardware profile to the Fedora Project
Exec=smoltGui
Icon=smolt.png
Terminal=false
Type=Application
Categories=System;
Version=0.9.7
X-Desktop-File-Install-Version=0.19
