
[Desktop Entry]
Name=Passwords and Encryption Keys
Name[ar]=كلمات السرِّ ومفاتيح التعمية
Name[as]=গুপ্তশব্দ আৰু এনক্ৰিপশন কি
Name[be@latin]=Paroli j klučy šyfravańnia
Name[bg]=Пароли и ключове за шифриране
Name[bn]=পাসওয়ার্ড ও এনক্রিপশন কী
Name[bn_IN]=পাসওয়ার্ড ও এনক্রিপশন কি
Name[br]=Gerioù-tremen hag alc'hwezioù enrinegañ
Name[ca]=Contrasenyes i claus de xifratge
Name[ca@valencia]=Contrasenyes i claus de xifratge
Name[cs]=Hesla a šifrovací klíče
Name[da]=Kodeord og krypteringsnøgler
Name[de]=Passwörter und Verschlüsselung
Name[dz]=ཆོག་ཡིག་དང་གསང་བཟོ་ལྡེ་མིག་ཚུ་
Name[el]=Κωδικοί και κλειδιά κρυπτογράφησης
Name[en_GB]=Passwords and Encryption Keys
Name[es]=Contraseñas y claves de cifrado
Name[et]=Paroolid ja krüptimisvõtmed
Name[eu]=Pasahitzak eta enkriptatze-gakoak
Name[fi]=Salasanat ja salausavaimet
Name[fr]=Mots de passe et clés de chiffrement
Name[ga]=Focail Faire agus Eochracha Chriptithe
Name[gl]=Contrasinais e chaves de cifrado
Name[gu]=પાસવર્ડો અને એનક્રિપ્શન કીઓ
Name[he]=סיסמאות ומפתחות הצפנה
Name[hi]=कूटशब्द व गोपन कुंजी
Name[hu]=Jelszavak és titkosítási kulcsok
Name[it]=Password e chiavi di cifratura
Name[ja]=パスワードと暗号鍵
Name[kn]=ಗುಪ್ತಪದಗಳು ಹಾಗು ಗೂಢಲಿಪೀಕರಣ ಕೀಲಿಗಳು
Name[ko]=암호 및 암호화 키
Name[lt]=Slaptažodžiai ir el. raktai
Name[lv]=Paroles un šifrēšanas atslēgas
Name[mk]=Лозинки и клучеви за енкриптирање
Name[ml]=അടയാളവാക്കും എന്‍ക്രിപ്ഷന്‍ കീകളും
Name[mr]=पासवर्ड व ऐंक्रीप्शन किल्ली
Name[nb]=Passord og krypteringsnøkler
Name[ne]=पासवर्ड र गुप्तिकरण कुञ्जी
Name[nl]=Wachtwoorden en sleutels
Name[nn]=Passord og krypteringsnøklar
Name[or]=ପ୍ରବେଶ ସଂକେତ ଏବଂ ସଂଗୁପ୍ତ କିଗୁଡ଼ିକ
Name[pa]=ਪਾਸਵਰਡ ਅਤੇ ਇੰਕ੍ਰਿਪਸ਼ਨ ਕੁੰਜੀਆਂ
Name[pl]=Hasła i klucze szyfrujące
Name[pt]=Senhas e Chaves de Encriptação
Name[pt_BR]=Senhas e chaves de criptografia
Name[ru]=Пароли и ключи шифрования
Name[sl]=Gesla in šifrirni ključi
Name[sr]=Лозинке и кључеви шифровања
Name[sr@latin]=Lozinke i ključevi šifrovanja
Name[sv]=Lösenord och krypteringsnycklar
Name[ta]=கடவுச்சொற்கள் மற்றும் மறையாக்க விசைகள்
Name[te]=రహస్యపదాలు మరియు రహస్యపరచే మీటలు
Name[th]=รหัสผ่านและกุญแจเข้ารหัสลับ
Name[tr]=Parolalar ve Şifreleme Anahtarları
Name[uk]=Паролі та ключі шифрування
Name[vi]=Mật khẩu và khoá mã hoá
Name[zh_CN]=密码和加密密钥
Name[zh_HK]=密碼及加密密碼匙
Name[zh_TW]=密碼及加密金鑰
Comment=Manage your passwords and encryption keys
Comment[ar]=أدِر كلمات سرّك ومفاتيح تعميتك
Comment[as]=গুপ্তশব্দ আৰু এনক্ৰিপশন-চাবি পৰিচালনা কৰক
Comment[be@latin]=Kiruj parolami j klučami šyfravańnia
Comment[bg]=Управление на паролите и ключовете за шифриране
Comment[bn]=পাসওয়ার্ড ও এনক্রিপশন-কী পরিচালনা করুন
Comment[bn_IN]=পাসওয়ার্ড ও এনক্রিপশন-কি পরিচালনা করুন
Comment[br]=Ardeiñ ho tremengerioù hag alc'hwezioù enrinegañ
Comment[ca]=Gestioneu les contrasenyes i claus de xifratge
Comment[ca@valencia]=Gestioneu les contrasenyes i claus de xifratge
Comment[cs]=Spravovat svá hesla a šifrovací klíče
Comment[da]=Håndtér dine kodeord og krypteringsnøgler
Comment[de]=Verwalten Sie Ihre Passwörter und Schlüssel
Comment[dz]=ཁྱོད་རའི་ཆོག་ཡིག་དང་གསང་བཟོ་ལྡེ་མིག་ཚུ་ འཛིན་སྐྱོང་འཐབ་
Comment[el]=Διαχείριση των κωδικών και των κλειδιών κρυπτογράφησης
Comment[en_GB]=Manage your passwords and encryption keys
Comment[es]=Administre sus claves y contraseñas de cifrado
Comment[et]=Sinu paroolide ja krüptimisvõtmete haldamine
Comment[eu]=Kudeatu pasahitzak eta enkriptatze-gakoak
Comment[fi]=Hallitse salasanoja ja salausavaimia
Comment[fr]=Gérer vos mots de passe et vos clés de chiffrement
Comment[ga]=Bainistigh d'fhocail faire agus eochracha criptithe
Comment[gl]=Xestione os seus contrasinais e chaves de cifrado
Comment[gu]=તમારા પાસવર્ડો અને એનક્રિપ્શન કીઓની વ્યવસ્થા કરો
Comment[he]=נהל את הסיסמאות ומפתחות ההצפנה שלך
Comment[hi]=अपना कूटशब्द और गोपन कुंजी प्रबंधित करें
Comment[hu]=Jelszavak és titkosítási kulcsok kezelése
Comment[it]=Gestisce le proprie password e chiavi di cifratura
Comment[ja]=パスワードや暗号鍵を管理します
Comment[kn]=ನಿಮ್ಮ ಗುಪ್ತಪದ ಮತ್ತು ಗೂಢಲಿಪೀಕರಣ ಕೀಲಿಯನ್ನು ನಿರ್ವಹಿಸಿ
Comment[ko]=암호 및 암호화 키를 관리합니다
Comment[lt]=Tvarkyti Jūsų slaptažodžius ir šifravimo raktus
Comment[lv]=Vadīt paroles un šifrēšanas atslēgas
Comment[mk]=Менаџирајте ги Вашите лозинки и клучеви за енкриптирање
Comment[ml]=നിങ്ങളുടെ അടയാളവാക്കും എന്‍ക്രിപ്ഷന്‍ കീകളും കൈകാര്യം ചെയ്യുക
Comment[mr]=तुमचे पासवर्ड व ऐंक्रीप्शन किल्ली नियंत्रीत करा
Comment[nb]=Håndter dine passord og krypteringsnøkler
Comment[ne]=तपाईँको पासवर्ड र गुप्तिकरण कुञ्जीहरू प्रबन्ध गर्नुहोस्
Comment[nl]=Uw cryptografische sleutels en wachtwoorden beheren
Comment[nn]=Handter dine passord og krypteringsnøklar
Comment[or]=ଆପଣଙ୍କର ପ୍ରବେଶ ସଂକେତ ଏବଂ ସଂଗୁପ୍ତ କି କୁ ପରିଚାଳନା କରନ୍ତୁ
Comment[pa]=ਆਪਣੇ ਪਾਸਵਰਡ ਅਤੇ ਇੰਕ੍ਰਿਪਸ਼ਨ ਕੁੰਜੀਆਂ ਦੀ ਦੇਖਭਾਲ ਕਰੋ
Comment[pl]=Zarządzanie hasłami i kluczami szyfrującymi
Comment[pt]=Efectue a gestão das suas senhas e chaves de encriptação
Comment[pt_BR]=Gerenciar suas senhas e chaves de criptografia
Comment[ru]=Управление паролями и ключами шифрования
Comment[sl]=Upravljanje z gesli in šifrirnimi ključi
Comment[sr]=Уредите ваше лозинке и кључеве шифровања
Comment[sr@latin]=Uredite vaše lozinke i ključeve šifrovanja
Comment[sv]=Hantera dina lösenord och krypteringsnycklar
Comment[ta]=உங்கள் கடவுச்சொற்கள் மற்றும் மறையாக்க விசைகளை மேலாளுங்கள்
Comment[te]=మీ రహస్యపదాలను మరియు రహస్యపరచే మీటలను నిర్వహించండి
Comment[th]=จัดการรหัสผ่านและกุญแจเข้ารหัสลับของคุณ
Comment[tr]=Parolalarınızı ve şifreleme anahtarlarınızı yönetin
Comment[uk]=Керування паролями та ключами шифрування
Comment[vi]=Quản lý các mật khẩu và khoá mã hoá của bạn
Comment[zh_CN]=管理您的密码和加密密钥
Comment[zh_HK]=管理密碼及密碼匙
Comment[zh_TW]=管理密碼及金鑰
Exec=seahorse
Terminal=false
Type=Application
Icon=seahorse
Categories=GNOME;GTK;Security;Utility;X-Fedora;
StartupNotify=true
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=seahorse
X-GNOME-Bugzilla-Component=general
X-GNOME-Bugzilla-Version=2.28.1
X-GNOME-DocPath=seahorse/seahorse.xml
X-Desktop-File-Install-Version=0.15
