
[Desktop Entry]
Version=1.0
Name=Indic Onscreen Keyboard
Name[as]=Indic Onscreen Keyboard
Name[bn_IN]=ইন্ডিক অন-স্ক্রীন কি-বোর্ড
Name[bs]=Indic na-ekranu tipkovnica
Name[ca]=Teclat índic en pantalla
Name[da]=Indic skærmtastatur
Name[de]=Indische Bildschirm-Tastatur
Name[el]=Indic Onscreen Keyboard
Name[es]=Teclado indico en pantalla
Name[fr]=Clavier indien à l'écran
Name[gu]=ભારતીય ઓનસ્ક્રીન કિબોર્ડ
Name[hi]=इंडिक ऑनस्क्रीन कुंजीपट
Name[hu]=Indiai Virtuális Billetyűzet
Name[it]=Tastiera indiana su schermo
Name[ja]=画面上のキーボードの表意文字
Name[kn]=ಇಂಡಿಕ್ ಆನ್‌ಸ್ಕ್ರೀನ್ ಕೀಬೋರ್ಡ್
Name[ko]=인도어 온스크린 키보드 
Name[mai]=इंडिक ऑनस्क्रीन कीबोर्ड
Name[ml]=ഇന്‍ഡിക് ഓണ്‍സ്ക്രീന്‍ കീബോര്‍ഡ്
Name[mr]=इन्डिक ऑनस्क्रीन किबोर्ड
Name[nl]=Indisch toetsenbord op het scherm
Name[or]=ଭାରତୀୟ ଅନସ୍କ୍ରିନ କିବୋର୍ଡ
Name[pa]=ਇੰਡਿਕ ਆਨਸਕਰੀਨ ਕੀਬੋਰਡ
Name[pl]=Indyjska klawiatura ekranowa
Name[pt]=Teclado índico no ecrã
Name[pt_BR]=Indic Onscreen Keyboard
Name[ru]=Индийская Экранная Клавиатура
Name[ta]=இந்திய ஆன்ஸ்க்ரீன் விசைப்பலகை
Name[te]=ఇండిక్ ఆన్‌స్క్రీన్ కీబోర్డు
Name[th]=แป้นพิมพ์บนจอภาพ Indic
Name[uk]=Індійська екранна клавіатура
Name[zh_CN]=印度语屏幕键盘
Name[zh_TW]=印度語螢幕鍵盤
Comment=Enter Indic characters with a virtual keyboard
Comment[as]=এটা ভাৰ্চুৱেল চাবি ফলকেৰে ইন্ডিক আকৰ লিখক
Comment[bn_IN]=ভার্চুয়াল কি-বোর্ডের সাহায্যে ভারতীয় ভাষার লিপি লিখুন
Comment[bs]=Enter Indic znakove sa virtualnom tipkovnicom
Comment[ca]=Introduïu caràcters índics amb un teclat virtual
Comment[da]=Indtast Indic-karakterer med et virtuelt tastatur
Comment[de]=Indische Zeichen mit der virtuellen Tastatur eingeben
Comment[el]=Εισαγωγή χαρακτήρων Indic μέσω ενός εικονικού πληκτρολογίου
Comment[es]=Ingrese caracteres indicos mediante un teclado virtual
Comment[fr]=Entrer des caractères indiens avec un clavier virtuel
Comment[gu]=વર્ચ્યુઅલ કિબોર્ડ સાથે ભારતીય અક્ષરોને દાખલ કરો
Comment[hi]=वर्चुअल कुंजीपट से भारतीय वर्ण दाखिल करें
Comment[hu]=Indiai karakterek bevitele egy virtuális billentyűzet segítségével
Comment[it]=Inserisci caratteri indiani tramite tastiera virtuale
Comment[ja]=仮想キーボードで表意文字を入力してください
Comment[kn]=ವರ್ಚುವಲ್ ಕೀಲಿಮಣೆಯನ್ನು ಬಳಸಿಕೊಂಡು ಭಾರತೀಯ ಭಾಷೆಗಳ ಅಕ್ಷರಗಳನ್ನು ನಮೂದಿಸಿ
Comment[ko]=가상 키보드로 인도 문자를 입력하십시오
Comment[mai]=कोनो आभासी कुंजीपटलक मद्दतिसँ भारतीय वर्णकेँ दर्ज करू
Comment[ml]=വിര്‍ച്ച്വല്‍ കീബോര്‍ഡ് ഉപയോഗിച്ചു് ഇന്‍ഡിക് അക്ഷരങ്ങള്‍ നല്‍കുക
Comment[mr]=आभासी कळफलकसह इंडिक अक्षर प्रविष्ट करा
Comment[nl]=Vul Indische karakters in met een virtueel toetsenbord
Comment[or]=ଗୋଟିଏ ଆଭାସୀ କିବୋର୍ଡ ସହିତ ଭାରତୀୟ ଅକ୍ଷରଗୁଡ଼ିକୁ ଭରଣ କରନ୍ତୁ
Comment[pa]=ਵਰਚੁਅਲ ਕੀਬੋਰਡ ਨਾਲ ਇੰਡਿਕ ਅੱਖਰ ਦਿਓ
Comment[pl]=Wprowadzanie znaków indyjskich za pomocą wirtualnej klawiatury
Comment[pt]=Insira caracteres índicos com um teclado virtual
Comment[pt_BR]=Digite caracteres índicos com um teclado virtual
Comment[ru]=Введите индийские символы с помощью виртуальной клавиатуры
Comment[ta]=இந்திய எழுத்துக்களை ஒரு மெய்நிகர் விசைப்பலகையுடன் உள்ளிடவும்
Comment[te]=వర్చ్యువల్ కీబోర్డుతో యిండిక్ అక్షరములను ప్రవేశపెట్టుము
Comment[th]=ป้อนตัวอักษร Indic ด้วยแป้นพิมพ์เสมือน
Comment[uk]=Введіть індійські символи за допомогою віртуальної клавіатури
Comment[zh_CN]=在虚拟键盘中输入印度语字符
Comment[zh_TW]=以虛擬鍵盤輸入印度語字元
Exec=iok
Icon=iok
StartupNotify=true
Terminal=false
Type=Application
Categories=GNOME;GTK;Utility;Accessibility;
NotShowIn=GNOME;
X-Desktop-File-Install-Version=0.15
