
[Desktop Entry]
Version=1.0
Name=Inkscape
Name[be]=Inkscape
Name[br]=Inkscape
Name[ca]=Inkscape
Name[cs]=Inkscape
Name[de]=Inkscape
Name[en_GB]=Inkscape
Name[en_US@piglatin]=Inkscape
Name[es]=Inkscape
Name[eu]=Inkscape
Name[fr]=Inkscape
Name[hu]=Inkscape
Name[it]=Inkscape
Name[ja]=Inkscape
Name[km]=Inkscape
Name[pl]=Inkscape
Name[ru]=Inkscape
Name[sk]=Inkscape
Name[sl]=Inkscape
Name[uk]=Inkscape
Name[zh_TW]=Inkscape
GenericName=Vector Graphics Editor
GenericName[be]=Рэдактар вэктарнай ґрафікі
GenericName[br]=Embanner kevregadoù sturiadel
GenericName[ca]=Editor de gràfics vectorials
GenericName[cs]=editor vektorové grafiky
GenericName[de]=Vektorgrafik-Editor
GenericName[en_GB]=Vector Graphics Editor
GenericName[en_US@piglatin]=Ectorvay Aphicsgray Editorway
GenericName[es]=Editor de gráficos vectoriales
GenericName[eu]=Bektore-grafikoen editorea
GenericName[fr]=Éditeur d'images vectorielles SVG Inkscape
GenericName[hu]=Vektorgrafikai szerkesztő
GenericName[it]=Grafica vettoriale SVG
GenericName[ja]=ベクターグラフィックエディタ
GenericName[km]=កម្មវិធី​កែ​សម្រួល​ក្រាហ្វិក​វ៉ិចទ័រ
GenericName[pl]=Edytor grafiki wektorowej
GenericName[ru]=Редактор векторной графики
GenericName[sk]=editor vektorovej grafiky
GenericName[sl]=Urejevalnik vektorskih slik
GenericName[uk]=Редактор векторної графіки
GenericName[zh_TW]=向量繪圖軟體
X-GNOME-FullName=Inkscape Vector Graphics Editor
X-GNOME-FullName[ar]=إنكسكايب محرر الرسومات الشعاعية
X-GNOME-FullName[be]=Рэдактар вэктарнай ґрафікі Inkscape
X-GNOME-FullName[bg]=Inkscape илюстратор за векторна графика
X-GNOME-FullName[br]=Inkscape Embanner kevregadoù sturiadel
X-GNOME-FullName[ca]=Editor de gràfics vectorials Inkscape
X-GNOME-FullName[cs]=Inkscape - editor vektorové grafiky
X-GNOME-FullName[de]=Inkscape SVG-Vektorgrafik-Editor
X-GNOME-FullName[en_GB]=Inkscape Vector Graphics Editor
X-GNOME-FullName[en_US@piglatin]=Inkscape Ectorvay Aphicsgray Editorway
X-GNOME-FullName[eo]=Inkscape: Ilustrilo por Vektoraj Bildoj
X-GNOME-FullName[es]=Editor de gráficos vectoriales Inkscape
X-GNOME-FullName[et]=Inkscape, vektorgraafika redaktor
X-GNOME-FullName[eu]=Inkscape bektore-grafikoen editorea
X-GNOME-FullName[fi]=Inkscape vektorigrafiikkatyökalu
X-GNOME-FullName[fr]=Éditeur d'images vectorielles SVG Inkscape
X-GNOME-FullName[gl]=Editor de imaxes vectoriais Inkscape
X-GNOME-FullName[he]=אינקסקייפ עורך גרפיקה וקטורית
X-GNOME-FullName[hr]=Inkscape - program za vektorsko crtanje
X-GNOME-FullName[hu]=Inkscape - vektorgrafikai szerkesztő
X-GNOME-FullName[hy]=Inkscape Վեկտորային Գրաֆիկայի Խմբագիր
X-GNOME-FullName[it]=Inkscape - Grafica vettoriale SVG
X-GNOME-FullName[ja]=Inkscape ベクターグラフィックエディタ
X-GNOME-FullName[km]=កម្មវិធី​កែ​សម្រួល​ក្រាហ្វិក​វ៉ិចទ័រ Inkscape
X-GNOME-FullName[ko]=Inkscape 벡터 그래픽 편집기
X-GNOME-FullName[lt]=Inkscape vektorinės grafikos rengyklė
X-GNOME-FullName[nb]=Inkscape vektor-tegneprogram
X-GNOME-FullName[nl]=Inkscape SVG-vector-illustrator
X-GNOME-FullName[pl]=Inkscape - edytor grafiki wektorowej
X-GNOME-FullName[pt]=Inkscape Editor de Imagem Vectorial
X-GNOME-FullName[pt_BR]=Editor de Imagens Vetoriais Inkscape
X-GNOME-FullName[ro]=Inkscape editor de grafică vectorială
X-GNOME-FullName[ru]=Редактор векторной графики Inkscape
X-GNOME-FullName[sk]=Inkscape - editor vektorovej grafiky
X-GNOME-FullName[sl]=Urejevalnik vektorskih slik Inkscape
X-GNOME-FullName[sr]=Inkscape програм за векторско цртање
X-GNOME-FullName[sr@latin]=Inkscape program za vektorsko crtanje
X-GNOME-FullName[sv]=Vektorillustratören Inkscape
X-GNOME-FullName[tr]=Inkscape Vektörel Grafik Düzenleyici
X-GNOME-FullName[uk]=Редактор векторної графіки Inkscape
X-GNOME-FullName[vi]=Inkscape - Trình Xử lý Ảnh Véc-tơ
X-GNOME-FullName[zh_CN]=Inkscape矢量绘图软件
X-GNOME-FullName[zh_TW]=Inkscape 向量繪圖軟體
Comment=Create and edit Scalable Vector Graphics images
Comment[ar]=إنشاء و تحرير الرسومات الشعاعية
Comment[be]=Стварэньне й зьмяненьне відарысаў вэктарнай ґрафікі (SVG)
Comment[bg]=Създаване и редакция на изображения Scalable Vector Graphics
Comment[bn]=স্কেলেবল ভেক্টর গ্রাফিক্স ছবি তৈরী ও সম্পাদনা করুন
Comment[br]=Krouiñ hag embann skeudennoù mod SVG (Scalable Vector Graphics)
Comment[ca]=Creeu i editeu imatges de gràfics de vectors escalables
Comment[ca@valencia]=Creeu i editeu imatges de gràfics de vectors escalables
Comment[cs]=Vytvářejte a upravujte vektorovou grafiku (SVG)
Comment[da]=Opret og redigér SVG-billeder
Comment[de]=Skalierbare Vektorgrafiken (SVG) erzeugen und bearbeiten
Comment[dz]=ཆ་ཚད་འཇལ་བཏུབ་པའི་མཉམ་ཐིག་ཚད་རིས་ཀྱི་གཟུགས་བརྙན་ཚུ་གསར་བསྐྲུན་དང་ཞུན་དག་འབད།
Comment[el]=Δημιουργήστε και τροποποιήστε διανυσματικές εικόνες τύπου Scalable Vector Graphics
Comment[en_AU]=Create and edit Scalable Vector Graphics images
Comment[en_GB]=Create and edit Scalable Vector Graphics images
Comment[en_US@piglatin]=Eatecray andway editway Alablescay Ectorvay Aphicsgray imagesway
Comment[eo]=Kreu kaj redaktu bildoj en formato SVG (Scalable Vector Graphics)
Comment[es]=Cree y edite Gráficos Vectoriales Escalables (SVG)
Comment[et]=SVG-vektorgraafikas piltide joonistamine ja muutmine
Comment[eu]=Sortu eta editatu Grafiko Bektorial Eskalakor (SVG) irudiak
Comment[fi]=Luo ja muokkaa Scalable Vector Graphics -piirroksia
Comment[fr]=Créer et éditer des images Scalable Vector Graphics
Comment[gl]=Cree e edite imaxes Scalable Vector Graphics
Comment[he]=צור וערוך תמונות בגרפיקת וקטורים נמתחת
Comment[hr]=Stvaranje i uređivanje vektorskih crteža
Comment[hu]=Scalable Vector Graphics (méretezhető vektorgrafika, SVG)-képek létrehozása és szerkesztése
Comment[id]=Membuat dan mengedit gambar Scalable Vector Graphics
Comment[it]=Crea e modifica immagini Scalable Vector Graphics
Comment[ja]=Scalable Vector Graphics (SVG) イメージの作成と編集を行います
Comment[km]=បង្កើត និង​កែសម្រួល​​​រូបភាព​ក្រាហ្វិក​វ៉ិចទ័រ​ដែល​អាច​ធ្វើ​មាត្រដ្ឋាន​បាន​​
Comment[ko]=SVG 이미지  생성 및 편집
Comment[lt]=Kurti ir redaguoti vektorinius grafinius piešinius
Comment[nb]=Lag og rediger Skalerbar VektorGrafikk-bilder
Comment[ne]=स्केलेबुल भेक्टर ग्राफिक्स छविहरू सिर्जना गर्नुहोस् र सम्पादन गर्नुहोस्
Comment[nl]=SVG-tekeningen (Scalable Vector Graphics) maken en bewerken
Comment[nn]=Lag og rediger skalerbare vektorbilete (SVG)
Comment[pa]=ਸਕੇਲੇਬਲ ਵੈਕਟਰ ਗਰਾਫਿਕਸ ਚਿੱਤਰ ਬਣਾਓ ਅਤੇ ਸੋਧੋ
Comment[pl]=Tworzenie i edycja grafiki wektorowej SVG
Comment[pt]=Crie e edite imagens Gráficas Vectoriais Escalaveis
Comment[pt_BR]=Crie e edite desenhos vetoriais escaláveis (SVG)
Comment[ro]=Creează şi editează în format Scalable Vector Graphics
Comment[ru]=Создание и редактирование масштабируемой векторной графики в формате SVG
Comment[sk]=Tvorba a úprava obrázkov Scalable Vector Graphics
Comment[sl]=Ustvarjajte in urejajte vektorske slike SVG
Comment[sr]=Прављење и уређивање SVG векторских слика
Comment[sr@latin]=Pravljenje i uređivanje SVG vektorskih slika
Comment[sv]=Skapa och redigera SVG-bilder
Comment[th]=สร้างและแก้ไขภาพ Scalable Vector Graphics
Comment[tr]=Ölçeklenebilir Vektör İmgeleri oluşturur ve düzenler
Comment[uk]=Створення та редагування зображень у форматі SVG
Comment[vi]=Tạo và sửa ảnh véc-tơ co giãn được
Comment[zh_CN]=创建并编辑可缩放矢量图形图像
Comment[zh_TW]=建立和編輯可縮放向量繪圖圖形
Type=Application
Categories=Graphics;VectorGraphics;GTK;
MimeType=image/svg+xml;image/svg+xml-compressed;image/cgm;image/x-wmf;application/vnd.corel-draw;application/x-xccx;application/x-xcgm;application/x-xcdt;application/x-xsk1;application/x-xcmx;image/x-xcdr;
Exec=inkscape %F
TryExec=inkscape
Terminal=false
StartupNotify=true
Icon=inkscape
X-Desktop-File-Install-Version=0.15
