
[Desktop Entry]
Encoding=UTF-8
Name=xterm Terminal
GenericName=Terminal
Comment=Terminal emulator for the X Window System
Exec=xterm
Icon=gnome-xterm
Type=Application
Categories=System;TerminalEmulator;
NoDisplay=true
X-Desktop-File-Install-Version=0.15
