[Desktop Entry]
Name=Access Prompt
Name[pl]=Zapytanie o hasło
Comment=Unlock access to passwords and other secrets
Comment[pl]=Odblokowanie dostępu do haseł
Icon=security-medium
Exec=/usr/libexec/gcr-prompter
Terminal=false
Type=Application
NoDisplay=true
