
[Desktop Entry]
Name=gedit
Name[am]=gedit
Name[ar]=محرر جنوم
Name[as]=gedit
Name[az]=gedit
Name[bg]=gedit
Name[bn_IN]=gedit
Name[br]=gedit
Name[bs]=gedit
Name[ca]=gedit
Name[crh]=gedit
Name[cs]=gedit
Name[da]=gedit
Name[de]=gedit
Name[en_CA]=gedit
Name[en_GB]=gedit
Name[es]=gedit
Name[et]=gedit
Name[eu]=gedit
Name[fa]=gedit
Name[fi]=gedit
Name[fr]=gedit
Name[gl]=gedit
Name[gu]=gedit
Name[hi]=जीएडिट
Name[hu]=gedit
Name[hy]=գեդիտ
Name[is]=gedit
Name[it]=gedit
Name[ja]=gedit
Name[kn]=gedit
Name[ko]=gedit
Name[lt]=gedit
Name[lv]=gedit
Name[mai]=जीएडिट
Name[ml]=gedit
Name[mn]=Гедит
Name[mr]=gedit
Name[ms]=gedit
Name[nb]=gedit
Name[or]=gedit
Name[pa]=ਜੀ-ਸੰਪਾਦਕ
Name[pl]=gedit
Name[pt]=gedit
Name[pt_BR]=gedit
Name[ro]=gedit
Name[ru]=gedit
Name[sl]=gedit
Name[sr]=Вилењакова бележница
Name[sr@latin]=Vilenjakova beležnica
Name[sv]=gedit
Name[ta]=gedit
Name[te]=gedit
Name[th]=gedit
Name[tk]=gedit
Name[tr]=gedit
Name[uk]=gedit
Name[wa]=gedit
Name[xh]=I-gedit
Name[zh_CN]=编辑
Name[zh_HK]=文字編輯器
Name[zh_TW]=文字編輯器
GenericName=Text Editor
GenericName[af]=Teksredigeerder
GenericName[am]=የጽሑፍ ማቀናጃ
GenericName[ar]=محرّر نصوص
GenericName[as]=টেক্সট সম্পাদক
GenericName[ast]=Editor de Testu
GenericName[az]=Mətn Editoru
GenericName[be]=Рэдактар тэкстаў
GenericName[be@latin]=Tekstavy redaktar
GenericName[bg]=Текстов редактор
GenericName[bn]=টেক্সট সম্পাদক
GenericName[bn_IN]=টেক্সট এডিটার
GenericName[br]=Embanner testennoù
GenericName[bs]=Tekst editor
GenericName[ca]=Editor de text
GenericName[ca@valencia]=Editor de text
GenericName[crh]=Metin Muarriri
GenericName[cs]=Textový editor
GenericName[cy]=Golygydd Testun
GenericName[da]=Tekstredigering
GenericName[de]=Texteditor
GenericName[dz]=ཚིག་ཡིག་ཞུན་དགཔ།
GenericName[el]=Επεξεργαστής κειμένου
GenericName[en_CA]=Text Editor
GenericName[en_GB]=Text Editor
GenericName[eo]=Teksta Redaktilo
GenericName[es]=Editor de textos
GenericName[et]=Tekstiredaktor
GenericName[eu]=Testu-editorea
GenericName[fa]=ویرایشگر متن
GenericName[fi]=Tekstieditori
GenericName[fr]=Éditeur de texte
GenericName[ga]=Eagarthóir Téacs
GenericName[gl]=Editor de texto
GenericName[gu]=લખાણ સંપાદક
GenericName[he]=עורך טקסט
GenericName[hi]=पाठ संपादक
GenericName[hr]=Uređivač teksta
GenericName[hu]=Szövegszerkesztő
GenericName[hy]=Տեքստի խմբագրիչ
GenericName[id]=Penyunting Berkas Teks
GenericName[is]=Texta Ritill
GenericName[it]=Editor di testo
GenericName[ja]=テキスト・エディタ
GenericName[ka]=ტექსტის რედაქტორი
GenericName[kn]=ಪಠ್ಯ ಸಂಪಾದಕ
GenericName[ko]=텍스트 편집기
GenericName[ku]=Edîtora Nivîsê
GenericName[la]=Scripta Edere
GenericName[lt]=Tekstų redaktorius
GenericName[lv]=Teksta redaktors
GenericName[mai]=पाठ संपादक
GenericName[mg]=Fanovana lahabolana
GenericName[mk]=Уредувач за текст
GenericName[ml]=എഴുത്തിടം
GenericName[mn]=Текст боловсруулагч
GenericName[mr]=पाठ्य संपादक
GenericName[ms]=Editor Teks
GenericName[nb]=Tekstredigering
GenericName[ne]=पाठ सम्पादक
GenericName[nl]=Tekst-editor
GenericName[nn]=Tekstredigering
GenericName[oc]=Editor de tèxt
GenericName[or]=ପାଠ୍ଯ ସମ୍ପାଦକ
GenericName[pa]=ਟੈਕਸਟ ਐਡੀਟਰ
GenericName[pl]=Edytor tekstu
GenericName[ps]=ليک سمونګر
GenericName[pt]=Editor de Texto
GenericName[pt_BR]=Editor de texto
GenericName[ro]=Editor de text
GenericName[ru]=Текстовый редактор
GenericName[rw]=Umuhinduzi w'inyandiko
GenericName[si]=පෙළ සකසනය
GenericName[sk]=Textový editor
GenericName[sl]=Urejevalnik besedil
GenericName[sq]=Editues teksti
GenericName[sr]=Вилењакова бележница
GenericName[sr@latin]=Vilenjakova beležnica
GenericName[sv]=Textredigerare
GenericName[ta]=உரை திருத்தி 
GenericName[te]=పాఠమును సరిచేయునది
GenericName[th]=เครื่องมือแก้ไขข้อความ
GenericName[tk]=Metin Editçi
GenericName[tr]=Metin Düzenleyici
GenericName[uk]=Текстовий редактор
GenericName[vi]=Bộ soạn thảo văn bản
GenericName[wa]=Aspougneu di tecse
GenericName[xh]=Umhleli wombhalo
GenericName[zh_CN]=文本编辑器
GenericName[zh_HK]=文字編輯器
GenericName[zh_TW]=文字編輯器
Comment=Edit text files
Comment[af]=Redigeer tekslêers
Comment[am]=የጽሑፍ ፋይሎች ያስተካክሉ
Comment[ar]=حرّر الملفات النصية
Comment[as]=টেক্সট নথিপত্ৰ সম্পাদনা
Comment[ast]=Editar ficheros de testu
Comment[az]=Mətn fayllarını redaktə edin
Comment[be]=Зьмяніць тэкставыя файлы
Comment[be@latin]=Redahuj tekstavyja fajły
Comment[bg]=Редактиране на текстови файлове
Comment[bn]=টেক্সট ফাইল সম্পাদনা করুন
Comment[bn_IN]=টেক্সট ফাইল সম্পাদনা
Comment[br]=Embann restroù testenn
Comment[bs]=Izmijeni tekstualne datoteke
Comment[ca]=Editeu fitxers de text
Comment[ca@valencia]=Editeu fitxers de text
Comment[crh]=Metin dosyelerini tarir et
Comment[cs]=Úprava textových souborů
Comment[cy]=Golygu ffeiliau testun
Comment[da]=Redigér tekstfiler
Comment[de]=Textdateien bearbeiten
Comment[dz]=ཚིག་ཡིག་ཡིག་སྣོད་ཚུ་ ཞུན་དག་རྐྱབས་ 
Comment[el]=Επεξεργασία αρχείων κειμένου
Comment[en_CA]=Edit text files
Comment[en_GB]=Edit text files
Comment[eo]=Redakti tekstajn dosierojn
Comment[es]=Edite archivos de texto
Comment[et]=Tekstifailide redigeerimine
Comment[eu]=Editatu testu-fitxategiak
Comment[fa]=ویرایش پرونده‌های متنی
Comment[fi]=Muokkaa tekstitiedostoja
Comment[fr]=Éditer des fichiers texte
Comment[ga]=Cuir comhaid téacs in eagar
Comment[gl]=Editar ficheiros de texto
Comment[gu]=લખાણ ફાઇલોમાં ફેરફાર કરો
Comment[he]=ערוך קבצי טקסט
Comment[hi]=पाठ फ़ाइलें संपादित करें
Comment[hr]=Uređivanje tekstualnih datoteka
Comment[hu]=Szövegfájlok szerkesztése
Comment[id]=Edit berkas teks
Comment[it]=Modifica file di testo
Comment[ja]=テキスト形式のファイルを編集します
Comment[ka]=ტექსტური ფაილების რედაქტირება
Comment[kn]=ಪಠ್ಯ ಕಡತಗಳನ್ನು ಸಂಪಾದಿಸು
Comment[ko]=텍스트 파일을 편집합니다
Comment[ku]=Pelên nivîsê sererast bike
Comment[lt]=Redaguoti tekstinius failus
Comment[lv]=Rediģēt teksta failus
Comment[mai]=पाठ फाइलकेँ संपादित करू
Comment[mg]=Hanova raki-dahabolana
Comment[mk]=Уредувај текстуални датотеки
Comment[ml]=പദാവലി ഫയലുകളില്‍ മാറ്റം വരുത്തുക
Comment[mn]=Текст файл боловсруулах
Comment[mr]=मजकूर फाइल्स् संपादीत करा
Comment[ms]=Edit fail teks
Comment[nb]=Rediger tekstfiler
Comment[ne]=पाठ फाइल सम्पादन गर्नुहोस्
Comment[nl]=Tekstbestanden bewerken
Comment[nn]=Rediger tekstfiler
Comment[oc]=Editar de fichièrs tèxt
Comment[or]=ପାଠ୍ଯ ଫାଇଲଗୁଡ଼ିକୁ ସମ୍ପାଦନ କରନ୍ତୁ
Comment[pa]=ਟੈਕਸਟ ਫਾਇਲਾਂ ਸੋਧੋ
Comment[pl]=Edytor plików tekstowych
Comment[ps]=ليکن دوتنې سمول
Comment[pt]=Editar ficheiros de texto
Comment[pt_BR]=Edite arquivos de texto
Comment[ro]=Editare fișiere text
Comment[ru]=Редактор текстовых файлов
Comment[si]=පෙළ ගොනු සකසන්න
Comment[sk]=Úprava textových súborov
Comment[sl]=Urejanje datotek z besedili
Comment[sq]=Ndrysho file teksti
Comment[sr]=Уређивач текстуалних докумената
Comment[sr@latin]=Uređivač tekstualnih dokumenata
Comment[sv]=Redigera textfiler
Comment[ta]=உரை கோப்புகளை திருத்தவும் 
Comment[te]=పాఠ్య దస్త్రములను సరిచేయి
Comment[th]=แก้ไขแฟ้มข้อความ
Comment[tk]=Metin faýllary editle
Comment[tr]=Metin dosyalarını düzenle
Comment[uk]=Редактор текстових файлів
Comment[vi]=Soạn thảo tập tin văn bản
Comment[wa]=Asspougnî des fitchîs tecses
Comment[xh]=Hlela iifayili zombhalo
Comment[zh_CN]=编辑文本文件
Comment[zh_HK]=編輯文字檔
Comment[zh_TW]=編輯文字檔
Exec=gedit %U
Terminal=false
Type=Application
StartupNotify=true
MimeType=text/plain;
Icon=accessories-text-editor
Categories=GNOME;GTK;Utility;TextEditor;
X-GNOME-DocPath=gedit/gedit.xml
X-GNOME-FullName=gedit Text Editor
X-GNOME-FullName[ar]=محرّر النصوص ج‌إدِت
X-GNOME-FullName[as]=gedit টেক্সট সম্পাদক
X-GNOME-FullName[bg]=Текстов редактор (gedit)
X-GNOME-FullName[bn_IN]=gedit টেক্সট এডিটার
X-GNOME-FullName[ca]=Editor de text gedit
X-GNOME-FullName[crh]=gedit Metin Muarriri
X-GNOME-FullName[cs]=Textový editor gedit
X-GNOME-FullName[da]=Tekstredigeringen gedit
X-GNOME-FullName[de]=gedit Texteditor
X-GNOME-FullName[en_GB]=gedit Text Editor
X-GNOME-FullName[es]=Editor de textos gedit
X-GNOME-FullName[et]=Tekstiredaktor gedit
X-GNOME-FullName[eu]=gedit testu-editorea
X-GNOME-FullName[fi]=gedit-tekstieditori
X-GNOME-FullName[fr]=Éditeur de texte gedit
X-GNOME-FullName[gl]=Editor de texto gedit
X-GNOME-FullName[gu]=gedit લખાણ સંપાદક
X-GNOME-FullName[hi]=जीएडिट पाठ संपादक
X-GNOME-FullName[hu]=gedit szövegszerkesztő
X-GNOME-FullName[it]=Editor di testo gedit
X-GNOME-FullName[ja]=gedit テキストエディタ
X-GNOME-FullName[kn]=gedit ಪಠ್ಯ ಸಂಪಾದಕ
X-GNOME-FullName[ko]=gedit 텍스트 편집기
X-GNOME-FullName[lt]=gedit tekstų redaktorius
X-GNOME-FullName[lv]=gedit teksta redaktors
X-GNOME-FullName[mai]=जीएडिट पाठ संपादक
X-GNOME-FullName[ml]=ജിഎഡിറ്റ് എഴുത്തിടം
X-GNOME-FullName[mr]=gedit मजकूर संपादक
X-GNOME-FullName[nb]=gedit tekstredigering
X-GNOME-FullName[or]=gedit ପାଠ୍ଯ ସମ୍ପାଦକ
X-GNOME-FullName[pa]=ਜੀਸੰਪਾਦਕ ਟੈਕਸਟ ਐਡੀਟਰ
X-GNOME-FullName[pl]=Edytor tekstu gedit
X-GNOME-FullName[pt]=Editor de Texto gedit
X-GNOME-FullName[pt_BR]=Editor de texto gedit
X-GNOME-FullName[ro]=Editor de text gedit
X-GNOME-FullName[ru]=Текстовый редактор gedit
X-GNOME-FullName[sl]=Urejevalnik besedil gedit
X-GNOME-FullName[sr]=Вилењакова бележница за уређивање текста
X-GNOME-FullName[sr@latin]=Vilenjakova beležnica za uređivanje teksta
X-GNOME-FullName[sv]=Textredigeraren gedit
X-GNOME-FullName[ta]=gedit உரை திருத்தி 
X-GNOME-FullName[te]=gedit పాఠమును సరిచేయునది
X-GNOME-FullName[th]=เครื่องมือแก้ไขข้อความ gedit
X-GNOME-FullName[tr]=gedit Metin Düzenleyici
X-GNOME-FullName[uk]=Текстовий редактор gedit
X-GNOME-FullName[zh_CN]=gedit 文本编辑器
X-GNOME-FullName[zh_HK]=gedit 文字編輯器
X-GNOME-FullName[zh_TW]=gedit 文字編輯器
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gedit
X-GNOME-Bugzilla-Component=general
X-GNOME-Bugzilla-Version=2.28.4
X-GNOME-Bugzilla-ExtraInfoScript=/usr/libexec/gedit-2/gedit-bugreport.sh
X-Desktop-File-Install-Version=0.15
