
[Desktop Entry]
Name=Keyboard Layout
Name[ar]=تخطيط لوحة المفاتيح
Name[as]=কিবোৰ্ডৰ বিন্যাস
Name[be]=Клавіятурная раскладка
Name[bg]=Подредба на клавиатурата
Name[ca]=Disposició del teclat
Name[ca@valencia]=Disposició del teclat
Name[cs]=Rozložení klávesnice
Name[da]=Tastaturlayout
Name[de]=Tastaturbelegung
Name[el]=Διάταξη πληκτρολογίου
Name[en_GB]=Keyboard Layout
Name[eo]=Klavararanĝo
Name[es]=Distribución de teclado
Name[et]=Klaviatuuri paigutus
Name[eu]=Teklatuaren diseinua
Name[fa]=چیدمان صفحه‌کلید
Name[fi]=Näppäimistöasettelu
Name[fr]=Agencement de clavier
Name[gl]=Disposición do teclado
Name[gu]=કીબોર્ડ લેઆઉટ
Name[he]=פריסת מקלדת
Name[hu]=Billentyűzetkiosztás
Name[id]=Tata Letak Papan Tik
Name[it]=Disposizione tastiera
Name[ja]=キーボードのレイアウト
Name[ko]=키보드 배치
Name[lt]=Klaviatūros išdėstymas
Name[lv]=Tastatūras izkārtojums
Name[nb]=Tastaturutforming
Name[nl]=Toetsenbordindeling
Name[or]=କି-ବୋର୍ଡ ବିନ୍ଯାସ
Name[pa]=ਕੀ-ਬੋਰਡ ਲੇਆਉਟ
Name[pl]=Układ klawiatury
Name[pt]=Disposição de Teclado
Name[pt_BR]=Disposição de teclado
Name[ro]=Aranjament tastatură
Name[ru]=Раскладка клавиатуры
Name[sk]=Rozloženie klávesnice
Name[sl]=Razpored tipkovnice
Name[sr]=Распоред тастатуре
Name[sr@latin]=Raspored tastature
Name[sv]=Tangentbordslayout
Name[ta]=விசைப்பலகை அமைப்பு
Name[te]=కీబోర్డు నమూనా
Name[th]=ผังแป้นพิมพ์
Name[tr]=Klavye Düzeni
Name[ug]=ھەرپتاختا ئورۇنلاشتۇرۇلۇشى
Name[uk]=Розкладка клавіатури
Name[vi]=Bố trí bàn phím
Name[zh_CN]=键盘布局
Name[zh_HK]=鍵盤配置
Name[zh_TW]=鍵盤配置
Comment=Preview keyboard layouts
Comment[ar]=عاين تخطيطات لوحة المفاتيح
Comment[as]=কিবোৰ্ডৰ বিন্যাসসমূহ পূৰ্ৱদৰ্শন কৰক
Comment[be]=Папярэдні агляд клавіятурных раскладак
Comment[bg]=Преглед на подредбите
Comment[ca]=Previsualitzeu disposicions del teclat
Comment[ca@valencia]=Previsualitzeu disposicions del teclat
Comment[cs]=Náhled rozložení klávesnice
Comment[da]=Forhåndsvis tastaturlayout
Comment[de]=Vorschau auf Tastaturbelegungen
Comment[en_GB]=Preview keyboard layouts
Comment[eo]=Antaŭmontri klavararanĝojn
Comment[es]=Previsualizar las distribuciones de teclado
Comment[et]=Klaviatuuripaigutuste eelvaatlemine
Comment[eu]=Aurreikusi teklatuaren diseinuak
Comment[fa]=پیش‌نمایش چیدمان‌های صفحه‌کلید
Comment[fi]=Esikatsele näppäimistöasetteluja
Comment[fr]=Prévisualiser les agencements de clavier
Comment[gl]=Previsualizar as distribucións de teclado
Comment[gu]=કીબોર્ડ લેઆઉટ પૂર્વદર્શન
Comment[he]=הצגה מקדימה של פריסות המקלדת
Comment[hu]=Billentyűzetkiosztások előnézete
Comment[id]=Menampilkan tata letak papan ketik
Comment[it]=Mostra un'anteprima delle disposizioni di tastiera
Comment[ja]=キーボードのレイアウトのプレビュー
Comment[ko]=키보드 배치를 미리 봅니다
Comment[lt]=Peržiūrėti klaviatūros išdėstymas
Comment[lv]=Priekšskatīt tastatūras izkārtojums
Comment[nb]=Forhåndsvis tastaturutforminger
Comment[nl]=Voorbeelden van toetsenbordindelingen tonen
Comment[or]=କି-ବୋର୍ଡ ବିନ୍ଯାସକୁ ପ୍ରାକଦର୍ଶନ କରନ୍ତୁ
Comment[pa]=ਕੀ-ਬੋਰਡ ਲੇਆਉਟ ਝਲਕ
Comment[pl]=Podgląd układów klawiatury
Comment[pt]=Antever disposições de teclado
Comment[pt_BR]=Pré-visualizar disposições de teclado
Comment[ro]=Previzualizați aranjamente de tastatură
Comment[ru]=Предварительный просмотр раскладок
Comment[sk]=Náhľad rozloženia klávesnice
Comment[sl]=Predogled razporedov tipkovnice
Comment[sr]=Прикажите преглед распореда тастатуре
Comment[sr@latin]=Prikažite pregled rasporeda tastature
Comment[sv]=Förhandsvisa tangentbordslayouter
Comment[ta]=விசைப்பலகை அமைப்புகளை  முன்பார்வையிடு 
Comment[te]=కీబోర్డు నమూనా ఉపదర్శనం 
Comment[th]=ดูตัวอย่างผังแป้นพิมพ์
Comment[tr]=Klavye düzeni önizleme
Comment[ug]=ھەرپتاختا ئورۇنلاشتۇرۇلۇشى ئالدىن كۆرۈش
Comment[uk]=Перегляд розкладки клавіатури
Comment[vi]=Xem thử bố trí bàn phím
Comment[zh_CN]=预览键盘布局
Comment[zh_HK]=預覽鍵盤配置
Comment[zh_TW]=預覽鍵盤配置
Icon=preferences-desktop-keyboard
Exec=gkbd-keyboard-display
Terminal=false
Type=Application
StartupNotify=true
NoDisplay=true
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=libgnomekbd
X-GNOME-Bugzilla-Component=Drawing
X-GNOME-Bugzilla-Version=3.4.0.2
Categories=GNOME;GTK;Core;System;
OnlyShowIn=GNOME;
X-Desktop-File-Install-Version=0.19
