
[Desktop Entry]
Name=Display
Name[ar]=جهاز العرض
Name[as]=ডিচ্‌প্লে
Name[be@latin]=Ekran
Name[bg]=Екрани
Name[bn]=প্রদর্শন
Name[bn_IN]=প্রদর্শন
Name[br]=Diskouez
Name[ca]=Pantalla
Name[crh]=Görünüm
Name[cs]=Displej
Name[da]=Skærm
Name[de]=Anzeige
Name[el]=Οθόνη
Name[en_GB]=Display
Name[es]=Pantalla
Name[et]=Kuva
Name[eu]=Pantaila
Name[fi]=Näyttö
Name[fr]=Affichage
Name[ga]=Taispeáint
Name[gl]=Mostrar
Name[gu]=દર્શાવો
Name[he]=תצוגה
Name[hi]=प्रदर्शक
Name[hu]=Kijelző
Name[id]=Tampilan
Name[it]=Schermo
Name[ja]=ディスプレイ
Name[kn]=ಪ್ರದರ್ಶಕ
Name[ko]=디스플레이
Name[lt]=Ekranas
Name[lv]=Ekrāns
Name[mai]=देखाबू
Name[ml]=പ്രദര്‍ശനം
Name[mr]=दृष्य (_D)
Name[nb]=Skjerm
Name[nl]=Scherm
Name[or]=ପ୍ରଦର୍ଶିନ କରନ୍ତୁ
Name[pa]=ਡਿਸਪਲੇਅ
Name[pl]=Ekran
Name[pt]=Ecrã
Name[pt_BR]=Vídeo
Name[ro]=Afișare
Name[ru]=Экран
Name[sk]=Monitor
Name[sl]=Prikaži
Name[sr]=Екран
Name[sr@latin]=Ekran
Name[sv]=Skärm
Name[ta]=காட்டு
Name[te]=ప్రదర్శించు
Name[th]=จอแสดงผล
Name[tr]=Görünüm
Name[uk]=Екран
Name[vi]=Thiết bị Hiển thị
Name[zh_CN]=显示
Name[zh_HK]=顯示
Name[zh_TW]=顯示
Comment=Change screen resolution
Comment[af]=Verander skermresolusie
Comment[ar]=غيِّر ميز الشاشة
Comment[as]=পৰ্দাৰ বিশ্লেষণ পৰিবৰ্তন কৰক
Comment[ast]=Cambiar la resolución de pantalla
Comment[az]=Ekran həlleciliyini dəyişdir
Comment[be]=Зьмяніць разрозьненьне экрану
Comment[be@latin]=Źmiani pamiery ekranu
Comment[bg]=Промяна на разделителната способност на екрана
Comment[bn]=পর্দার রেজল্যুশন পরিবর্তন করুন
Comment[bn_IN]=পর্দার রেজোলিউশন পরিবর্তন করুন
Comment[br]=Kemmañ diarunusted ar skramm
Comment[bs]=Promijeni rezoluciju ekrana
Comment[ca]=Canvia la resolució de la pantalla
Comment[ca@valencia]=Canvia la resolució de la pantalla
Comment[crh]=Ekran çözünürlüğünü değiştir
Comment[cs]=Změní rozlišení obrazovky
Comment[cy]=Newid cydraniad y sgrin
Comment[da]=Skift skærmopløsning
Comment[de]=Bildschirmauflösung ändern
Comment[dz]=གསལ་གཞིའི་ཧུམ་ཆ་ བསྒྱུར་བཅོས་འབད།
Comment[el]=Αλλαγή ανάλυσης οθόνης
Comment[en_CA]=Change screen resolution
Comment[en_GB]=Change screen resolution
Comment[es]=Cambie la resolución de la pantalla
Comment[et]=Ekraani eraldusvõime muutmine
Comment[eu]=Aldatu pantailaren bereizmena
Comment[fa]=تفکیک‌پذیری صفحه‌نمایش عوض شود
Comment[fi]=Muuta näytön tarkkuutta
Comment[fr]=Modifier la résolution de l'écran
Comment[ga]=Athraigh taifeach scáileáin
Comment[gl]=Cambiar a resolución da pantalla
Comment[gu]=સ્ક્રીન રીઝોલ્યુશન બદલો
Comment[he]=שנה את הפרדת המסך
Comment[hi]=स्क्रीन विभेदन बदलें
Comment[hr]=Promijeni rezoluciju zaslona
Comment[hu]=Képernyő felbontásának megváltoztatása
Comment[id]=Change screen resolution
Comment[is]=Breyta skjáupplausn
Comment[it]=Cambia la risoluzione dello schermo
Comment[ja]=画面の解像度を変更します
Comment[ka]=ეკრანის გარჩევადობის შეცვლა
Comment[kn]=ತೆರೆಯ ರೆಸಲ್ಯೂಶನ್ ಅನ್ನು ಬದಲಾಯಿಸು
Comment[ko]=화면 해상도 바꾸기
Comment[ku]=Xuyakirina dîmender biguherîne
Comment[lt]=Pakeisti ekrano skiriamąją gebą
Comment[lv]=Mainīt ekrāna izšķirtspēju
Comment[mai]=स्क्रीन रिज़ोल्यूशन बदलू
Comment[mg]=Hanova ny resolution'ny efijery
Comment[mk]=Промени ја резолуцијата на екранот
Comment[ml]=സ്ക്രീനിന്റെ ദൃശ്യസൂക്ഷ്മത മാറ്റുക
Comment[mn]=Дэлгэцийн нарийвчлал өөрчлөх
Comment[mr]=स्क्रीन दृश्यप्रमाण बदला
Comment[ms]=Tukar resolusi skrin
Comment[nb]=Endre oppløsning for skjermen
Comment[ne]=पर्दा रिज्योलुसन परिवर्तन गर्नुहोस्
Comment[nl]=Schermresolutie wijzigen
Comment[nn]=Endra skjermoppløysing
Comment[nso]=Fetola setlamo sa sekirini
Comment[or]=ସ୍କ୍ରିନ ରିଜୋଲ୍ଯୁସନ ପରିବର୍ତ୍ତନ କର
Comment[pa]=ਸਕਰੀਨ ਦੀ ਰੈਜੋਲੇਸ਼ਨ ਬਦਲੋ
Comment[pl]=Zmiana rozdzielczości ekranu
Comment[pt]=Alterar a resolução de ecrã
Comment[pt_BR]=Alterar a resolução da tela
Comment[ro]=Schimbă rezoluția ecranului
Comment[ru]=Изменить разрешение экрана
Comment[sk]=Zmeniť rozlíšenie obrazovky
Comment[sl]=Spremeni ločljivost zaslona
Comment[sq]=Ndrysho përmasat e ekranit
Comment[sr]=Промените резолуцију екрана
Comment[sr@latin]=Promenite rezoluciju ekrana
Comment[sv]=Ändra skärmupplösning
Comment[ta]=திரை நுணுக்கத்தை மாற்றவும்
Comment[te]=తెర తీవ్రతను మార్చుము
Comment[th]=เปลี่ยนความละเอียดของจอ
Comment[tr]=Ekran çözünürlüğünü değiştir
Comment[uk]=Зміна параметрів екрану
Comment[uz]=Ekran oʻlchamini oʻzgartirish
Comment[uz@cyrillic]=Экран ўлчамини ўзгартириш
Comment[vi]=Thay đổi độ phân giải màn hình
Comment[xh]=Tshintsha isigqibo seskrini
Comment[zh_CN]=更改屏幕分辨率
Comment[zh_HK]=更改螢幕解像度
Comment[zh_TW]=變更螢幕解析度
Comment[zu]=Shintsa isinqumo sobuso besiga-nyezi
Exec=gnome-display-properties
Icon=gnome-display-properties
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Settings;HardwareSettings;
OnlyShowIn=GNOME;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-control-center
X-GNOME-Bugzilla-Component=Screen resolution
X-GNOME-Bugzilla-Version=2.28.1
X-Desktop-File-Install-Version=0.15
