
[Desktop Entry]
Name=Preferred Applications
Name[af]=Voorkeurtoepassings
Name[ar]=التطبيقات المفضّلة
Name[as]=পছন্দৰ অনুপ্ৰয়োগ
Name[ast]=Programes Preferíos
Name[az]=Ön Qurğulu Proqramlar
Name[be]=Пераважныя дастасаваньні
Name[be@latin]=Pažadanyja aplikacyi
Name[bg]=Предпочитани програми
Name[bn]=পছন্দের অ্যাপলিকেশন
Name[bn_IN]=পছন্দের অ্যাপলিকেশন
Name[br]=Arloadoù gwellañ karet
Name[bs]=Povlaštene aplikacije
Name[ca]=Aplicacions preferides
Name[ca@valencia]=Aplicacions preferides
Name[crh]=Tercih Edilen Uygulamalar
Name[cs]=Preferované aplikace
Name[cy]=Rhaglenni Amgen
Name[da]=Foretrukne programmer
Name[de]=Bevorzugte Anwendungen
Name[dz]=དགའ་གདམ་ཅན་གྱི་གློག་རིམ།
Name[el]=Προτιμώμενες εφαρμογές
Name[en_CA]=Preferred Applications
Name[en_GB]=Preferred Applications
Name[es]=Aplicaciones preferidas
Name[et]=Eelistatud rakendused
Name[eu]=Hobetsitako aplikazioak
Name[fa]=برنامه‌های ترجیح داده شده
Name[fi]=Oletussovellukset
Name[fr]=Applications préférées
Name[ga]=Feidhmchláir de Rogha
Name[gl]=Aplicativos preferidos
Name[gu]=પ્રાધાન્યવાળા કાર્યક્રમો
Name[he]=יישומים מועדפים
Name[hi]=पसन्दीदा अनुप्रयोग
Name[hr]=Programi
Name[hu]=Alapértelmezett alkalmazások
Name[id]=Aplikasi Pilihan
Name[is]=Valin forrit
Name[it]=Applicazioni preferite
Name[ja]=お気に入りのアプリ
Name[ka]=სასურველი პროგრამები
Name[kn]=ಅಪೇಕ್ಷಿತ ಅನ್ವಯಗಳು
Name[ko]=기본 프로그램
Name[ku]=Sepanên ku Têne Tercîhkirin
Name[lt]=Pageidaujamos programos
Name[lv]=Noklusētās programmas
Name[mai]=चहेता अनुप्रयोग
Name[mg]=Rindran'asa tiana kokoa
Name[mk]=Преферирани апликации
Name[ml]=മുന്‍ഗണനാ പ്രയോഗങ്ങള്‍
Name[mn]=Эрхэмлэсэн х.программууд
Name[mr]=प्राधान्य अनुप्रयोग
Name[ms]=Aplikasi Digemari
Name[nb]=Forvalgte programmer
Name[ne]=रूचाइएका अनुप्रयोगहरू
Name[nl]=Standaardtoepassingen
Name[nn]=Foretrukne program
Name[nso]=Ditirišo tše Ratwago
Name[oc]=Aplicacions preferidas
Name[or]=ପସନ୍ଦ ପ୍ରଯୋଗଗୁଡିକ
Name[pa]=ਪਸੰਦੀਦਾ ਐਪਲੀਕੇਸ਼ਨ
Name[pl]=Preferowane programy
Name[pt]=Aplicações Preferidas
Name[pt_BR]=Aplicativos preferenciais
Name[ro]=Aplicații preferate
Name[ru]=Предпочтительные приложения
Name[sk]=Predvolené aplikácie
Name[sl]=Zaželeni programi
Name[sq]=Aplikativë të preferuar
Name[sr]=Омиљени програми
Name[sr@latin]=Omiljeni programi
Name[sv]=Föredragna program
Name[ta]=விருப்பமான நிரல்கள்
Name[te]=అభీష్ట అనువర్తనంలు
Name[th]=เลือกโปรแกรมหลักๆ
Name[tr]=Tercih Edilen Uygulamalar
Name[uk]=Стандартні програми
Name[vi]=Ứng dụng ưa thích
Name[xh]=IiNkqubo eziKhethwayo
Name[zh_CN]=首选应用程序
Name[zh_HK]=首選應用程式
Name[zh_TW]=首選應用程式
Name[zu]=Izithobo ezithandekayo
Comment=Select your default applications
Comment[af]=Kies asb. die verstektoepassings
Comment[ar]=اختر تطبيقاتك المبدئية
Comment[as]=আপোনাৰ অবিকল্পিত অনুপ্ৰয়োগ নিৰ্ব্বাচন কৰক
Comment[ast]=Escueya los sos programes predeterminaos
Comment[az]=Ön qurğulu proqramlarınızı seçin
Comment[be]=Вылучыць свае прадвызначаныя дастасаваньні
Comment[be@latin]=Abiary zmoŭčanyja aplikacyi
Comment[bg]=Избиране на стандартните програми
Comment[bn]=যে অ্যাপলিকেশনটি ডিফল্ট হিসেবে ব্যবহার করতে চান তা বেছে নিন
Comment[bn_IN]=পছন্দসই অ্যাপ্লিকেশনগুলি নির্বাচন করুন
Comment[br]=Diuzit hoc'h arloadoù dre ziouer
Comment[bs]=Izaberite vaše uobičajene aplikacije
Comment[ca]=Seleccioneu les aplicacions per defecte
Comment[ca@valencia]=Seleccioneu les aplicacions per defecte
Comment[crh]=Öntanımlı uygulamalarınızı seçin
Comment[cs]=Umožní si vybrat výchozí aplikace
Comment[cy]=Dewiswch eich rhaglenni rhagosodedig
Comment[da]=Vælg hvilke programmer der foreslås som standard
Comment[de]=Bevorzugte Anwendungen auswählen
Comment[dz]=ཁྱོད་རའི་སྔོན་སྒྲིག་གློག་རིམ་ སེལ་འཐུ་འབད།
Comment[el]=Καθορισμός των προεπιλεγμένων εφαρμογών
Comment[en_CA]=Select your default applications
Comment[en_GB]=Select your default applications
Comment[es]=Seleccione sus aplicaciones predeterminadas
Comment[et]=Vaikimisi kasutatavate rakenduste valimine
Comment[eu]=Hautatu zure aplikazio lehenetsiak
Comment[fa]=برنامه‌ی پیش‌فرض خود را انتخاب کنید
Comment[fi]=Valitse oletusohjelmasi
Comment[fr]=Sélectionner vos applications par défaut
Comment[ga]=Roghnaigh d'fheidhmchláir réamhshocraithe
Comment[gl]=Seleccione os seus aplicativos predefinidos
Comment[gu]=તમારા મૂળભૂત કાર્યક્રમો પસંદ કરો
Comment[he]=בחר את יישומי ברירת המחדל שלך
Comment[hi]=अपने तयशुदा अनुप्रयोग चुनें
Comment[hr]=Terminalski programi
Comment[hu]=Alapértelmezett alkalmazások kiválasztása
Comment[id]=Silakan pilih aplikasi baku
Comment[is]=Veldu sjálfgefin forrit
Comment[it]=Seleziona le applicazioni predefinite
Comment[ja]=デフォルトで使用するアプリケーションを設定します
Comment[ka]=ნაგულისხმები პროგრამების ამორჩევა
Comment[kn]=ನಿಮ್ಮ ಪೂರ್ವನಿಯೋಜಿತ ಅನ್ವಯಗಳನ್ನು ಆರಿಸಿ
Comment[ko]=기본 프로그램을 선택하십시오
Comment[ku]=Sepanên xwe yên pêşdanasînî hilbijêre
Comment[lt]=Parinkite savo numatytąsias programas
Comment[lv]=Izvēlieties jūsu noklusētās aplikācijas
Comment[mai]=अपन मूलभूत अनुप्रयोग चुनू
Comment[mg]=Safidio ireo rindran'asa ataonao fampiasa
Comment[mk]=Изберете ги Вашите стандардни апликации
Comment[ml]=നിങ്ങളുടെ സഹജമായ പ്രയോഗങ്ങള്‍ തെരഞ്ഞെടുക്കുക
Comment[mn]=Та өөрийн стандарт х.программыг сонгоно уу
Comment[mr]=तुमचे पूर्वनिर्धारीत अनुप्रयोग निवडा
Comment[ms]=Pilih aplikasi default anda
Comment[nb]=Sett dine forvalgte programmer
Comment[ne]=तपाईँको पूर्वनिर्धारित अनुप्रयोगहरू चयन गर्नुहोस्
Comment[nl]=Uw standaardtoepassingen selecteren
Comment[nn]=Vel standardprogramma dine
Comment[nso]=Kgetha ditirišo tša gago tša tlhaelelo
Comment[oc]=Seleccionatz vòstras aplicacions per defaut
Comment[or]=ଆପଣଙ୍କର ଡିଫଲ୍ଟ ପ୍ରଯୋଗଗୁଡିକୁ ମନୋନୀତ କରନ୍ତୁ 
Comment[pa]=ਆਪਣੇ ਡਿਫਾਲਟ ਐਪਲੀਕੇਸ਼ਨ ਚੁਣੋ
Comment[pl]=Wybór domyślnych programów
Comment[pt]=Seleccione as suas aplicações por omissão
Comment[pt_BR]=Selecione seus aplicativos padrão
Comment[ro]=Alegeți aplicațiile implicite
Comment[ru]=Выбор приложений-обработчиков по умолчанию
Comment[sk]=Nastaviť vlastné preferované aplikácie
Comment[sl]=Izberi vaše privzete programe
Comment[sq]=Zgjidh apliaktivët e paracaktuar
Comment[sr]=Одаберите ваше основне програме
Comment[sr@latin]=Odaberite vaše osnovne programe
Comment[sv]=Välj dina standardprogram
Comment[ta]=உங்களின் கொடாநிலை நிரலைத் தெரிவுசெய்யவும்
Comment[te]=మీ అప్రమేయ అనువర్తనంలను ఎంపికచేయుము
Comment[th]=เลือกโปรแกรมหลักๆ ที่จะถูกใช้โดยปรกติ
Comment[tr]=Öntanımlı uygulamalarınızı seçin
Comment[uk]=Обрання типових програм
Comment[uz]=Andoza dasturni tanlang
Comment[uz@cyrillic]=Андоза дастурни танланг
Comment[vi]=Chọn các ứng dụng mặc định của bạn
Comment[wa]=Tchoezixhoz vos prémetous programes
Comment[xh]=Khetha iinkqubo zakho ezimiselweyo
Comment[zh_CN]=选择默认的应用程序
Comment[zh_HK]=選取預設使用的應用程式
Comment[zh_TW]=選取預設使用的應用程式
Comment[zu]=Khetha izithobo zakho ezinephutha
Exec=gnome-default-applications-properties
Icon=gnome-settings-default-applications
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Settings;X-GNOME-PersonalSettings;

X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-control-center
X-GNOME-Bugzilla-Component=Preferred applications
X-GNOME-Bugzilla-Version=2.28.1
X-Desktop-File-Install-Version=0.15
