
[Desktop Entry]
Name=Startup Applications
Name[ar]=تطبيقات بدء التشغيل
Name[as]=প্ৰাৰম্ভিক এপ্লিকেশন
Name[be]=Дастасаваньні аўтазапуску
Name[bg]=Автоматично стартирани програми
Name[bn]=স্টার্টআপ অ্যাপ্লিকেশন
Name[bn_IN]=প্রারম্ভিক অ্যাপ্লিকেশন
Name[br]=Arloadoù loc'hañ
Name[ca]=Aplicacions d'inici
Name[ca@valencia]=Aplicacions d'inici
Name[crh]=Başlanğıç Uyğulamaları
Name[cs]=Aplikace spouštěné při přihlášení
Name[da]=Opstartsprogrammer
Name[de]=Startprogramme
Name[el]=Προγράμματα εκκίνησης
Name[en_GB]=Startup Applications
Name[es]=Aplicaciones al inicio
Name[et]=Käivitatavad rakendused
Name[eu]=Abioko aplikazioak
Name[fi]=Käynnistettävät ohjelmat
Name[fr]=Applications au démarrage
Name[ga]=Feidhmchláir Tosaithe
Name[gl]=Aplicativos de inicio
Name[gu]=શરૂઆતી કાર્યક્રમો
Name[he]=יישומי ההפעלה
Name[hi]=आरंभन अनुप्रयोग
Name[hu]=Indítópult
Name[it]=Applicazioni d'avvio
Name[ja]=自動起動するアプリ
Name[kn]=ಆರಂಭಿಕ ಅನ್ವಯಗಳು
Name[ko]=시작 프로그램
Name[lt]=Paleidžiamos programos
Name[lv]=Sākuma programmas
Name[ml]=പ്രാരംഭ പ്രയോഗങ്ങള്‍
Name[mr]=आरंभिक अनुप्रयोग
Name[nb]=Oppstartsprogrammer
Name[nl]=Opstart-toepassingen
Name[or]=ପ୍ରାରମ୍ଭିକ ପ୍ରୟୋଗଗୁଡ଼ିକ
Name[pa]=ਸ਼ੁਰੂਆਤੀ ਐਪਲੀਕੇਸ਼ਨ
Name[pl]=Programy startowe
Name[ps]=پېل کاريالونه
Name[pt]=Aplicações de Arranque
Name[pt_BR]=Aplicativos de sessão
Name[ro]=Aplicații pornite după autentificare
Name[ru]=Запускаемые приложения
Name[sl]=Zagonski programi
Name[sr]=Програми по учитавању
Name[sr@latin]=Programi po učitavanju
Name[sv]=Uppstartsprogram
Name[ta]=துவக்க பயன்பாடுகள்
Name[te]=ప్రారంభ అనువర్తనములు
Name[th]=โปรแกรมเริ่มวาระ
Name[tr]=Başlangıç Uygulamaları
Name[uk]=Програми, що запускаютсья
Name[vi]=Ứng dụng Khởi chạy
Name[zh_CN]=启动应用程序
Name[zh_HK]=啟動應用程式
Name[zh_TW]=啟動應用程式
Comment=Choose what applications to start when you log in
Comment[ar]=اختر التطبيقات التي تريد تشغيلها عند ولوجك
Comment[as]=লগ-ইন কৰাৰ সময় আৰম্ভ কৰাৰ উদ্দেশ্যে চিহ্নিত এপ্লিকেশন
Comment[be]=Вылучыце дастасаваньні, якія будуць запушчаны ў час вашага ўваходу
Comment[bg]=Изберете програмите, които да се стартират при влизането ви в системата
Comment[bn]=লগ-ইন করার সময় কোন অ্যাপ্লিকেশনটি শুরু করা হবে তা নির্বাচন করুন
Comment[bn_IN]=লগ-ইন করার সময় আরম্ভ করার উদ্দেশ্যে চিহ্নিত অ্যাপ্লিকেশন
Comment[br]=Diuziñ arloadoù da lañsañ er gevreadur
Comment[ca]=Trieu quines aplicacions voleu que s'iniciïn en entrar
Comment[ca@valencia]=Trieu quines aplicacions voleu que s'inicien en entrar
Comment[crh]=İçeri imzalanğan soñ başlatılacaq uyğulamalarnı saylañız
Comment[cs]=Vybere aplikace, které se mají spouštět při přihlášení
Comment[da]=Vælg hvilke programmer som skal startes når du logger ind
Comment[de]=Wählen Sie, welche Anwendungen gestartet werden, wenn Sie sich anmelden
Comment[el]=Επιλέξτε τα προγράμματα που θα εκκινούνται όταν συνδέεστε στο σύστημα
Comment[en_GB]=Choose what applications to start when you log in
Comment[es]=Elija qué aplicaciones iniciar al iniciar la sesión
Comment[et]=Sisselogimisel käivitatavate rakenduste valimine
Comment[eu]=Aukeratu zein aplikazio abiarazi saioa-hasten duzunean
Comment[fi]=Valitse sisäänkirjauduttaessa käynnistettävät ohjelmat
Comment[fr]=Choisir les applications à lancer à la connexion
Comment[ga]=Roghnaigh na feidhmchláir le tosú agus ag logáil isteach
Comment[gl]=Elixir que aplicativos se iniciarán coa sesión
Comment[gu]=જ્યારે તમે પ્રવેશો તો શરૂ કરવા માટે ક્યા કાર્યક્મો જોઇએ છે તેને પસંદ કરો
Comment[he]=בחר אילו יישומים יופעלו בעת כניסת המשתמש
Comment[hi]=चुनें कि कौन सा अनुप्रयोग शुरू करना है जब लॉगिन हों
Comment[hu]=A bejelentkezéskor elindítandó alkalmazások kiválasztása
Comment[it]=Sceglie quali applicazioni avviare quando si esegue l'accesso
Comment[ja]=ログインした後に起動するアプリケーションを選択します
Comment[kn]=ನೀವು ಪ್ರವೇಶಿಸಿದಾಗ ಯಾವ ಅನ್ವಯವನ್ನು ಆರಂಭಿಸಬೇಕು ಎನ್ನುವುದನ್ನು ಆಯ್ಕೆ ಮಾಡಿ
Comment[ko]=로그인할 때 어떤 프로그램을 시작할 지 고릅니다
Comment[lt]=Pasirinkite, kokias programas paleisti jums prisijungiant
Comment[lv]=Izvēlieties kādas programmas jūs vēlaties palaist pieslēdzoties
Comment[ml]=നിങ്ങള്‍ ലോഗിന്‍ ചെയ്യുമ്പോള്‍ ആരംഭിക്കേണ്ട പ്രയോഗങ്ങള്‍ തെരഞ്ഞെടുക്കുക
Comment[mr]=प्रवेश केल्यावर कुठले अनुप्रयोग सुरू करायचे ते नीवडा
Comment[nb]=Velg programmer som skal startes når du logger inn
Comment[nl]=Toepassingen kiezen die bij aanmelden opgestart worden
Comment[or]=ଆପଣ ଲଗଇନ ହେବା ସମୟରେ କେଉଁ ପ୍ରୟୋଗକୁ ଆରମ୍ଭ କରିବା ଉଚିତ ତାହା ବାଛନ୍ତୁ
Comment[pa]=ਚੁਣੋ ਕਿ ਕਿਹੜੀਆਂ ਐਪਲੀਕੇਸ਼ਨਾਂ ਤੁਸੀਂ ਲਾਗਇਨ ਸਮੇਂ ਸ਼ੁਰੂ ਕਰਨੀਆਂ ਚਾਹੁੰਦੇ ਹੋ
Comment[pl]=Wybór programów do uruchomienia podczas logowania
Comment[pt]=Seleccione que aplicações arrancar ao iniciar uma sessão
Comment[pt_BR]=Escolha quais os aplicativos que irão iniciar quando você logar-se
Comment[ro]=Alegeți ce aplicații să fie pornite după ce vă autentificați
Comment[ru]=Выберите приложения, запускаемые при входе в сеанс
Comment[sl]=Izbor programov za samodejni zagon ob prijavi
Comment[sr]=Изаберите програме за покретање по пријави на рачунар
Comment[sr@latin]=Izaberite programe za pokretanje po prijavi na računar
Comment[sv]=Välj vilka program att starta när du loggar in
Comment[ta]=நீங்கள் புகுபதிவு செய்யும் போது எந்த பயன்பாடுகள் தேர்ந்தெடுக்கப்படவேண்டும்
Comment[te]=మీరు లాగిన్ అయినప్పుడు ఏ అనువర్తనములు ప్రారంభము కావలెనో యెంచుకొనుము
Comment[th]=เลือกโปรแกรมที่จะเปิดเมื่อคุณเข้าระบบ
Comment[tr]=Giriş yaptığınızda hangi uygulamaların başlatılacağını seçin
Comment[uk]=Оберіть програми, що запускаються при вході у сеанс
Comment[vi]=Hãy chọn những ứng dụng nào cần khởi chạy khi bạn đăng nhập
Comment[zh_CN]=选择登录时要启动的应用程序
Comment[zh_HK]=選擇在你登入時要啟動哪些應用程式
Comment[zh_TW]=選擇在您登入時要啟動哪些應用程式
Exec=gnome-session-properties
Icon=session-properties
Terminal=false
Type=Application
StartupNotify=true
Categories=GTK;GNOME;Settings;X-GNOME-PersonalSettings;
OnlyShowIn=GNOME;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-session
X-GNOME-Bugzilla-Component=gnome-session-properties
X-GNOME-Bugzilla-Version=2.28.0
X-Desktop-File-Install-Version=0.15
