
[Desktop Entry]
Name=Search for Files...
Name[ar]=ابحث عن الملفات...
Name[as]=নথিপত্ৰ অনুসন্ধান...
Name[ast]=Gueta de ficheros...
Name[be@latin]=Šukaj fajły...
Name[bg]=Търсене за файлове…
Name[bn]=ফাইল অনুসন্ধান...
Name[bn_IN]=ফাইল অনুসন্ধান...
Name[br]=Klask restroù...
Name[ca]=Cerca fitxers...
Name[ca@valencia]=Cerca fitxers...
Name[cs]=Hledat soubory...
Name[cy]=Chwilio am Ffeiliau...
Name[da]=Søg efter filer...
Name[de]=Nach Dateien suchen …
Name[dz]=ཡིག་སྣོད་ཚུ་ འཚོལ་ཞིབ་འབད།
Name[el]=Αναζήτηση για αρχεία...
Name[en_CA]=Search for Files...
Name[en_GB]=Search for Files…
Name[es]=Buscar archivos…
Name[et]=Otsi faile...
Name[eu]=Bilatu fitxategiak...
Name[fa]=جستجوی پرونده‌ها...
Name[fi]=Etsi tiedostoja...
Name[fr]=Rechercher des fichiers...
Name[ga]=Cuardaigh ar Chomhaid...
Name[gl]=Buscar ficheiros...
Name[gu]=ફાઈલો માટે શોધો...
Name[he]=חפש קבצים...
Name[hi]=फ़ाइलों हेतु ढूंढें...
Name[hr]=Tražite datoteke...
Name[hu]=Fájlok keresése…
Name[id]=Cari Berkas...
Name[it]=Cerca file...
Name[ja]=ファイルの検索...
Name[kn]=ಕಡತಗಳಿಗಾಗಿ ಹುಡುಕು...
Name[ko]=파일 검색...
Name[ku]=Li Pelan Bigere...
Name[lt]=Ieškoti failų...
Name[lv]=Meklēt Failus...
Name[mai]=फ़ाइल लेल खोजू...
Name[mg]=Mikaroka rakitra...
Name[mk]=Барај датотеки...
Name[ml]=ഫയലുകള്‍ തിരയുക...
Name[mr]=फाइलींचा शोध घ्या...
Name[nb]=Søk etter filer...
Name[ne]=...फाइलहरू खोज्नुहोस्
Name[nl]=Bestanden zoeken…
Name[nn]=Søk etter filer...
Name[oc]=Recercar de fichièrs...
Name[or]=ଫାଇଲ ମାନଙ୍କୁ ଖୋଜନ୍ତୁ ...
Name[pa]=ਫਾਇਲਾਂ ਦੀ ਖੋਜ...
Name[pl]=Wyszukaj pliki...
Name[ps]=...دوتنې لټول
Name[pt]=Procurar Ficheiros...
Name[pt_BR]=Pesquisar por arquivos...
Name[ro]=Căutare fișiere...
Name[ru]=Искать файлы...
Name[sk]=Hľadať súbory...
Name[sl]=Iskanje datotek ...
Name[sq]=Kërko për files...
Name[sr]=Тражи датотеке...
Name[sr@latin]=Traži datoteke...
Name[sv]=Sök efter filer...
Name[ta]=கோப்புகளை தேடவும்...
Name[te]=దస్త్రముల కొరకు వెతుకుము...
Name[th]=ค้นหาแฟ้ม...
Name[tr]=Dosya Ara...
Name[uk]=Пошук файлів...
Name[vi]=Tìm kiếm tập tin...
Name[xh]=Khangela iiFayili...
Name[zh_CN]=搜索文件...
Name[zh_HK]=搜尋檔案...
Name[zh_TW]=搜尋檔案...
Comment=Locate documents and folders on this computer by name or content
Comment[ar]=حدد موقع المستندات والمجلدات على هذا الحاسوب بالاسم أو المحتوى
Comment[as]=নাম বা অন্তৰ্ভুক্ত বিষয় অনুসাৰে এই কম্পিউটাৰে নথিপত্ৰ বা ফোল্ডাৰ অনুসন্ধান কৰক
Comment[ast]=Llocalice documentos y carpetes pol nome o conteníu nesti equipu
Comment[be@latin]=Znajdzi dakumenty j katalohi na hetym kamputary pavodle nazvaŭ i źmieściva
Comment[bg]=Намиране на документи и папки на този компютър по име или съдържание
Comment[bn]=নাম অথবা অন্তর্ভুক্ত বিষয় অনুসারে এই কম্পিউটারে ফাইল অথবা ফোল্ডার অনুসন্ধান করুন
Comment[bn_IN]=নাম অথবা অন্তর্ভুক্ত বিষয় অনুসারে এই কম্পিউটারে ফাইল অথবা ফোল্ডার অনুসন্ধান করুন
Comment[ca]=Localitza documents i directoris en aquest ordinador pel nom o contingut
Comment[ca@valencia]=Localitza documents i directoris en este ordinador pel nom o contingut
Comment[cs]=Najít dokumenty a složky v tomto počítači podle jména nebo obsahu
Comment[cy]=Lleoli dogfennau a phlygellau ar y cyfrifiadur hwn wrth eu henw neu eu cynnwys
Comment[da]=Find dokumenter og mapper på denne computer ved navn eller indhold
Comment[de]=Dateien und Ordner auf diesem Computer nach Namen oder Inhalt suchen
Comment[dz]=གློག་རིག་འདི་གུ་ཡོད་པའི་ ཡིག་ཆ་དང་སྣོད་འཛིན་ཚུ་ མིང་གི་ཐོག་ལས་ ཡང་ན་ ནང་དོན་གྱི་ཐོག་ལས་ ག་ཡོད་འཚོལ།
Comment[el]=Εντοπισμός εγγράφων και φακέλων σε αυτό τον υπολογιστή με βάση το όνομα ή το περιεχόμενο
Comment[en_GB]=Locate documents and folders on this computer by name or content
Comment[es]=Encuentra documentos y carpetas en este equipo por nombre o por contenido
Comment[et]=Selles arvutis asuvate dokumentide ja kataloogide asukoha leidmine nende nime või sisu põhjal
Comment[eu]=Lokalizatu dokumentuak eta karpetak ordenagailu honetan izen edo edukiaren arabera
Comment[fa]=پیدا کردن نوشتارها و پوشه‌های موجود در این کامپیوتر با استفاده از نام یا محتوای آنها
Comment[fi]=Etsi asiakirjoja tai kansioita tietokoneelta nimen tai sisällön perusteella
Comment[fr]=Localiser les documents et dossiers de cet ordinateur par leur nom ou leur contenu
Comment[gl]=Localizar documentos e cartafoles neste computador por nome ou por contido
Comment[gu]=આ કમ્પ્યૂટર પર નામ અથવા સમાવિષ્ટ દ્વારા દસ્તાવેજો અને ફોલ્ડરો સ્થિત કરો
Comment[he]=אתר מסמכים ותיקיות במחשב זה לפי שם או תוכן
Comment[hi]=नाम व सामग्री के आधार पर इस कंप्यूटर पर दस्तावेज व फोल्डर लोकेट करें
Comment[hu]=Dokumentumok és mappák keresése név vagy tartalom szerint a számítógépen
Comment[id]=Tentukan lokasi dokumen atau folder pada komputer ini sesuai nama ataupun isinya
Comment[it]=Individua documenti e cartelle in questo computer per nome o contenuto
Comment[ja]=このコンピュータから名前や内容でドキュメントとフォルダの場所を特定します
Comment[kn]=ಹೆಸರು ಅಥವ ವಿಷಯಗಳ ಆಧಾರದ ಮೇಲೆ ಈ ಗಣಕ ಯಂತ್ರದಲ್ಲಿನ ದಸ್ತಾವೇಜುಗಳನ್ನು ಮತ್ತು ಕಡತಕೋಶಗಳನ್ನು ಹುಡುಕಿ
Comment[ko]=이 컴퓨터의 문서나 폴더를 이름이나 내용으로 찾습니다
Comment[lt]=Rasti kompiuteryje esančius dokumentus pagal pavadinimą ar turinį
Comment[lv]=Meklē datorā mapes un failus pēc to nosaukumiem un satura
Comment[mai]=नाम आ सामग्री क' आधार पर एहि कंप्यूटर पर दस्ताबेज आ फोल्डर लोकेट करू
Comment[mg]=Hitady tahirin-kevitra sy laha-tahiry araka ny anarany na ny mpiatiny anatin'ity solosaina ity
Comment[mk]=Лоцирај ги документите и папките на овој компјутер по име или содржина
Comment[ml]=പേരു് അല്ലെങ്കില്‍ ഉള്ളടക്കമനുസരിച്ചു് ഈ കമ്പ്യൂട്ടറില്‍ വിവരണങ്ങള്‍ അല്ലെങ്കില്‍ ഫോള്‍ഡറുകള്‍ കണ്ടുപിടിക്കുക
Comment[mr]=या संगणकावरील दस्तऐवज व फोल्डर नाव विषयसूचीनुरूप शोधा
Comment[nb]=Finn dokumenter og mapper på denne datamaskinen etter navn eller innhold
Comment[ne]=यस कम्प्युटरमा नाम वा सामाग्री अनुरूप कागजात र फोल्डर स्थापना गर्नुहोस्
Comment[nl]=Documenten en mappen vinden op naam of inhoud
Comment[nn]=Finn dokument og mapper på denne datamaskinen etter namn eller innhald
Comment[oc]=Localizar de documents e de repertòris sus aqueste ordenador per nom o per contengut
Comment[or]=ନାମ କିମ୍ବା ସୂଚୀ ଅନୁସାରେ ଏହି କମ୍ପୁଟରରେ ଦଲିଲ ଏବଂ ଫୋଲଡର୍ ମାନଙ୍କର ଅବସ୍ଥିତି ନିର୍ଣ୍ଣୟ କରନ୍ତୁ
Comment[pa]=ਇਹ ਕੰਪਿਊਟਰ ਉੱਤੇ ਦਸਤਾਵੇਜ਼ ਅਤੇ ਫੋਲਡਰਾਂ ਨੂੰ ਨਾਂ ਜਾਂ ਪਰਸੰਗ ਮੁਤਾਬਕ ਲੱਭੋ
Comment[pl]=Znajduje dokumenty i katalogi na komputerze po nazwie lub treści
Comment[ps]=په دې سولګر کښې لاسوندونه او پوښۍ په نوم يا منځپانګې وځاييزوﺉ
Comment[pt]=Localizar documentos e pastas neste computador com base no nome e conteúdo
Comment[pt_BR]=Localizar documentos e pastas neste computador por nome ou conteúdo
Comment[ro]=Găsiți documente și dosare pe acest calculator după nume sau conținut
Comment[ru]=Искать документы и папки на этом компьютере по имени или по содержанию
Comment[sk]=Vyhľadať dokumenty a priečinky na tomto počítači podľa názvu alebo obsahu
Comment[sl]=Poiščite dokumente in mape na računalniku s pomočjo imena ali vsebine
Comment[sr]=Пронаћи документе или директоријуме на рачунару помићу имена или садржаја
Comment[sr@latin]=Pronaći dokumente ili direktorijume na računaru pomiću imena ili sadržaja
Comment[sv]=Lokalisera dokument och mappar på denna dator efter namn eller innehåll
Comment[ta]=இந்த கணினியில் உள்ள ஆவணங்கள் அல்லது அடைவுகளை பெயராலோ உள்ளடக்கத்தாலோ கண்டுபிடிக்கவும்
Comment[te]=నామము లేదా సారముల ద్వారా పత్రములను మరియు సంచయాలను ఈ కంప్యూటర్ లో గుర్తించండి
Comment[th]=ค้นหาเอกสารและโฟลเดอร์ในคอมพิวเตอร์นี้ด้วยชื่อหรือเนื้อหา
Comment[tr]=Bu bilgisayardaki dökümanları ve dizinleri ada veya içeriğe göre konumlandır
Comment[uk]=Шукати документи та теки на цьому комп'ютері за назвою чи змістом
Comment[vi]=Trên máy tính này, tìm tài liệu và thư mục theo tên hay nội dung
Comment[zh_CN]=按照名称或内容定位此计算机中的文档和文件夹
Comment[zh_HK]=以名稱或內容尋找此電腦中的文件及資料夾
Comment[zh_TW]=以名稱或內容尋找此電腦中的文件及資料夾
Exec=gnome-search-tool
Icon=system-search
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Utility;Core;
NotShowIn=KDE;
X-GNOME-DocPath=gnome-search-tool/gnome-search-tool.xml
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-utils
X-GNOME-Bugzilla-Component=gsearchtool
NoDisplay=true
X-Desktop-File-Install-Version=0.15
