
[Desktop Entry]
Name=Displays
Name[af]=Vertoonareas
Name[ar]=الشاشات
Name[as]=প্ৰদৰ্শনসমূহ
Name[ast]=Pantalles
Name[be]=Маніторы
Name[bg]=Монитори
Name[bn]=প্রদর্শন
Name[ca]=Pantalles
Name[ca@valencia]=Pantalles
Name[crh]=Ekranlar
Name[cs]=Displeje
Name[da]=Skærme
Name[de]=Monitore
Name[el]=Εμφανίζει
Name[en_GB]=Displays
Name[eo]=Ekranoj
Name[es]=Pantallas
Name[et]=Kuvad
Name[eu]=Pantailak
Name[fa]=نمایشگرها
Name[fi]=Näytöt
Name[fr]=Affichage
Name[ga]=Taispeáintí
Name[gl]=Pantallas
Name[gu]=દેખાવો
Name[he]=תצוגות
Name[hi]=प्रदर्शक
Name[hu]=Kijelzők
Name[id]=Tampilan
Name[it]=Monitor
Name[ja]=ディスプレイ
Name[kn]=ಪ್ರದರ್ಶಕಗಳು
Name[ko]=디스플레이
Name[ku]=Dîmender
Name[lt]=Ekranai
Name[lv]=Ekrāni
Name[mk]=Прикази
Name[mr]=डिस्पलेज्
Name[nb]=Skjermer
Name[nl]=Schermen
Name[nn]=Skjermar
Name[or]=ପ୍ରଦର୍ଶନୀଗୁଡ଼ିକ
Name[pa]=ਡਿਸਪਲੇਅ
Name[pl]=Ekrany
Name[pt]=Ecrãs
Name[pt_BR]=Telas
Name[ro]=Afișaje
Name[ru]=Мониторы
Name[sk]=Monitory
Name[sl]=Zasloni
Name[sr]=Екрани
Name[sr@latin]=Ekrani
Name[sv]=Skärmar
Name[ta]=காட்டிகள்
Name[te]=ప్రదర్శనలు
Name[th]=จอแสดงผล
Name[tr]=Ekranlar
Name[ug]=كۆرسەت
Name[uk]=Екрани
Name[vi]=Thiết bị hiển thị
Name[zh_CN]=显示
Name[zh_HK]=顯示器
Name[zh_TW]=顯示器
Comment=Change resolution and position of monitors and projectors
Comment[af]=Verander die resolusie en posisie van monitors en projektors
Comment[ar]=غيّر ميز وموضع الشاشات وأجهزة العرض
Comment[as]=মনিটৰসমূহ আৰু প্ৰজেক্টৰসমূহৰ বিভেদন আৰু অৱস্থান সলনি কৰক
Comment[ast]=Camudar la resolución y posición de los monitores y proyeutores
Comment[be]=Змяніць распазнавальнасць і месцазнаходжанне манітораў і праектараў
Comment[bg]=Промяна на разделителната способност и положението на екраните и проекторите
Comment[bn]=মনিটর এবং প্রজেক্টরের রেজল্যুশন ও অবস্থান পরিবর্তন
Comment[ca]=Canvieu la resolució i la posició dels monitors i projectors
Comment[ca@valencia]=Canvieu la resolució i la posició dels monitors i projectors
Comment[crh]=Monitör ve projektör çözünürlüğü ve konumunu değiştir
Comment[cs]=Změnit rozlišení a polohu monitorů a projektorů
Comment[da]=Ændr opløsning og position for skærme og projektorer
Comment[de]=Auflösung und Anordnung der Monitore und Projektoren ändern
Comment[el]=Αλλαγή της αναλύσης και θέσης οθονών και προτζέκτορα
Comment[en_GB]=Change resolution and position of monitors and projectors
Comment[eo]=Ŝanĝi distingivon kaj posicion de ekranoj kaj projekciiloj
Comment[es]=Cambiar la resolución y posición de los monitores y proyectores
Comment[et]=Kuvarite ja projektorite eraldusvõime ja asukoha muutmine
Comment[eu]=Aldatu pantaila eta proiektagailuen bereizmena eta posizioa
Comment[fa]=تغییر تفکیک‌پذیری و مکان صفحه‌نمایش‌ها و پروژکتورها
Comment[fi]=Vaihda näyttöjen ja projektorien tarkkuutta ja sijaintia
Comment[fr]=Modifier la résolution et la position des écrans et projecteurs
Comment[gl]=Cambiar a resolución e a posición dos monitores e proxectores
Comment[he]=שינוי הרזולוציה והמיקום של הצגים והמקרנים
Comment[hi]=मॉनिटरस और प्रोजेक्टरस की स्थिति और रिसॉल्यूशन को बदलें
Comment[hu]=Monitorok és projektorok felbontásának és elhelyezésének módosítása
Comment[id]=Ubah resolusi dan posisi monitor dan projektor
Comment[it]=Cambia la risoluzione e la posizione dei monitor e proiettori
Comment[ja]=モニターやプロジェクターの解像度と位置を変更する
Comment[kn]=ಮಾನಿಟರುಗಳ ಹಾಗು ಪ್ರೊಜೆಕ್ಟರುಗಳ ರೆಸಲ್ಯೂಶನ್ ಹಾಗು ಸ್ಥಾನವನ್ನು ಬದಲಾಯಿಸಿ
Comment[ko]=모니터 및 프로젝터의 해상도와 위치를 바꿉니다
Comment[lt]=Pakeisti ekranų ar projektorių raišką ir poziciją
Comment[lv]=Mainīt monitoru un projektoru izšķirtspēju un izvietojumu
Comment[mk]=Промени ја резолуцијата и позицијата на мониторите и проекторите
Comment[mr]=मॉनिटर्स् व प्रोजेक्टर्सचे रेजोल्युशन व ठिकाण बदला
Comment[nb]=Bytt oppløsing og posisjon for skjermer og prosjektorer
Comment[nl]=Resolutie en positie van monitors en projectors wijzigen
Comment[nn]=Endra oppløysing og posisjonen til skjermar og prosjektørar
Comment[or]=ମନିଟର ଏବଂ ପ୍ରଦର୍ଶିକାର ବିଭେଦନ ଏବଂ ଅବସ୍ଥାନକୁ ପରିବର୍ତ୍ତନ କରନ୍ତୁ
Comment[pa]=ਮਾਨੀਟਰਾਂ ਤੇ ਪਰੋਜੈਕਟਰ ਦਾ ਰੈਜ਼ੋਲੂਸ਼ਨ ਅਤੇ ਸਥਿਤੀ ਬਦਲੋ
Comment[pl]=Zmiana rozdzielczości i położenia monitorów oraz projektorów
Comment[pt]=Alterar a resolução e posição dos monitores e projectores
Comment[pt_BR]=Alterar resolução e posição dos monitores e projetores
Comment[ro]=Schimbă rezoluția și poziția monitoarelor și a proiectoarelor
Comment[ru]=Изменить разрешение и положение мониторов и проекторов
Comment[sk]=Zmeniť rozlíšenie a pozíciu monitorov a projektorov
Comment[sl]=Spremeni ločljivost in položaj zaslonov in projektorjev
Comment[sr]=Промените резолуцију и места екрана и пројектора
Comment[sr@latin]=Promenite rezoluciju i mesta ekrana i projektora
Comment[sv]=Ändra upplösning och position för skärmar och projektorer
Comment[ta]=திரைகள் மற்றும் ஒளிவீசிகள் இவற்றின் இடத்தையும் தெளிதிறனையும் மாற்றுக
Comment[te]=మానిటర్ల మరియు ప్రక్షేపకాల యొక్క స్థానాన్ని మరియు విభాజకతను మార్చు
Comment[th]=ปรับความละเอียดและการจัดตำแหน่งของจอภาพและเครื่องฉาย
Comment[tr]=Monitör ve projektör çözünürlüğü ve konumunu değiştir
Comment[ug]=كۆزەتكۈچ ۋە پرويېكتورنىڭ ئېنىقلىق ۋە ئورنىنى ئۆزگەرت
Comment[uk]=Зміна роздільності та позиції моніторів
Comment[vi]=Thay đổi độ phân giải và vị trí màn hình/máy chiếu
Comment[zh_CN]=更改显示器和投影仪的分辨率和位置
Comment[zh_HK]=改變顯示器和投影機的解像度和位置
Comment[zh_TW]=改變顯示器和投影機的解析度和位置
Exec=gnome-control-center display
Icon=preferences-desktop-display
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Settings;HardwareSettings;X-GNOME-Settings-Panel;
OnlyShowIn=GNOME;Unity;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-control-center
X-GNOME-Bugzilla-Component=Screen resolution
X-GNOME-Bugzilla-Version=3.4.2
X-GNOME-Settings-Panel=display
# Translators: those are keywords for the display control-center panel
Keywords=Panel;Projector;xrandr;Screen;Resolution;Refresh;
Keywords[af]=Panel;Projector;xrandr;Screen;Resolution;Refresh;lcd;projektor;skerm;resolusie;vertoon;
Keywords[ar]=لوحة;عرض;شاشة;ميز;
Keywords[as]=পেনেল;প্ৰজেক্টৰ;xrandr;পৰ্দা;বিভেদন;সতেজ কৰক;
Keywords[ast]=Panel;Proyeutor;xranrd;Pantalla;Resolución;Anovar;
Keywords[be]=Панэль;Праектар;xrandr;Экран;Распазнавальнасць;Абнаўленне экрана;
Keywords[bg]=Панел;Проектор;xrandr;Екран;Разделителна способност;Опресняване;
Keywords[bn]=প্যানেল;প্রজেক্টর,xrandr;স্ক্রীন,রেজল্যুশন;রিফ্রেশ;
Keywords[ca]=Quadre;Projector;xrandr;Pantalla;Resolució;Refresca;
Keywords[ca@valencia]=Quadre;Projector;xrandr;Pantalla;Resolució;Refresca;
Keywords[crh]=Panel;Projektör;xrandr;Ekran;Çözünürlük;Tazeleme;
Keywords[cs]=panel;projektor;xrandr;obrazovka;rozlišení;občerstvit;
Keywords[da]=Panel;Projektor;xrandr;Skærm;Opløsning;Opdatering;
Keywords[de]=Panel;Projektor;xrandr;Bildschirm;Auflösung;Aktualisieren;
Keywords[el]=Πάνελ;Προβολέας;xrandr;Οθόνη;Ανάλυση;Ανανέωση;
Keywords[en_GB]=Panel;Projector;xrandr;Screen;Resolution;Refresh;
Keywords[eo]=Panelo;Projekciilo;xrandr;Ekrano;Distingivo;Aktualigi;
Keywords[es]=Panel;Proyector;xranrd;Pantalla;Resolución;Actualizar;
Keywords[et]=Paneel;Projektor;xrandr;Ekraan;Resolutsioon;Eraldusvõime;Lahutusvõime;Värskendamissagedus;
Keywords[eu]=Panela;Proiektagailua;xrandr;Pantaila;Bereizmena;Freskatu;
Keywords[fa]=تابلو;پروژکتور;xrandr;نمایشگر;تفکیک‌پذیری;نوسازی;
Keywords[fi]=Paneeli;Projektori;xrandr;Näyttö;Tarkkuus;Virkistystaajuus;
Keywords[fr]=Panneau;Projecteur;xrandr;Écran;Résolution;Rafraîchissement;
Keywords[gl]=Panel;Proxector;xrandr;Pantalla;Resolución;Refresco;
Keywords[gu]=પેનલ;પ્રોજેક્ટર;xrandr;સ્ક્રીન;રિઝોલ્યુશન;તાજુ કરો;
Keywords[he]=לוח;מקרן;xrandr;צג;מסך;רזולוציה;רענון;
Keywords[hi]=पैनल;प्रोजेक्टर;xrandr;स्क्रीन;रिज़ॉल्यूशन;रिफ्रेश;
Keywords[hu]=Panel;Projektor;xrandr;Képernyő;Felbontás;Frissítés;
Keywords[id]=Panel;Projektor;xrandr;Layar;Resolusi;Segarkan;
Keywords[it]=Pannello;Proiettore;xrandr;Schermo;Risoluzione;Dimensioni;Refresh;Display;
Keywords[ja]=Panel;Projector;xrandr;Screen;Resolution;Refresh;パネル;プロジェクター;画面;解像度;リフレッシュ;
Keywords[ko]=Panel;패널;Projector;프로젝터;xrandr;Screen;화면;Resolution;해상도;Refresh;주사율;
Keywords[lt]=Skydelis;Projektorius;xrandr;Ekranas;Raiška;Atnaujinimas;
Keywords[lv]=Panelis;Projektors;xrandr;Ekrāns;Izšķirtspēja;Atsvaidzināt;
Keywords[mk]=Панел;Проектор;xrandr;Екран;Резолуција;Освежи;
Keywords[mr]=पॅनल;प्रोजेक्टर;xrandr;स्क्रीन;रेजोल्युशन;रिफ्रेश;
Keywords[nb]=Panel;Prosjektor;xrandr;Skjerm;Oppløsning;Oppdater;
Keywords[nl]=Panel;Projector;xrandr;Screen;Resolution;Refresh;Paneel;Scherm;Resolutie;Ververs;
Keywords[nn]=Panel;Prosjektør;xrandr;Skjerm;Oppløysing;Oppfrisking;
Keywords[or]=ପ୍ୟାନେଲ;ପ୍ରଦର୍ଶିକା;xrandr;ପରଦା;ବିଭେଦନ;ସତେଜ;
Keywords[pa]=ਪੈਨਲ;ਪਰੋਜੈਕਟਰ;xrandr;ਸਕਰੀਨ;ਰੈਜ਼ੋਲੂਸ਼ਨ;ਤਾਜ਼ਾ;
Keywords[pl]=Panel;Projektor;xrandr;Ekran;Rozdzielczość;Odświeżanie;
Keywords[pt]=Painel;Projector;xrandr;Ecrã;Resolução;Actualizar;
Keywords[pt_BR]=Painel;Projetor;xrandr;Tela;Resolução;Atualizar;
Keywords[ro]=Panel;Projector;xrandr;Screen;Resolution;Refresh;Panou;Proiector;Ecran;Rezoluție;Reîmprospătare;Frecvență;Frecventa;Rezolutie;
Keywords[ru]=Панель;Проектор;xrandr;Экран;Разрешение;Обновить;
Keywords[sk]=Panel;Projektor;xrandr;Obrazovka;Rozlíšenie;Obnovovanie;
Keywords[sl]=Pult;Projektor;xrandr;Zaslon;Ločljivost;Osveževanje;
Keywords[sr]=Панел;Пројектор;храндр;Екран;Резолуција;Освежавање;
Keywords[sr@latin]=Panel;Projektor;hrandr;Ekran;Rezolucija;Osvežavanje;
Keywords[sv]=Panel;Projektor;xrandr;Skärm;Upplösning;Uppdatering;
Keywords[ta]=பலகம்;ஒளிப்படக்காட்டி;எக்ஸ்ரான்டர்;திரை;தெளிதிறன்;புதுப்பி;
Keywords[te]=పానల్;ప్రొజెక్టర్;xrandr;తెర;రిజొల్యూషన్;రీఫ్రెష్;
Keywords[th]=แผงควบคุม;เครื่องฉาย;xrandr;หน้าจอ;ความละเอียด;รีเฟรช;
Keywords[tr]=Panel;Projektör;xrandr;Ekran;Çözünürlük;Tazeleme;
Keywords[ug]=تاختا;پرويېكتور;xrandr;ئېكران;ئېنىقلىق;يېڭىلا;
Keywords[uk]=Панель;Проектори;xrandr;Екран;Роздільність;Оновлення;
Keywords[vi]=Panel;Projector;Máy;chiếu;xrandr;Screen;Màn;hình;Resolution;Độ;pân;giải;Refresh;
Keywords[zh_CN]=Panel;Projector;xrandr;Screen;Resolution;Refresh;面板;投影仪;屏幕;分辨率;刷新;
Keywords[zh_HK]=Panel;Projector;xrandr;Screen;Resolution;Refresh;面板;投影機;螢幕;解像度;重新整理;
Keywords[zh_TW]=Panel;Projector;xrandr;Screen;Resolution;Refresh;面板;投影機;螢幕;解析度;重新整理;
X-Desktop-File-Install-Version=0.19
