
[Desktop Entry]
Name=Disk Usage Analyzer
Name[ar]=محلّل استخدام القرص
Name[as]=ডিস্ক
Name[ast]=Analizador d'Usu de Discu
Name[be@latin]=Analizatar zaniataści dyskavaj prastory
Name[bg]=Анализатор на ползването на диска
Name[bn]=ডিস্ক ব্যবহারের বিশ্লেষণ ব্যবস্থা
Name[bn_IN]=ডিস্ক ব্যবহারের বিশ্লেষণ ব্যবস্থা
Name[br]=Dezranner arver ar c'hantennoù
Name[ca]=Analitzador de l'ús dels discs
Name[ca@valencia]=Analitzador de l'ús dels discs
Name[cs]=Analyzátor využití disku
Name[da]=Diskforbrugsanalyse
Name[de]=Festplattenbelegung analysieren
Name[dz]=ཌིཀསི་གི་བེད་སྤྱོད་དཔྱད་ཞིབ་པ།
Name[el]=Ανάλυση χρήσης δίσκου
Name[en_GB]=Disk Usage Analyser
Name[es]=Analizador de uso de disco
Name[et]=Kettakasutuse analüsaator
Name[eu]=Disko-erabileraren analizatzailea
Name[fa]=تحلیل‌گر فضای مصرفی دیسک
Name[fi]=Levynkäytön analysointi
Name[fr]=Analyseur d'utilisation des disques
Name[ga]=Anailíseoir Úsáid Diosca
Name[gl]=Analizador do uso do disco
Name[gu]=ડિસ્ક વપરાશકર્તા વિશ્લેષક
Name[he]=מנתח השימוש בדיסק
Name[hi]=डिस्क प्रयोग विश्लेषण
Name[hr]=Analizator zauzeća diska
Name[hu]=Lemezhasználat-elemző
Name[id]=Penganalisa Penggunaan Disk
Name[it]=Analizzatore di utilizzo del disco
Name[ja]=ディスク使用量の解析
Name[kn]=ಡಿಸ್ಕ್‌ ಬಳಕೆಯ ವಿಶ್ಲೇಷಕ
Name[ko]=디스크 사용량 분석
Name[ku]=Analîzkerê Bikaranîna Dîskê
Name[lt]=Disko naudojimo analizatorius
Name[lv]=Disks izmantošanas analizators
Name[mai]=डिस्क प्रयोग विश्लेषण
Name[mk]=Употребата на дискот
Name[ml]=ഡിസ്ക് ഉപയോഗ വിശകലനി
Name[mr]=डीस्क वापर विश्लेषक
Name[nb]=Analyse av diskplass
Name[ne]=डिस्क प्रयोग विश्लेषक
Name[nl]=Schijfgebruik
Name[nn]=Analyse av diskplass
Name[or]=ଡିସ୍କ ବ୍ଯବହାର ବିଧି ବିଶ୍ଳେଷକ
Name[pa]=ਡਿਸਕ ਵਰਤੋਂ ਜਾਂਚਕਾਰ
Name[pl]=Analizator wykorzystania dysku
Name[ps]=د ټيکلي کارونې شننونکی
Name[pt]=Analisador de Utilização do Disco
Name[pt_BR]=Analisador de Utilização do Disco
Name[ro]=Analizare utilizare disc
Name[ru]=Анализатор использования дисков
Name[sk]=Analyzátor využitia disku
Name[sl]=Orodje za analizo porabe diska
Name[sr]=Анализер искоришћености диска
Name[sr@latin]=Analizer iskorišćenosti diska
Name[sv]=Diskanvändningsanalysator
Name[ta]=வட்டு பயன்பாடு ஆராய்வி
Name[te]=ఖని వినిమయ విశ్లేషకి
Name[th]=เครื่องมือวิเคราะห์การใช้ดิสก์
Name[tr]=Disk Kullanım Analizcisi
Name[uk]=Аналізатор використання диску
Name[vi]=Bộ phân tích cách sử dụng đĩa
Name[zh_CN]=磁盘使用分析器
Name[zh_HK]=磁碟用量分析器
Name[zh_TW]=磁碟用量分析器
Comment=Check folder sizes and available disk space
Comment[ar]=افحص حجم المجلدات والمساحة المتوفرة
Comment[as]=ফোল্ডাৰৰ মাপ আৰু ডিস্কত উপলব্ধ স্থান পৰীক্ষা কৰা হ'ব
Comment[ast]=Comprobar el tamañu de les carpetes y l'espaciu disponible en discu
Comment[be@latin]=Spraŭdź pamiery katalohaŭ i dyskavuju prastoru
Comment[bg]=Проверка на размерите на папките и свободното пространство на диска
Comment[bn]=ফোল্ডারের মাপ ও ডিস্কে বিদ্যমান স্থান পরীক্ষা করা হবে
Comment[bn_IN]=ফোল্ডারের মাপ ও ডিস্কে উপলব্ধ স্থান পরীক্ষা করা হবে
Comment[ca]=Comprova la mida de les carpetes i l'espai disponible al disc
Comment[ca@valencia]=Comprova la mida de les carpetes i l'espai disponible al disc
Comment[cs]=Zkontrolovat velikost složek a dostupné místo na disku
Comment[da]=Kontrollér mappestørrelser og tilgængelig diskplads
Comment[de]=Ordnergrößen und freien Festplattenplatz analysieren
Comment[dz]=ཡིག་སྣོད་ཀྱི་ཚད་ཚུ་དང་འཐོབ་ཚུགས་པའི་ཌིཀསི་ས་སྟོང་ཞིབ་དཔྱད་འབད
Comment[el]=Έλεγχος μεγέθους φακέλων και διαθέσιμου χώρου στο δίσκο
Comment[en_GB]=Check folder sizes and available disk space
Comment[es]=Compruebe el tamaño de las carpetas y el espacio disponible en disco
Comment[et]=Kaustade suuruse ja saadaoleva kettaruumi kontroll
Comment[eu]=Egiaztatu karpeten tamainak eta diskoan dagoen leku erabilgarria
Comment[fi]=Tarkista kansioiden koko ja käytettävissä oleva levytila
Comment[fr]=Vérifier la taille des dossiers et l'espace disque disponible
Comment[ga]=Seiceáil méideanna fillteán agus spás diosca le fáil
Comment[gl]=Verificar o tamaño dos cartafoles e o espazo dispoñíbel no disco
Comment[gu]=ફોલ્ડર માપો અને ઉપલબ્ધ ડિસ્ક જગ્યા ચકાસો
Comment[he]=בודק גדלי ספריות ומקום פנוי בדיסק
Comment[hi]=फोल्डर आकार जाँचें और उपलब्ध डिस्क स्थान
Comment[hu]=Mappaméretek és elérhető lemezterület vizsgálata
Comment[it]=Controlla la dimensione delle cartelle e lo spazio disco disponibile
Comment[ja]=フォルダと利用可能なディスク容量をチェックします
Comment[kn]=ಕಡತಕೋಶದ ಗಾತ್ರಗಳು ಹಾಗು ಲಭ್ಯವಿರುವ ಡಿಸ್ಕಿನ ಜಾಗಕ್ಕಾಗಿ ನೋಡು
Comment[ko]=폴더 크기와 디스크의 사용 가능한 공간을 검사합니다
Comment[lt]=Tikrinti aplankų dydžius ir laisvą vietą
Comment[lv]=Pārbauda mapju izmērus un pieejamo diska vietu
Comment[mk]=Провери ја големината на папките и достапниот простор на дискот
Comment[ml]=ഫോള്‍ഡറിന്റെ വ്യാപ്തിയും ഡിസ്കില്‍ ലഭ്യമായ സ്ഥലവും പരിശോധിയ്ക്കുക
Comment[mr]=फोल्डर आकार व उपलब्ध डीस्क जागा तपासा
Comment[nb]=Sjekk mappestørrelser og tilgjengelig diskplass
Comment[ne]=फोल्डर साइज र उपलब्ध डिस्क खालीस्थान जाँच गर्नुहोस्
Comment[nl]=Mapgroottes en beschikbare schijfruimte bekijken
Comment[nn]=Sjekk mappestorleikar og tilgjengeleg diskplass
Comment[or]=ଫୋଲଡର ର ଆକାର ଏବଂ ଉପଲବ୍ଧ ଡିସ୍କ ସ୍ଥାନ ଯାଞ୍ଚ କରନ୍ତୁ
Comment[pa]=ਫੋਲਡਰ ਸਾਇਜ਼ ਅਤੇ ਉਪਲੱਬਧ ਡਿਸਕ ਥਾਂ ਚੈੱਕ ਕਰੋ
Comment[pl]=Sprawdzenie rozmiaru katalogów i dostępnego miejsca na dysku
Comment[ps]=د پوښۍ کچونه او شته ټيکلی تشه وګورﺉ
Comment[pt]=Verificar o tamanho das pastas e o espaço disponível em disco
Comment[pt_BR]=Verifique o tamanho das pastas e espaço disponível no disco
Comment[ro]=Verifică dimensiunea dosarului și spațiu disponibil pe disc
Comment[ru]=Изучение размера папок и свободного места на дисках
Comment[sk]=Skontrolovať veľkosti priečinkov a dostupné miesto na disku
Comment[sl]=Preveri velikosti map in prostor na disku
Comment[sr]=Провери величине директоријума и слободни простор на диску
Comment[sr@latin]=Proveri veličine direktorijuma i slobodni prostor na disku
Comment[sv]=Kontrollera mappstorlekar och tillgängligt diskutrymme
Comment[ta]=அடைவு அளவு மற்றும் கிடைக்கக்கூடிய வட்டு இடைவெளி ஆகியவற்றை சரிபார் 
Comment[te]=ఖని ఖాళీ లభ్యత మరియు సంచయము ఖాళీ లభ్యతలను తనిఖీచేయుము
Comment[th]=ตรวจสอบขนาดของโฟลเดอร์ต่างๆ และเนื้อที่ว่างในดิสก์
Comment[tr]=Klasör boyutlarını ve mevcut boş disk alanını kontrol et
Comment[uk]=Перевірте розміри тек та дисковий простір
Comment[vi]=Kiểm tra kích cỡ thư mục và chỗ rảnh trên đĩa
Comment[zh_CN]=检查文件夹大小和可用磁盘空间
Comment[zh_HK]=檢查資料夾大小與可用的磁碟空間
Comment[zh_TW]=檢查資料夾大小與可用的磁碟空間
GenericName=Disk Usage Analyzer
GenericName[ar]=محلّل استخدام القرص
GenericName[as]=ডিস্ক
GenericName[ast]=Analizador d'Usu de Discu
GenericName[be@latin]=Analizatar zaniataści dyskavaj prastory
GenericName[bg]=Анализатор на ползването на диска
GenericName[bn]=ডিস্ক ব্যবহারের বিশ্লেষণ ব্যবস্থা
GenericName[bn_IN]=ডিস্ক ব্যবহারের বিশ্লেষণ ব্যবস্থা
GenericName[br]=Dezranner arver ar c'hantennoù
GenericName[ca]=Analitzador de l'ús dels discs
GenericName[ca@valencia]=Analitzador de l'ús dels discs
GenericName[cs]=Analyzátor využití disku
GenericName[da]=Diskforbrugsanalyse
GenericName[de]=Festplattenbelegung analysieren
GenericName[dz]=ཌིཀསི་གི་བེད་སྤྱོད་དཔྱད་ཞིབ་པ།
GenericName[el]=Ανάλυση χρήσης δίσκου
GenericName[en_GB]=Disk Usage Analyser
GenericName[es]=Analizador de uso de disco
GenericName[et]=Kettakasutuse analüsaator
GenericName[eu]=Disko-erabileraren analizatzailea
GenericName[fa]=تحلیل‌گر فضای مصرفی دیسک
GenericName[fi]=Levynkäytön analysointi
GenericName[fr]=Analyseur d'utilisation des disques
GenericName[ga]=Anailíseoir Úsáid Diosca
GenericName[gl]=Analizador do uso do disco
GenericName[gu]=ડિસ્ક વપરાશકર્તા વિશ્લેષક
GenericName[he]=מנתח השימוש בדיסק
GenericName[hi]=डिस्क प्रयोग विश्लेषण
GenericName[hr]=Analizator zauzeća diska
GenericName[hu]=Lemezhasználat-elemző
GenericName[id]=Penganalisa Penggunaan Disk
GenericName[it]=Analizzatore di utilizzo del disco
GenericName[ja]=ディスク使用量の解析
GenericName[kn]=ಡಿಸ್ಕ್‌ ಬಳಕೆಯ ವಿಶ್ಲೇಷಕ
GenericName[ko]=디스크 사용량 분석
GenericName[ku]=Analîzkerê Bikaranîna Dîskê
GenericName[lt]=Disko naudojimo analizatorius
GenericName[lv]=Disks izmantošanas analizators
GenericName[mai]=डिस्क प्रयोग विश्लेषण
GenericName[mk]=Употребата на дискот
GenericName[ml]=ഡിസ്ക് ഉപയോഗ വിശകലനി
GenericName[mr]=डीस्क वापर विश्लेषक
GenericName[nb]=Analyse av diskplass
GenericName[ne]=डिस्क प्रयोग विश्लेषक
GenericName[nl]=Schijfgebruik
GenericName[nn]=Analyse av diskplass
GenericName[or]=ଡିସ୍କ ବ୍ଯବହାର ବିଧି ବିଶ୍ଳେଷକ
GenericName[pa]=ਡਿਸਕ ਵਰਤੋਂ ਜਾਂਚਕਾਰ
GenericName[pl]=Analizator wykorzystania dysku
GenericName[ps]=د ټيکلي کارونې شننونکی
GenericName[pt]=Analisador de Utilização do Disco
GenericName[pt_BR]=Analisador de Utilização do Disco
GenericName[ro]=Analizare utilizare disc
GenericName[ru]=Анализатор использования дисков
GenericName[sk]=Analyzátor využitia disku
GenericName[sl]=Orodje za analizo porabe diska
GenericName[sr]=Анализер искоришћености диска
GenericName[sr@latin]=Analizer iskorišćenosti diska
GenericName[sv]=Diskanvändningsanalysator
GenericName[ta]=வட்டு பயன்பாடு ஆராய்வி
GenericName[te]=ఖని వినిమయ విశ్లేషకి
GenericName[th]=เครื่องมือวิเคราะห์การใช้ดิสก์
GenericName[tr]=Disk Kullanım Analizcisi
GenericName[uk]=Аналізатор використання диску
GenericName[vi]=Bộ phân tích cách sử dụng đĩa
GenericName[zh_CN]=磁盘使用分析器
GenericName[zh_HK]=磁碟用量分析器
GenericName[zh_TW]=磁碟用量分析器
TryExec=baobab
Exec=baobab
Icon=baobab
Terminal=false
Type=Application
StartupNotify=true
Categories=GTK;GNOME;System;Filesystem;
NotShowIn=KDE;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-utils
X-GNOME-Bugzilla-Component=baobab
X-GNOME-Bugzilla-Version=2.28.1
X-Desktop-File-Install-Version=0.15
