
[Desktop Entry]
Encoding=UTF-8
Name=File Manager
Name[af]=Lêerbestuurder
Name[ar]=مدير الملفات
Name[as]=নথিপত্ৰ মেনেজাৰ
Name[ast]=Alministrador de Ficheros
Name[az]=Fayl İdarəçisi
Name[be]=Кіраўнік файлаў
Name[be@latin]=Kiraŭnik fajłaŭ
Name[bg]=Управление на файлове
Name[bn]=ফাইল পরিচালনব্যবস্থা
Name[bn_IN]=ফাইল পরিচালনব্যবস্থা
Name[br]=Ardoer restroù
Name[bs]=Upravitelj datoteka
Name[ca]=Gestor de fitxers
Name[ca@valencia]=Gestor de fitxers
Name[crh]=Dosye İdareçisi
Name[cs]=Správce souborů
Name[cy]=Trefnydd Ffeiliau
Name[da]=Filhåndtering
Name[de]=Dateimanager
Name[dz]=ཡིག་སྣོད་འཛིན་སྐྱོང་པ།
Name[el]=Διαχειριστής αρχείων
Name[en_CA]=File Manager
Name[en_GB]=File Manager
Name[eo]=Dosiera administrilo
Name[es]=Administrador de archivos
Name[et]=Failihaldur
Name[eu]=Fitxategi-kudeatzailea
Name[fa]=مدیر پرونده‌ها
Name[fi]=Tiedostonhallinta
Name[fr]=Gestionnaire de fichiers
Name[fur]=Gjestôr di file
Name[ga]=Bainisteoir Comhad
Name[gl]=Xestor de ficheiros
Name[gu]=ફાઈલ વ્યવસ્થાપક
Name[ha]=Manajan Fayil
Name[he]=מנהל קבצים
Name[hi]=फ़ाइल प्रबंधक
Name[hr]=Upravitelj datotekama
Name[hu]=Fájlkezelő
Name[hy]=Ֆայլի մենեջեր
Name[id]=Pengatur Berkas
Name[ig]=Onyenlekọta faịlụ
Name[is]=Skráarstjóri
Name[it]=File manager
Name[ja]=ファイル・マネージャ
Name[ka]=ფაილთა მენეჯერი
Name[kn]=ಕಡತ ವ್ಯವಸ್ಥಾಪಕ
Name[ko]=파일 관리자
Name[ku]=Rêveberiya Pelan
Name[li]=Besjtandjwirtsjaf
Name[lt]=Failų tvarkyklė
Name[lv]=Failu pārvaldnieks
Name[mai]=फाइल प्रबंधक
Name[mg]=Mpandrindra rakitra
Name[mk]=Менаџер за датотеки
Name[ml]=ഫയല്‍ മാനേജര്‍
Name[mn]=Файл менежер
Name[mr]=फाइल व्यवस्थापक
Name[ms]=Pengurus Fail
Name[nb]=Filhåndterer
Name[nds]=Dateioppasser
Name[ne]=फाइल प्रबन्धक
Name[nl]=Bestandsbeheer
Name[nn]=Filhandsamar
Name[nso]=Molaodi wa Faele
Name[oc]=Gestionari de fichièrs
Name[or]=ଫାଇଲ ପରିଚାଳକ
Name[pa]=ਫਾਇਲ ਮੈਨੇਜਰ
Name[pl]=Menedżer plików
Name[ps]=دوتنه سمبالګر
Name[pt]=Gestor de Ficheiros
Name[pt_BR]=Gerenciador de Arquivos
Name[ro]=Administrator fișiere
Name[ru]=Файловый менеджер
Name[si]=ගොනු කළමණාකරු
Name[sk]=Správa súborov
Name[sl]=Upravitelj datotek
Name[sq]=File Manager
Name[sr]=Управник датотекама
Name[sr@ije]=Управник датотека
Name[sr@latin]=Upravnik datotekama
Name[sv]=Filhanterare
Name[ta]=கோப்பு மேலாளர்
Name[te]=దస్త్రపు నిర్వాహకి
Name[th]=โปรแกรมจัดการแฟ้ม
Name[tk]=Faýl Müdiri
Name[tr]=Dosya Yöneticisi
Name[uk]=Керування файлами
Name[uz]=Fayl boshqaruvchisi
Name[uz@cyrillic]=Файл бошқарувчиси
Name[vi]=Bộ Quản lý Tập tin
Name[wa]=Manaedjeu di fitchîs
Name[xh]=Umphathi Wefayili
Name[yo]=Alábòójútó Fáìlì
Name[zh_CN]=文件管理器
Name[zh_HK]=檔案管理程式
Name[zh_TW]=檔案管理程式
Name[zu]=Mphathi Hele
Exec=nautilus
X-Gnome-Vfs-System=gio
Icon=system-file-manager
Terminal=false
Type=Application
StartupNotify=true
NoDisplay=true
OnlyShowIn=GNOME;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=nautilus
X-GNOME-Bugzilla-Component=general
X-GNOME-Bugzilla-Version=2.28.4
X-GNOME-Autostart-Phase=Desktop
X-GNOME-Autostart-Notify=true
X-GNOME-AutoRestart=true
X-GNOME-Provides=filemanager
X-Desktop-File-Install-Version=0.15
AutostartCondition=GNOME /apps/nautilus/preferences/show_desktop
