
[Desktop Entry]
Name=Character Map
Name[af]=Karakterkaart
Name[ar]=خريطة المحارف
Name[as]=অক্ষৰৰ ম্যাপ
Name[ast]=Mapa de carauteres
Name[az]=Hərf Xəritəsi
Name[be@latin]=Mapa znakaŭ
Name[bg]=Таблица със знаци
Name[bn]=অক্ষরের ম্যাপ
Name[bn_IN]=অক্ষরের ম্যাপ
Name[br]=Kartenn an arrouezennoù
Name[bs]=Mapa karaktera
Name[ca]=Mapa de caràcters
Name[ca@valencia]=Mapa de caràcters
Name[cs]=Mapa znaků
Name[cy]=Map Nodau
Name[da]=Tegnoversigt
Name[de]=Zeichentabelle
Name[dz]=ཡིག་འབྲུའི་ས་ཁྲ།
Name[el]=Πίνακας Χαρακτήρων
Name[en_CA]=Character Map
Name[en_GB]=Character Map
Name[es]=Mapa de caracteres
Name[et]=Märgikaart
Name[eu]=Karaktere-mapa
Name[fa]=جدول نویسه‌ها
Name[fi]=Merkkikartta
Name[fr]=Table de caractères
Name[ga]=Mapa Carachtar
Name[gl]=Mapa de caracteres
Name[gu]=અક્ષર કોષ્ટક
Name[he]=מפת תווים
Name[hi]=अक्षर तालिका
Name[hr]=Tablica znakova
Name[hu]=Karaktertábla
Name[id]=Tabel karakter
Name[it]=Tabella caratteri
Name[ja]=文字マップ
Name[ka]=სიმბოლოთა რუკა
Name[kn]=ಅಕ್ಷರ ನಕ್ಷೆ
Name[ko]=문자 표
Name[lt]=Simbolių lentelė
Name[lv]=Rakstzīmju tabula
Name[mai]=संप्रतीक मैप
Name[mk]=Знаковна табела
Name[ml]=അക്ഷരങ്ങളുടെ പട്ടിക
Name[mn]=Тэмдэгтийн хүснэгт
Name[mr]=अक्षर नकाशा
Name[ms]=Peta Aksara
Name[nb]=Tegnkart
Name[ne]=क्यारेक्टर मानचित्र
Name[nl]=Tekens en symbolen
Name[nn]=Teiknkart
Name[or]=ଅକ୍ଷର ତାଲିକା
Name[pa]=ਅੱਖਰ ਖਾਕਾ
Name[pl]=Mapa znaków
Name[pt]=Mapa de Caracteres
Name[pt_BR]=Mapa de caracteres
Name[ro]=Hartă caractere
Name[ru]=Таблица символов
Name[sk]=Mapa znakov
Name[sl]=Preglednica znakov
Name[sq]=Harta e simboleve
Name[sr]=Таблица знакова
Name[sr@latin]=Tablica znakova
Name[sv]=Teckentabell
Name[ta]=எழுத்து வரைபடம்
Name[te]=ఆక్షర పఠము
Name[th]=ผังอักขระ
Name[tr]=Karakter Haritası
Name[uk]=Таблиця символів
Name[vi]=Sơ đồ Ký tự
Name[wa]=Tåvlea des caracteres
Name[xh]=Imephu Yophawu
Name[zh_CN]=字符映射表
Name[zh_HK]=字符對應表
Name[zh_TW]=字元對應表
Comment=Insert special characters into documents
Comment[af]=Voeg spesiale karakters in dokumente in
Comment[ar]=أدرج محارف خاصة في المستندات
Comment[as]=নথিপত্ৰেত বিশেষ অক্ষৰ সন্নিবেশ কৰক
Comment[ast]=Inxertar carauteres especiales nos documentos
Comment[az]=Sənədlərə xüsusi hərfləri daxil edin
Comment[be@latin]=Ustaŭlaj specyjalnyja znaki ŭ dakumenty
Comment[bg]=Вмъкване на специални знаци в документи
Comment[bn]=ডকুমেন্টে বিশেষ অক্ষর ব্যবহার করুন
Comment[bn_IN]=নথিপত্রের মধ্যে বিশেষ অক্ষর সন্নিবেশ করুন
Comment[br]=Enlakaat arouezennoù dibar en dielloù
Comment[bs]=Ubacivanje posebnih znakova u dokumente
Comment[ca]=Inseriu caràcters especials en els documents
Comment[ca@valencia]=Inseriu caràcters especials en els documents
Comment[cs]=Vložit speciální znaky do dokumentů
Comment[cy]=Mewnosod nodau arbennig i mewn i ddogfenni
Comment[da]=Indsæt specielle tegn i dokumenter
Comment[de]=Sonderzeichen in Dokumente einfügen
Comment[dz]=དམིགས་བསལ ཡིག་འབྲུ་ཚུ་ ཡིག་ཆའི་ནང་བཙུགས།
Comment[el]=Εισαγωγή ειδικών χαρακτήρων σε έγγραφα
Comment[en_CA]=Insert special characters into documents
Comment[en_GB]=Insert special characters into documents
Comment[es]=Inserte caracteres especiales en los documentos
Comment[et]=Erimärkide lisamine dokumentidesse
Comment[eu]=Txertatu karaktere bereziak dokumentuetan
Comment[fa]=درج نویسه‌های خاص در نوشتار
Comment[fi]=Lisää erikoismerkkejä asiakirjoihin
Comment[fr]=Insère des caractères spéciaux dans vos documents
Comment[ga]=Ionsáigh carachtair speisialta isteach i gcáipéisí
Comment[gl]=Inserir caracteres especiais nos documentos
Comment[gu]=દસ્તાવેજમાં વિશિષ્ટ અક્ષરો ઉમેરો
Comment[he]=הכניסו תווים מיוחדים למסמכים
Comment[hi]=दस्तावेज़ों में विशिष्ट अक्षर प्रविष्ट करें
Comment[hr]=Ubacivanje posebnih znakova u dokumente
Comment[hu]=Különleges karakterek dokumentumokba illesztése
Comment[id]=Masukkan karakter istimewa ke dalam dokumen
Comment[it]=Inserisce caratteri speciali nei documenti
Comment[ja]=ドキュメントの中に特殊な文字を挿入します
Comment[kn]=ವಿಶೇಷ ಅಕ್ಷರಗಳನ್ನು ದಸ್ತಾವೇಜಿನಲ್ಲಿ ಸೇರಿಸಿ
Comment[ko]=문서에 특수 문자를 입력합니다
Comment[lt]=Įterpti į dokumentus specialius simbolius
Comment[lv]=Ievietot īpašas rakstzīmes dokumentā
Comment[mai]=दस्ताबेजसभमे विशिष्ट अक्षर प्रविष्ट करू
Comment[mk]=Внесувај специјални карактери во документите
Comment[ml]=പ്രമാണങ്ങളിലേയ്ക്കു് പ്രത്യേകാക്ഷരങ്ങള്‍ ചേര്‍ക്കുക
Comment[mn]=Баримт руу тусгай тэмдэгт оруулах
Comment[mr]=दस्तऐवजात विशेष अक्षरे प्रविष्ट करा
Comment[ms]=Menyisipkan aksara istimewa ke dokumen
Comment[nb]=Sett inn spesielle tegn i dokumenter
Comment[ne]=कागजातमा विशेष क्यारेक्टर घुसाउनुहोस्
Comment[nl]=Speciale tekens invoegen in documenten
Comment[nn]=Sett inn spesielle teikn i dokument
Comment[oc]=Inserir de caractèrs especials dins vòstres documents
Comment[or]=ଦଲିଲରେ ବିଶେଷ ଅକ୍ଷର ମାନଙ୍କୁ ଭର୍ତ୍ତୀ କରନ୍ତୁ
Comment[pa]=ਡੌਕੂਮੈਂਟ ਵਿੱਚ ਖਾਸ ਅੱਖਰ ਦਿਉ
Comment[pl]=Wstawia znaki specjalne do dokumentów
Comment[pt]=Inserir caracteres especiais em documentos
Comment[pt_BR]=Insira caracteres especiais nos documentos
Comment[ro]=Introducere caractere speciale în documente
Comment[ru]=Программа для вставки специальных символов в документы
Comment[sk]=Vložiť špeciálne znaky do dokumentov
Comment[sl]=Vstavi posebne znake v dokumente
Comment[sq]=Shto simbole të veçantë në dokumente
Comment[sr]=Унесите нарочите знаке у документа
Comment[sr@latin]=Unesite naročite znake u dokumenta
Comment[sv]=Infoga specialtecken i dokument
Comment[ta]=ஆவணத்தில் சிறப்பு எழுத்துக்களை சொருகு
Comment[te]=పత్రములలోకి ప్రత్యేక అక్షరములను చేర్చుము
Comment[th]=แทรกอักขระพิเศษเข้าในเอกสาร
Comment[tr]=Özel karakterleri belgelere yerleştir
Comment[uk]=Вставляння спеціальних символів у документ
Comment[vi]=Chèn ký tự đặc biệt vào tài liệu
Comment[wa]=Sititchî des caracteres sipeciås ezès documints
Comment[xh]=Fakela izimo ezizodwa emaxwebhini
Comment[zh_CN]=在文档中插入特殊字符
Comment[zh_HK]=在文件中插入特殊字符
Comment[zh_TW]=在文件中插入特殊字元
Exec=gucharmap
Icon=accessories-character-map
Terminal=false
Type=Application
Categories=GNOME;GTK;Utility;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gucharmap
X-GNOME-Bugzilla-Component=general
X-GNOME-Bugzilla-Version=2.28.2
StartupNotify=true
X-Desktop-File-Install-Version=0.15
