
[Desktop Entry]
Icon=iagno
Name=Iagno
Name[af]=Iagno
Name[ar]=إياجنو
Name[as]=ইয়াগনো
Name[ast]=Iagno
Name[az]=Iagno
Name[be]=Iagno
Name[bg]=Iagno
Name[bn]=ইয়াগনো
Name[bn_IN]=ইয়াগনো
Name[br]=Iagno
Name[ca]=Iagno
Name[ca@valencia]=Iagno
Name[cs]=Iagno
Name[cy]=Iagno
Name[da]=Iagno
Name[de]=Iagno (Reversi)
Name[dz]=ཨེའག་ནོ།
Name[el]=Ιάγνος
Name[en_CA]=Iagno
Name[en_GB]=Iagno
Name[eo]=Iagno
Name[es]=Iagno
Name[et]=Iagno
Name[eu]=Iagno
Name[fa]=ایاگنو
Name[fi]=Iagno
Name[fr]=Iagno
Name[ga]=Iagno
Name[gl]=Iagno
Name[gu]=ઇઆગ્નો
Name[he]=יאגנו
Name[hi]=इआग्नो
Name[hr]=Iagno
Name[hu]=Iagno
Name[is]=Iagno
Name[it]=Iagno
Name[ja]=Iagno
Name[kn]=ಲ್ಯಾಗ್ನೋ
Name[ko]=이아그노
Name[lt]=Iagno
Name[lv]=Iagno
Name[mai]=इआग्नो
Name[mk]=Iagno
Name[ml]=ഇയാഗ്നോ
Name[mn]=Ягно
Name[mr]=इगानो
Name[ms]=Iagno
Name[nb]=Iagno
Name[ne]=इआग्नो
Name[nl]=Iagno
Name[nn]=Iagno
Name[oc]=Iagno
Name[or]=Iagno
Name[pa]=ਲੈਗਨੋ
Name[pl]=Iagno
Name[pt]=Iagno
Name[pt_BR]=Iagno
Name[ro]=Iagno
Name[ru]=Ягно
Name[sk]=Iagno
Name[sl]=Iagno
Name[sq]=Iagno
Name[sr]=Јагно
Name[sr@latin]=Jagno
Name[sv]=Iagno
Name[ta]=லாக்னோ
Name[te]=లాగ్నో
Name[th]=Iagno
Name[tr]=Iagno
Name[ug]=Iagno
Name[uk]=Яґно
Name[vi]=Iagno
Name[wa]=Iagno
Name[xh]=I-Iagno
Name[zh_CN]=黑白棋
Name[zh_HK]=Iagno 蘋果棋
Name[zh_TW]=Iagno 黑白棋
Comment=Dominate the board in a classic version of Reversi
Comment[af]=Domineer die bord in 'n klassieke weergawe van Reversi
Comment[ar]=سيطر على الطاولة في اصدار تقليدي من ريفيرسي
Comment[as]=সৰ্বমোট
Comment[ast]=Domina'l tableru nuna versión clásica de Reversi
Comment[be]=Дамінуйце на дошцы ў класічнай гульні Reversi
Comment[bg]=Доминация на масата с класическа версия на „Reversi“
Comment[bn]=Reversi-র কোনো ক্লাসিক সংস্করণে বোর্ডটিকে বিশিষ্ট হওয়া থেকে বিরত রাখা হবে
Comment[ca]=Domineu el tauler en una versió clàssica del Reversi
Comment[ca@valencia]=Domineu el tauler en una versió clàssica del Reversi
Comment[cs]=Ovládněte desku v klasické verzi hry Reversi
Comment[cy]=Cipio'r bwrdd mewn gêm safonol o Reversi
Comment[da]=Overtag spillebrættet i en klassisk version af Reversi
Comment[de]=Einen Wettstreit um die Brettherrschaft in einer klassischen Variante von Reversi führen
Comment[dz]=རི་བར་སི་གི་ སྔོན་སྲོལ་ཐོན་རིམ་ཐོག་ལུ་ རྩེད་པང་དེ་ གཙོ་བོར་བཟུང་།
Comment[el]=Κυριαρχήστε στο ταμπλό με μια κλασσική έκδοση του Reversi
Comment[en_CA]=Dominate the board in a classic version of Reversi
Comment[en_GB]=Dominate the board in a classic version of Reversi
Comment[eo]=Dominu la tabulon en klasika versio de Reversi
Comment[es]=Domine el tablero en una versión clásica de Reversi
Comment[et]=Mägulaual ülekaalu saavutamine klassikalise mängus Reversi
Comment[eu]=Menderatu taula Reversi-ren bertsio klasikoan
Comment[fa]=با نسخه‌ی کلاسیکی از رورسی مالک  صفحه شوید
Comment[fi]=Hallitse pöytää Reversin klassisessa muodossa
Comment[fr]=Conquérir le plateau dans une version classique du Reversi
Comment[gl]=Domine o taboleiro nunha versión clásica do Reversi
Comment[gu]=Reversi ની શાસ્ત્રિય આવૃત્તિમાં બોર્ડને ડોમીનેટ કરો
Comment[he]=נסו לשלוט על כל הלוח במשחק ריברסי קלסי
Comment[hi]=क्लासिक रिवर्सी के संस्करण से बोर्ड डामिनेट रखें
Comment[hu]=Uralja a táblát a Reversi klasszikus változatában
Comment[it]=Domina la tavola in una versione classica di Reversi
Comment[ja]=有名なリバーシの古典版で盤上を支配してください
Comment[kn]=ರಿವಾರ್ಸಿಯ ಒಂದು ಸಾಂಪ್ರದಾಯಿಕ ಆವೃತ್ತಿಯೊಂದಿಗೆ ಬೋರ್ಡನ್ನು ಗೆಲ್ಲಿ
Comment[ko]=리버시 게임의 전통적인 버전에서 보드를 차지합니다
Comment[lt]=Užimkite lentą klasikiniame Reversi variante
Comment[lv]=Dominē gadu klasiskajā Reversi spēles variācijā
Comment[mai]=चिरसम्मत Reversi क' संस्करणमे बोर्ड पर दबाव राखू
Comment[mk]=Доминирајте ја таблата со класична верзија на Reversi
Comment[mr]=रिव्हर्सिच्या एका क्लासिक आवृत्तीच्या पटावर अधिकार जमवा
Comment[nb]=Dominer brettet i den klassiske versjonen av Reversi
Comment[ne]=रिभर्सीका पुराना संस्करणका बोर्ड उपेक्षा गर्नुहोस्
Comment[nl]=Domineer het bord in een klassieke versie van Reversi
Comment[nn]=Dominer brettet i den klassiske versjonen av Reversi
Comment[or]=ରିଭର୍ସିର ଗୋଟିଏ ସର୍ବୋତ୍କୃଷ୍ଟ ଭାଷାନ୍ତରରେ ବୋର୍ଡରେ ଆଧିପତ୍ଯ ବିସ୍ତାର କର
Comment[pa]=ਰਿਵਿਰਸੀ ਦੇ ਟਕਸਾਲੀ ਵਰਜਨ ਵਿੱਚ ਬੋਰਡ ਵੇਖੋ
Comment[pl]=Opanowanie planszy w klasycznej wersji Reversi
Comment[pt]=Domine o tabuleiro numa versão clássica do Reversi
Comment[pt_BR]=Domine o tabuleiro em uma versão clássica do Reversi
Comment[ro]=Dominați tabla de joc într-o versiune clasică de Reversi
Comment[ru]=Захватите доску в классическом варианте Реверси
Comment[sk]=Ovládnite hracie pole v klasickej hre podobnej Reversi
Comment[sl]=Nadzor nad igralno ploščo pri znani igri Reversi.
Comment[sr]=Освојите већи део табле у класичној верзији игре Реверси
Comment[sr@latin]=Osvojite veći deo table u klasičnoj verziji igre Reversi
Comment[sv]=Dominera brädet in en klassisk version av Othello
Comment[ta]=ரிவர்சியிலிருந்து ஒரு வட்டு-மாற்று விளையாட்டில் பலகையை ஆட்சி செய்யுங்கள்.
Comment[te]=బోర్డును రివర్సీ యొక్క క్లాసిక్ వర్షన్ నందు ప్రభలపరచుము
Comment[th]=ครอบครองกระดานในเกม Reversi ตามแบบฉบับ
Comment[tr]=Tahtayı Reversi'nin klasik bir sürümü şeklinde gör
Comment[uk]=Домінувати на дошці у класичній версії Реверсі
Comment[vi]=Thống trị bảng trong trò chơi kiểu Reversi cổ điển
Comment[zh_CN]=在经典版本的黑白棋中占领盘面
Comment[zh_HK]=經典版本的蘋果棋
Comment[zh_TW]=經典版本的黑白棋
Exec=iagno
Terminal=false
Type=Application
Categories=GNOME;GTK;Game;BoardGame;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-games
X-GNOME-Bugzilla-Component=BugBuddyBugs
X-GNOME-Bugzilla-Version=3.4.2
StartupNotify=true
X-Desktop-File-Install-Version=0.19
