
[Desktop Entry]
Name=Help
Name[af]=Hulp
Name[am]=መረጃ
Name[ar]=مساعدة
Name[as]=সহায়তা
Name[ast]=Aida
Name[az]=Yardım
Name[be]=Даведка
Name[be@latin]=Dapamoha
Name[bg]=Потребителско ръководство
Name[bn]=সহায়তা
Name[bn_IN]=সাহায্য
Name[br]=Skoazell
Name[bs]=Pomoć
Name[ca]=Ajuda
Name[ca@valencia]=Ajuda
Name[cs]=Nápověda
Name[cy]=Cymorth
Name[da]=Hjælp
Name[de]=Hilfe
Name[dz]=གྲོགས་རམ།
Name[el]=Βοήθεια
Name[en@shaw]=𐑣𐑧𐑤𐑐
Name[en_CA]=Help
Name[en_GB]=Help
Name[eo]=Helpo
Name[es]=Ayuda
Name[et]=Abi
Name[eu]=Laguntza
Name[fa]=راهنما
Name[fi]=Ohje
Name[fr]=Aide
Name[fur]=Jutori
Name[ga]=Cabhair
Name[gl]=Axuda
Name[gu]=મદદ
Name[he]=עזרה
Name[hi]=मदद
Name[hr]=Pomoć
Name[hu]=Súgó
Name[id]=Bantuan
Name[is]=Hjálp
Name[it]=Aiuto
Name[ja]=ヘルプ
Name[ka]=დახმარება
Name[kn]=ಸಹಾಯ
Name[ko]=도움말
Name[ks]=मदद
Name[ku]=Alîkarî
Name[ky]=Жардам
Name[la]=Auxilium: Help Contents=Adiuvantes Res
Name[li]=Hulp
Name[lt]=Žinynas
Name[lv]=Palīdzība
Name[mai]=मद्दति 
Name[mg]=Toro-làlana
Name[mk]=Помош
Name[ml]=സഹായം
Name[mn]=Тусламж
Name[mr]=मदत
Name[ms]=Bantuan
Name[nb]=Hjelp
Name[nds]=Hulp
Name[ne]=मद्दत
Name[nl]=Hulp
Name[nn]=Hjelp
Name[nso]=Thušo
Name[oc]=Ajuda
Name[or]=ସହାୟତା
Name[pa]=ਮੱਦਦ
Name[pl]=Pomoc
Name[ps]=مرسته
Name[pt]=Ajuda
Name[pt_BR]=Ajuda
Name[ro]=Ajutor
Name[ru]=Справка
Name[rw]=Ifashayobora
Name[si]=උදව්
Name[sk]=Pomocník
Name[sl]=Pomoč
Name[sq]=Ndihmë
Name[sr]=Помоћ
Name[sr@latin]=Pomoć
Name[sv]=Hjälp
Name[ta]=உதவி
Name[te]=సహాయం
Name[tg]=Ёрӣ
Name[th]=วิธีใช้
Name[tr]=Yardım
Name[ug]=ياردەم
Name[uk]=Довідка
Name[uz]=Yordam
Name[uz@cyrillic]=Ёрдам
Name[vi]=Trợ giúp
Name[wa]=Aidance
Name[xh]=Uncedo
Name[zh_CN]=帮助
Name[zh_HK]=求助
Name[zh_TW]=求助
Name[zu]=Usizo
Comment=Get help with GNOME
Comment[af]=Kry hulp met GNOME
Comment[am]=ከኖም መረጃ አግኝ
Comment[ar]=احصل على المساعدة في جُنوم
Comment[as]=GNOMEৰ পৰা সহায়তা প্ৰাপ্ত কৰক
Comment[az]=GNOME haqqında yardım alın
Comment[be]=Атрымаць даведку ў асяродьдзі GNOME
Comment[be@latin]=Atrymaj dapamohu ad GNOME
Comment[bg]=Помощ за GNOME
Comment[bn]=GNOME থেকে সহায়তা নিন
Comment[bn_IN]=GNOME থেকে সহায়তা প্রাপ্ত করুন
Comment[bs]=Primi pomoć sa GMOME-om
Comment[ca]=Obtingueu ajuda per al GNOME
Comment[ca@valencia]=Obtingueu ajuda per al GNOME
Comment[cs]=Získat nápovědu k GNOME
Comment[cy]=Cael cymorth â GNOME
Comment[da]=Få hjælp til Gnome
Comment[de]=Hilfe zu GNOME erhalten
Comment[dz]=ཇི་ནོམ་ལས་ གྲོགས་རམ་ལེན།
Comment[el]=Λήψη βοήθειας για το GNOME
Comment[en@shaw]=𐑜𐑧𐑑 𐑣𐑧𐑤𐑐 𐑢𐑦𐑞 ·𐑜𐑯𐑴𐑥
Comment[en_CA]=Get help with GNOME
Comment[en_GB]=Get help with GNOME
Comment[eo]=Ricevu helpon kun GNOME
Comment[es]=Obtenga ayuda acerca de GNOME
Comment[et]=Abistab GNOME kasutamisel
Comment[eu]=Eskuratu GNOMEri buruzko laguntza
Comment[fa]=راهنمایی گرفتن در مورد گنوم
Comment[fi]=Hae apua Gnomen käytössä
Comment[fr]=Obtenir de l'aide sur GNOME
Comment[fur]=Cjate jutori cun GNOME
Comment[ga]=Faigh cabhair ar GNOME
Comment[gl]=Obter axuda co Gnome
Comment[gu]=જીનોમ સાથે મદદ લો
Comment[he]=קבל עזרה עם GNOME
Comment[hi]=गनोम से मदद लें
Comment[hu]=A GNOME súgója
Comment[id]=Buka bantuan GNOME
Comment[is]=Fá hjálp með GNOME
Comment[it]=Consulta la documentazione con GNOME
Comment[ja]=GNOME のヘルプを手にいれます
Comment[ka]=დახმარების მიღება გნომში
Comment[kn]=GNOME ಬಗ್ಗೆ ನೆರವನ್ನು ಪಡೆದುಕೊಳ್ಳಿ
Comment[ko]=그놈에서 도움말을 봅니다
Comment[ks]=गनोम पय्टठ नियू मदद
Comment[ku]=Bi GNOME'yê alîkariyê bistîne
Comment[ky]=GNOME чөйрөсүнүн жардамын алуу
Comment[li]=Hulp bie GNOME
Comment[lt]=Gauti pagalbą dirbant su GNOME
Comment[lv]=Saņemt palīdzību ar GNOME
Comment[mai]=GNOME सँ मद्दति लिअ'
Comment[mg]=Hizaha toro-làlana amin'ny alalan'ny GNOME
Comment[mk]=Побарај помош со GNOME
Comment[ml]=GNOME സഹായം ലഭിക്കുക
Comment[mn]=ГНОМЕ-р тусламж авах
Comment[mr]=गनोम पासून मदत घ्या 
Comment[ms]=Mendapatkan bantuan bersama GNOME
Comment[nb]=Få hjelp med GNOME
Comment[nds]=Hulp bie GNOME
Comment[ne]=जिनोमसँग मद्दत प्राप्त गर्नुहोस्
Comment[nl]=Hulp bij GNOME
Comment[nn]=Få hjelp om GNOME
Comment[nso]=Hwetša thušo ka GNOME
Comment[oc]=Obténer d'ajuda amb GNOME
Comment[or]=ନୋମ ପାଇଁ ସାହାଯ୍ଯ ପାଆନ୍ତୁ
Comment[pa]=ਗਨੋਮ ਨਾਲ ਮੱਦਦ ਲਵੋ
Comment[pl]=Pomoc GNOME
Comment[pt]=Obtenha ajuda com o GNOME
Comment[pt_BR]=Obtenha ajuda sobre o GNOME
Comment[ro]=Obțineți ajutor pentru GNOME
Comment[ru]=Получение справки в среде GNOME
Comment[sk]=Zobraziť Pomocníka pre GNOME
Comment[sl]=Iskanje pomoči z Gnome namizjem
Comment[sq]=Merr ndihmë me GNOME
Comment[sr]=Затражи Гномову помоћ
Comment[sr@latin]=Zatraži Gnomovu pomoć
Comment[sv]=Få hjälp med GNOME
Comment[ta]=கனோமைப் பற்றி உதவி பெறு
Comment[te]=గ్నోమ్ తో  సహాయం పొందుము
Comment[tg]=Гирофтани мадад бо GNOME
Comment[th]=วิธีการใช้ GNOME
Comment[tr]=GNOME ile yardım alın
Comment[ug]=دىن ياردەمگە ئېرىشمەك  GNOME
Comment[uk]=Отримання довідки у середовищі GNOME
Comment[vi]=Tìm trợ giúp về GNOME
Comment[wa]=Houkî l' aidance di GNOME
Comment[xh]=Fumana uncedo nge-GNOME
Comment[zh_CN]=获得 GNOME 的帮助
Comment[zh_HK]=顯示 GNOME 說明文件
Comment[zh_TW]=顯示 GNOME 說明文件
Comment[zu]=Thola usizo nge GNOME
OnlyShowIn=GNOME;
Exec=yelp
Icon=help-browser
StartupNotify=true
Terminal=false
Type=Application
Categories=GNOME;GTK;Core;Documentation;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=Yelp
X-GNOME-Bugzilla-Component=general
X-GNOME-Bugzilla-Version=2.28.1
MimeType=application/docbook+xml;
X-Desktop-File-Install-Version=0.15
