
[Desktop Entry]
Name=Personal File Sharing
Name[ar]=مشاركة الملفات الشخصية
Name[as]=ব্যক্তিগত নথিপত্ৰৰ যৌথ ব্যৱহাৰ
Name[bg]=Споделяне на файлове
Name[bn]=ব্যক্তিগত ফাইলের যৌথ ব্যবহার
Name[bn_IN]=ব্যক্তিগত ফাইলের যৌথ ব্যবহার
Name[ca]=Compartició de fitxers personals
Name[ca@valencia]=Compartició de fitxers personals
Name[cs]=Sdílení osobních souborů
Name[da]=Personlig fildeling
Name[de]=Persönliche Dateifreigabe
Name[dz]=རང་དོན་གྱི་ཡིག་སྣོད་རུབ་སྤྱོད་འབད་ནི་
Name[el]=Διανομή προσωπικών αρχείων
Name[en_CA]=Personal File Sharing
Name[en_GB]=Personal File Sharing
Name[es]=Compartición de archivos personales
Name[et]=Isiklike failide jagamine
Name[eu]=Fitxategi pertsonalak partekatzea
Name[fi]=Omien tiedostojen jako
Name[fr]=Partage de fichiers personnels
Name[ga]=Comhroinnt Chomhad Pearsanta
Name[gl]=Compartir ficheiros persoais
Name[gu]=ખાનગી ફાઈલ વહેંચણી
Name[he]=שיתוף קבצים אישי
Name[hi]=निजी फ़ाइल साझा
Name[hu]=Személyes fájlmegosztás
Name[it]=Condivisione di file personali
Name[ja]=個人的なファイルの共有
Name[kn]=ವೈಯಕ್ತಿಕ ಕಡತ ಹಂಚಿಕೆ
Name[ko]=개인 파일 공유
Name[lt]=Asmeninių failų bendrinimas
Name[ml]=സ്വകാര്യ ഫയല്‍ പങ്കിടല്‍
Name[mr]=वैयक्तिक फाइल सहभागीय करा
Name[nb]=Deling av personlige filer
Name[ne]=व्यक्तिगत फाइल साझेदारी
Name[nl]=Uw bestanden delen
Name[or]=ବ୍ୟକ୍ତିଗତ ଫାଇଲ ସହଭାଗ
Name[pa]=ਨਿੱਜੀ ਫਾਇਲ ਸਾਂਝ
Name[pl]=Współdzielenie osobistych plików
Name[pt]=Partilha de Ficheiros Pessoais
Name[pt_BR]=Compartilhamento de arquivos pessoais
Name[ro]=Partajare de fișiere personale
Name[ru]=Общий доступ к личным файлам
Name[sk]=Zdieľanie osobných súborov
Name[sl]=Osebna souporaba
Name[sr]=Дељење личних датотека
Name[sr@latin]=Deljenje ličnih datoteka
Name[sv]=Utdelning av personliga filer
Name[ta]=அந்தரங்க கோப்பு பகிர்தல்
Name[te]=వ్యక్తిగత దస్త్ర భాగస్వామ్యం
Name[th]=แบ่งปันแฟ้มส่วนตัว
Name[tr]=Kişisel Dosya Paylaşımı
Name[uk]=Спільний доступ до особистих файлів
Name[vi]=Chia sẻ Tập tin Cá nhân
Name[zh_CN]=个人文件共享
Name[zh_HK]=個人檔案分享
Name[zh_TW]=個人檔案共享
Comment=Preferences for sharing of files
Comment[ar]=تفضيلات مشاركة الملفات
Comment[as]=ব্যক্তিগত নথিপত্ৰৰ যৌথ ব্যৱহাৰ সংক্ৰান্ত পছন্দৰ মান
Comment[bg]=Настройки за споделянето на файлове
Comment[bn]=ফাইলের যৌথ ব্যবহার সংক্রান্ত পছন্দসই মান
Comment[bn_IN]=ফাইলের যৌথ ব্যবহার সংক্রান্ত পছন্দসই মান
Comment[ca]=Preferències per a compartir fitxers
Comment[cs]=Nastavení sdílení souborů
Comment[da]=Indstillinger for deling af filer
Comment[de]=Einstellungen zur Freigabe von Dateien
Comment[el]=Προτιμήσεις για τη διανομή  αρχείων
Comment[en_GB]=Preferences for sharing of files
Comment[es]=Preferencias para la compartición de archivos
Comment[et]=Failide jagamise eelistused
Comment[eu]=Fitxategiak partekatzeko hobespenak
Comment[fi]=Asetukset tiedostojen jakamiselle
Comment[fr]=Préférences pour le partage de fichiers
Comment[ga]=Sainroghanna ar chomhroinnt chomhad
Comment[gl]=Preferencias para compartir ficheiros
Comment[gu]=ફાઇલોની વહેંચણી માટે પસંદગીઓ
Comment[he]=העדפות לשיתוף קבצים
Comment[hi]=फाइलों के साझा के लिए वरीयता
Comment[hu]=Fájlmegosztás beállításai
Comment[it]=Preferenze per la condivisione dei file
Comment[ja]=ファイル共有を設定します
Comment[kn]=ಕಡತಗಳನ್ನು ಹಂಚಿಕೊಳ್ಳಲು ಆದ್ಯತೆಗಳು
Comment[ko]=파일 공유에 대한 기본 설정
Comment[lt]=Failų viešinimo nustatymai
Comment[ml]=ഫയലുകള്‍ പങ്കിടുന്നതിനുള്ള മുന്‍ഗണനകള്‍
Comment[mr]=फाइल शेअर करण्यासाठी पसंती
Comment[nb]=Brukervalg for deling av filer
Comment[or]=ଫାଇଲଗୁଡ଼ିକୁ ସହଭାଗ କରିବା ପାଇଁ ପସନ୍ଦ
Comment[pa]=ਫਾਇਲਾਂ ਸਾਂਝੀਆਂ ਕਰਨ ਲਈ ਪਸੰਦ
Comment[pl]=Preferencje współdzielenia plików
Comment[pt]=Preferências para a partilha de ficheiros
Comment[pt_BR]=Preferências para compartilhamento de arquivos
Comment[ro]=Preferințe pentru partajarea fișierelor
Comment[ru]=Параметры общего доступа к файлам
Comment[sl]=Nastavitve souporabe osebnih datotek
Comment[sr]=Поставке за дељење датотека
Comment[sr@latin]=Postavke za deljenje datoteka
Comment[sv]=Inställningar för utdelning av filer
Comment[ta]=கோப்புகள் பகிர்வதில் விருப்பங்கள் 
Comment[te]=ఫైళ్ళను భాగస్వామ్యపరచుటకు అభీష్టాలు
Comment[th]=ปรับแต่งค่าการแบ่งปันแฟ้ม
Comment[tr]=Dosyaların paylaşımı için tercihler
Comment[uk]=Параметри спільного доступу до файлів
Comment[zh_CN]=文件共享选项
Comment[zh_HK]=用於分享個人檔案的偏好設定
Comment[zh_TW]=共享個人檔案的偏好設定
Exec=gnome-file-share-properties
Icon=folder-remote
StartupNotify=true
Terminal=false
Type=Application
Categories=GNOME;Settings;X-GNOME-NetworkSettings;X-Red-Hat-Base;
OnlyShowIn=GNOME;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-user-share
X-GNOME-Bugzilla-Component=general

X-Desktop-File-Install-Version=0.15
