
[Desktop Entry]
Name=Details
Name[ar]=تفاصيل
Name[as]=বিৱৰণসমূহ
Name[be]=Падрабязнасці
Name[bg]=Подробности
Name[ca]=Detalls
Name[ca@valencia]=Detalls
Name[crh]=Tafsilât
Name[cs]=Podrobnosti
Name[da]=Detaljer
Name[de]=Details
Name[en_GB]=Details
Name[eo]=Detaloj
Name[es]=Detalles
Name[et]=Üksikasjad
Name[eu]=Xehetasunak
Name[fa]=جزئیات
Name[fi]=Tiedot
Name[fr]=Détails
Name[gl]=Detalles
Name[gu]=વિગતો
Name[he]=פרטים
Name[hi]=विवरण
Name[hu]=Részletek
Name[it]=Dettagli
Name[ja]=詳細
Name[kn]=ವಿವರಗಳು
Name[ko]=자세히 보기
Name[lt]=Išsamiau
Name[lv]=Sīkāka informācija
Name[mk]=Детали
Name[ml]=വിശദവിവരങ്ങള്‍
Name[mr]=तपशील
Name[nb]=Detaljer
Name[nl]=_Details
Name[or]=ବିସ୍ତୃତ ବିବରଣୀ
Name[pa]=ਵੇਰਵਾ
Name[pl]=Szczegóły
Name[pt]=Detalhes
Name[pt_BR]=Detalhes
Name[ru]=Подробности
Name[sl]=Podrobnosti
Name[sr]=Детаљи
Name[sr@latin]=Detalji
Name[sv]=Detaljer
Name[ta]=விவரங்கள்
Name[te]=వివరాలు
Name[th]=รายละเอียด
Name[tr]=Ayrıntılar
Name[uk]=Подробиці
Name[vi]=Chi tiết
Name[zh_CN]=详细信息
Name[zh_HK]=詳細資料
Name[zh_TW]=詳細資料
Comment=System Information
Comment[af]=Stelselinligting
Comment[ar]=معلومات النظام
Comment[as]=চিস্টেম তথ্য
Comment[ast]=Información del sistema
Comment[be]=Звесткі аб сістэме
Comment[bg]=Информация за системата
Comment[bn]=সিস্টেমের তথ্য
Comment[ca]=Informació del sistema
Comment[ca@valencia]=Informació del sistema
Comment[crh]=Sistem Malümatı
Comment[cs]=Systémové informace
Comment[da]=Systemoplysninger
Comment[de]=Systeminformationen
Comment[el]=Πληροφορίες συστήματος
Comment[en_GB]=System Information
Comment[eo]=Sisteminformoj
Comment[es]=Información del sistema
Comment[et]=Süsteemi andmed
Comment[eu]=Sistemaren informazioa
Comment[fa]=اطلاعات حساب
Comment[fi]=Järjestelmätiedot
Comment[fr]=Informations système
Comment[ga]=Faisnéis Córais
Comment[gl]=Información do sistema
Comment[gu]=સિસ્ટમ જાણકારી
Comment[he]=פרטי המערכת
Comment[hi]=तंत्र जानकारी
Comment[hu]=Rendszerinformációk
Comment[id]=Informasi Sistem
Comment[it]=Informazioni sistema
Comment[ja]=システム情報
Comment[kn]=ವ್ಯವಸ್ಥೆಯ ಮಾಹಿತಿ
Comment[ko]=시스템 정보
Comment[ku]=Agahiyên pergalî
Comment[lt]=Sistemos informacija
Comment[lv]=Sistēmas informācija
Comment[mk]=Информации за системот
Comment[ml]=സിസ്റ്റത്തെക്കുറിച്ചുള്ള വിവരം
Comment[mr]=प्रणाली माहिती
Comment[nb]=Systeminformasjon
Comment[nl]=Systeeminformatie
Comment[or]=ତନ୍ତ୍ର ସୂଚନା
Comment[pa]=ਸਿਸਟਮ ਜਾਣਕਾਰੀ
Comment[pl]=Informacje o systemie
Comment[pt]=Informação do Sistema
Comment[pt_BR]=Informação do sistema
Comment[ro]=Informații de sistem
Comment[ru]=Системная информация
Comment[sk]=Informácie o systéme
Comment[sl]=Sistemski podatki
Comment[sr]=Информације о систему
Comment[sr@latin]=Informacije o sistemu
Comment[sv]=Systeminformation
Comment[ta]=கணினி தகவல்
Comment[te]=వ్యవస్థ సమాచారం
Comment[th]=ข้อมูลเกี่ยวกับระบบ
Comment[tr]=Sistem Bilgisi
Comment[ug]=سىستېما ئۇچۇرى
Comment[uk]=Системна інформація
Comment[vi]=Thông tin hệ thống
Comment[zh_CN]=系统信息
Comment[zh_HK]=系統資訊
Comment[zh_TW]=系統資訊
Exec=gnome-control-center info
Icon=applications-system
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Settings;X-GNOME-SystemSettings;X-GNOME-Settings-Panel;
OnlyShowIn=GNOME;Unity;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-control-center
X-GNOME-Bugzilla-Component=info
X-GNOME-Bugzilla-Version=3.4.2
X-GNOME-Settings-Panel=info
# Translators: those are keywords for the System Information panel
# "Preferred Applications" is the old name for the preference, so make
# sure that you use the same "translation" for those keywords
Keywords=device;system;information;memory;processor;version;default;application;fallback;preferred;cd;dvd;usb;audio;video;disc;removable;media;autorun;
Keywords[ar]=جهاز;نظام;معلومات;ذاكرة;معالج;إصدارة;تطبيق;مبدئي;احتياطي;مفضل;قرص مضغوط;دي في دي;يو اس بي;صوت;فيديو;قرص;قابل للفصل;وسائط;تشغيل تلقائي;
Keywords[as]=ডিভাইচ;চিস্টেম;তথ্য;মেমৰি;প্ৰচেছৰ;সংস্কৰণ;অবিকল্পিত;অনুপ্ৰয়োগ;ফলবেক;পছন্দ;cd;dvd;usb;অডিঅ';ভিডিঅ';ডিস্ক;আতৰাব পৰা;মাধ্যম;স্বচলন;
Keywords[ast]=peséu;sistema;información;memoria;procesador;versión;predetermináu;aplicación;alternativu;preferíu;cd;dvd;usb;audio;videu;discu;estrayible;mediu;autoexecutar;
Keywords[be]=прыстасаванне;сістэма;інфармацыя;памяць;працэсар;версія;прадвызначанае;праграма;альтэрнатыўны запасны рэжым;упадабанае;cd;dvd;usb;гук;аўдыя;відэа;дыск;зменны;носьбіт;аўтазапуск;аўтаматычны запуск;
Keywords[bg]=устройство;система;информация;памет;процесор;версия;стандартна;програма;резервна;предпочитана;cd;dvd;usb;звук;видео;диск;преносим;носител;автоматично стартиране;
Keywords[ca]=dispositiu;sistema;informació;memòria;processador;versió;per defecte;aplicació;clàssic;preferit;cd;dvd;usb;àudio;vídeo;disc;extraïble;multimèdia;execució automàtica;
Keywords[ca@valencia]=dispositiu;sistema;informació;memòria;processador;versió;per defecte;aplicació;clàssic;preferit;cd;dvd;usb;àudio;vídeo;disc;extraïble;multimèdia;execució automàtica;
Keywords[crh]=aygıt;sistem;bilgi;bellek;işlemci;sürüm;öntanımlı;uygulama; korumalı;tercihedilen;cd;dvd;usb;ses;video;disk;çıkarılabilir;ortam;otomatikçalıştır;
Keywords[cs]=zařízení;systém;informace;paměť;procesor;verze;výchozí;aplikace;náhradní;upřednostňovaný;cd;dvd;usb;zvuk;video;disk;výměnný;média;automatické spuštění;
Keywords[da]=enhed;system;information;hukommelse;processor;version;standard;program;reserve;foretrukken;cd;dvd;usb;lyd;video;disk;flytbar;medie;autokørsel;
Keywords[de]=Gerät;System;Information;Speicher;Prozessor;Version;Vorgabe;Anwendung;Ersatz;bevorzugt;cd;dvd;usb;audio;video;medien;wechsel;medien;autostart;
Keywords[el]=συσκευή;σύστημα;πληροφορίες;μνήμη;επεξεργαστής;έκδοση;προεπιλογή;εφαρμογή;εφεδρική;προτιμώμενη;cd;dvd;usb;ήχος;βίντεο;δίσκος;εξωτερικά;μέσα;αυτόματη εκτέλεση;
Keywords[en_GB]=device;system;information;memory;processor;version;default;application;fallback;preferred;cd;dvd;usb;audio;video;disc;removable;media;autorun;
Keywords[es]=dispositivo;sistema;información;memoria;procesador;versión;predeterminado;aplicación;alternativo;preferido;cd;dvd;usb;sonido;vídeo;disco;extraíble;medio;autoejecutar;
Keywords[et]=seade;seadmed;süsteem;andmed;info;mälu;protsessor;versioon;vaikimisi;rakendus;tagavara;varuvariant;eelistatud;eelis;ketas;eemaldatav;meedia;isekäivituv;
Keywords[eu]=gailua;sistema;informazioa;memoria;prozesadorea;bertsioa;lehenetsia;aplikazioa;ordezkoa;hobetsia;cd;dvd;usb;audioa;bideoa;diskoa;aldagarria;euskarria;auto-exekuzioa;
Keywords[fa]=دستگاه;سیستم;اطلاعات;حافظه;پردازشگر;نسخه;پیش‌فرض;برنامه;یدکی;ترجیح‌شده;سی‌دی;دی‌وی‌دی;یواس‌بی;صوت;ویدئو;دیسک;قابل حذف;رسانه;اجرا خودکار;
Keywords[fi]=laite;järjestelmä;tiedot;muisti;suoritin;versio;oletukset;sovellus;varatila;suositellut;automaattikäynnistys;
Keywords[fr]=périphérique;système;information;mémoire;processeur;version;défaut;application;restreint;préféré;cd;dvd;usb;audio;vidéo;disque;amovible;média;exécution automatique;
Keywords[ga]=gléas;córas;faisnéis;cuimhne;próiseálaí;leagan;réamhshocrú;feidhmchlár;tacachumas;rogha;cd;dvd;usb;fuaim;fís;diosca;inbhainte;meáin;uathrith;
Keywords[gl]=dispositivo;sistema;información;memoria;procesador;versión;predeterminado;aplicativo;alternativo;preferido;cd;dvd;usb;son;video;disco;extraíbel;medio;autoexecutar;
Keywords[he]=התקן;מערכת;מידע;זיכרון;מעבד;גרסה;בררת מחדל;יישום;תשתית קריסה;העדפה;מועדף;גיבוי;דיסק;תקליטור;DVD;USB;שמע;אודיו;חוזי;וידאו;נשלף;נתיק;מדיה;הפעלה אוטומטית;
Keywords[hi]=युक्ति;सिस्टम;जानकारी;स्मृति;प्रोसेसर;संस्करण;डिफ़ॉल्ट;अनुप्रयोग;फॉलबैक;अनुशंसित;सीडी;डीवीडी;यूएसबी;ऑडियो;वीडियो;डिस्क;हटाने योग्य;मीडिया;स्वतः चालू;
Keywords[hu]=eszköz;rendszer;információk;memória;processzor;verzió;alapértelmezett;alkalmazás;tartalék;előnyben részesített;cd;dvd;usb;hang;video;lemez;eltávolítható;cserélhető;média;automatikus futtatás;autorun;
Keywords[id]=perangkat;sistem;informasi;memori;prosesor;versi;baku;aplikasi;fallback;disukai;
Keywords[it]=dispositivo;sistema;informazioni;memoria;processore;versione;predefinito;applicazione;ripiego;preferite;cd;dvd;usb;audio;video;disc;rimovibile;media;multimedia;esecuzione;autorun;
Keywords[ja]=device;system;information;memory;processor;version;default;application;fallback;preferred;cd;dvd;usb;audio;video;disc;removable;media;autorun;デバイス;システム;情報;メモリ;プロセッサ;バージョン;デフォルト;アプリケーション;フォールバック;設定;CD;DVD;USB;オーディオ;ビデオ;ディスク;リムーバブルメディア;メディア;自動起動;
Keywords[ko]=device;장치;system;시스템;information;정보;memory;메모리;processor;프로세서;version;버전;default;기본값;application;응용 프로그램;fallback;대체;preferred;우선;cd;CD;dvd;DVD;audio;오디오;video;비디오;disc;디스크;removable;이동식;media;미디어;autorun;자동 실행;
Keywords[lt]=įrenginys;sistema;informacija;atmintis;procesorius;versija;numatyta;programa;atsarginė;pageidaujama;cd;dvd;usb;audio;video;diskas;išimama;laikmena;autopaleidimas;
Keywords[lv]=ierīce;sistēma;informācija;atmiņa;procesors;versija;noklusēts;lietotne;atkāpšanās;cd;dvd;usb;audio;video;disks;izņemams;noņemamas;vide;nesējs;datu nesējs;automātiski palaist;
Keywords[mk]=уред;систем;информација;меморија;процесор;верзија;стандардно;апликација;спас;префереиран;cd;dvd;usb;ауди;видео;диск;преносен;медиум;атоматско пуштање;
Keywords[mr]=डिव्हाइस;सिस्टम;इंफॉरमेशन;मेमरि;प्रोसेसर;वर्जन;डिफॉल्ट;ॲप्लिकेशन;फॉलबॅक;प्रेफर्ड;cd;dvd;usb;ऑडिओ;व्हिडीओ;डिस्क;रिमोवेबल;मिडीया;ऑटोरन;
Keywords[nb]=enhet;system;informasjon;minne;prosessor;versjon;forvalg;program;reserveløsning;foretrukket;cd;dvd;usb;lyd;video;plate;avtagbar;medie;automatisk kjøring;
Keywords[nl]=device;system;information;memory;processor;version;default;application;fallback;preferred;apparaat;informatie;geheugen;versie;standaard;toepassing;voorkeur;
Keywords[or]=ଉପକରଣ;ତନ୍ତ୍ର;ସୂଚନା;ସ୍ମୃତିସ୍ଥାନ;ସଞ୍ଚାଳକ;ସଂସ୍କରଣ;ପୂର୍ବନିର୍ଦ୍ଧାରିତ;ପ୍ରୟୋଗ;ଫଲବ୍ୟାକ;ପସନ୍ଦ ଯୋଗ୍ୟ;cd;dvd;usb;ଧ୍ୱନି;ଭିଡ଼ିଓ;ଡିସ୍କ;କଢ଼ାଯୋଗ୍ଯ;ମେଡ଼ିଆ;ସ୍ୱୟଂଚାଳନା;
Keywords[pa]=device;system;information;memory;processor;version;default;application;fallback;preferred;ਜੰਤਰ;ਸਿਸਟਮ;ਜਾਣਕਾਰੀ;ਮੈਮੋਰੀ;ਪਰੋਸੈਸਰ;ਵਰਜਨ;ਪ੍ਰੋਸੈਸਰ;ਡਿਫਾਲਟ,ਫਾਲਬੈਕ,ਐਪਲੀਕੇਸ਼ਨcd;dvd;usb;audio;video;disc;removable;media;autorun;ਵੀਡਿਓ;ਡਿਸਕ;ਹਟਾਉਣਯੋਗ;ਮੀਡਿਆ;ਆਟੋਰਨ;
Keywords[pl]=urządzenie;system;informacje;pamięć;procesor;wersja;domyślne;programy;zastępczy;preferowane;cd;dvd;usb;dźwięk;wideo;dysk;płyta;wymienny;nośnik;automatyczne;uruchamianie;
Keywords[pt]=dispositivo;sistema;informação;memória;processador;versão;omissão;aplicação;recurso;preferido;cd;dvd;usb;áudio;vídeo;disco;removível;media;auto-iniciar;
Keywords[pt_BR]=dispositivo;sistema;infomação;memória;processador;versão;padrão;aplicativo;reserva;preferido;cd;dvd;usb;áudio;vídeo;unidade;removível;mídia;autorun;
Keywords[ru]=устройство;система;информация;память;процессор;версия;умолчанию;приложение;альтернативный;предпочтительный;cd;dvd;usb;аудио;видео;диск;съёмный;носитель;автозапуск;
Keywords[sk]=zariadenie;systém;informácie;pamäť;procesor;verzia;predvolené;aplikácia;núdzový;uprednostňované;cd;dvd;usb;zvukový;video;disk;vymeniteľný;nosič;médium;automatické spustenie;
Keywords[sl]=naprava;sistem;podrobnosti;pomnilnik;procesor;različica;privzeto;program;povrnjeno:prednostno;cd;dvd;usb;zvok;slika;video;disk;odstrani;predstavnost;samodejni zagon;
Keywords[sr]=уређај;систем;информације;меморија;процесор;издање;основно;програм;пребацивање;омиљено;цд;двд;усб;звук;снимак;диск;уклоњиви;медијум;самопокретање;
Keywords[sr@latin]=uređaj;sistem;informacije;memorija;procesor;izdanje;osnovno;program;prebacivanje;omiljeno;cd;dvd;usb;zvuk;snimak;disk;uklonjivi;medijum;samopokretanje;
Keywords[sv]=enhet;system;information;minne;processor;version;standard;program;fallback;föredragen;cd;dvd;usb;ljud;video;skiva;flyttbar;media;automatisk körning;
Keywords[ta]=சாதனம்;கணினி;தகவல்;நினைவகம்;செயலி;பதிப்பு;முன்னிருப்பு;நிரல்;பயன்பாடு;பின்சார்பு;முன்னுரிமை;சிடி;டிவிடி;யூஎஸ்பி;ஒலி;விடியோ;வட்டு;வெளியேற்றக்கூடிய;ஊடகம்;தானியங்கிஇயக்கம்;
Keywords[te]=పరికరం;వ్యవస్థ;సమాచారం;మెమోరీ;ప్రోసెసర్;రూపాంతరం;అప్రమేయం;అనువర్తనం;ఫాల్‌బ్యాక్;ప్రాధాన్యమిచ్చేవి;సీడీ;డీవీడీ;యూఎస్‌బీ;ఆడియో;వీడియో;డిస్క్;తీసివేయదగిన;మాధ్యమం;స్వయంగానడుచు;
Keywords[th]=อุปกรณ์;ระบบ;ข้อมูล;หน่วยความจำ;ตัวประมวลผล;รุ่น;ปริยาย;โปรแกรม;สำรอง;โปรแกรมหลักๆ;ซีดี;ดีวีดี;usb;เสียง;วีดิทัศน์;ดิสก์;ถอดเสียบ;สื่อ;autorun;
Keywords[tr]=aygıt;sistem;bilgi;bellek;işlemci;sürüm;öntanımlı;uygulama; korumalı;tercihedilen;cd;dvd;usb;ses;video;disk;çıkarılabilir;ortam;otomatikçalıştır;
Keywords[uk]=пристрій;система;інформація;пам'ять;процесор;версія;типово;програма;запасний;параметри;диск;cd;dvd;usb;аудіо;відео;змінний;носій;автозапуск;
Keywords[vi]=device;thiết;bị;system;hệ;thống;information;thông;tin;memory;bộ;nhớ;processor;xử;lý;version;phiên;bản;default;mặc;định;application;ứng;dụng;fallback;preferred;ưa;thích;cd;dvd;usb;audio;video;disc;đĩa;removable;di;động;autorun;
Keywords[zh_CN]=device;system;information;memory;processor;version;default;application;fallback;preferred;cd;dvd;usb;audio;video;disc;removable;media;autorun;设备;系统;信息;内存;处理器;CPU;版本;默认;应用程序;备用;回滚;喜好;cd;dvd;音频;视频;光盘;光碟;盘片;可擦写;可移除;媒体;介质;自动运行;
Keywords[zh_HK]=device;system;information;memory;processor;version;default;application;fallback;preferred;cd;dvd;usb;audio;video;disc;removable;media;autorun;裝置;系統;資訊;記憶體;處理器;版本;預設;應用程式;後備;首選;音訊;視像;光碟;可移除;媒體;自動執行;
Keywords[zh_TW]=device;system;information;memory;processor;version;default;application;fallback;preferred;cd;dvd;usb;audio;video;disc;removable;media;autorun;裝置;系統;資訊;記憶體;處理器;版本;預設;應用程式;後備;首選;音訊;視訊;光碟;可移除;媒體;自動執行;
X-Desktop-File-Install-Version=0.19
