
[Desktop Entry]
Name=Mines
Name[af]=Myne
Name[ar]=ألغام
Name[as]=মাইন
Name[ast]=Mines
Name[az]=Minalar
Name[be]=Мінёр
Name[bg]=Мини
Name[bn]=মাইন
Name[bn_IN]=মাইন
Name[br]=Mines
Name[ca]=Mines
Name[ca@valencia]=Mines
Name[cs]=Miny
Name[cy]=Ffrwydron
Name[da]=Minestryger
Name[de]=Minen
Name[dz]=མ་ཡིནསི།
Name[el]=Νάρκες
Name[en@shaw]=𐑥𐑲𐑯𐑟
Name[en_CA]=Mines
Name[en_GB]=Mines
Name[eo]=Minoj
Name[es]=Minas
Name[et]=Miiniväli
Name[eu]=Minak
Name[fa]=مین‌ها
Name[fi]=Miinaharava
Name[fr]=Mines
Name[ga]=Mianaigh
Name[gl]=Minas
Name[gu]=વિસ્ફોટકો
Name[he]=מוקשים
Name[hi]=सुरंग
Name[hr]=Mine
Name[hu]=Aknakereső
Name[is]=Sprengjur
Name[it]=Mine
Name[ja]=GNOME マインスィーパ
Name[kn]=ಮೈನ್‍ಗಳು
Name[ko]=지뢰찾기
Name[lt]=Minos
Name[lv]=Mīnas
Name[mai]=सुरंग
Name[mk]=Mines
Name[ml]=മൈനുകളുടെ കളി
Name[mn]=Тэслэлт
Name[mr]=माइन्स
Name[ms]=Mines
Name[nb]=Miner
Name[ne]=खानी
Name[nl]=Mijnenveger
Name[nn]=Miner
Name[or]=ମାଇନଗୁଡିକ
Name[pa]=ਸੁਰੰਗਾਂ
Name[pl]=Miny
Name[pt]=Minas
Name[pt_BR]=Minas
Name[ro]=Mine
Name[ru]=Сапер
Name[si]=බිම් බෝම්බ
Name[sk]=Míny
Name[sl]=Mine
Name[sq]=Minat
Name[sr]=Мине
Name[sr@latin]=Mine
Name[sv]=Minor
Name[ta]=கண்ணிவெடிகள்
Name[te]=గనులు
Name[th]=กับระเบิด
Name[tr]=Mayınlar
Name[ug]=مىنا ئويۇنى
Name[uk]=Міни
Name[vi]=Mìn
Name[wa]=Tchamp d' menes
Name[xh]=Iimayini
Name[zh_CN]=扫雷
Name[zh_HK]=拆地雷
Name[zh_TW]=拆地雷
Comment=Clear hidden mines from a minefield
Comment[af]=Verwyder versteekte myne van 'n mynveld
Comment[ar]=مسح ألغام من حقل ألغام
Comment[as]=Clear
Comment[ast]=Llimpiar mines ocultes del campu de mines
Comment[be]=Ачысціце поле ад схаваных мінаў
Comment[bg]=Изчистване на скритите мини от дъската
Comment[bn]=মাইনক্ষেত্রে থেকে লুকোনো মাইন সরিয়ে ফেলুন
Comment[bn_IN]=মাইনক্ষেত্রে থেকে লুকোনো মাইন সরিয়ে ফেলুন
Comment[ca]=Netegeu les mines ocultes del camp de mines
Comment[ca@valencia]=Netegeu les mines ocultes del camp de mines
Comment[cs]=Vyčistit skryté miny z minového pole
Comment[cy]=Clirio ffrwydron cudd o faes ffrwydron
Comment[da]=Ryd skjulte miner fra et minefelt
Comment[de]=Versteckte Minen aus einem Minenfeld räumen
Comment[dz]=གས་རྫས་ས་སྒོ་ནང་ལས་  གས་རྫས་ཚུ་བསལ་གཏང་།
Comment[el]=Αφαίρεση κρυμμένων ναρκών από το ναρκοπέδιο
Comment[en@shaw]=𐑒𐑤𐑽 𐑣𐑦𐑛𐑩𐑯 𐑥𐑲𐑯𐑟 𐑓𐑮𐑪𐑥 𐑩 𐑥𐑲𐑯𐑓𐑰𐑤𐑛
Comment[en_CA]=Clear hidden mines from a minefield
Comment[en_GB]=Clear hidden mines from a minefield
Comment[eo]=Kvitigu kaŝitajn minojn de minplena kampo
Comment[es]=Limpie de minas el campo minado
Comment[et]=Miinivälja puhastamine sinna peidetud miinidest
Comment[eu]=Zedarritu mina-eremuko minak
Comment[fa]=پاک‌سازی مین‌ها از میدان مین
Comment[fi]=Puhdista piilotetut miinat miinakentältä
Comment[fr]=Nettoyer un champ de mines de ses mines cachées
Comment[gl]=Limpar as minas agochadas do campo minado
Comment[gu]=ખાણક્ષેત્રમાંથી છુપા ગોળાઓ સાફ કરો
Comment[he]=נקה מוקשים חבויים משדה מוקשים
Comment[hi]=सुरंग भूमि से छुपे सुरंगों को मिटाएँ
Comment[hu]=Elrejtett aknák eltávolítása az aknamezőről
Comment[it]=Scova le mine nascoste in un campo minato
Comment[ja]=地雷原から見えない地雷を除去してください
Comment[kn]=ಅಡಗಿಸಲಾದ ಮೈನ್‌ಗಳನ್ನು ಮೈನ್‌ಫೀಲ್ಡಿನಿಂದ ತೆರವುಗೊಳಿಸು
Comment[ko]=지뢰밭에서 숨겨진 지뢰를 제거합니다
Comment[lt]=Išvalykite lauką nuo paslėptų minų
Comment[lv]=Notīrīt apslēptas mīnas no laukuma
Comment[mai]=सुरंग भूमि सँ नुकल सुरंगकेँ मेटाबू
Comment[mk]=Исчисти ги мините од минското поле
Comment[ml]=യുദ്ധഭൂമിയില്‍നിന്ന് കുഴിബോംബുകള്‍ എടുത്ത് മാറ്റുക
Comment[mr]=माइनफील्डमधून लपलेल्या माइन्स काढा
Comment[nb]=Fjern skjulte miner fra et minefelt
Comment[ne]=खानी फिल्डबाट लुकेका खानी हटाउनुहोस्
Comment[nl]=Zoek de mijnen in een mijnenveld
Comment[nn]=Fjern skjulte miner frå eit minefelt
Comment[or]=ଗୋଟିଏ ମାଇନ କ୍ଷେତ୍ରରୁ ଲୁକ୍କାଯୀତ ମାଇନ ଗୁଡିକୁ ପରିଷ୍କାର କର
Comment[pa]=ਸੁਰੰਗ-ਖੇਤਰ ਵਿੱਚੋਂ ਸੁਰੰਗਾਂ ਖਾਲੀ ਕਰੋ
Comment[pl]=Oczyszczanie pola minowego z ukrytych min
Comment[pt]=Limpar as minas escondidas num campo minado
Comment[pt_BR]=Limpe as minas de um campo minado
Comment[ro]=Găsește minele de pe un câmp minat
Comment[ru]=Искать мины на минном поле
Comment[si]=බිම් බෝම්බ කළාපයකින් බිම් බෝම්බ ඉවත් කරන්න
Comment[sk]=Odhaľte skryté míny v mínovom poli
Comment[sl]=Očistite minsko polje skritih min
Comment[sr]=Очисти скривене мине са минског поља
Comment[sr@latin]=Očisti skrivene mine sa minskog polja
Comment[sv]=Rensa dolda minor från ett minfält
Comment[ta]=பிதைந்து உள்ள கண்ணிவெடிகளை அகற்றவும்
Comment[te]=గనిక్షేత్రమునుండి మరుగునపరిచిన గనులను శుభ్రముచేయి
Comment[th]=กู้กับระเบิดที่ซ่อนอยู่จากสนาม
Comment[tr]=Mayın alanından gizli mayınları temizle
Comment[ug]=مىنا مەيدانىدىن يوشۇرۇن مىنالارنى تازىلايدۇ
Comment[uk]=Очистити мінне поле від прихованих мін
Comment[vi]=Xóa mọi mìn bị ẩn ra vùng mìn
Comment[zh_CN]=扫除雷区里的隐藏的地雷
Comment[zh_HK]=清除方格陣中的隱藏的地雷
Comment[zh_TW]=清除方格陣中的隱藏的地雷
Exec=gnomine
Icon=gnomine
Terminal=false
Type=Application
Categories=GNOME;GTK;Game;LogicGame;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-games
X-GNOME-Bugzilla-Component=BugBuddyBugs
X-GNOME-Bugzilla-Version=3.4.2
StartupNotify=true
X-Desktop-File-Install-Version=0.19
