
[Desktop Entry]
Name=Image Viewer
Name[af]=Beeldbekyker
Name[am]=የምስል ተመልካች
Name[ar]=عارض الصّور
Name[as]=ছবি প্ৰদৰ্শক
Name[ast]=Visor d'imáxenes
Name[az]=Rəsm Nümayişcisi
Name[be]=Глядач малюнкаў
Name[be@latin]=Ahladalnik vyjavaŭ
Name[bg]=Преглед на изображения (EoG)
Name[bn]=ছবি প্রদর্শক
Name[bn_IN]=ছবি প্রদর্শক
Name[br]=Gweler skeudennoù
Name[bs]=Preglednik slika
Name[ca]=Visualitzador d'imatges
Name[ca@valencia]=Visualitzador d'imatges
Name[cs]=Prohlížeč obrázků
Name[cy]=Gwelydd Delweddau
Name[da]=Billedfremviser
Name[de]=Bildbetrachter
Name[dz]=གཟུགས་བརྙན་མཐོང་བྱེད།
Name[el]=Εφαρμογή προβολής εικόνων
Name[en_CA]=Image Viewer
Name[en_GB]=Image Viewer
Name[es]=Visor de imágenes
Name[et]=Pildinäitaja
Name[eu]=Irudi-ikustailea
Name[fa]=نمایشگر تصویر
Name[fi]=Kuvakatselin
Name[fr]=Visionneur d'images
Name[fur]=Visôr di figuris
Name[ga]=Amharcán Íomhánna
Name[gl]=Visualizador de imaxes
Name[gu]=ચિત્ર દર્શક
Name[he]=מציג תמונות
Name[hi]=छवि प्रदर्शक
Name[hr]=Image Viewer
Name[hu]=Képmegjelenítő
Name[id]=Pembuka Gambar
Name[is]=Myndarýnir
Name[it]=Visualizzatore di immagini
Name[ja]=画像ビューア
Name[ka]=სურათების გალერეა
Name[kn]=ಚಿತ್ರ ವೀಕ್ಷಕ
Name[ko]=그림 보기
Name[ks]=फोटो हावनुक
Name[ku]=Nîşanderê Wêneyan
Name[lt]=Paveikslėlių peržiūros programa
Name[lv]=Attēlu skatītājs
Name[mai]=बिंब प्रदर्शक
Name[mg]=Mpizaha sary
Name[mk]=Прегледувач на слики
Name[ml]=ചിത്ര ദര്‍ശിനി
Name[mn]=Зураг харагч
Name[mr]=प्रतिमा दर्शक
Name[ms]=Pelihat Imej
Name[nb]=Bildevisning
Name[nds]=Billopwieser
Name[ne]=छवि प्रदर्शक
Name[nl]=EOG Afbeeldingviewer
Name[nn]=Biletevisar
Name[nso]=Selebeledi sa Seswantšho
Name[oc]=Visualizaira d'imatges
Name[or]=ଚିତ୍ର ଦର୍ଶକ
Name[pa]=ਚਿੱਤਰ ਦਰਸ਼ਕ
Name[pl]=Przeglądarka obrazów
Name[ps]=انځور ليدانی
Name[pt]=Visualizador de Imagens
Name[pt_BR]=Visualizador de Imagens
Name[ro]=Vizualizator imagini
Name[ru]=Просмотр изображений
Name[si]=පිළිඹිබු දසුන
Name[sk]=Prehliadač obrázkov
Name[sl]=Pregledovalnik slik
Name[sq]=Shikues figurash
Name[sr]=Очи Гнома
Name[sr@latin]=Oči Gnoma
Name[sv]=Bildvisare
Name[ta]=பிம்ப காட்டி
Name[te]=ప్రతిబింబము దర్శిని
Name[th]=โปรแกรมแสดงรูป
Name[tk]=Resim Namaýyşçysy
Name[tr]=Resim Görüntüleyici
Name[ug]=رەسىم كۆرگۈچ
Name[uk]=Перегляд зображень
Name[uz]=Rasm koʻruvchi
Name[uz@cyrillic]=Расм кўрувчи
Name[vi]=Bộ xem ảnh
Name[wa]=Håyneu d' imådjes
Name[xh]=Isibonisi-Mfanekiso
Name[zh_CN]=图像查看器
Name[zh_HK]=圖片瀏覽程式
Name[zh_TW]=圖片瀏覽程式
Name[zu]=Umbonisa sithombe
Comment=Browse and rotate images
Comment[af]=Bekyk en roteer beelde
Comment[ar]=تصفح و أدر الصور
Comment[as]=ছবি ব্ৰাউজ কৰক আৰু ঘুৰায় লওক
Comment[ast]=Ñavegue y voltie imáxenes
Comment[be]=Праглядай і паварочвай малюнкі
Comment[be@latin]=Ahladaj i pavaročvaj vyjavy
Comment[bg]=Преглед и завъртане на изображения
Comment[bn_IN]=ছবি ব্রাউজ করুন ও ঘুরিয়ে নিন
Comment[ca]=Navegueu per imatges i gireu-les
Comment[ca@valencia]=Navegueu per imatges i gireu-les
Comment[cs]=Procházení a otáčení obrázků
Comment[da]=Gennemse og rotere billeder
Comment[de]=Bilder betrachten und rotieren
Comment[dz]=གཟུགས་བརྙན་ཚུ་ བརྡ་འཚོལ་འབད་དེ་བསྒྱིར་
Comment[el]=Περιήγηση και περιστροφή εικόνων
Comment[en_CA]=Browse and rotate images
Comment[en_GB]=Browse and rotate images
Comment[es]=Examine y rote imágenes
Comment[et]=Piltide sirvimine ja pööramine
Comment[eu]=Arakatu eta biratu irudiak
Comment[fi]=Selaa ja kierrä kuvia
Comment[fr]=Parcourir et pivoter les images
Comment[fur]=Sgarfe e zire figuris
Comment[ga]=Brabhsáil agus rothlaigh íomhánna
Comment[gl]=Navegar e rotar imaxes
Comment[gu]=ચિત્રો શોધો અને ફેરવો
Comment[he]=צפה וסובב תמונות
Comment[hi]=ब्रॉउज करें और घुमाएँ छवियाँ
Comment[hu]=Képek böngészése és forgatása
Comment[it]=Esplora e ruota le immagini
Comment[ja]=いろいろな画像を閲覧します
Comment[kn]=ಚಿತ್ರಗಳನ್ನು ವೀಕ್ಷಿಸು ಹಾಗು ತಿರುಗಿಸು
Comment[ko]=그림 살펴보기 및 돌리기
Comment[ks]=छांड त गुमाव फोटो
Comment[lt]=Naršyti ir vartyti paveikslėlius
Comment[lv]=Pārlūko un groza attēlus
Comment[mk]=Разгледај и ротирај слики
Comment[ml]=ചിത്രങ്ങള്‍ കാണുകയും തിരിക്കുകയും ചെയ്യുക
Comment[mr]=प्रतिमाचे संचार व गोल फिरवा
Comment[nb]=Bla gjennom og roter bilder
Comment[nds]=Billers ankieken un dreihn
Comment[ne]=छविहरू ब्राउज गर्नुहोस् र घुमाउनुहोस्
Comment[nl]=Afbeeldingen doorbladeren en roteren
Comment[nn]=Bla gjennom og roter bilete
Comment[oc]=Examinar e pivotar los imatges
Comment[or]=ପ୍ରତିଛବିକୁ ବ୍ରାଉଜ କରନ୍ତୁ ଏବଂ ଘୁରାନ୍ତୁ
Comment[pa]=ਝਲਕ ਅਤੇ ਚਿੱਤਰ ਘੁੰਮਾਓ
Comment[pl]=Przeglądanie i obracanie obrazów
Comment[ps]=انځورونه لټول او چورلول
Comment[pt]=Navegue e rode imagens
Comment[pt_BR]=Navegue e gire imagens
Comment[ro]=Navigare și rotire imagini
Comment[ru]=Просмотр и вращение изображений
Comment[si]=පිළිඹිබු ගවේශනය කිරීම සහ කරකැවීම
Comment[sk]=Prehliadať a otáčať obrázky
Comment[sl]=Prebrskaj in obrni slike
Comment[sq]=Shfleto dhe rrotullo figurat
Comment[sr]=Прегледај и изврни слике
Comment[sr@latin]=Pregledaj i izvrni slike
Comment[sv]=Bläddra och rotera bilder
Comment[ta]=பிம்பங்களை உலாவு சுழற்று
Comment[te]=ప్రతిబింబములన్ని అన్వేషణ మరియు పరిభ్రమణం చేయు
Comment[th]=เรียกดูและหมุนรูป
Comment[tr]=Resimleri tara ve çevir
Comment[uk]=Перегляд та обертання зображень
Comment[uz]=Rasmni koʻrish va burish
Comment[uz@cyrillic]=Расмни кўриш ва буриш
Comment[vi]=Duyệt và xoay ảnh
Comment[zh_CN]=浏览及旋转图像
Comment[zh_HK]=瀏覽及更改圖片的方向
Comment[zh_TW]=瀏覽及更改圖片的方向
TryExec=eog
Exec=eog %U
Icon=eog
StartupNotify=true
Terminal=false
Type=Application
Categories=GNOME;GTK;Graphics;RasterGraphics;Viewer;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=EOG
X-GNOME-Bugzilla-Component=general
X-GNOME-Bugzilla-Version=2.28.2
X-GNOME-DocPath=eog/eog.xml
MimeType=image/bmp;image/gif;image/jpeg;image/jpg;image/pjpeg;image/png;image/tiff;image/x-bmp;image/x-gray;image/x-icb;image/x-ico;image/x-png;image/x-portable-anymap;image/x-portable-bitmap;image/x-portable-graymap;image/x-portable-pixmap;image/x-xbitmap;image/x-xpixmap;image/x-pcx;image/svg+xml;image/svg+xml-compressed;image/vnd.wap.wbmp;
NoDisplay=true
X-Desktop-File-Install-Version=0.15
