
[Desktop Entry]
Name=Remote Desktop
Name[ar]=سطح مكتب بعيد
Name[as]=দূৰবৰ্তী ডেস্কট'প
Name[ast]=Escritoriu Remotu
Name[az]=Uzaq Masa Üstü
Name[be]=Аддалены сталец
Name[be@latin]=Addaleny stoł
Name[bg]=Отдалечено работно място
Name[bn]=দূরবর্তী ডেস্কটপ
Name[bn_IN]=দূরবর্তী ডেস্কটপ
Name[bs]=Udaljeni dektop
Name[ca]=Escriptori remot
Name[ca@valencia]=Escriptori remot
Name[cs]=Vzdálená pracovní plocha
Name[cy]=Penbwrdd Pell
Name[da]=Fjernskrivebord
Name[de]=Entfernter Bildschirm
Name[dz]=ཐག་རིང་ཌེཀསི་ཊོཔ།
Name[el]=Απομακρυσμένη επιφάνεια εργασίας
Name[en_CA]=Remote Desktop
Name[en_GB]=Remote Desktop
Name[es]=Escritorio remoto
Name[et]=Kaugtöölaud
Name[eu]=Urruneko mahaigaina
Name[fa]=رومیزی دوردست
Name[fi]=Etätyöpöytä
Name[fr]=Bureau à distance
Name[ga]=Deasc Chianda
Name[gl]=Escritorio remoto
Name[gu]=રીમોટ ડેસ્કટોપ
Name[he]=שולחן עבודה מרוחק
Name[hi]=दूरस्थ डेस्कटॉप
Name[hr]=Udaljena radna površina
Name[hu]=Távoli asztal
Name[id]=Desktop Remote
Name[it]=Desktop remoto
Name[ja]=リモート・デスクトップ
Name[ka]=დაშორებული კომპიუტერი
Name[kn]=ದೂರಸ್ಥ ಗಣಕತೆರೆ
Name[ko]=원격 데스크탑
Name[ku]=Sermaseya Dûr
Name[lt]=Nutolęs darbastalis
Name[lv]=Attālinātā darbvirsma
Name[mai]=रिमोट डेस्कटाप
Name[mk]=Далечна работна површина
Name[ml]=വിദൂരത്തിലുളള പണിയിടം
Name[mn]=Зайн Дэсктоп
Name[mr]=दूरस्थ संकनकस्थान
Name[ms]=Desktop Jauh
Name[nb]=Eksternt skrivebord
Name[ne]=टाढाको डेस्कटप
Name[nl]=Bureaublad op afstand
Name[nn]=Skrivebord over nettet
Name[oc]=Burèu distant
Name[or]=ଦୂର ଡେସ୍କଟପ
Name[pa]=ਰਿਮੋਟ ਡੈਸਕਟਾਪ
Name[pl]=Zdalny pulpit
Name[pt]=Área de Trabalho Remota
Name[pt_BR]=Área de trabalho remota
Name[ro]=Desktop la distanță
Name[ru]=Удалённый рабочий стол
Name[si]=දුරස්ථ මුලීක තිරය
Name[sk]=Vzdialená pracovná plocha
Name[sl]=Oddaljeno namizje
Name[sq]=Hapësira e punës në distancë
Name[sr]=Удаљена радна површ
Name[sr@latin]=Udaljena radna površ
Name[sv]=Fjärrskrivbord
Name[ta]=தொலை பணிமேடை
Name[te]=సుదూర రంగస్థలం
Name[th]=พื้นโต๊ะระยะไกล
Name[tr]=Uzaktaki Masaüstü
Name[ug]=Desktop يىراقتىكى 
Name[uk]=Віддалений робочий стіл
Name[vi]=Màn hình làm việc từ xa
Name[wa]=Sicribanne å lon
Name[xh]=i-Desktop Ekude
Name[zh_CN]=远程桌面
Name[zh_HK]=遠端桌面
Name[zh_TW]=遠端桌面
Comment=Choose how other users can remotely view your desktop
Comment[ar]=اختر كيف يستطيع المستخدمين الآخرين عرض سطح مكتبك عن بعد
Comment[as]=দূৰবৰ্তী ব্যৱহাৰকৰ্তাৰ বাবে আপোনাৰ ডেস্কট'প প্ৰদৰ্শনৰ প্ৰণালী নিৰ্ধাৰণ কৰক
Comment[be]=Абраць, якім чынам карыстальнікі могуць праглядаць ваш сталец
Comment[be@latin]=Vybiery sposab, u jaki inšyja karystalniki zmohuć bačyć tvoj stoł
Comment[bg]=Изберете как други потребители могат да наблюдават работното ви място
Comment[bn]=দূরবর্তী ব্যবহারকারীদের জন্য অাপনার ডেস্কটপ প্রদর্শনের প্রণালী নির্ধারণ করুন
Comment[bn_IN]=দূরবর্তী ব্যবহারকারীদের জন্য অাপনার ডেস্কটপ প্রদর্শনের প্রণালী নির্ধারণ করুন
Comment[ca]=Trieu com altres usuaris remots poden visualitzar el meu escriptori
Comment[ca@valencia]=Trieu com altres usuaris remots poden visualitzar el meu escriptori
Comment[cs]=Vyberte, jakým způsobem umožníte vzdáleně zobrazit vaši pracovní plochu
Comment[da]=Vælg hvordan andre brugere kan se dit skrivebord fjernt
Comment[de]=Legen Sie fest, ob und wie andere Benutzer Ihren Bildschirm betrachten können
Comment[el]=Επιλογή του τρόπου με τον οποίο άλλοι χρήστες θα βλέπουν απομακρυσμένα την επιφάνεια εργασίας σας
Comment[en_GB]=Choose how other users can remotely view your desktop
Comment[es]=Elegir cómo otros usuarios ven remotamente mi escritorio
Comment[et]=Määrab kuidas teised kasutajad sinu töölauda vaadata tohivad
Comment[eu]=Aukeratu beste erabiltzaileek zure mahaigaina urrunetik nola ikusiko duten
Comment[fi]=Valitse kuinka muut käyttäjät voivat katsella työpöytääsi
Comment[fr]=Choisir comment d'autres utilisateurs peuvent voir votre bureau à distance
Comment[ga]=Roghnaigh conas a amharcfaidh úsáideoirí eile ar do dheasc
Comment[gl]=Escolla como outras persoas poden ver remotamente o seu escritorio
Comment[gu]=કેટલા બીજા વપરાશકર્તાઓ એ તમારા ડેસ્કટોપ ને દૂરસ્થ રીતે દેખી શકે છે તે પસંદ કરો
Comment[he]=בחר כיצד משתמשים אחרים יכולים לצפות מרחוק בשולחן העבודה שלך
Comment[hi]=चुनें कि कैसे दूसरे उपयोक्ता आपके डेस्कटॉप को दूरस्थ रूप से देख सकते हैं
Comment[hu]=Távoli asztal elérésének beállításai
Comment[it]=Indica come gli altri utenti possano visualizzare questo desktop da remoto
Comment[ja]=リモートからデスクトップを表示する方法を選択したり設定します
Comment[kn]=ಬೇರೆಯವರು ಹೇಗೆ ದೂರದಿಂದ ನಿಮ್ಮ ಗಣಕವನ್ನು ನಿಲುಕಿಸಿಕೊಳ್ಳಬಹುದು ಎಂಬುದನ್ನು ಆಯ್ಕೆ ಮಾಡಿ
Comment[ko]=다른 사용자가 데스크탑을 보는 방법을 설정합니다
Comment[lt]=Pasirinkite, kaip kiti naudotojai gali matyti Jūsų darbastalį
Comment[ml]=മറ്റുളള ഉപയോക്താക്കള്‍ക്ക് നിങ്ങളുടെ പണിയിടം കാണുന്നതെങ്ങനെയെന്നു് തെരഞ്ഞെടുക്കുക
Comment[mr]=इतर वापरकर्ता तुमचे डेस्कटॉप दूरस्थरित्या कसे पाहू शकतिल ते पसंत करा
Comment[nb]=Velg hvordan andre eksterne brukere kan se ditt skrivebord
Comment[nl]=Voorkeuren voor uw bureaublad op afstand instellen
Comment[or]=ଅନ୍ଯ ଚାଳକମାନେ କିପରି ଦୂରରେ ରହି ଆପଣଙ୍କ ଡେସ୍କଟପକୁ ଦେଖିପାରିବେ ତାହା ବାଛନ୍ତୁ
Comment[pa]=ਚੋਣ ਕਰੋ ਕਿ ਹੋਰ ਯੂਜ਼ਰ ਤੁਹਾਡੇ ਡੈਸਕਟਾਪ ਰਿਮੋਟ ਉੱਤੇ ਕਿੰਝ ਵੇਖ ਸਕਣ
Comment[pl]=Proszę wybrać, jak inny użytkownicy mogą zdalnie wyświetlać pulpit
Comment[pt]=Seleccionar como outros utilizadores poderão remotamente visualizar a sua área de trabalho
Comment[pt_BR]=Defina como outros usuários podem acessar sua área de trabalho remotamente
Comment[ro]=Alegeți modul în care alți utilizatori pot vedea de la distanță desktopul dumneavoastră
Comment[ru]=Позволять определять, как другие пользователи могут видеть ваш рабочий стол
Comment[sl]=Izberite, na kakšen način si lahko drugi uporabniki ogledajo vaše namizje
Comment[sr]=Одаберите како остали корисници могу удаљено да гледају вашу радну површ
Comment[sr@latin]=Odaberite kako ostali korisnici mogu udaljeno da gledaju vašu radnu površ
Comment[sv]=Välj hur andra användare kan se ditt skrivbord
Comment[ta]=மற்ற பயனீட்டாளர் உங்கள் பணிமேடையை பார்க்க தேர்ந்தெடுக்கவும்
Comment[te]=ఇతర వినియోగదారులు దూరస్థంగా యెలా మీ డెస్కుటాపును చూడగలగాలో యెంచుకొనుండి
Comment[th]=เลือกว่าจะอนุญาตให้ผู้ใช้อื่นมองพื้นโต๊ะของคุณอย่างไร
Comment[tr]=Masaüstünüzü diğer kullanıcıların nasıl görebileceklerini seçin
Comment[uk]=Оберіть спосіб віддаленого перегляду вашого робочого столу
Comment[zh_CN]=选择其他用户如何从远程查看您的桌面
Comment[zh_HK]=選擇其他使用者要以何種方式遠端觀看你的桌面
Comment[zh_TW]=選擇其他使用者要以何種方式遠端觀看您的桌面
Exec=vino-preferences
Icon=preferences-desktop-remote-desktop
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Settings;X-GNOME-NetworkSettings;
OnlyShowIn=GNOME;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=vino
X-GNOME-Bugzilla-Component=Preferences Dialog
X-GNOME-Bugzilla-Version=2.28.1
X-Desktop-File-Install-Version=0.15
