
[Desktop Entry]
Name=Font Viewer
Name[af]=Lettertipe-bekyker
Name[ar]=عارض الخطوط
Name[as]=ফন্ট প্ৰদৰ্শন ব্যৱস্থা
Name[ast]=Visor de tipografíes
Name[be@latin]=Prahladalnik šryftoŭ
Name[bg]=Преглед на шрифтове
Name[bn]=ফন্ট প্রদর্শন ব্যবস্থা
Name[bn_IN]=ফন্ট প্রদর্শন ব্যবস্থা
Name[br]=Gweler nodrezhoù
Name[ca]=Visualitzador de tipus de lletra
Name[crh]=Urufat Körüntileyici
Name[cs]=Prohlížeč písem
Name[da]=Skrifttypeviser
Name[de]=Schrift-Anzeiger
Name[dz]=་ཡིག་གཟུགས་མཐོང་འབྱེད་ 
Name[el]=Εφαρμογή προβολής γραμματοσειρών
Name[en_GB]=Font Viewer
Name[es]=Visor de tipografías
Name[et]=Kirjatüüpide näitaja
Name[eu]=Letra-tipoen ikustailea
Name[fi]=Kirjasinlajien katselin
Name[fr]=Afficheur de polices
Name[ga]=Amharcán Clónna
Name[gl]=Visualizador do tipo de letra
Name[gu]=ફોન્ટ દર્શક
Name[he]=מציג גופנים
Name[hi]=फ़ॉन्ट प्रदर्शक
Name[hu]=Betűkészlet-megjelenítő
Name[id]=Pelihat Fonta
Name[it]=Visualizzatore tipo di carattere
Name[ja]=フォント・ビューア
Name[kn]=ಅಕ್ಷರಶೈಲಿ ವೀಕ್ಷಕ
Name[ko]=글꼴 보기
Name[lt]=Šriftų peržiūros programa
Name[lv]=Fontu pārlūks
Name[ml]=അക്ഷരസഞ്ചയം കാണുന്നതിനുള്ള സംവിധാനം
Name[mr]=फॉन्ट प्रदर्शक
Name[nb]=Skriftvisning
Name[nl]=Lettertypeweergave
Name[nn]=Skrifttypevisar
Name[or]=ଅକ୍ଷରରୂପ ପ୍ରଦର୍ଶକ
Name[pa]=ਫੋਂਟ ਦਰਸ਼ਕ
Name[pl]=Przeglądarka czcionek
Name[pt]=Visualizador de Fontes
Name[pt_BR]=Visualizador de fontes
Name[ro]=Vizualizator fonturi
Name[ru]=Просмотр шрифтов
Name[sk]=Zobrazovač písem
Name[sl]=Prikazovalnik pisav
Name[sr]=Прегледач фонтова
Name[sr@latin]=Pregledač fontova
Name[sv]=Typsnittsvisare
Name[ta]=எழுத்துரு காட்டி
Name[te]=ఫాంట్ వీక్షణి
Name[th]=เครื่องมือดูแบบอักษร
Name[tr]=Yazıtipi Görüntüleyici
Name[uk]=Перегляд шрифтів
Name[vi]=Bộ xem phông
Name[zh_CN]=字体查看器
Name[zh_HK]=字型檢視程式
Name[zh_TW]=字型檢視程式
Comment=Preview fonts
Comment[af]=Kry 'n voorskou van lettertipes
Comment[ar]=عاين الخطوط
Comment[as]=ফন্টৰ পূর্ব প্রদর্শন
Comment[ast]=Vista previa de les tipografíes
Comment[be@latin]=Pieradahlad šryftoŭ
Comment[bg]=Предварителен преглед на шрифтове
Comment[bn]=ফন্টের পূর্বরূপ প্রদর্শন
Comment[bn_IN]=ফন্টের পূর্বরূপ প্রদর্শন
Comment[br]=Alberz an nodrezhoù
Comment[ca]=Previsualització del tipus de lletra
Comment[crh]=Urufat ög-baquvı
Comment[cs]=Náhled písem
Comment[da]=Forhåndsvisning af skrifttyper
Comment[de]=Vorschau von Schriften anzeigen
Comment[dz]=ཡིག་གཟུགས་ སྔོན་ལྟ་ 
Comment[el]=Προεπισκόπηση γραμματοσειρών
Comment[en_GB]=Preview fonts
Comment[es]=Vista previa de las tipografías
Comment[et]=Kirjatüüpide eelvaatlemine
Comment[eu]=Letra-tipoen aurrebista
Comment[fi]=Kirjasinten esikatselu
Comment[fr]=Aperçu des polices de caractères
Comment[ga]=Réamhamharc clónna
Comment[gl]=Vista previa do tipo de letra
Comment[gu]=ફોન્ટો નું પૂર્વદર્શન
Comment[he]=תצוגה מקדימה של גופנים
Comment[hi]=पूर्वावलोकन फ़ॉन्ट
Comment[hu]=Betűkészletek előnézete
Comment[id]=Pratilik huruf
Comment[it]=Anteprima di tipi di carattere
Comment[ja]=いろいろなフォントをプレビューします
Comment[kn]=ಅಕ್ಷರಶೈಲಿಯ ಮುನ್ನೋಟ
Comment[ko]=글꼴 미리 보기
Comment[lt]=Peržiūros šriftai
Comment[lv]=Pirmsapskates fonts
Comment[ml]=അക്ഷരസഞ്ചയങ്ങള്‍ കണ്ടുനോക്കുക
Comment[mr]=फॉन्टं पूर्वदृष्य
Comment[nb]=Forhåndsvis skrifter:
Comment[nl]=Lettertypen-voorbeeld bekijken
Comment[nn]=Førehandsvis skrifter
Comment[or]=ପୂର୍ବାବଲୋକନ ଅକ୍ଷରରୂପ
Comment[pa]=ਫੋਂਟ ਝਲਕ
Comment[pl]=Podgląd czcionek
Comment[pt]=Antever fontes
Comment[pt_BR]=Visualizar fontes
Comment[ro]=Previzualizare caractere
Comment[ru]=Предварительный просмотр шрифтов
Comment[sk]=Zobraziť náhľad písma
Comment[sl]=Predogled pisav
Comment[sr]=Преглед фонтова
Comment[sr@latin]=Pregled fontova
Comment[sv]=Förhandsgranska typsnitt
Comment[ta]=எழுத்துருக்கள் முன்பார்வை
Comment[te]=ఫాంట్లును ఉపదర్శనంచేయుము
Comment[th]=แสดงตัวอย่างแบบอักษร
Comment[tr]=Yazıtiplerinin önizlemesi
Comment[uk]=Попередній перегляд шрифтів
Comment[vi]=Xem thử phông
Comment[zh_CN]=预览字体
Comment[zh_HK]=預覽字型
Comment[zh_TW]=預覽字型
Icon=preferences-desktop-font
Exec=gnome-font-viewer %u
Terminal=false
Type=Application
StartupNotify=true
NoDisplay=true
MimeType=application/x-font-ttf;application/x-font-pcf;application/x-font-type1;application/x-font-otf;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-control-center
X-GNOME-Bugzilla-Component=font properties
X-GNOME-Bugzilla-Version=2.28.1
X-Desktop-File-Install-Version=0.15
OnlyShowIn=GNOME;
