[Desktop Entry]
Name=Sound
Name[ar]=الصوت
Name[as]=ধ্বনি 
Name[ast]=Soníu
Name[be@latin]=Huk
Name[bg]=Звук
Name[bn]=শব্দ
Name[bn_IN]=শব্দ
Name[br]=Son
Name[ca]=So
Name[ca@valencia]=So
Name[cs]=Zvuk
Name[da]=Lyd
Name[de]=Klang
Name[el]=Ήχος
Name[en@shaw]=𐑕𐑬𐑯𐑛
Name[en_GB]=Sound
Name[es]=Sonido
Name[et]=Heli
Name[eu]=Soinua
Name[fi]=Äänet
Name[fr]=Son
Name[ga]=Fuaim
Name[gl]=Son
Name[gu]=સાઉન્ડ
Name[he]=קול
Name[hi]=ध्वनि
Name[hu]=Hang
Name[it]=Audio
Name[ja]=サウンド
Name[kn]=ಧ್ವನಿ
Name[ko]=사운드
Name[lt]=Garsas
Name[lv]=Skaņa
Name[mai]=ध्वनि
Name[ml]=ശബ്ദം
Name[mr]=आवाज
Name[nb]=Lyd
Name[nl]=Geluid
Name[nn]=Lyd
Name[or]=ଧ୍ବନି
Name[pa]=ਸਾਊਂਡ
Name[pl]=Dźwięk
Name[pt]=Som
Name[pt_BR]=Som
Name[ro]=Sunet
Name[ru]=Звук
Name[sl]=Zvok
Name[sr]=Звук
Name[sr@latin]=Zvuk
Name[sv]=Ljud
Name[ta]=ஒலியளவு
Name[te]=శబ్ధము
Name[th]=เสียง
Name[tr]=Ses
Name[uk]=Звук
Name[vi]=Âm thanh
Name[zh_CN]=声音
Name[zh_HK]=聲音
Name[zh_TW]=聲音
Comment=Change sound volume and sound events
Comment[ar]=غيّر شدة الصوت و أصوات الأحداث
Comment[as]=শব্দৰ মাত্ৰা আৰু নিৰ্দিষ্ট ঘটনাৰ সৈতে যুক্ত শব্দ পৰিবৰ্তন কৰক
Comment[ast]=Camudar el volume del soníu y los eventos de soníu
Comment[bg]=Промяна на силата на звука и звуците свързани със събития
Comment[bn]=ভলিউম পরিবর্তন করুন ও নির্দিষ্ট ঘটনার সাথে শব্দ যুক্ত করুন
Comment[bn_IN]=শব্দের মাত্রা o নির্দিষ্ট ঘটনার সাথে যুক্ত শব্দ পরিবর্তন করুন
Comment[ca]=Canvieu el volum del so i els sons dels esdeveniments
Comment[cs]=Změní hlasitost zvuku a přiřadí zvuky k událostem
Comment[da]=Skift lydstyrke og lydbegivenheder
Comment[de]=Lautstärke ändern und Ereignissen Klänge zuweisen
Comment[el]=Αλλαγή έντασης ήχου και ηχητικών γεγονότων
Comment[en@shaw]=𐑗𐑱𐑯𐑡 𐑕𐑬𐑯𐑛 𐑝𐑪𐑤𐑿𐑥 𐑯 𐑕𐑬𐑯𐑛 𐑦𐑝𐑧𐑯𐑑𐑕
Comment[en_GB]=Change sound volume and sound events
Comment[es]=Cambiar el volumen y los eventos de sonido
Comment[et]=Helivaljuse muutmine ja helide määramine sündmustele
Comment[eu]=Aldatu soinuaren bolumena eta soinuaren gertaerak
Comment[fi]=Muuta äänenvoimakkuutta ja äänitapahtumia
Comment[fr]=Modifier le volume et des événements sonores
Comment[ga]=Athraigh airde agus teagmhais fuaime
Comment[gl]=Modificar o volume do son e asociar sons a eventos
Comment[gu]=સાઉન્ડ વોલ્યુમ અને સાઉન્ડ ઘટનાઓને બદલો
Comment[he]=שינוי עוצמת השמע והצלילים המשויכים לאירועים
Comment[hi]=ध्वनि आवाज और ध्वनि घटना बदलें
Comment[hu]=Hangerő és hangesemények módosítása
Comment[it]=Regola il volume generale e quello degli eventi
Comment[ja]=音量や音のイベントを変更します
Comment[kn]=ಧ್ವನಿಯ ಪ್ರಮಾಣ ಹಾಗು ಧ್ವನಿಗಳನ್ನು ಸನ್ನಿವೇಶಗಳನ್ನು ಬದಲಾಯಿಸಿ
Comment[ko]=사운드 볼륨과 사운드 이벤트를 바꿉니다
Comment[lt]=Keisti garsumą ir susieti garsus su įvykiais
Comment[ml]=ശബ്ദ വോള്യമും ശബ്ദ ഇവന്റുകളും മാറ്റുക
Comment[mr]=आवाज ध्वनिमान व आवाज घटना बदलवा
Comment[nb]=Endre volum og tilegne lyder til hendelser
Comment[nn]=Endra lydvolum og lydar til hendingar
Comment[or]=ଧ୍ୱନି ପ୍ରବଳତା ଏବଂ ଧ୍ୱନି ଘଟଣାଗୁଡ଼ିକ ପରିବର୍ତ୍ତନ କରନ୍ତୁ
Comment[pa]=ਸਾਊਂਡ ਵਾਲੀਅਮ ਅਤੇ ਸਾਊਂਡ ਈਵੈਂਟ ਬਦਲੋ
Comment[pl]=Zmiana głośności dźwięku i dźwięków zdarzeń
Comment[pt]=Altere o volume do som e os sons de eventos
Comment[pt_BR]=Alterar volume do áudio e sons de eventos
Comment[ro]=Schimbă volumul sunetului și sunetele evenimentelor
Comment[ru]=Изменить громкость звука и связать звуки с событиями рабочего стола
Comment[sl]=Spreminjanje glasnosti zvoka in povezljivost z dogodki
Comment[sr]=Мења јачину звука и додељује звуке догађајима
Comment[sr@latin]=Menja jačinu zvuka i dodeljuje zvuke događajima
Comment[sv]=Ändra ljudvolym och ljudhändelser
Comment[ta]=ஒலியளவு மற்றும்  ஒலி நிகழ்வுகளை மாற்று
Comment[te]=శబ్దపు ఘటనలను మరియు శబ్ధపు ధ్వనిని మార్చుము
Comment[th]=ปรับความดังของเสียงและตั้งเสียงของเหตุการณ์ต่างๆ
Comment[tr]=Ses seviyesini ve olay seslerini değiştir
Comment[uk]=Зміна гучності звуку та прив'язка звуків до подій
Comment[zh_CN]=更改音量以及将声音与事件关联
Comment[zh_HK]=改變音效的音量和音效事件
Comment[zh_TW]=改變音效的音量和音效事件
Exec=gnome-volume-control
Icon=gnome-volume-control
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Settings;HardwareSettings;
OnlyShowIn=GNOME;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-media
X-GNOME-Bugzilla-Component=gnome-volume-control
X-GNOME-Bugzilla-Version=2.29.91
