
[Desktop Entry]
Encoding=UTF-8
Name=Software Update
Name[as]=চালনাজ্ঞান উন্নয়ন ব্যৱস্থা
Name[bg]=Обновление на софтуера
Name[bn_IN]=সফ্টওয়্যার আপডেট ব্যবস্থা
Name[da]=Softwareopdatering
Name[de]=Software-Aktualisierungen
Name[el]=Ενημέρωση λογισμικού
Name[en_GB]=Software Update
Name[es]=Actualización de software
Name[fi]=Ohjelmistopäivitykset
Name[fr]=Mise à jour de logiciels
Name[gu]=સોફ્ટવેર સુધારા
Name[he]=עדכון תוכנה
Name[hi]=सॉफ्टवेयर अद्यतन
Name[hu]=Szoftverfrissítés
Name[it]=Aggiornamento software
Name[ja]=ソフトウェア更新
Name[kn]=ತಂತ್ರಾಂಶ ಅಪ್‌ಡೇಟ್‌
Name[ko]=소프트웨어 업데이트
Name[ml]=സോഫ്റ്റ്‌വെയര്‍ പരിഷ്കാരം
Name[mr]=सॉफ्टवेअर अद्ययावत
Name[nb]=Programvareoppdatering
Name[or]=ସଫ୍ଟୱେର ଅଦ୍ୟତନ
Name[pa]=ਸਾਫਟਵੇਅਰ ਅੱਪਡੇਟ
Name[pl]=Aktualizacja oprogramowania
Name[pt]=Actualização de Software
Name[pt_BR]=Atualizações de programas
Name[ro]=Actualizare program
Name[ru]=Обновление программ
Name[sv]=Programuppdatering
Name[ta]=மென்பொருள் மேம்படுத்தல்
Name[te]=సాప్ట్ వేర్ నవీకరణ
Name[uk]=Оновлення програм
Name[zh_CN]=软件更新
Name[zh_HK]=軟件更新
Name[zh_TW]=軟體更新
GenericName=Software Update Viewer
GenericName[as]=চালনাজ্ঞান উন্নয়ন প্ৰদৰ্শনব্যৱস্থা
GenericName[bg]=Преглед на софтуерните обновявания
GenericName[bn_IN]=সফ্টওয়্যার আপডেট প্রদর্শনব্যবস্থা
GenericName[ca]=Visualitzador de les actualitzacions de programari
GenericName[cs]=Prohlížeč aktualizací software
GenericName[da]=Softwareopdateringsviser
GenericName[de]=Software-Aktualisierungs-Betrachter
GenericName[el]=Προβολή ενημερώσεων λογισμικού
GenericName[en_GB]=Software Update Viewer
GenericName[es]=Visor de actualizaciones de software
GenericName[fi]=Ohjelmistopäivitysten katselin
GenericName[fr]=Gestionnaire de mises à jour des logiciels
GenericName[gl]=Visor da actualización de programas
GenericName[gu]=સોફ્ટવેર સુધારો દર્શક
GenericName[he]=מציג עדכון תכונה
GenericName[hi]=सॉफ्टवेयर अद्यतन दर्शक
GenericName[hu]=Szoftverfrissítés-megjelenítő
GenericName[it]=Visualizzatore aggiornamento software
GenericName[ja]=ソフトウェア更新ビューア
GenericName[kn]=ತಂತ್ರಾಂಶ ಅಪ್‌ಡೇಟ್ ವೀಕ್ಷಕ
GenericName[ko]=소프트웨어 업데이트 뷰어
GenericName[ml]=സോഫ്റ്റ്‌വെയര്‍ പരിഷ്കണ പ്രദര്‍ശനി
GenericName[mr]=सॉफ्टवेअर अद्ययावत प्रदर्शक
GenericName[nb]=Vis programvareoppdateringer
GenericName[or]=ସଫ୍ଟୱେର ଅଦ୍ୟତନ ପ୍ରଦର୍ଶକ
GenericName[pa]=ਸਾਫਟਵੇਅਰ ਅੱਪਡੇਟ ਦਰਸ਼ਕ
GenericName[pl]=Przeglądarka aktualizacji pakietów
GenericName[pt]=Visualizador de Actualizações de Aplicações
GenericName[pt_BR]=Visualizador de atualizações de programas
GenericName[ro]=Vizualizator de actualizări de programe
GenericName[ru]=Просмотр обновлений программ
GenericName[sv]=Visare för programuppdateringar
GenericName[ta]=மென்பொருள் மேம்படுத்தல் காட்டி
GenericName[te]=సాఫ్టువేర్ నవీకరణము దర్శని
GenericName[tr]=Yazılım Güncelleme Görüntüleyicisi
GenericName[uk]=Перегляд оновлень програм
GenericName[zh_CN]=软件更新查看器
GenericName[zh_HK]=軟件更新檢視程式
GenericName[zh_TW]=軟體更新檢視程式
Comment=Update software installed on the system
Comment[as]=ব্যৱস্থাপ্ৰণালীত সংস্থাপিত চালনাজ্ঞান উন্নয়ন কৰক
Comment[bg]=Обновяване на софтуера инсталиран върху системата
Comment[bn_IN]=সিস্টেমে ইনস্টল থাকা সফ্টওয়্যার আপডেট করুন
Comment[ca]=Actualitza el programari instal·lat en el sistema
Comment[cs]=Aktualizovat software instalovaný na tomto systému
Comment[da]=Opdatér software installeret på systemet
Comment[de]=Auf dem System installierte Software aktualisieren
Comment[el]=Ενημέρωση εγκατεστημένου λογισμικού
Comment[en_GB]=Update software installed on the system
Comment[es]=Actualizar el software instalado en el sistema
Comment[fi]=Päivitä järjestelmään asennettuja ohjelmistoja
Comment[fr]=Met à jour les logiciels installés sur le système
Comment[gu]=સિસ્ટમ પર સ્થાપિત થયેલ સોફ્ટવેરને સુધારો
Comment[he]=עדכון תכנות המותקנות על המערכת
Comment[hi]=सिस्टम पर संस्थापित सॉफ्टवेयर अद्यतन करें
Comment[hu]=A rendszerre telepített szoftverek frissítése
Comment[it]=Aggiorna il software installato sul sistema
Comment[ja]=システムにインストールされているソフトウェアを更新する
Comment[kn]=ಗಣಕದಲ್ಲಿ ಅನುಸ್ಥಾಪಿತಗೊಂಡಿರುವ ತಂತ್ರಾಂಶವನ್ನು ಅಪ್ಡೇಟ್ ಮಾಡು
Comment[ko]=시스템에 설치된 소프트웨어를 업데이트합니다
Comment[ml]=സിസ്റ്റമില്‍ ഇന്‍സ്റ്റോള്‍ ചെയ്തിരിക്കുന്ന സോഫ്റ്റ്‌വെയറുകള്‍ പരിഷ്കരിക്കുക
Comment[mr]=प्रणालीवर प्रतिष्ठापीत सॉफ्टवेअर अद्ययावत करा
Comment[nb]=Oppdater programvare som er installert på systemet
Comment[or]=ତନ୍ତ୍ରରେ ସ୍ଥାପନ କରାଯାଇଥିବା ସଫ୍ଟୱେରକୁ ଅଦ୍ୟତନ କରନ୍ତୁ
Comment[pa]=ਸਿਸਟਮ ਉੱਤੇ ਇੰਸਟਾਲ ਸਾਫਟਵੇਅਰ ਅੱਪਡੇਟ ਕਰੋ
Comment[pl]=Aktualizacja oprogramowania zainstalowanego w systemie
Comment[pt]=Actualizar aplicações instaladas no sistema
Comment[pt_BR]=Atualize os programas instalados no sistema
Comment[ro]=Actualizați programele instalate pe sistem
Comment[ru]=Обновление программ, установленных в системе
Comment[sv]=Uppdatera programvara installerade på systemet
Comment[ta]=கணினியில் நிறுவப்பட்ட மென்பொருளை புதுப்பிக்கவும்
Comment[te]=సిస్టమ్‌నందు సంస్థాపించిన సాఫ్టువేర్‌ను నవీకరించుము
Comment[uk]=Оновлення програм, встановлених у системі
Comment[zh_CN]=更新本系统中安装的软件
Comment[zh_HK]=更新系統中安裝的軟件
Comment[zh_TW]=更新系統中安裝的軟體
Icon=system-software-update
Exec=gpk-update-viewer
Terminal=false
Type=Application
Categories=GNOME;GTK;Settings;System;PackageManager;
NotShowIn=KDE;
StartupNotify=true

X-Desktop-File-Install-Version=0.15
