[Desktop Entry]
Version=1.0
Terminal=false
Icon=libreoffice-impress
Type=Application
Categories=Office;X-Red-Hat-Base;X-SuSE-Core-Office;X-MandrivaLinux-Office-Presentations;
Exec=libreoffice --impress %U
MimeType=application/vnd.oasis.opendocument.presentation;application/vnd.oasis.opendocument.presentation-template;application/vnd.sun.xml.impress;application/vnd.sun.xml.impress.template;application/mspowerpoint;application/vnd.ms-powerpoint;application/vnd.openxmlformats-officedocument.presentationml.presentation;application/vnd.ms-powerpoint.presentation.macroenabled.12;application/vnd.openxmlformats-officedocument.presentationml.template;application/vnd.ms-powerpoint.template.macroenabled.12;
Name=LibreOffice Impress
GenericName=Presentation
GenericName[en]=Presentation
GenericName[af]=Voorlegging
GenericName[ar]=عرض تقديمي
GenericName[as]=পৰিৱেশন
GenericName[bg]=Презентация
GenericName[bn]=উপস্থাপনা
GenericName[ca]=Presentació
GenericName[cs]=Prezentace
GenericName[cy]=Cyflwyno
GenericName[da]=Præsentation
GenericName[de]=Präsentation
GenericName[dz]=Presentation
GenericName[el]=Παρουσίαση
GenericName[es]=Presentación
GenericName[et]=Esitlus
GenericName[eu]=Aurkezpena
GenericName[fa]=ارائه
GenericName[fi]=Esitys
GenericName[fr]=Présentation
GenericName[ga]=Láithreoireacht
GenericName[gl]=Presentación
GenericName[gu]=પ્રેઝન્ટેશન
GenericName[he]=מצגת
GenericName[hi]=प्रस्तुति
GenericName[hr]=Prezentacija
GenericName[hu]=Bemutató
GenericName[it]=Presentazione
GenericName[ja]=プレゼンテーション
GenericName[kn]=ಪ್ರೆಸೆಂಟೇಶನ್
GenericName[ko]=프레젠테이션
GenericName[lt]=Pateiktis
GenericName[lv]=Prezentācija
GenericName[mai]=प्रस्तुति
GenericName[ml]=പ്രസന്റേഷന്‍
GenericName[mr]=सादरीकरण
GenericName[nb]=Presentasjon
GenericName[nl]=Presentatie
GenericName[nn]=Presentasjon
GenericName[nr]=Presentation
GenericName[nso]=Tlhagišo
GenericName[or]=ଉପସ୍ଥାପନା
GenericName[pa_IN]=ਪਰਿਜੈਂਟੇਸ਼ਨ
GenericName[pl]=Prezentacja
GenericName[pt]=Apresentação
GenericName[pt_BR]=Apresentação
GenericName[qtz]=hWgm‖Presentation
GenericName[ro]=Prezentare
GenericName[ru]=Презентация
GenericName[sh]=Prezentacija
GenericName[si]=ඉදිරිපත් කිරීම
GenericName[sk]=Prezentácia
GenericName[sl]=Predstavitev
GenericName[sr]=Презентација
GenericName[ss]=Presentation
GenericName[st]=Presentation
GenericName[sv]=Presentation
GenericName[ta]=வழங்கல்
GenericName[te]=ప్రజంటేషన్ 
GenericName[th]=Presentation
GenericName[tn]=Presentation
GenericName[tr]=Sunum
GenericName[ts]=Presentation
GenericName[uk]=Презентація
GenericName[ve]=Presentation
GenericName[xh]=Presentation
GenericName[zh_CN]=演示文稿
GenericName[zh_TW]=簡報
GenericName[zu]=Ukunikezwa kolwazi
Comment=Create and edit presentations for slideshows, meeting and Web pages by using Impress.
Comment[en]=Create and edit presentations for slideshows, meeting and Web pages by using Impress.
Comment[af]=Skep en redigeer voorleggings vir skyfievertonings, vergaderings en webbladsye met Impress.
Comment[ar]=تحرير العروض التقديمية لعروض الشرائح، والاجتماعات وصفحات ويب وإنشاؤها باستخدام Impress.
Comment[as]=Impress ব্যৱহাৰ কৰি শ্লাইডশ্ব', মিটিং আৰু ৱেব পৃষ্ঠা সৃষ্টি আৰু সম্পাদনা কৰক।
Comment[bg]=С Impress можете да създавате и редактирате презентации за прожекции, събрания и уебстраници.
Comment[bn]=ইমপ্রেস ব্যবহার করে স্লাইড-প্রদর্শনী, মিটিং এবং ওয়েবপেজের জন্য উপস্থাপনা তৈরি এবং সম্পাদনা করুন।
Comment[ca]=Creeu i editeu presentacions per a diapositives, pàgines web i conferències amb l'Impress.
Comment[cs]=Impress umožňuje vytvářet a upravovat prezentace pro přednášky, porady a webové stránky.
Comment[cy]=Creu a golygu cyflwyniadau ar gyfer sioeau sleidiau, cyfarfodydd a thudalennau Gwe gan ddefnyddio Impress.
Comment[da]=Opret og rediger præsentationer til oplæg, møder og websider ved brug af Impress.
Comment[de]=Erstellen und bearbeiten von Präsentationen für Dia-Vorführungen, Meetings und Web-Auftritte mithilfe von Impress.
Comment[dz]=ཨིམ་པི་རས་ི་པ་ལག་ལེན་འཐབ་ཐོག་བཤུད་བརྙན་དང་ཞལ་འཛོམས་ ལས་ ཝེབ་པཚུ་གི་དོན་ལས་གསལ་སྟོན་ཚིག་ཡིག་དང་ཚད་རིས་ཚུ་བཟོ་ནི་དང་ཞུན་དག་རྐྱབ་ནི།
Comment[el]=Δημιουργία και επεξεργασία διαφανειών για παρουσιάσεις οθόνης σε  συναντήσεις και ιστοσελίδες με τη χρήση του Impress.
Comment[es]=Cree y edite presentaciones para charlas, reuniones y páginas Web con Impress.
Comment[et]=Impress võimaldab luua ja redigeerida esitlusi slaidiseansside, koosolekute ning veebilehtede jaoks.
Comment[eu]=Aurkezpenak sortu eta editatu diapositiba-aurkezpenetarako, bileretarako eta web orrietarako Impress erabiliz.
Comment[fa]=با جلوه، ارائه‌هایی برای نمایش‌های اسلایدی، جلسات و صفحات وب ایجاد یا ویرایش کنید.
Comment[fi]=Luo ja muokkaa esitys- ja kokouskalvoja sekä web-sivuja käyttämällä Impress -ohjelmaa.
Comment[fr]=Impress - Création et édition de présentations pour diaporamas, réunions et pages Web.
Comment[ga]=Cruthaigh láithreoireachtaí agus cuir in eagar iad le haghaidh taispeántas sleamhnán, cruinnithe agus leathanaigh Ghréasán le hImpress.
Comment[gl]=Crear e editar presentacións para reunións, páxinas web e presentacións de diapositivas con Impress.
Comment[gu]=ઇમ્પ્રેસ દ્દારા સ્લાઇડ શો, મુલાકાતો અને વેબ પાનાઓ બનાવો અને સુઘારો.
Comment[he]=יצירה ועריכה של מצגות לתצוגת שקופיות, פגישות ודפי אינטרנט באמצעות Impress.
Comment[hi]=इम्प्रेस के प्रयोग से स्लाइडशो, बैठक, और वेब पेज के लिए प्रस्तुति बनाता है और संपादन करता है.
Comment[hr]=Stvorite i uredite prezentacije za prikazivanje i web stranice.
Comment[hu]=Bemutatók készítése és szerkesztése diavetítésekhez vagy a webre az Impress használatával.
Comment[it]=Impress vi permette di creare e modificare presentazioni, diapositive e pagine Web.
Comment[ja]=Impress を使用して、スライドショー、ミーティングおよび Web ページ用のプレゼンテーションを作成して編集します。
Comment[kn]=ಇಂಪ್ರೆಸ್ ಬಳಸಿ ಜಾರುಫಲಕ ಪ್ರದರ್ಶನಗಳಿಗಾಗಿ, ಸಭೆಗಳಲ್ಲಿ ಬಳಸಲು, ಮತ್ತು ಜಾಲ ಪುಟಗಳನ್ನು ಪ್ರಸ್ತುತಿಗಳನ್ನು ಸೃಷ್ಟಿಸಿ ಮತ್ತು ಸಂಪಾದಿಸಿ.
Comment[ko]=Impress를 사용하여 슬라이드 쇼, 회의 및 웹 페이지에 대한 프레젠테이션을 만들고 편집합니다.
Comment[lt]=Pateikčių rengykle rengiamos pateiktys pranešimams, pateiktis galima įkelti į tinklalapį.
Comment[lv]=Veidot un rediģēt vizuālos uzskates un prezentāciju līdzekļus, lietojot Impress.
Comment[mai]=Impress क' प्रयोगसँ स्लाइडशो, बैठक, आओर वेब पेजक लेल प्रस्तुति बनबैत आ संपादन करैत अछि.
Comment[ml]=ഇംപ്രസ് ഉപയോഗിച്ച് സ്ലൈഡ് പ്രദര്ശനങ്ങളിലെയും, മീറ്റിങ്ങിന്റെയും വെബ്പേജിന്റെയും അവതരണങ്ങള് സൃഷ്ടിക്കുകയും എഡിറ്റു ചെയ്യുകയും ചെയ്യുക.
Comment[mr]=Impress चा वापरून स्लाईडशो, भेटी व वेब पान करीता सादरीकरण बनवा व संपादीत करा.
Comment[nb]=Opprett og rediger presentasjoner for lysbildeframvisning, møter og nettsider ved å bruke Impress.
Comment[nl]=Met Impress kunt u presentaties voor diavoorstellingen, vergaderingen en webpagina's maken en bewerken.
Comment[nn]=Med Impress kan du laga og redigera presentasjonar for framvisingar, møte og nettsider.
Comment[nr]=Enza nokuhlela amphrizentheyitjhini wamaslayidishowu, imihlangano namakahsi we-Webh ngokusebenzisa i-Impress.
Comment[nso]=Hlama le go lokiša ditlhagišo bakeng sa dipontšho tša selaete, dikopano le matlakala a wepe ka go diriša Impress.
Comment[or]=ଇମ୍ଫ୍ରେସ୍ ଉପୟୋଗକରି ସ୍ଲାଇଡ୍ ଦୃଶ୍ଯ,ମିଟିଙ୍ଗ ଏବଂ ଉଏବ୍ ପୃଷ୍ଠାଗୁଡିକ ପାଇଁ ଉପସ୍ଥାପନାଗୁଡିକୁ ସୃଷ୍ଟି ଏବଂ ସମ୍ପାଦନ କର।
Comment[pa_IN]=ਇੰਪਰੈੱਸ ਨਾਲ ਸਲਾਈਡ-ਸ਼ੋ, ਮੀਟਿੰਗ ਅਤੇ ਵੈੱਬਸਫ਼ੇ ਨੂੰ ਬਣਾਇਆ ਅਤੇ ਸੋਧਿਆ ਜਾ ਸਕਦਾ ਹੈ।
Comment[pl]=Twórz i edytuj prezentacje, które będziesz mógł wykorzystać podczas pokazów, spotkań oraz na stronach www przy pomocy programu Impress.
Comment[pt]=Criar e editar apresentações para reuniões, conferências e páginas web através do Impress.
Comment[pt_BR]=Crie e edite apresentações para slides, reuniões e páginas da Web por meio do Impress.
Comment[qtz]=Q8BV‖Create and edit presentations for slideshows, meeting and Web pages by using Impress.
Comment[ro]=Creați și editați prezentări pentru întâlniri și pagini web folosind Impress.
Comment[ru]=Создание и редактирование презентаций для слайдшоу, встреч и веб-страниц.
Comment[sh]=Napravite i uređujte prezentacije za projekcije, sastanke i Internet u Prezentaciji.
Comment[si]=Impress භාවිතා කරමින් ඉදිරිපත් කිරීම් සඳහා තිරපෙන්නුම්, හමුවීම් සහ වියුණු පිටු සාදන්න සහ වෙනස් කරන්න. 
Comment[sk]=Vytvárajte a upravujte prezentácie pre porady s stretnutia s použitím Impress.
Comment[sl]=S programom Impress ustvarjajte in urejajte predstavitve, prosojnice in spletne strani.
Comment[sr]=Направите и уређујте презентације за пројекције, састанке и Интернет у Презентацији.
Comment[ss]=Yakha u-edithe kwetfulwa kwetitfuntishelela, kuhlangana nemapheji ewebhu ngekusebentisa Impress.
Comment[st]=Bopa le ho lokisa dinehelano tsa dipontsho tsa selaete, dikopano le maqephe a Wepe ka ho sebedisa Impress.
Comment[sv]=Skapa och redigera presentationer för bildskärmspresentationer, möten och webbsidor med hjälp av Impress.
Comment[ta]=வில்லைக்காட்சிகள், கூட்டம், வலைப்பக்கங்கள் ஆகியவற்றிற்கான வழங்கலை உருவாக்கவும் தொகுக்கவும் இம்பிரெசைப் பயன்படுத்துக.
Comment[te]=స్లైడ్ షోలు యొక్క ప్రజంటేషన్ లు,సభ మరియు వెబ్  పుటలును ఇంప్రెస్ వుపయోగించినిర్మించి, సరిచేయుము.
Comment[th]=สร้างและแก้ไขงานนำเสนอภาพนิ่ง การประชุม และหน้าเว็บโดยการใช้ Impress
Comment[tn]=Create and edit presentations for slideshows, meeting and Web pages by using Impress.
Comment[tr]=Impress kullanarak sunum, toplantı, belge ve Web sayfaları oluşturabilir ve düzenleyebilirsiniz.
Comment[ts]=Endla ni ku lulamisa Minkombiso ya tislayidi, tipheji ta minhlangani ni ta Web hi ku tirhisa Impress.
Comment[uk]=Створення та редагування презентацій для показу слайдів, зустрічей та веб-сторінок.
Comment[ve]=Vhumbani nahone ni lulamise nzudzanyo u itela misumbedzo ya siḽaidi, muṱangano na masiaṱari a Web nga u shumisa Impress.
Comment[xh]=Dala uze uhlele iinkcazelo-mboniso yemiboniso yezlayidi, iintlanganiso namakhasi Othungelwano ngokusebenzisa i-Impress.
Comment[zh_CN]=使用 Impress 创建并编辑幻灯片、会议和网页中使用的演示文稿。
Comment[zh_TW]=使用 Impress 可建立與編輯用於投影片、會議和網頁的簡報。
Comment[zu]=Yenza futhi ulungise imiboniso amaslaydi, amakhasi emihlangano naweWebhu ngokusebenzisa i-Impress.
InitialPreference=5
X-GIO-NoFuse=true
StartupNotify=true
TryExec=ooimpress
