[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Metacity
Name[ar]=مِتسِتي
Name[as]=Metacity
Name[ast]=Metacity
Name[az]=Metacity
Name[be]=Metacity
Name[be@latin]=Metacity
Name[bg]=Metacity
Name[bn]=মেটাসিটি
Name[bn_IN]=Metacity
Name[br]=Metacity
Name[bs]=Metacity
Name[ca]=Metacity
Name[ca@valencia]=Metacity
Name[cs]=Metacity
Name[cy]=Metacity
Name[da]=Metacity
Name[de]=Metacity
Name[dz]=མེ་ཊ་སི་ཊི།
Name[el]=Metacity
Name[en_CA]=Metacity
Name[en_GB]=Metacity
Name[es]=Metacity
Name[et]=Metacity
Name[eu]=Metacity
Name[fa]=متاسیتی
Name[fi]=Metacity
Name[fr]=Metacity
Name[ga]=Metacity
Name[gl]=Metacity
Name[gu]=મેટાસીટી
Name[ha]=Metaciti
Name[he]=Metacity
Name[hi]=मेटासिटी
Name[hr]=Metacity
Name[hu]=Metacity
Name[hy]=Մետասիթի
Name[id]=Metacity
Name[ig]=Metacity
Name[is]=Metacity
Name[it]=Metacity
Name[ja]=Metacity
Name[ka]=Metacity
Name[kn]=ಮೆಟಾಸಿಟಿ
Name[ko]=메타시티
Name[ku]=Metacity
Name[la]=Metacity
Name[lt]=Metacity
Name[lv]=Metacity
Name[mai]=मेटासिटी
Name[mg]=Metacity
Name[mk]=Metacity
Name[ml]=മെറ്റാസിറ്റി
Name[mn]=Metacity
Name[mr]=Metacity
Name[ms]=Metacity
Name[nb]=Metacity
Name[ne]=मेटासिटि
Name[nl]=Metacity
Name[nn]=Metacity
Name[oc]=Metacity
Name[or]=ମେଟାସିଟି
Name[pa]=ਮੈਟਾਸਿਟੀ
Name[pl]=Metacity
Name[pt]=Metacity
Name[pt_BR]=Metacity
Name[ro]=Metacity
Name[ru]=Metacity
Name[sk]=Metacity
Name[sl]=Metacity
Name[sq]=Metacity
Name[sr]=Метасити
Name[sr@latin]=Metasiti
Name[sv]=Metacity
Name[ta]=மெட்டாசிட்டி
Name[te]=మెటాసిటి
Name[th]=Metacity
Name[tk]=Metacity
Name[tr]=Metacity
Name[uk]=Метасіті
Name[vi]=Metacity
Name[wa]=Metacity
Name[xh]=Imetacity
Name[yo]=Metacity
Name[zh_CN]=Metacity
Name[zh_HK]=Metacity
Name[zh_TW]=Metacity
Exec=metacity
NoDisplay=true
# name of loadable control center module
X-GNOME-WMSettingsModule=metacity
# name we put on the WM spec check window
X-GNOME-WMName=Metacity
# back compat only 
X-GnomeWMSettingsLibrary=metacity
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=metacity
X-GNOME-Bugzilla-Component=general
X-GNOME-Autostart-Phase=WindowManager
X-GNOME-Provides=windowmanager
X-GNOME-Autostart-Notify=true
