[Desktop Entry]
Name=Network
Name[cs]=Síť
Name[da]=Netværk
Name[de]=Netzwerk
Name[eo]=Reto
Name[es]=Red
Name[fr]=Réseau
Name[gl]=Rede
Name[hu]=Hálózat
Name[id]=Jaringan
Name[ja]=ネットワーク
Name[lt]=Tinklas
Name[lv]=Tīkls
Name[nb]=Nettverk
Name[pl]=Sieć
Name[pt_BR]=Rede
Name[ru]=Сеть
Name[sl]=Omrežje
Name[sr]=Мрежа
Name[sr@latin]=Mreža
Name[sv]=Nätverk
Comment=Request VPN authentication
Comment[cs]=Požadovat autentizaci VPN
Comment[da]=Anmod om VPN-godkendelse
Comment[de]=VPN-Legitimierung anfragen
Comment[es]=Solicitar autenticación VPN
Comment[fr]=Demander une authentification VPN
Comment[gl]=Solicitar autenticación VPN
Comment[hu]=VPN-azonosítás kérése
Comment[id]=Minta otentikasi VPN
Comment[ja]=VPN 認証を要求する
Comment[lt]=Reikalauti VPN tapatybės patvirtinimo
Comment[lv]=Pieprasīt VPN autentificēšanos
Comment[nb]=Be om VPN-autentisering
Comment[pl]=Żądanie uwierzytelnienia VPN
Comment[pt_BR]=Requisitar autenticação VPN
Comment[ru]=Запрос аутентификации VPN
Comment[sl]=Zahtevaj overitev VPN
Comment[sr]=Захтевај ВПН потврђивање
Comment[sr@latin]=Zahtevaj VPN potvrđivanje
Comment[sv]=Begär VPN-autentisering
Exec=/usr/libexec/nm-vpnc-auth-dialog
Terminal=false
Type=Application
NoDisplay=true
