[Desktop Entry]
Version=1.0
Terminal=false
Icon=openofficeorg-calc
Type=Application
Categories=Office;X-Red-Hat-Base;X-SuSE-Core-Office;X-MandrivaLinux-Office-Spreadsheets;
Exec=openoffice.org -calc %U
MimeType=application/vnd.oasis.opendocument.spreadsheet;application/vnd.oasis.opendocument.spreadsheet-template;application/vnd.sun.xml.calc;application/vnd.sun.xml.calc.template;application/vnd.stardivision.calc;application/vnd.stardivision.chart;application/msexcel;application/vnd.ms-excel;application/vnd.openxmlformats-officedocument.spreadsheetml.sheet;application/vnd.ms-excel.sheet.macroenabled.12;application/vnd.openxmlformats-officedocument.spreadsheetml.template;application/vnd.ms-excel.template.macroenabled.12;application/vnd.ms-excel.sheet.binary.macroenabled.12;text/csv;application/x-dbf;
Name=OpenOffice.org Calc
GenericName=Spreadsheet
GenericName[en]=Spreadsheet
GenericName[ar]=جدول بيانات
GenericName[as]=স্প্ৰেডশ্বীট
GenericName[ast]=Fueya de cálculu
GenericName[bg]=Електронна таблица
GenericName[bn]=স্প্রেডশীট
GenericName[br]=Renkell
GenericName[ca_XV]=Full de càlcul
GenericName[ca]=Full de càlcul
GenericName[cs]=Sešit
GenericName[da]=Regneark
GenericName[de]=Tabellenkalkulation
GenericName[en_GB]=Spreadsheet
GenericName[eo]=Kalkultabelo
GenericName[es]=Hoja de cálculo
GenericName[eu]=Kalkulu-orria
GenericName[fr]=Classeur
GenericName[gu]=સ્પ્રેડશીટ
GenericName[hi]=स्प्रेडशीट
GenericName[hr]=Proračunska tablica
GenericName[hu]=Munkafüzet
GenericName[id]=Lembar Kerja
GenericName[is]=Töflureiknir
GenericName[it]=Foglio elettronico
GenericName[ja]=表計算ドキュメント
GenericName[kn]=ಸ್ಪ್ರೆಡ್‌ಶೇಟ್‌
GenericName[ko]=스프레드시트
GenericName[lt]=Skaičiuoklė
GenericName[lv]=Izklājlapa
GenericName[mk]=Табеларна пресметка
GenericName[ml]=സ്പ്രെഡ്ഷീറ്റ്
GenericName[mn]=Хүснэгт баримт
GenericName[mr]=स्प्रेडशीट्
GenericName[my]=စာရင်းဇယားစာရွက်လွှာ
GenericName[ne]=स्प्रेडसीट
GenericName[nl]=Werkblad
GenericName[oc]=Classador
GenericName[om]=Wardii
GenericName[or]=Spreadsheet
GenericName[pa_IN]=ਸਪਰੈੱਡ ਸ਼ੀਟ
GenericName[pl]=Arkusz kalkulacyjny
GenericName[pt_BR]=Planilha
GenericName[pt]=Folha de cálculo
GenericName[ru]=Электронная таблица
GenericName[rw]=Urupapurotuzu
GenericName[sa_IN]=स्प्रेड्शीट्
GenericName[si]=පැතුරුම්පත
GenericName[sl]=Preglednica
GenericName[sq]=Tabelë kalkuluese
GenericName[sv]=Kalkylblad
GenericName[ta]=விரிதாள்
GenericName[te]=స్ర్పెడ్ షీట్
GenericName[tr]=Hesap Tablosu
GenericName[ug]=ئېلېكترونلۇق جەدۋەل
GenericName[uk]=Електронна таблиця
GenericName[uz]=Elektro jadval
GenericName[vi]=Bảng tính
GenericName[zh_CN]=电子表格
GenericName[zh_TW]=試算表
GenericName[be_BY]=Разліковы аркуш
GenericName[fi]=Taulukkolaskenta
GenericName[sk]=Zošit
GenericName[sh]=Tablica
GenericName[sr]=Таблица
GenericName[km]=សៀវភៅ​បញ្ជី
GenericName[ga]=Scarbhileog
GenericName[et]=Arvutustabel
GenericName[he]=גליון עבודה
GenericName[nb]=Regneark
GenericName[nn]=Rekneark
GenericName[gl]=Folla de cálculo
GenericName[ro]=Foaie de calcul
GenericName[el]=Υπολογιστικό φύλλο
Comment=Perform calculation, analyze information and manage lists in spreadsheets by using Calc.
Comment[en]=Perform calculation, analyze information and manage lists in spreadsheets by using Calc.
Comment[be_BY]=Праводзьце вылічэнні, аналізуйце інфармацыю і кіруйце спісамі ў разліковых аркушах з дапамогаю Calc-а.
Comment[fi]=Suorittaa laskentaa sekä analysoi ja hallitsee Calc:in käyttämissä laskentataulukoissa olevia tietoja.
Comment[af]=Doen berekening, analiseer inligting en bestuur lyste in sigblaaie met Calc.
Comment[bg]=Calc служи за изчисления, анализи и управление на списъци чрез електронни таблици.
Comment[bo]=OpenOffice.org ལས་ཀའི་རེའུ་མིག
Comment[br]=Calc - Jedadurioù, dezrannoù hag ardeiñ rolladoù er follennoù jediñ.
Comment[brx]=साननाय मावफुं, मोनथिहोनाय बेखेव आरो कल्क बाहायनानै स्प्रेडशीटसआव   फारिलाइफोरखौ मेनेज खालाम।
Comment[bs]=Obavljanje proračuna, analiza informacija i upravljanje listama u tablicama koristeći Calc.
Comment[cs]=Provádějte výpočty, analyzujte informace a ovládejte seznamy v sešitech pomocí Calcu.
Comment[cy]=Cyfrifo, dadansoddi data a rheoli rhestrau mewn taenlenni gan ddefnyddio Calc.
Comment[da]=Udfør beregning, analyser information og administrer lister i regneark ved brug af Calc.
Comment[dgo]=कल्क बरतियै स्प्रैडशीटें च गणना,जानकारी दा विश्लेशन ते सूचियें दा प्रबंध करो. 
Comment[en_ZA]=Perform calculation, analyse information and manage lists in spreadsheets by using Calc.
Comment[eo]=Kalkuladi, analizi informojn kaj administri listojn en kalkultabeloj per Tabelilo.
Comment[eu]=Kalkuluak egin, informazioa aztertu eta kalkulu-orrietako zerrendak kudeatu Calc erabiliz.
Comment[fa]=با محاسب، اطلاعات موجود در صفحات گسترده را تحلیل کنید، فهرست‌ها را اداره کنید و محاسبات انجام دهید.
Comment[hr]=Izvedite proračune, analizirajte informacije i upravljajte popisima u proračunskim tablicama koristeći Calc.
Comment[kk]=Calc көмегiмен есептердiн шығаруын, ақпараттын анализiн және элекрондық кестелердегi беттермен басқаруын орындауға болады. 
Comment[kok]=गणकयंत्र वापरून गणन, म्हायती विश्लेषण आनिक स्प्रेडशीट्मांच्या वळेरेचे  व्यवस्थापन करात.
Comment[mai]=गणना करू, सूचनाक विश्लेषण करू आओर Calc क प्रयोगसँ स्प्रेडशीटमे सूची प्रबंधित करू.
Comment[mk]=Извршете пресметки, анализирајте информации и уредувајте листи во табеларни пресметки со користење на Calc.
Comment[mn]=Calc ашиглан тооцоолол хийх, мэдээлэлд анализ хийх болон хүснэгтүүд дэх жагсаалтыг зохицуулах.
Comment[mni]=কেলক শিজিন্নদুনা মশিং পাবা, ঈপাউশিং নৈনবা অমসুং পরিংশিং শিন্দোকপা স্প্রেদশীশিংদা পাংথোকউ.    
Comment[ne]=क्याल्कको प्रयोगद्वारा स्प्रेडसिटहरूमा गणना कार्यसम्पादन, सूचना विश्लेषण र सूचीहरू प्रबन्ध गर्नुहोस् ।
Comment[nr]=Enza imbalo, ukucozulula ilwazi nokuphatha amarhemo akumaspredtjhiti ngokusebenzisa i-Calc.
Comment[ns]=Hlakantšha, fetleka tshedimošo le go laola malokelelo ao a lego go matlakala a go ala tsebišo ka go diriša Calc.
Comment[pa_IN]=ਕੈਲਸ ਨਾਲ ਟੇਬਲ ਵਿੱਚ ਗਣਨਾ, ਜਾਣਕਾਰੀ ਦੀ ਸਮੀਖਿਆ ਅਤੇ ਲਿਸਟਾਂ ਨੂੰ ਰੱਖਿਆ ਜਾ ਸਕਦਾ ਹੈ।
Comment[rw]=Gukora imibare, gutondagura amakuru no kuyobora amarisiti mu mpapurozisesuye ukoresheje Calc
Comment[sa_IN]=कैल्क् उपयुज्य, गणय, सूचनां परिशीलय, स्प्रेड्शीट्स् मध्ये च सूचीः प्रबन्धय च।
Comment[sat]=हिसाब रेयाक् बेभार दाराय ते हिसाब होचो खोबोर बाड़ाय आर स्प्रेडसिट  लिसटी .
Comment[sd]=ڪيلڪ جو اِستعمال ڪندي گڻپ ڪريو، معلومات جو ڇند ڪريو ۽ اِسپريڊ شيٽن ۾ ياداشتن جو بندوبست ڪريو۔
Comment[ss]=Yenta kubala, hlatiya lwati uphatse tinhlu kumaphephacansi ngekusebentisa Calc.
Comment[st]=Kopanya, hlopholla tlhahisoleseding le ho laola mathathamo maqepheng a ho ala boitsebiso ka ho sebedisa Calc.
Comment[sw_TZ]=Perform calculation, analyze information and manage lists in spreadsheets by using Calc.
Comment[tg]=Бо ёрии Calc ҳисобу китоб, таҳлили маълумот ва рӯйхатҳо амалӣ кардан мумкин аст.
Comment[ts]=Hlayela tinhlayo, u hlahluva rungula ni ku tirhisa minxaxamelo ya Swipredxiti hi ku tirhisa Calc.
Comment[ve]=Itani ṱhanganyiselo, ṱandavhudzani vhuṱanzi nahone ni lange mutevhe kha zwisipuredeshithi nga u shumisa Calc.
Comment[xh]=Yenza isibalo, hlalutya ulwazi uze ulawule izindwe kumacwecwe eeseli ngokusebenzisa u-Calc.
Comment[zu]=Yenza izibalo, hlaziya ukwaziswa futhi ulawule izinhlu kumaspredshithi ngokusebenzisa i-Calc.
Comment[dz]=རྩིས་འཕྲུལ་ལག་ལེན་འཐབ་ཐོག་ལས་ཤོག་ཁྲམ་ནང་ལུ་ རྩིས་རྐྱབ་ནི་དང་ བརྡ་དོན་དཔྱད་ཞིབ་འབད་ནི་ ཐོ་ཡིག་འཛིན་སྐྱོང་འབད་ནི།
Comment[ka]=ასრულებს კალკულაციას, აანალიზებს ინფორმაციას და მართავს სიებს ცხრილებში Calc-ის გამოყენებით.
Comment[ku]=Hesaban, analîzên agahiyan û di tabloyên hesaban de rêveberiya lîsteyan bi Calcê çêbikin û sererast bikin.
Comment[th]=ทำการคำนวณ วิเคราะห์ข้อมูล และจัดการรายการในตารางคำนวณโดยการใช้ Calc
Comment[ar]=إنجاز العمليات الحسابية، وتحليل المعلومات وإدارة القوائم في جداول البيانات باستخدام Calc.
Comment[as]=কেলক ব্যৱহাৰ কৰি গণনা কৰক, তথ্য বিশ্লেষণ কৰক আৰু তালিকা পৰিচালনা কৰক.    
Comment[ast]=Facer cálculos, analizar información y editar llistes en fueyes de cálculu con Calc.
Comment[bn]=ক্যালক ব্যবহার করে স্প্রেডশীটে হিসাব, তথ্য বিশ্লেষণ,এবং তালিকা ব্যবস্থাপনা করুন।
Comment[ca_XV]=Feu càlculs, analitzeu informació i gestioneu llistes en fulls de càlcul amb el Calc.
Comment[ca]=Feu càlculs, analitzeu informació i gestioneu llistes en fulls de càlcul amb el Calc.
Comment[de]=Berechnungen ausführen, Informationen analysieren und Listen in Tabellen verwalten - Calc macht's möglich.
Comment[en_GB]=Perform calculations, analyse information and manage lists in spreadsheets using Calc.
Comment[es]=Realizar cálculos, analizar información y editar listas en hojas de cálculo con Calc.
Comment[fr]=Calc - Calculs, analyses et gestion de listes dans des feuilles de calcul.
Comment[gu]=કેલ્ક વડે સ્પ્રેડશીટમાં ગણતરીઓ, માહીતી પૃથ્થકરણ અને યાદીઓ બનાવો.
Comment[hi]=कैल्क के प्रयोग से गणना करें, सूचना का विश्लेषण करें और स्प्रेडशीट में सूची प्रबंधित करें.
Comment[hu]=Számítások végrehajtása, adatok elemzése és listák kezelése munkafüzetekben a Calc használatával.
Comment[id]=Melakukan perhitungan, analisa informasi, dan kelola daftar di lembar kerja menggunakan Calc.
Comment[is]=Gera útreikninga, greina gögn og meðhöndla lista í töflureikni með því að nota Calc.
Comment[it]=Calc può essere usato per eseguire calcoli, analizzare informazioni e gestire elenchi in un foglio elettronico.
Comment[ja]=Calc を使用して、表計算ドキュメントで計算を実行し、情報を分析し、リストを管理します。
Comment[kn]=ಕ್ಯಾಲ್ಕುಲೇಟರ್ ಬಳಸಿ ಲೆಕ್ಕಮಾಡಿ, ಮಾಹಿತಿಯನ್ನು ವಿಶ್ಲೇಷಿಸಿ, ಹಾಗೂ ಸ್ಪ್ರೆಡ್‌ಶೀಟ್‌ನಲ್ಲಿನ ಪಟ್ಟಿಗಳನ್ನು ನಿರ್ವಹಿಸಿ.
Comment[ko]=Calc를 사용하여 스프레드시트에서 계산, 정보 분석 및 목록 관리를 수행합니다.
Comment[lt]=Skaičiuokle galima atlikti įvairius skaičiavimus, analizuoti informaciją, tvarkyti sąrašus lentelėse.
Comment[lv]=Veikt aprēķinus, analizēt informāciju un pārvaldīt sarakstus izklājlapās lietojot Calc.
Comment[ml]=കണക്കുകൂട്ടല്, കാല്ക് ഉപയോഗിച്ച് വിവരങ്ങള് അവലോകനം ചെയ്യുകയും സ്പ്രെഡ്ഷീറ്റിലെ ലിസ്റ്റ് കൈകാര്യം ചെയ്യുകയും ചെയ്യാം.
Comment[mr]=Calc चा वापर करून स्प्रेडशीट् अंतर्गत गणना, माहिती विश्लेषण व यादी व्यवस्थापीत करा.
Comment[my]=Calc ကိုအသုံးပြုခြင်းဖြင့် စာရွက်လွှာများတွင် တွက်ချက်မှုများပြုပါ၊ သတင်းအချက်အလက်များ ခွဲခြမ်းစိတ်ဖြာပြီး စာရင်းများ စီမံခန့်ခွဲပါ။
Comment[nl]=Met Calc kunt u in werkbladen berekeningen uitvoeren, gegevens analyseren en lijsten beheren.
Comment[oc]=Calc - Calculs, analisis e gestion de listas dins de fuèlhs de calcul.
Comment[om]=Calc fayyadamuun herrega hojjedhu, odeeffannoo xiinxali, tarreewwan wardii keessaa taligi.
Comment[or]=ଗଣନା ଉପୟୋଗକରି ସ୍ପ୍ରେଡ୍ସିଟରେ ଗଣନା ସମ୍ପାଦନ, ସୂଚନା ବିଶ୍ଳେଷଣ ଏବଂ ତାଲିକା ପରିଚାଳନା  କର୤
Comment[pl]=Dokonuj obliczeń, analizuj informacje i zarządzaj listami danych w arkuszach kalkulacyjnych używając programu Calc.
Comment[pt_BR]=Efetue cálculos, analise informações e gerencie listas em planilhas por meio do Calc.
Comment[pt]=Permite efectuar cálculos, analisar informações e gerir listas em folhas de cálculo utilizando o Calc.
Comment[ru]=Выполнение вычислений, анализ информации и управление листами в электронных таблицах с помощью Calc.
Comment[si]=Calc භාවිතා කරමින් ගණනය කිරීම්, තොරතුරු විශ්ලේෂණය සහ පැතුරුම්පත් වල ලැයිස්තු පාලනය සිදු කරන්න.
Comment[sl]=S programom Calc izvajajte računske operacije, analizirajte podatke in upravljajte s seznami v preglednicah.
Comment[sq]=Kryen kalkulimin, analizon informacionet dhe menaxhon listën në tabelën kalkuluese duke shfrytëzuar Kalk
Comment[sv]=Beräkna, anaysera information och hantera listor i kalkylblad med hjälp av Calc.
Comment[ta]=கணக்கிடவும், தகவலை ஆயவும், விரிதாள்களிலுள்ள பட்டியல்களை மேலாளவும் கால்கைப் பயன்படுத்துக.
Comment[te]=గణనం,విశ్లేషించిన సమాచారమును మరియు లెక్క తో ఉపయోగించిన స్ర్పెడ్ షీట్ యోక్క జాబితాలను నిర్వాహించి చేయుము.
Comment[tr]=OpenOffice.org Hesap Tablosu
Comment[ug]=Calc ئىشلىتىپ ئۇچۇر ھېسابلاش ۋە ئانالىز ئېلىپ بېرىلىدۇ ھەمدە ئېلېكترونلۇق جەدۋەلدىكى تىزىملىك باشقۇرۇلىدۇ.
Comment[uk]=Виконання розрахунків, аналіз інформації та керування аркушами в електронних таблицях.
Comment[uz]=Calc dasturidan foydalanib, elektron jadvallarda roʻyxatlarni va maʼlumotlarni hisoblash..
Comment[vi]=Tính toán, phân tích thông tin và quản lý danh sách trong bảng tính, dùng trình Calc.
Comment[zh_CN]=使用 Calc 进行计算、分析信息以及管理电子表格中的列表。
Comment[zh_TW]=使用 Calc 可在試算表中執行計算、分析資訊與管理清單。
Comment[sk]=Vykonávajte kalkulácie, analyzujte informácie a spravujte zoznamy v zošitoch s použitím Calc.
Comment[sh]=Izvedite proračune, analizirajte podatke i upravljajte listama u tablicama sa unakrsnim izračunavanjem u Računu.
Comment[sr]=Изведите прорачуне, анализирајте податке и управљајте листама у таблицама са унакрсним израчунавањем у Рачуну.
Comment[km]=ធ្វើ​ការ​គណនា​​ វិភាគ​ព័ត៌មាន និង​គ្រប់គ្រង​បញ្ជី​ក្នុង​សៀវភៅ​បញ្ជី ដោយ​ប្រើ Calc ។
Comment[ga]=Déan áireamh, anailísigh faisnéis agus láimhseáil liostaí i scarbhileoga le Calc.
Comment[et]=Calc aitab teostada arvutusi, analüüsida infot ja hallata nimekirju.
Comment[he]=ביצוע חישובים, ניתוח מידע וניהול רשימות בגליונות עבודה באמצעות תוכנת גליון עבודה
Comment[nb]=Utfør beregninger, analyser informasjon og håndter lister i regneark ved å bruke Calc.
Comment[nn]=Med Calc kan du gjera utrekningar, analysera informasjon og handtera lister i rekneark.
Comment[gl]=Facer cálculos, analizar información e xestionar listas en follas de cálculo con Calc.
Comment[ro]=Efectuați calcule, analizați informații și gestionați liste în foi de calcul folosind Calc.
Comment[el]=Υπολογισμός, ανάλυση πληροφοριών και διαχείριση λιστών σε υπολογιστικά φύλλα με τη χρήση του Calc.
X-GIO-NoFuse=true
StartupNotify=true
TryExec=oocalc
