
[Desktop Entry]
Name=Disks
Name[as]=ডিস্ক
Name[be]=Дыскі
Name[bg]=Дискове
Name[bn_IN]=ডিস্ক
Name[ca]=Discs
Name[ca@valencia]=Discs
Name[cs]=Disky
Name[da]=Diske
Name[de]=Laufwerke
Name[en_GB]=Disks
Name[eo]=Diskilo
Name[es]=Discos
Name[et]=Kettad
Name[fa]=دیسک‌ها
Name[fi]=Levyt
Name[fr]=Disques
Name[ga]=Dioscaí
Name[gl]=Discos
Name[gu]=ડિસ્ક
Name[he]=כוננים
Name[hu]=Lemezek
Name[it]=Dischi
Name[ja]=ディスク
Name[kn]=ಡಿಸ್ಕುಗಳು
Name[ko]=디스크
Name[lt]=Diskai
Name[lv]=Diski
Name[ml]=ഡിസ്കുകള്‍
Name[mr]=डिस्कस्
Name[nb]=Disker
Name[or]=ଡିସ୍କଗୁଡ଼ିକ
Name[pa]=ਡਿਸਕਾਂ
Name[pl]=Dyski
Name[pt]=Discos
Name[pt_BR]=Discos
Name[ru]=Диски
Name[sk]=Disky
Name[sl]=Diski
Name[sr]=Дискови
Name[sr@latin]=Diskovi
Name[sv]=Diskar
Name[ta]=வட்டுகள்
Name[te]=డిస్కులు 
Name[uk]=Диски
Name[zh_CN]=磁盘
Name[zh_HK]=磁碟
Name[zh_TW]=磁碟
Comment=Manage Drives and Media
Comment[ar]=أدِر الأقراص ووسائط التخزين
Comment[as]=ড্ৰাইভ আৰু মিডিয়া পৰিচালন কৰক
Comment[ast]=Xestiona preseos y sofitos
Comment[be]=Кіраванне дыскамі і носьбітамі
Comment[bg]=Управление на устройства и носители
Comment[bn]=ড্রাইভ ও মিডিয়া পর্যালোচনা করুন
Comment[bn_IN]=ড্রাইভ ও মিডিয়া পর্যালোচনা করুন
Comment[ca]=Gestioneu unitats i suports
Comment[ca@valencia]=Gestioneu unitats i suports
Comment[cs]=Správa disků a médií
Comment[da]=Håndtering af drev og medier
Comment[de]=Verwalten von Laufwerken und Medien
Comment[el]=Διαχείριση δίσκων και μέσων
Comment[en@shaw]=𐑥𐑨𐑯𐑦𐑡 𐑛𐑮𐑲𐑝𐑟 𐑯 𐑥𐑰𐑛𐑦𐑩
Comment[en_GB]=Manage Drives and Media
Comment[eo]=Administri diskilojn kaj legilojn
Comment[es]=Gestione dispositivos y soportes
Comment[et]=Ketaste ja andmekandjate haldamine
Comment[eu]=Kudeatu unitate eta euskarriak
Comment[fa]=مدیریت دیسک‌گردان‌ها و رسانه‌ها
Comment[fi]=Hallitse levyasemia ja medioita
Comment[fr]=Gérer les disques et les lecteurs
Comment[ga]=Bainistigh Tiomántáin agus Meáin
Comment[gl]=Xestionar novos dispositivos e medios
Comment[gu]=ડ્રાઇવો અને મીડિયાને સંચાલિત કરો
Comment[he]=ניהול כוננים ומדיה
Comment[hi]=चालन और मीडिया प्रबंधित करें
Comment[hu]=Lemezek és adathordozók kezelése
Comment[hy]=Կառավարել սարքերը և մեդիան
Comment[id]=Mengelola Kandar dan Media
Comment[it]=Gestisce unità e supporti
Comment[ja]=ドライブとメディアの管理
Comment[kk]=Дисктер мен тасушыларды басқару
Comment[kn]=ಡ್ರೈವ್‌ಗಳನ್ನು ಹಾಗು ಮಾಧ್ಯಮವನ್ನು ನಿರ್ವಹಿಸಿ
Comment[ko]=드라이브와 미디어를 관리합니다
Comment[ku]=Rêveberiya Medya û Ajokeran
Comment[lt]=Valdyti įrenginius ir laikmenas
Comment[lv]=Pārvaldīt dziņus un datu nesējus
Comment[mk]=Менаџирај со уреди за складирање и медиуми
Comment[ml]=ഡ്രൈവുകളും മീഡിയയും കൈകാര്യം ചെയ്യുന്നു
Comment[mr]=ड्राइव्हस् व मिडीया व्यवस्थापीत करा
Comment[ms]=Mengurus Cakera dan Media
Comment[nb]=Håndter stasjoner og media
Comment[nl]=Schijfstations en media beheren
Comment[or]=ଉପକରଣ ଏବଂ ସଞ୍ଚାର ମାଧ୍ଯମକୁ ପରିଚାଳନା କରନ୍ତୁ
Comment[pa]=ਡਰਾਇਵ ਅਤੇ ਮੀਡਿਆ ਪਰਬੰਧ
Comment[pl]=Zarządzanie dyskami i nośnikami
Comment[pt]=Gerir Dispositivos e Media
Comment[pt_BR]=Gerencie unidades e mídias
Comment[ro]=Administrează dispozitive și medii de stocare
Comment[ru]=Управление дисками и носителями
Comment[sk]=Správa diskov a médií
Comment[sl]=Upravljanje pogonov in nosilcev
Comment[sr]=Управљајте дисковима и медијумима
Comment[sr@latin]=Upravljajte diskovima i medijumima
Comment[sv]=Hantera enheter och media
Comment[ta]=இயக்கிகள் மற்றும் ஊடகங்களை மேலாள
Comment[te]=డ్రైవులను మరియు మాధ్యమాన్ని నిర్వహించుము
Comment[th]=จัดการไดรว์และสื่อ
Comment[tr]=Sürücüleri ve Ortamı Yönet
Comment[ug]=قوزغاتقۇچ ۋە ۋاسىتىلەرنى باشقۇرۇش
Comment[uk]=Керування дисками та змінними носіями
Comment[vi]=Quản lý đĩa và các loại vật chứa
Comment[zh_CN]=管理驱动器及媒体
Comment[zh_HK]=管理磁碟機與媒體
Comment[zh_TW]=管理磁碟機與媒體
Exec=palimpsest
Icon=palimpsest
Terminal=false
Type=Application
StartupNotify=true
X-GNOME-DocPath=palimpsest/palimpsest.xml
Categories=GNOME;GTK;Utility;HardwareSettings;
X-Desktop-File-Install-Version=0.19
