
[Desktop Entry]
Name=Qt4 Config 
Comment=Configure Qt4 behavior, styles, fonts
Exec=qtconfig-qt4
Icon=qt4-logo
Terminal=false
Encoding=UTF-8
Type=Application
Categories=Qt;Settings;
X-Desktop-File-Install-Version=0.19
