
[Desktop Entry]
Name=About Myself
Name[ar]=نبذة عنّي
Name[as]=নিজৰ বিষয়ে
Name[be]=Пра сябе
Name[bg]=За мен
Name[bn]=নিজস্ব পরিচিতি
Name[bn_IN]=আমার পরিচয়
Name[bs]=O meni
Name[ca]=Quant a Myself
Name[cs]=O mně:
Name[da]=Om mig selv
Name[de]=Über mich
Name[de_CH]=Über mich
Name[el]=Προσωπικές πληροφορίες 
Name[en_GB]=About Myself
Name[es]=Datos personales
Name[et]=Minu info
Name[fa]=دربارهٔ خودتان
Name[fi]=Tietoja minusta
Name[fr]=Renseignements personnels
Name[gl]=Sobre Min
Name[gu]=મારા વિશે
Name[he]=אודות
Name[hi]=मेरे बारे में
Name[hr]=O meni
Name[hu]=Magamról
Name[id]=Tentang Diri Saya
Name[is]=Um mig
Name[it]=Informazioni
Name[ja]=ユーザーの個人情報
Name[ka]=ჩემს შესახებ
Name[kn]=ನನ್ನ ಬಗ್ಗೆ
Name[ko]=개인 정보
Name[lv]=Par mani
Name[mai]=हमर संबंध मे
Name[mk]=За мене
Name[ml]=എന്നെ സംബന്ധിച്ച്
Name[mr]=माझ्याविषयी
Name[ms]=Perihal Diri Saya
Name[nb]=Om meg selv
Name[nl]=Over mijzelf
Name[or]=ମୋ ବିଷୟରେ
Name[pa]=ਮੇਰੇ ਬਾਰੇ
Name[pl]=O mnie
Name[pt]=Acerca da Minha Pessoa
Name[pt_BR]=Sobre mim
Name[ro]=Despre mine
Name[ru]=О себе
Name[sk]=O mne
Name[sl]=O meni
Name[sr]=О мени
Name[sr@latin]=O meni
Name[sv]=Om mig själv
Name[ta]=என்னை பற்றி
Name[te]=నా గురించి
Name[tg]=Дар бораи худ
Name[tr]=Hakkımda
Name[uk]=Про мене
Name[vi]=Giới thiệu
Name[zh_CN]=关于我自己
Name[zh_TW]=關於自己
Comment=Change personal information
Comment[ar]=غيّر المعلومات الشّخصيّة
Comment[as]=ব্যক্তিগত তথ্য সলনি কৰক
Comment[be]=Зьмена асабістых зьвестак
Comment[bg]=Промяна на личната информация
Comment[bn]=ব্যক্তিগত তথ্য পরিবর্তন করুন
Comment[bn_IN]=ব্যক্তিগত তথ্য পরিবর্তন প্রণালী
Comment[bs]=Izmjena osobnih podataka
Comment[ca]=Canvieu la informació personal
Comment[cs]=Změnit osobní informace
Comment[da]=Ændr personlige oplysninger
Comment[de]=Persönliche Informationen ändern
Comment[de_CH]=Persönliche Informationen ändern
Comment[el]=Αλλαγή προσωπικών πληροφοριών
Comment[en_GB]=Change personal information
Comment[es]=Cambio de la informacion personal
Comment[et]=Isikliku info muutmine
Comment[fa]=تغییر اطلاعات شخصی
Comment[fi]=Muuta henkilötietoja
Comment[fr]=Changement des informations personnelles
Comment[gl]=Cambiar a información persoal
Comment[gu]=ખાનગી જાણકારી બદલો
Comment[he]=שינוי המידע האישי
Comment[hi]=निजी जानकारी बदलें.
Comment[hr]=Izmjena osobnih podataka
Comment[hu]=A személyes adatok megváltoztatása
Comment[id]=Ubah informasi pribadi
Comment[is]=Breyti persónuupplýsingum
Comment[it]=Modifica informazioni personali
Comment[ja]=個人情報を変更
Comment[ka]=პერსონალური ინფორმაციის შეცვლა
Comment[kn]=ವೈಯಕ್ತಿಕ ಮಾಹಿತಿಯನ್ನು ಮಾರ್ಪಡಿಸು
Comment[ko]=개인 정보를 변경합니다
Comment[lv]=Mainīt personisko informāciju
Comment[mai]=निज जानकारी बदलू.
Comment[mk]=Променете ги личните податоци
Comment[ml]=സ്വകാര്യ വിവരങ്ങള്‍ മാറ്റുക
Comment[mr]=व्यक्तिगत माहिती बदला
Comment[ms]=Ubah maklumat persendirian
Comment[nb]=Endre personlig informasjon
Comment[nl]=Persoonlijke informatie veranderen
Comment[or]=ବ୍ଯକ୍ତିଗତ ସୂଚନା ପରିବର୍ତ୍ତନ କରନ୍ତୁ
Comment[pa]=ਨਿੱਜੀ ਜਾਣਕਾਰੀ ਤਬਦੀਲ
Comment[pl]=Zmiana informacji osobistych
Comment[pt]=Modificar as informações pessoais
Comment[pt_BR]=Altere informações pessoais
Comment[ro]=Schimbă informațiile personale
Comment[ru]=Изменение личной информации
Comment[sk]=Zmeniť osobné informácie
Comment[sl]=Sprememba osebnih podatkov
Comment[sr]=Промена личних података
Comment[sr@latin]=Promena ličnih podataka
Comment[sv]=Ändra personlig information
Comment[ta]=தனிப்பட்ட தகவலை மாற்றுகிறது
Comment[te]=వ్యక్తిగత సమాచారం మార్చు
Comment[tg]=Тағйири иттилооти шахсӣ
Comment[tr]=Kişisel bilgileri değiştir
Comment[uk]=Зміна персональної інформації
Comment[vi]=Đổi thông tin cá nhân
Comment[zh_CN]=改变个人信息。
Comment[zh_TW]=更改個人資訊
Exec=userinfo
Terminal=false
Type=Application
Icon=user_icon
Categories=Settings;X-GNOME-PersonalSettings;
X-Desktop-File-Install-Version=0.15
NotShowIn=GNOME;KDE;
