
[Desktop Entry]
Name=Audio CD Extractor
Name[ar]=مستخرج أصوات من القرص المدمج 
Name[as]=অডিও CD-ৰ বিষয়বস্তু এক্সট্ৰ্যাক্ট কৰাৰ সামগ্ৰী
Name[be@latin]=Prahrama kapijavańnia huku z CD
Name[bg]=Извличане на музика от музикални дискове
Name[bn_IN]=অডিও CD-র বিষয়বস্তু এক্সট্র্যাক্ট করার সামগ্রী
Name[br]=Eztenner CDoù sonerezh
Name[ca]=Extractor d'àudio CD
Name[ca@valencia]=Extractor d'àudio CD
Name[cs]=Extraktor zvukových CD
Name[da]=Lyd-cd-udtrækker
Name[de]=Audio-CDs auslesen
Name[el]=Εφαρμογή εξαγωγής ήχου από μουσικό CD
Name[en_GB]=Audio CD Extractor
Name[es]=Extractor de sonido de CD
Name[et]=Audio CD-de rippija
Name[eu]=Audio CD erauzlea
Name[fi]=CD-levyjen kopiointi
Name[fr]=Extracteur de CD audio
Name[ga]=Asbhainteoir CDanna Fuaime
Name[gl]=Extractor de CD de son
Name[gu]=ઓડિયો CD નો અર્ક કાઢનાર
Name[he]=מחלץ תקליטורי שמע
Name[hi]=ऑडियो सीडी एक्सट्रैक्टर
Name[hu]=Hang CD beolvasó
Name[it]=Estrattore CD audio
Name[ja]=音楽 CD 取り込みツール
Name[kn]=ಆಡಿಯೋ ಸೀಡಿ ಎಕ್ಸ್‌ಟ್ರಾಕ್ಟರ್
Name[ko]=음악 CD 가져오기
Name[lt]=Audio CD išskleidiklis
Name[lv]=Audio CD izvilcējs
Name[mk]=Екстратор за аудио CD
Name[ml]=ഓഡിയോ സി.ഡി കംപ്യൂട്ടറിലേയ്ക്കു് പകര്‍ത്തുന്നതിനുളള സംവിധാനം
Name[mr]=ऑडिओ CD प्राप्तीकार
Name[nb]=Program for å hente ut sanger fra CDer
Name[nl]=Muziek-cd's kopiëren
Name[nn]=Program for å henta ut sanger frå CDer
Name[or]=ଧ୍ୱନି CD ନିର୍ଯ୍ଯାସକ
Name[pa]=ਆਡੀਓ CD ਐੱਕਸਟਰੈਕਟਰ
Name[pl]=Zgrywanie płyt CD-Audio
Name[pt]=Extractor de CDs Áudio
Name[pt_BR]=Extrator de CDs de áudio
Name[ro]=Extragere CD audio
Name[ru]=Программа копирования звуковых CD
Name[sl]=Zvočni CD pretvornik
Name[sr]=Извлачење ЦД звука
Name[sr@latin]=Izvlačenje CD zvuka
Name[sv]=Ljudskivsextraherare
Name[ta]=இசை குறுந்தட்டு பிரிப்பி
Name[te]=ఆడియో CD ఎక్సుట్రాక్టర్
Name[th]=โปรแกรมคัดลอกเพลงจากซีดี
Name[tr]=Ses CD'si Aktarıcı
Name[uk]=Програма копіювання звукових CD
Name[vi]=Bộ trích đĩa CD Âm thanh
Name[zh_CN]=音频 CD 榨汁机
Name[zh_HK]=音樂 CD 擷取程式
Name[zh_TW]=音樂 CD 擷取程式
Comment=Copy music from your CDs
Comment[ar]=انسخ الموسيقى من أقراصك المدمجة
Comment[as]=আপোনাৰ CD সমূহৰ পৰা সঙ্গীত নকল কৰক
Comment[be@latin]=Kapijuj muzyku z dyskaŭ CD
Comment[bg]=Извличане на музика от CD-та
Comment[bn_IN]=CD-তে উপস্থিত সংগীত কপি করুন
Comment[ca]=Copia la música dels CD
Comment[ca@valencia]=Copia la música dels CD
Comment[cs]=Kopírovat hudbu ze svých CD
Comment[da]=Kopier musik fra dine cd'er
Comment[de]=Ihre Musik-CDs auslesen
Comment[el]=Εξαγωγή μουσικής από τα CD σας
Comment[en@shaw]=𐑒𐑪𐑐𐑦 𐑥𐑿𐑟𐑦𐑒 𐑓𐑮𐑪𐑥 𐑿𐑼 CD𐑟
Comment[en_GB]=Copy music from your CDs
Comment[es]=Copie música de sus CD
Comment[et]=Muusika kopeerimine Sinu CD-plaatidelt
Comment[eu]=Kopiatu musika zure CD-etatik
Comment[fi]=Kopioi musiikkia CD-levyiltä
Comment[fr]=Copier la musique de vos CD audio
Comment[ga]=Cóipeáil ceol ó do chuid CDanna
Comment[gl]=Copiar música desde os seus CD
Comment[gu]=તમારી CD ઓમાંથી સંગીતની નકલ કરો
Comment[he]=העתק מוזיקה מהתקליטורים שלך
Comment[hi]=अपने सीडी से संगीत नकल करें
Comment[hu]=Zene másolása CD lemezekről
Comment[it]=Copia la musica dai CD
Comment[ja]=お気に入りの CD から楽曲をコピーします
Comment[kn]=ನಿಮ್ಮ ಸೀಡಿಗಳಿಂದ ಸಂಗೀತವನ್ನು ಕಾಪಿ ಮಾಡಿ
Comment[ko]=CD에서 음악을 복사합니다
Comment[lt]=Kopijuokite muziką iš audio CD
Comment[lv]=Kopē mūziku no jūsu CD
Comment[mk]=Вади музика од CD-иња
Comment[ml]=നിങ്ങളുടെ സി.ഡികളില്‍ നിന്നും  ഗാനങ്ങള്‍ പകര്‍ത്തുക
Comment[mr]=तुमच्या CD पासून संगीतचे प्रत बनवा
Comment[nb]=Kopier musikk fra dine CDer
Comment[nl]=Muziek van uw cd's kopiëren (ofwel rippen)
Comment[nn]=Kopier musikk frå dine CDer
Comment[or]=ଆପଣଙ୍କ ସି.ଡି. ରୁ ସଙ୍ଗୀତକୁ ନକଲ କରନ୍ତୁ
Comment[pa]=ਆਪਣੀ CD ਤੋਂ ਸੰਗੀਤ ਕਾਪੀ ਕਰੋ
Comment[pl]=Kopiowanie muzyki z płyt CD
Comment[pt]=Copie a música dos seus CDs
Comment[pt_BR]=Copie as músicas dos seus CDs
Comment[ro]=Copiere muzică de pe CD-uri
Comment[ru]=Копирует музыку с ваших CD
Comment[sl]=Pretvorite glasbo s CD-jev.
Comment[sr]=Умножите музику са ваших ЦД-а
Comment[sr@latin]=Umnožite muziku sa vaših CD-a
Comment[sv]=Kopiera musik från dina cd-skivor
Comment[ta]=குறுந்தட்டிலிருந்து உங்கள் இசையை பிரதி எடுங்கள்
Comment[te]=మీ CDలనుండి సంగీతమును నకలుతీయుము
Comment[th]=คัดลอกเพลงจากซีดี
Comment[tr]=Müzik CD'lerinizi kopyalayın
Comment[uk]=Копіювання музики з компакт-дисків
Comment[vi]=Trích âm nhạc ra các CD của bạn
Comment[zh_CN]=从您的 CD 中复制音乐
Comment[zh_HK]=從光碟中擷取音樂
Comment[zh_TW]=從光碟中擷取音樂
Exec=sound-juicer %u
Icon=sound-juicer
StartupNotify=true
MimeType=x-content/audio-cdda;
Terminal=false
Type=Application
Categories=GNOME;GTK;AudioVideo;Audio;X-AudioVideoImport;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=sound-juicer
X-GNOME-Bugzilla-Component=general
X-GNOME-Bugzilla-Version=2.28.1
X-Desktop-File-Install-Version=0.15
