
[Desktop Entry]
Name=Keyboard
Name[ar]=لوحة المفاتيح
Name[as]=চাবিৰ ফলক
Name[be]=Клявіятура
Name[bg]=Клавиатура
Name[bn]=কীবোর্ড
Name[bn_IN]=কি-বোর্ড
Name[bs]=Tastatura
Name[ca]=Teclat
Name[cs]=Klávesnice
Name[cy]=Bysellfwrdd
Name[da]=Tastatur
Name[de]=Tastatur
Name[el]=Πληκτρολόγιο
Name[en_GB]=Keyboard
Name[es]=Teclado
Name[et]=Klaviatuur
Name[fa]=صفحه‌کلید
Name[fi]=Näppäimistö
Name[fr]=Clavier
Name[gl]=Teclado
Name[gu]=કીબોર્ડ
Name[he]=מקלדת
Name[hi]=कुंजीपटल
Name[hr]=Tipkovnica
Name[hu]=Billentyűzet
Name[id]=Keyboard
Name[is]=Lyklaborð
Name[it]=Tastiera
Name[ja]=キーボード
Name[ka]=კლავიატურა
Name[kn]=ಕೀಲಿಮಣೆ
Name[ko]=키보드
Name[lt]=Klaviatūra
Name[lv]=Tastatūra
Name[mai]=कुंजीपटल
Name[mk]=Тастатура
Name[ml]=കീബോര്‍ഡ്
Name[mn]=Гар
Name[mr]=कीबोर्ड
Name[ms]=Papan Kekunci
Name[nb]=Tastatur
Name[nl]=Toetsenbord
Name[or]=କିବୋର୍ଡ୍
Name[pa]=ਕੀ-ਬੋਰਡ
Name[pl]=Klawiatura
Name[pt]=Teclado
Name[pt_BR]=Teclado
Name[ro]=Tastatură
Name[ru]=Клавиатура
Name[si]=යතුරු පුවරුව
Name[sk]=Klávesnica
Name[sl]=Tipkovnica
Name[sq]=Tastierë
Name[sr]=Тастатура
Name[sr@latin]=Tastatura
Name[sv]=Tangentbord
Name[ta]=விசைப்பலகை
Name[te]=కీబోర్డు
Name[th]=แป้นพิมพ์
Name[tr]=Klavye
Name[uk]=Клавіатура
Name[ur]=کی بورڈ۔
Name[vi]=Bàn phím
Name[zh_CN]=键盘
Name[zh_TW]=鍵盤
Name[zu]=Ibhodi lezinkinobho
Comment=Configure the system keyboard
Comment[ar]=أعدّ لوحة مفاتيح النّظام
Comment[as]=ব্যৱস্থাপ্ৰণালীৰ চাবিৰ ফলকৰ বিন্যাস কৰক
Comment[be]=Наладка клявіятуры
Comment[bg]=Конфигуриране на системна клавиатура
Comment[bn]=সিস্টেমের কীবোর্ড কনফিগার করুন
Comment[bn_IN]=সিস্টেমের কি-বোর্ড কনফিগার করুন
Comment[bs]=Konfiguriranje tastatura
Comment[ca]=Configureu el teclat del sistema
Comment[cs]=Nastavit klávesnici počítače
Comment[cy]=Cyflunio bysellfwrdd y system
Comment[da]=Konfigurér systemets tastatur
Comment[de]=Systemtastatur konfigurieren
Comment[el]=Ρύθμιση πληκτρολογίου συστήματος
Comment[en_GB]=Configure the system keyboard
Comment[es]=Configurar el teclado del sistema
Comment[et]=Seadista süsteemi klaviatuur
Comment[fa]=پیکربندی صفحه‌کلید سیستم
Comment[fi]=Aseta järjestelmän näppäimistö
Comment[fr]=Configurer le clavier du système
Comment[gl]=Configure o teclado do sistema
Comment[gu]=સિસ્ટમ કીબોર્ડ રુપરેખાંકિત કરો
Comment[he]=הגדרת סוג המקלדת
Comment[hi]=कम्प्यूटर कुंजीपटल विन्यस्त करें
Comment[hr]=Konfiguriranje tipkovnice
Comment[hu]=A rendszer billentyűzetbeállítása
Comment[id]=Konfigurasi pada keyboard sistem
Comment[is]=Stilla lyklaborðið
Comment[it]=Configurazione della tastiera di sistema
Comment[ja]=システムキーボードを設定
Comment[ka]=სისტემური კლავიატურის კონფიგურაცია
Comment[kn]=ವ್ಯವಸ್ಥಾ ಕೀಲಿಮಣೆಯನ್ನು ಸ್ವರೂಪಿಸು
Comment[ko]=시스템 키보드 설정
Comment[lt]=Konfiguruoti sisteminę klaviatūrą
Comment[lv]=Iestatīt tastatūru
Comment[mai]=कम्प्यूटर कुंजीपटल विन्यस्त करू
Comment[mk]=Конфигурација на тастатурата
Comment[ml]=കംപ്യൂട്ടറിന്‍റെ കീബോര്‍ഡ് കോണ്‍ഫിഗര്‍ ചെയ്യുക
Comment[mn]=Системийн гарыг тохируулах
Comment[mr]=प्रणाली कीबोर्ड कॉनफीग्युर करा
Comment[ms]=Konfigurasikan papan kekunci sistem
Comment[nb]=Konfigurer systemets tastatur
Comment[nl]=Toetsenbord instellen
Comment[or]=ତନ୍ତ୍ର ର କିବୋର୍ଡ୍ କୁ ବିନ୍ଯାସ କର
Comment[pa]=ਸਿਸਟਮ ਕੀ-ਬੋਰਡ ਦੀ ਸੰਰਚਨਾ
Comment[pl]=Konfiguracja klawiatury systemu
Comment[pt]=Configure o teclado do computador
Comment[pt_BR]=Configurar o teclado do sistema
Comment[ro]=Configurează tastatura sistemului
Comment[ru]=Настройка системной клавиатуры
Comment[si]=පද්ධතියේ යතුරු පුවරුව මානකරන්න
Comment[sk]=Nastaviť systémovú klávesnicu
Comment[sl]=Prikroji sistemsko tipkovnico
Comment[sq]=Formësoni Tastierën e sistemit
Comment[sr]=Подешава тастатуру на систему
Comment[sr@latin]=Podešava tastaturu na sistemu
Comment[sv]=Konfigurera systemtangentbordet
Comment[ta]=கணினியின் விசைப்பலகையை கட்டமைக்கவும்
Comment[te]=కంప్యూటరు కీబోర్డును ఆకృతీకరించు
Comment[th]=ตั้งค่าแป้นพิมพ์ของระบบ
Comment[tr]=Sistem klavyesini yapılandır
Comment[uk]=Налаштовування системної клавіатури
Comment[ur]=سسٹم کے کی بورڈ کو مرتب کرنا۔
Comment[vi]=Cấu hình bàn phím hệ thống
Comment[zh_CN]=配置系统键盘
Comment[zh_TW]=設定系統的鍵盤
Comment[zu]=Hlanganisela ibhodi lezikhiye lesistimu
Icon=system-config-keyboard
Exec=system-config-keyboard
Type=Application
Categories=Settings;System;HardwareSettings;
StartupNotify=true
Terminal=false
NotShowIn=GNOME;KDE;
X-Desktop-File-Install-Version=0.19
