
[Desktop Entry]
Name=Kernel crash dumps
Name[bn_IN]=কার্নেল ক্র্যাশ ডাম্প
Name[de]=Kernel-Crash-Dumps
Name[es]=Volcados de kernel
Name[fr]=Vidages sur incidents du noyau
Name[gu]=કર્નલ ભંગાણ ડમ્પ
Name[hi]=कर्नेल क्रैश डंप
Name[it]=Crash dumps del kernel
Name[ja]=カーネルクラッシュダンプ
Name[kn]=ಕರ್ನಲ್ ಕುಸಿತದ ಬಿಸುಡುಗಳು
Name[ko]=커널 충돌 덤프
Name[ml]=കേര്‍ണല്‍ ക്രാഷ് ഡമ്പുകള്‍
Name[mr]=कर्नल क्रॅश् डम्प्स्
Name[or]=କର୍ଣ୍ଣଲ କ୍ରାସ ଡମ୍ପଗୁଡ଼ିକ
Name[pa]=ਕਰਨਲ ਕਰੈਸ਼ ਡੰਪ
Name[pt_BR]=Despejos de travamentos do kernel
Name[ru]=Дамп ядра
Name[ta]=கர்னல் க்ராஷ் டம்ப்கள்
Name[te]=కెర్నల్ క్రాష్ డంప్స్
Name[zh_CN]=内核崩溃转储
Name[zh_TW]=Kernel 當機傾印
Comment=Configure kernel crash dumps
Comment[bn_IN]=কার্নেল ক্র্যাশ ডাম্প কনফিগার করুন
Comment[de]=Konfigurieren von Kernel-Crash-Dumps
Comment[es]=Configurar volcados de kernel
Comment[fr]=Configuration des vidages sur incidents du noyau
Comment[gu]=કર્નલ ભંગાણ ડમ્પને રૂપરેખાંકિત કરો
Comment[hi]=कर्नेल क्रैश डंप विन्यस्त करें
Comment[it]=Configura crash dumps del kernel
Comment[ja]=カーネルクラッシュダンプを設定
Comment[kn]=ಕರ್ನಲ್ ಕುಸಿತ ಬಿಸುಡುಗಳನ್ನು ಸಂರಚಿಸು
Comment[ko]=커널 충돌 덤프 설정
Comment[ml]=കേര്‍ണല്‍ ക്രാഷ് ഡമ്പുകള്‍ ക്രമീകരിയ്ക്കുക
Comment[mr]=कर्नल क्रॅश् डम्प्स् संरचीत करा
Comment[or]=କର୍ଣ୍ଣଲ କ୍ରାସ ଡମ୍ପଗୁଡ଼ିକୁ ବିନ୍ୟାସ କରନ୍ତୁ
Comment[pa]=ਕਰਨਲ ਕਰੈਸ਼ ਡੰਪ ਸੰਰਚਨਾ
Comment[pt_BR]=Configure os despejos de travamento do kernel
Comment[ru]=Настроить дамп ядра
Comment[ta]=கர்னல் க்ராஷ் டம்ப்களை கட்டமைக்கவும்
Comment[te]=కెర్నల్ క్రాష్ డంప్సును ఆకృతీకరించుము
Comment[zh_CN]=配置内核崩溃转储
Comment[zh_TW]=配置 kernel 當機傾印
Categories=System;Settings;
Icon=system-config-kdump
Exec=/usr/bin/system-config-kdump
Type=Application
Terminal=false
StartupNotify=true
Encoding=UTF-8
X-Desktop-File-Install-Version=0.15
