
[Desktop Entry]
Name=Bootloader
Name[ar]=ÙØ­ÙÙÙ Ø§ÙØ¥ÙÙØ§Ø¹
Name[as]=বুটলোডাৰ
Name[be]=Сыстэмны загрузчык
Name[bg]=Програма за начално зареждане
Name[bn]=বুট লোডার
Name[bn_IN]=বুট-লোডার
Name[bs]=Pokretač sistema
Name[ca]=Carregador de l'arrencada
Name[cs]=Zavaděč systému
Name[cy]=Cychwynnydd
Name[da]=Opstartsindlæser
Name[de]=Bootloader
Name[el]=Bootloader
Name[en_GB]=Bootloader
Name[es]=Gestor de arranque
Name[et]=Laadur
Name[fa]=بارکننده‌ی راه‌انداز
Name[fi]=Käynnistyslatain
Name[fr]=Chargeur de démarrage
Name[gl]=Cargador de Arrinque
Name[gu]=બુટલોડર
Name[he]=מנהל אתחול
Name[hi]=बूट अधिभारक
Name[hr]=Pokretač sustava
Name[hu]=Rendszerindító
Name[id]=Bootloader
Name[is]=Ræsistjóri
Name[it]=Bootloader
Name[ja]=ブートローダー
Name[ka]=ჩამტვირთველი
Name[kn]=ಸ್ವಯಂಸಿದ್ಧತಾ ಲೋಡರ್
Name[ko]=부트로더
Name[lt]=Starto kroviklis(Bootloader)
Name[lv]=Sistēmas ielādētājs
Name[mk]=Подигнувач на системот
Name[ml]=ബൂട്ട്ലോടര്‍
Name[mr]=बूट लोडर
Name[ms]=Pemuat but
Name[nb]=Oppstartslaster
Name[nl]=Opstart lader
Name[or]=ବୁଟ-ଲୋଡର
Name[pa]=ਬੂਟ-ਲੋਡਰ
Name[pl]=Program startowy
Name[pt]=Gestor de Arranque
Name[pt_BR]=Gerenciador de inicialização
Name[ro]=Program de pornire
Name[ru]=Загрузчик
Name[si]=ඇරඹුම් කාරකය
Name[sk]=Systémový zavádzač
Name[sl]=Zagonski nalagalnik
Name[sq]=Nisjengarkues
Name[sr]=Покретачки програм
Name[sr@latin]=Pokretački program
Name[sv]=Startprogram
Name[ta]=துவக்க ஏற்றி
Name[te]=Bootloader
Name[tr]=Önyükleyici
Name[uk]=Завантажувач
Name[ur]=بوٹ لوڈر۔
Name[vi]=Bootloader
Name[zh_CN]=引导装载程序
Name[zh_TW]=開機載入程式
GenericName=Bootloader Configuration
GenericName[ar]=Ø¥Ø¹Ø¯Ø§Ø¯ ÙØ­ÙÙÙ Ø§ÙØ¥ÙÙØ§Ø¹
GenericName[as]=বুটলোডাৰ বিন্যাস
GenericName[be]=Наладка сыстэмнага загрузчыка
GenericName[bg]=Настройка на началното зареждане
GenericName[bn]=বুট লোডার কনফিগারেশন
GenericName[bn_IN]=বুট-লোডার কনফিগারেশন
GenericName[bs]=Konfiguracija pokretača sistema
GenericName[ca]=Configuració del carregador de l'arrencada
GenericName[cs]=Nastavení zavaděče systému
GenericName[cy]=Cyfluniad Cychwynnydd
GenericName[da]=Konfiguration af opstartsindlæser
GenericName[de]=Bootloader-Konfiguration
GenericName[el]=Διαμόρφωση Bootloader
GenericName[en_GB]=Bootloader Configuration
GenericName[es]=Configuración del gestor de arranque
GenericName[et]=Laaduri seadistus
GenericName[fa]=پیکربندی بارکننده‌ی راه‌انداز
GenericName[fi]=Käynnistyslataimen asetukset
GenericName[fr]=Configuration du chargeur de démarrage
GenericName[gl]=Configuración do Cargador de Arrinque
GenericName[gu]=બુટલોડર રુપરેખાંકન
GenericName[he]=הגדרות מנהל האתחול
GenericName[hi]=बूट अधिभारक विन्यास
GenericName[hr]=Konfiguracija pokretača sustava
GenericName[hu]=Rendszerindító beállítása
GenericName[id]=Konfigurasi Bootloader
GenericName[is]=Stillingar ræsistjórans
GenericName[it]=Configurazione del Bootloader
GenericName[ja]=ブートローダーの設定
GenericName[ka]=ჩამტვირთველის კონფიგურაცია
GenericName[kn]=ಬೂಟ್ ಲೋಡರ್ ಸಂರಚನೆ
GenericName[ko]=부트로더 설정
GenericName[lt]=Starto Kroviklio(Bootloader) Nustatymai
GenericName[lv]=Sistēmas ielādētāja konfigurācija
GenericName[mk]=Конфигурација на подигнувач
GenericName[ml]=ബൂട്ട്ലോടര്‍ ക്രമീകരണം
GenericName[mr]=बूट लोडर संरचना
GenericName[ms]=Konfigurasi Pemuat But
GenericName[nb]=Konfigurasjon av oppstartslaster
GenericName[nl]=Opstart lader configuratie
GenericName[or]=ବୁଟ-ଲୋଡର ବିନ୍ଯାସ
GenericName[pa]=ਬੂਟ-ਲੋਡਰ ਸੰਰਚਨਾ
GenericName[pl]=Konfiguracja programu startowego
GenericName[pt]=Configuração do Gestor de Arranque
GenericName[pt_BR]=Configurações do gerenciador de inicialização
GenericName[ro]=Configuraţie program de pornire
GenericName[ru]=Настройка загрузчика
GenericName[si]=ඇරඹුම් කාරක මානකරණය
GenericName[sk]=Konfigurácia systémového zavádzača
GenericName[sl]=Prikrojitev zagonskega nalagalnika
GenericName[sq]=Formësim Nisjengarkuesi
GenericName[sr]=Подешавање покретачког програма
GenericName[sr@latin]=Podešavanje pokretačkog programa
GenericName[sv]=Konfiguration av startprogram
GenericName[ta]=துவக்க ஏற்றி கட்டமைப்பு
GenericName[te]=Bootloader ఆకృతీకరణ
GenericName[tr]=Önyükleyici Yapılandırması
GenericName[uk]=Налаштовування завантажувача
GenericName[ur]=بوٹ لوڈر کی ترتیب۔
GenericName[vi]=Cấu hình Boot Loader
GenericName[zh_CN]=引导装载程序配置
GenericName[zh_TW]=開機載入程式設定
Comment=Choose your default boot entry
Comment[ar]=Ø§Ø®ØªÙØ§Ø± ÙÙØ·Ø© Ø§ÙØ¯Ø®ÙÙ Ø§ÙÙØ¨Ø¯Ø¦ÙØ©
Comment[as]=আপোনাৰ অবিকল্পিত বুট নিবেশ নিৰ্ব্বাচন কৰক
Comment[bg]=Изберете подразбиращ се елемент за зареждане
Comment[bn_IN]=ডিফল্ট বুট এন্ট্রি নির্বাচন করুন
Comment[ca]=Escolliu l'entrada d'arrencada predeterminada
Comment[cs]=Vyberte výchozí zaváděný systém
Comment[da]=Vælg din standardindgang ved opstart
Comment[de]=Wählen Sie Ihren Standard-Boot-Eintrag
Comment[el]=Ορίστε την προεπιλεγμένη επιλογή εκκίνησης
Comment[en_GB]=Choose your default boot entry
Comment[es]=Elija su opción de arranque por defecto
Comment[fa]=راه‌انداز اصلی خود را انتخاب کنید
Comment[fi]=Valitse oletuskäynnistyskohde
Comment[fr]=Choisissez votre entrée de démarrage par défaut
Comment[gu]=તમારો મૂળભૂત બુટ પ્રવેશ પસંદ કરો
Comment[he]=בחר את ערך האתחול ברירת המחדל
Comment[hi]=अपना मूलभूत बूट प्रविष्टि चुनें
Comment[hr]=Odaberite zadanu stavku pokretanja sustava
Comment[hu]=Válasszon alapértelmezett bejegyzést
Comment[id]=Pilih masukan boot standar anda
Comment[is]=Veldu hvaða ræsifærsla eigi að vera sjálfgefin
Comment[it]=Scegliere la voce di avvio predefinita
Comment[ja]=デフォルトの起動項目を選んで下さい
Comment[kn]=ನಿಮ್ಮ ಪೂರ್ವನಿಯೋಜಿತ ಬೂಟ್ ನಮೂದನ್ನು ಆರಿಸಿ
Comment[ko]=기본 부트 항목을 선택해 주십시오
Comment[ml]=നിങ്ങളുടെ സ്വതവേയുള്ള ബൂട്ട് എന്‍ട്രി തെരഞ്ഞെടുക്കുക
Comment[mr]=पूर्वनिर्धारीत बूट नोंदणी नीवडा
Comment[ms]=Pilih masukan boot default anda
Comment[nb]=Sett forvalgt oppstartsoppføring
Comment[nl]=Kies jouw standaard besturingssysteem
Comment[or]=ଆପଣଙ୍କର ବୁଟ ପ୍ରବିଷ୍ଟିକୁ ଚୟନ କରନ୍ତୁ
Comment[pa]=ਆਪਣੀ ਮੂਲ ਬੂਟ ਐਂਟਰੀ ਚੁਣੋ
Comment[pl]=Wybór domyślnie uruchamianego systemu
Comment[pt]=Escolha o seu item de arranque predefinido
Comment[pt_BR]=Escolha a sua entrada de inicialização padrão
Comment[ru]=Выберите основную загрузочную запись
Comment[sk]=Vyberte predvolený zavádzaný systém
Comment[sr]=Изаберите подразумевану ставку за покретање
Comment[sr@latin]=Izaberite podrazumevanu stavku za pokretanje
Comment[sv]=Välj det startalternativ du vill använda som standard
Comment[ta]=உங்கள் முன்னிருப்பு துவக்க உள்ளீட்டை தேர்வு செய்யவும்
Comment[te]=మీ సిద్ద బూట్ ప్రవేశాన్ని ఎంచుకోండి
Comment[tr]=Varsayılan önyükleme girdisini seçiniz
Comment[uk]=Виберіть основний завантажувальний запис
Comment[zh_CN]=选择您的默认引导条目
Comment[zh_TW]=請選擇您的預設開機項目
Categories=System;Settings;
Exec=/usr/bin/system-config-boot
Terminal=false
Type=Application
Icon=system-config-boot
Encoding=UTF-8
X-Desktop-File-Install-Version=0.19
