
[Desktop Entry]
Name=Remote Desktop Viewer
Name[ar]=عارض سطوح مكتب بعيدة
Name[as]=দূৰবৰ্তী ডেস্কটপ প্ৰদৰ্শন ব্যৱস্থা
Name[ast]=Visor d'escritorios remotos
Name[be]=Праглядальнік аддаленых сталоў
Name[be@latin]=Prahladalnik addalenych stałoŭ
Name[bg]=Отдалечени работни места
Name[bn]=দূরবর্তী ডেস্কটপ প্রদর্শক
Name[bn_IN]=দূরবর্তী ডেস্কটপ প্রদর্শন ব্যবস্থা
Name[ca]=Visualitzador d'escriptoris remots
Name[ca@valencia]=Visualitzador d'escriptoris remots
Name[cs]=Prohlížeč vzdálené plochy
Name[da]=Fjernskrivebordsviser
Name[de]=Betrachter für entfernte Bildschirme
Name[el]=Σύνδεση απομακρυσμένης επιφ. εργασίας
Name[en@shaw]=𐑮𐑦𐑥𐑴𐑑 𐑛𐑧𐑕𐑒𐑑𐑪𐑐 𐑝𐑿𐑼
Name[en_GB]=Remote Desktop Viewer
Name[eo]=Vidigilo de foraj labortabloj
Name[es]=Visor de escritorios remotos
Name[et]=Kaugtöölaudade vaataja
Name[eu]=Urruneko mahaigainen ikustailea
Name[fa]=نمایش‌گر رومیزی دوردست
Name[fi]=Etätyöpöytien käyttö
Name[fr]=Visionneur de bureaux distants
Name[ga]=Amharcán Deasc Cianda
Name[gl]=Visualizador de escritorios remotos
Name[gu]=દૂરસ્થ ડેસ્કટોપ દર્શક
Name[he]=מציג שולחנות עבודה מרוחקים
Name[hi]=दूरस्थ डेस्कटॉप प्रदर्शक
Name[hu]=Távoli asztalok megjelenítése
Name[id]=Penampil Desktop Jauh
Name[it]=Visualizzatore di scrivanie remote
Name[ja]=リモートデスクトップ・ビューアー
Name[kn]=ದೂರಸ್ಥ ಗಣಕತೆರೆಗಳ ವೀಕ್ಷಕ
Name[ko]=원격 데스크톱 보기
Name[lt]=Nutolusių darbastalių rodymo programa
Name[lv]=Attālinātās darbvirsmas pārlūks
Name[mk]=Прегледувач на далечени работни површини
Name[ml]=വിദൂര പണിയിട ദര്‍ശനി
Name[mr]=दूरस्थ डेक्टॉप प्रदर्शक
Name[nb]=Visning av eksternt skrivebord
Name[nl]=Werkplek op afstand
Name[nn]=Vising av eksternt skrivebord
Name[or]=ସୁଦୂର ଡେସ୍କଟପ ଦର୍ଶକ
Name[pa]=ਰਿਮੋਟ ਡੈਸਕਟਾਪ ਦਰਸ਼ਕ
Name[pl]=Przeglądarka zdalnych pulpitów
Name[pt]=Visualizador de Área de Trabalho Remota
Name[pt_BR]=Visualizador de área de trabalho remota
Name[ro]=Vizualizare desktop la distanță
Name[ru]=Просмотр удалённых рабочих столов
Name[si]=දුරස්ථ තිර මුහුණත් දර්ශකය
Name[sk]=Zobrazovač vzdialenej pracovnej plochy
Name[sl]=Pregledovalnik oddaljenih namizij
Name[sq]=Shfaq ambiente në distancë pune
Name[sr]=Преглед удаљених радних површина
Name[sr@latin]=Pregled udaljenih radnih površina
Name[sv]=Fjärrskrivbordsklient
Name[ta]=தொலை பணிமேடை காட்டி
Name[te]=దూరస్థ రంగస్థల దర్శని
Name[th]=เครื่องมือแสดงพื้นโต๊ะระยะไกล
Name[tr]=Uzak Masaüstü Görüntüleyici
Name[ug]=يىراقتىكى ئۈستەلئۈستىنى كۆرگۈ
Name[uk]=Перегляд віддалених стільниць
Name[vi]=Bộ Xem Màn Hình Nền Từ Xa
Name[zh_CN]=远程桌面查看器
Name[zh_HK]=遠端桌面檢視器
Name[zh_TW]=遠端桌面檢視器
Comment=Access remote desktops
Comment[ar]=اتصل بسطح مكتب بعيد
Comment[as]=দূৰবৰ্তী ডেস্কটপৰ সৈতে সংযোগ কৰক
Comment[ast]=Acceder a escritorios remotos
Comment[be]=Доступ да аддаленых сталоў
Comment[be@latin]=Spałučeńnie z addalenymi stałami
Comment[bg]=Достъп до отдалечени работни места
Comment[bn]=দূরবর্তী ডেস্কটপের সাথে সংযোগ করুন
Comment[bn_IN]=দূরবর্তী ডেস্কটপের সাথে সংযোগ করুন
Comment[ca]=Accés a escriptoris remots
Comment[ca@valencia]=Accés a escriptoris remots
Comment[cs]=Přístup na vzdálené plochy
Comment[da]=Tilgå fjernskriveborde
Comment[de]=Auf entfernte Bildschirme zugreifen
Comment[el]=Πρόσβαση σε απομακρυσμένες επιφ. εργασίας
Comment[en@shaw]=𐑨𐑒𐑕𐑧𐑕 𐑮𐑦𐑥𐑴𐑑 𐑛𐑧𐑕𐑒𐑑𐑭𐑐𐑕
Comment[en_GB]=Access remote desktops
Comment[eo]=Aliro al foraj labortabloj
Comment[es]=Acceda a escritorios remotos
Comment[et]=Ligipääs kaugtöölaudadele
Comment[eu]=Sarbidetu urruneko mahaigainetara
Comment[fa]=دسترسی به میزکار دوردست
Comment[fi]=Käytä etätyöpöytiä
Comment[fr]=Accéder à des bureaux distants
Comment[ga]=Déan rochtain ar dheasca cianda
Comment[gl]=Acceso a escritorios remotos
Comment[gu]=દૂરસ્થ ડેસ્કટોપો માં પ્રવેશો
Comment[he]=גישה לשולחנות עבודה מרוחקים
Comment[hi]=दूरस्थ डेस्कटॉप की पहुँच लें
Comment[hu]=Távoli asztalok elérése
Comment[id]=Mengakses desktop jarak jauh
Comment[it]=Accede a scrivanie remote
Comment[ja]=リモートデスクトップへアクセスします
Comment[kn]=ದೂರಸ್ಥ ಗಣಕತೆರೆಗಳನ್ನು ನಿಲುಕಿಸಿಕೊಳ್ಳಿ
Comment[ko]=원격 데스크톱 접속
Comment[lt]=Junkitės prie nutolusių darbastalių
Comment[lv]=Piekļūt attālinātajām darbvirsmām
Comment[mk]=Пристап до далечени работни површини
Comment[ml]=വിദൂര പണിയിടത്തില്‍ പ്രവേശിയ്ക്കുക
Comment[mr]=दूरस्थ डेस्कटॉप करीता प्रवेश
Comment[nb]=Bruk eksternt skrivebord
Comment[nl]=Toegang tot werkplekken op afstand
Comment[nn]=Bruk eksternt skrivebord
Comment[oc]=Accedir a de burèus distants
Comment[or]=ସୁଦୂର ଡେସ୍କଟପ ଗୁଡିକୁ ଅଭିଗମ କରନ୍ତୁ
Comment[pa]=ਰਿਮੋਟ ਡੈਸਕਟਾਪ ਅਸੈੱਸ
Comment[pl]=Dostęp do zdalnych pulpitów
Comment[pt]=Aceder a áreas de trabalho remotas
Comment[pt_BR]=Acesse áreas de trabalho remotas
Comment[ro]=Accesați desktopuri la distanță
Comment[ru]=Доступ к удалённым рабочим столам
Comment[si]=දුරස්ථ තිර මුහුණත් වලට ප්‍රවේශ වන්න
Comment[sk]=Prístup k vzdialeným pracovným plochám
Comment[sl]=Dostop do oddaljenih namizij
Comment[sq]=Hyrje në ambiente në distancë pune
Comment[sr]=Приступи удаљеном рачунару
Comment[sr@latin]=Pristupi udaljenom računaru
Comment[sv]=Få åtkomst till fjärrskrivbord
Comment[ta]=தொலை பணிமேடைகளை அணுகுதல்
Comment[te]=దూరస్థ రంగస్థలములను యాక్సిస్ చేయుము
Comment[th]=เข้าใช้พื้นโต๊ะระยะไกล
Comment[tr]=Uzak masaüstüne ulaş
Comment[ug]=يىراقتىكى ئۈستەلئۈستىنى زىيارەت قىلىش
Comment[uk]=Доступ до віддалених стільниць
Comment[vi]=Truy cập đến màn hình nền từ xa
Comment[zh_CN]=访问远程桌面
Comment[zh_HK]=存取遠端桌面
Comment[zh_TW]=存取遠端桌面
Exec=vinagre %U
Icon=preferences-desktop-remote-desktop
Terminal=false
MimeType=application/x-remote-connection;x-scheme-handler/vnc;
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Network;RemoteAccess;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=vinagre
X-GNOME-Bugzilla-Component=general
X-GNOME-Bugzilla-Version=3.4.2
X-Desktop-File-Install-Version=0.19
