[Desktop Entry]
Name=Virtual Machine Manager
Name[as]=ভাৰ্চুৱেল যন্ত্ৰ পৰিচালক
Name[bg]=Мениджър на виртуални машини
Name[bn_IN]=ভার্চুয়াল মেশিন ম্যানেজার
Name[bs]=Upravljač virtualnog računala
Name[ca]=Gestor de màquines virtuals
Name[cs]=Správce virtuálních strojů
Name[da]=Administration for virtuel maskine
Name[de]=Virtual Machine Manager
Name[es]=Administrador de Máquina Virtual
Name[fi]=Virtuaalikoneiden hallitsin
Name[fr]=Gestionnaire de machine virtuelle
Name[gu]=વર્ચ્યુઅલ મશીન વ્યવસ્થાપક
Name[hi]=वर्चुअल मशीन प्रबंधक
Name[hr]=Upravljač virtualnog računala
Name[hu]=Virtuális gép igazgatója
Name[it]=Virtual Machine Manager
Name[ja]=仮想マシンマネージャー
Name[kn]=ವರ್ಚುವಲ್‌ ಗಣಕ ವ್ಯವಸ್ಥಾಪಕ
Name[ko]=가상 머신 관리자
Name[ml]=വിര്‍ച്ച്വല്‍ മഷീന്‍ മാനേജര്‍
Name[mr]=वर्च्युअल मशीन व्यवस्थापक
Name[ms]=Pengurus Mesin Maya
Name[nl]=Virtuele machine beheerder
Name[or]=ଆଭାସୀ ମେସିନ ପରିଚାଳକ
Name[pa]=ਵਰਚੁਅਲ ਮਸ਼ੀਨ ਮੈਨੇਜਰ
Name[pl]=Menedżer maszyn wirtualnych
Name[pt]=Gestor de Máquinas Virtuais
Name[pt_BR]=Gerenciador de Máquinas Virtuais
Name[ro]=Manager maşină virtuală
Name[ru]=Менеджер виртуальных машин
Name[sr]=Управник виртуелне машине
Name[sr@latin]=Upravnik virtuelne mašine
Name[sv]=Administrationsprogram för virtuella maskiner
Name[ta]=மெய்நிகர் கணினி மேலாளர்
Name[te]=వర్చ్యువల్ కంప్యూటరు నిర్వహణాధికారి
Name[uk]=Інструмент керування віртуальними машинами
Name[zh_CN]=虚拟系统管理器
Name[zh_TW]=虛擬機器管理員
Comment=Manage virtual machines
Comment[as]=ভাৰ্চুৱেল যন্ত্ৰৰ পৰিচালনা কৰক
Comment[bn_IN]=ভার্চুয়াল মেশিন পরিচালনা
Comment[ca]=Gestiona màquines virtuals
Comment[cs]=Spravovat virtuální stroje
Comment[de]=Verwalte virtuelle Maschinen
Comment[es]=Administrar máquinas virtuales
Comment[fi]=Hallitse virtuaalikoneita
Comment[fr]=Gérer les machines virtuelles
Comment[gu]=વર્ચ્યુઅલ મશીનોનું સંચાલન કરો
Comment[hi]=वर्चुअल मशीन प्रबंधित करें
Comment[hu]=Virtuális gépek kezelése
Comment[it]=Gestisci macchine virtuali
Comment[ja]=仮想マシンを管理する
Comment[kn]=ವರ್ಚುವಲ್‌ ಗಣಕವನ್ನು ನಿರ್ವಹಿಸಿ
Comment[ko]=가상 머신 관리  
Comment[ml]=വിര്‍ച്ച്വല്‍ മഷീനുകള്‍ കൈകാര്യം ചെയ്യുക
Comment[mr]=वर्च्युअल मशीन व्यवस्थापन
Comment[nl]=Virtuele machines beheren
Comment[or]=ଆଭାସୀ ଯନ୍ତ୍ରଗୁଡ଼ିକୁ ପରିଚାଳନ କରନ୍ତୁ
Comment[pa]=ਵਰਚੁਅਲ ਮਸ਼ੀਨ ਪਰਬੰਧ
Comment[pl]=Zarządzanie maszynami wirtualnymi
Comment[pt_BR]=Gerencie máquinas virtuais
Comment[ru]=Управление виртуальными машинами
Comment[sv]=Administrera virtuella maskiner
Comment[ta]=மெய்நிகர் கணினிகளை நிர்வகி
Comment[te]=వర్చ్యువల్ మిషన్లను నిర్వహిస్తుంది
Comment[uk]=Керування віртуальними машинами
Comment[zh_CN]=管理虚拟机
Comment[zh_TW]=管理虛擬機器
Icon=virt-manager
Exec=virt-manager
Type=Application
Terminal=false
Encoding=UTF-8
Categories=System;
