[Desktop Entry]
Name=Bluetooth Device Setup
Name[af]=Opstelling van Bluetooth-toestel
Name[ar]=إعداد جهاز بلوتوث
Name[as]=ব্লুটুথ ডিভাইচ সংস্থাপন
Name[be]=Настройка новага Bluetooth-прыстасавання
Name[bg]=Настройки на устройство за Bluetooth
Name[bn]=ব্লু-টুথ ডিভাইস সেটআপ
Name[bn_IN]=ব্লু-টুথ ডিভাইস প্রস্তুতি
Name[ca]=Configuració de dispositius Bluetooth
Name[ca@valencia]=Configuració de dispositius Bluetooth
Name[cs]=Nastavení zařízení Bluetooth
Name[da]=Opsætning af Bluetooth-enhed
Name[de]=Bluetooth-Gerätekonfiguraion
Name[el]=Ρύθμιση νέας συσκευής Bluetooth
Name[en_GB]=Bluetooth Device Setup
Name[eo]=Bludento-aparata agordaro
Name[es]=Configuración de dispositivo Bluetooth
Name[et]=Bluetooth-seadme häälestus
Name[eu]=Bluetooth gailuaren konfigurazioa
Name[fa]=برپاسازی دستگاه بلوتوث
Name[fi]=Bluetooth-laitteen asetukset
Name[fr]=Configuration de périphérique Bluetooth
Name[gl]=Configuración de dispositivo Bluetooth
Name[gu]=બ્લુટુથ ઉપકરણ સુયોજન
Name[he]=הגדרת התקן Bluetooth
Name[hi]=ब्लूटूथ युक्ति सेटअप
Name[hu]=Bluetooth eszköz beállítása
Name[id]=Penyetelan Perangkat Bluetooth
Name[it]=Configurazione dispositivo Bluetooth
Name[ja]=Bluetooth デバイスの設定
Name[ko]=블루투스 장치 준비
Name[ku]=Sazkirina cîhaza Bluetooth
Name[lt]=Bluetooth įrenginio sąranga
Name[lv]=Bluetooth ierīces iestatīšana
Name[mk]=Поставување на Bluetooth уред
Name[nb]=Oppsett av Bluetooth-enhet
Name[nl]=Bluetooth-apparaatvoorkeuren
Name[or]=ବ୍ଲୁଟୁଥ ଉପକରଣ ବିନ୍ୟାସ
Name[pa]=ਬਲਿਊਟੁੱਥ ਜੰਤਰ ਸੈਟਅੱਪ
Name[pl]=Ustawianie urządzenia Bluetooth
Name[pt]=Configuração de Dispositivo Bluetooth
Name[pt_BR]=Configuração de dispositivo Bluetooth
Name[ro]=Configurare dispozitiv Bluetooth
Name[ru]=Настройка устройства Bluetooth
Name[sk]=Nastavenie zariadenia Bluetooth
Name[sl]=namestitev naprav Bluetooth
Name[sr]=Подешавање Блутут уређаја
Name[sr@latin]=Podešavanje Blutut uređaja
Name[sv]=Konfiguration av blåtandsenhet
Name[ta]=ப்ளூடூத்  சாதனம் அமைப்பு
Name[te]=బ్లూటూత్ పరికరపు అమరిక
Name[th]=ตั้งค่าอุปกรณ์บลูทูท
Name[tr]=Bluetooth Aygıt Kurulumu
Name[ug]=كۆكچىش ئۈسكۈنىسىنى تەڭشەش
Name[uk]=Налаштовування пристрою Bluetooth
Name[xh]=Ummiselo wesixhobo se-Bluetooth
Name[zh_CN]=蓝牙设备设置
Name[zh_HK]=藍牙裝置設置
Name[zh_TW]=藍牙裝置設置
Name[zu]=Ukumiswa kwesisetshenziswa esisha se-Bluetooth
Comment=Setup Bluetooth devices
Comment[af]=Stel Bluetooth-toestelle op
Comment[ar]=اضبط أجهزة بلوتوث
Comment[as]=ব্লুটুথ ডিভাইচসমূহ সংস্থাপন কৰক
Comment[be]=Настройка Bluetooth-прыстасаванняў
Comment[bg]=Настройки на устройства за Bluetooth
Comment[bn]=ব্লু-টুথ ডিভাইসের সেটআপ
Comment[bn_IN]=ব্লু-টুথ ডিভাইস নির্ধারণ করুন
Comment[ca]=Configureu dispositius Bluetooth
Comment[ca@valencia]=Configureu dispositius Bluetooth
Comment[cs]=Nastavit zařízení Bluetooth
Comment[da]=Opsæt Bluetooth-enheder
Comment[de]=Bluetooth-Geräte einrichten
Comment[el]=Ρύθμιση συσκευών Bluetooth
Comment[en_GB]=Setup Bluetooth devices
Comment[eo]=Agordi Bludento-aparatoj
Comment[es]=Configurar dispositivos Bluetooth
Comment[et]=Bluetooth-seadmete häälestamine
Comment[eu]=Konfiguratu Bluetooth gailuak
Comment[fa]=دستگاه بلوتوث را برپاسازی کنید
Comment[fi]=Muuta Bluetooth-laitteiden asetuksia
Comment[fr]=Configurer des périphériques Bluetooth
Comment[gl]=Configurar dispositivo Bluetooth
Comment[gu]=બ્લુટુથ ઉપકરણોનું સુયોજન
Comment[he]=הגדרת התקני Bluetooth
Comment[hi]=ब्लूटूथ युक्ति सेटअप करें
Comment[hu]=Bluetooth eszközök beállítása
Comment[id]=Menyetel perangkat Bluetooth
Comment[it]=Imposta i dispositivi Bluetooth
Comment[ja]=Bluetooth デバイスを設定
Comment[ko]=블루투스 장치를 준비합니다
Comment[ku]=Sazkirina cîhazên Bluetooth
Comment[lt]=Bluetooth įrenginių nustatymas
Comment[lv]=Iestatīt Bluetooth ierīci
Comment[mk]=Постави Bluetooth уреди
Comment[nb]=Sett opp Bluetooth-enheter
Comment[nl]=Bluetooth-apparaten instellen
Comment[or]=ବ୍ଲୁଟୁଥ ଉପକରଣଗୁଡ଼ିକୁ ବ୍ୟବସ୍ଥା କରନ୍ତୁ
Comment[pa]=ਬਲਿਊਟੁੱਥ ਜੰਤਰ ਸੈਟਅੱਪ
Comment[pl]=Ustawianie urządzeń Bluetooth
Comment[pt]=Configurar dispositivos Bluetooth
Comment[pt_BR]=Configura dispositivos Bluetooth
Comment[ro]=Configurare dispozitive Bluetooth
Comment[ru]=Настроить устройство Bluetooth
Comment[sk]=Nastaviť zariadenia Bluetooth
Comment[sl]=Namestitev naprav Bluetooth
Comment[sr]=Подесите Блутут уређаје
Comment[sr@latin]=Podesite Blutut uređaje
Comment[sv]=Konfigurera blåtandsenheter
Comment[ta]=ப்ளூடூத் சாதனங்களை அமை
Comment[te]=బ్లూటూత్ పరికరాలను అమర్చు
Comment[th]=ตั้งค่าอุปกรณ์บลูทูท
Comment[tr]=Bluetooth aygıtı kur
Comment[ug]=كۆكچىش ئۈسكۈنلىرىنى تەڭشە
Comment[uk]=Налаштувати пристрої Bluetooth
Comment[xh]=Ummiselo wesixhobo se-Bluetooth
Comment[zh_CN]=蓝牙设备
Comment[zh_HK]=設置藍牙裝置
Comment[zh_TW]=設置藍牙裝置
Comment[zu]=Misa izisetshenziswa ze-Bluetooth ezisha
Icon=bluetooth
Exec=bluetooth-wizard
Terminal=false
Type=Application
Categories=GTK;GNOME;
StartupNotify=true
NoDisplay=true
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-bluetooth
X-GNOME-Bugzilla-Component=wizard
X-GNOME-Bugzilla-Version=3.4.0
