[Desktop Entry]
Version=1.0

Name=Backup
Name[ast]=Copia de seguridá
Name[bg]=Резезрно копие
Name[ca]=Còpia de seguretat
Name[ca@valencia]=Còpia de seguretat
Name[cs]=Záloha
Name[da]=Sikkerhedskopi
Name[de]=Datensicherung
Name[el]=Αντίγραφο ασφαλείας
Name[en_AU]=Backup
Name[en_GB]=Backup
Name[eo]=Sekurkopio
Name[es]=Copia de seguridad
Name[eu]=Babeskopia
Name[fa]=پشتیبان گیری
Name[fi]=Varmuuskopiointi
Name[fo]=Trygdarrit
Name[fr]=Sauvegarder
Name[gl]=Copia de respaldo
Name[hr]=Sigurnosno kopiranje
Name[hu]=Biztonsági mentés
Name[id]=Backup
Name[io]=Sekurkopiuro
Name[it]=Backup
Name[ja]=バックアップ
Name[ko]=베껴두기
Name[lt]=Atsarginė kopija
Name[lv]=Dublēt
Name[ms]=Sandar
Name[nb]=Sikkerhetskopier
Name[nl]=Back-up
Name[oc]=Salvament
Name[pl]=Kopia zapasowa
Name[pt]=Cópia de segurança
Name[pt_BR]=Cópia de segurança
Name[ru]=Резервное копирование
Name[sk]=Zálohovanie
Name[sl]=Ustvari varnostno kopijo
Name[sq]=Backup (kopje)
Name[sv]=Säkerhetskopiera
Name[ta]=காப்பு
Name[te]=బ్యాక్అప్
Name[th]=สำรองข้อมูล
Name[tr]=Yedek
Name[ug]=زاپاسلا
Name[uk]=Резервне збереження
Name[vi]=Sao lưu
Name[zh_CN]=备份
Name[zh_HK]=備份
Name[zh_TW]=備份
Comment=Change your backup settings
Comment[ar]=تغيير إعدادات نسختك الأحتياطية
Comment[bg]=Промяна настройките на резервните копия
Comment[ca]=Canvia les preferències de les còpies de seguretat
Comment[ca@valencia]=Canvia les preferències de les còpies de seguretat
Comment[cs]=Změnit nastavení zálohování
Comment[da]=Rediger dine indstillinger for sikkerhedskopiering
Comment[de]=Wählen Sie Ihre Datensicherungsoptionen
Comment[el]=Αλλαγή ρυθμίσεων των αντιγράφων ασφαλείας σας
Comment[en_AU]=Change your backup settings
Comment[en_GB]=Change your backup settings
Comment[eo]=Ŝanĝi viajn sekurkopiajn agordojn
Comment[es]=Cambie las configuraciones de copiado de seguridad
Comment[eu]=Aldatu zure babeskopia-ezarpenak
Comment[fa]=تنظیمات پشتیبان گیری را تغییر دهید.
Comment[fi]=Muuta varmuuskopioinnin asetuksia
Comment[fo]=Broyt tínar trygdarritingar innstillingar
Comment[fr]=Modifiez votre configuration de sauvegarde
Comment[gl]=Cambiar as configuracións de respaldo
Comment[he]=שינוי הגדרות הגיבוי שלך
Comment[hr]=Promjenite vaše postavke sigurnosne kopije
Comment[hu]=Biztonsági mentés beállításainak módosítása
Comment[id]=Ubah seting backup anda
Comment[it]=Cambia impostazioni di backup
Comment[ja]=バックアップの設定を変更します
Comment[ko]=베껴두는 설정 바꾸기
Comment[lt]=Keisti atsarginių kopijų nuostatas
Comment[lv]=Mainīt dublēšanas iestatījumus
Comment[ms]=Ubah tetapan sandar anda
Comment[nb]=Endre instillinger for sikkerhetskopiering
Comment[nl]=Back-upinstellingen wijzigen
Comment[nn]=Endre innstillingane for tryggleikskopiering
Comment[pl]=Zmiana ustawień kopii zapasowych
Comment[pt_BR]=Altere suas configurações de cópia de segurança
Comment[ru]=Изменить параметры резервного копирования
Comment[sk]=Zmení nastavenia zálohovania
Comment[sl]=Spremeni nastavitve varnostnih kopij
Comment[sv]=Ändra inställningar för dina säkerhetskopior
Comment[ta]=உங்கள் காப்பு அமைப்புகளை மாற்றவும்
Comment[te]=మీ బ్యాక్అప్ అమరికలను మార్చండి
Comment[th]=แก้ไขการตั้งค่าการสำรองข้อมูลของคุณ
Comment[tr]=Yedekleme ayarlarınızı değiştirin
Comment[uk]=Змінити параметри резервного копіювання
Comment[vi]=Thay đổi thiết lập sao lưu của bạn
Comment[zh_CN]=更改您的备份设置
Comment[zh_HK]=變更您的備份設定值
Comment[zh_TW]=變更您的備份設定值

Icon=deja-dup
TryExec=deja-dup-preferences
Exec=deja-dup-preferences

StartupNotify=true

Type=Application
Categories=GNOME;GTK;System;Archiving;Utility;Settings;X-GNOME-SystemSettings;

# Translators: Add whatever keywords you want in your language, separated by semicolons
# These keywords are used when searching for applications in dashes, etc.
X-GNOME-Keywords=déjà;deja;dup;
X-GNOME-Keywords[ca@valencia]=déjà;deja;dup;
X-GNOME-Keywords[cs]=déjà;deja;dup;
X-GNOME-Keywords[da]=déjà;deja;dup;
X-GNOME-Keywords[de]=déjà;deja;dup;backup;datensicherung;
X-GNOME-Keywords[en_AU]=déjà;deja;dup;
X-GNOME-Keywords[en_GB]=déjà;deja;dup;
X-GNOME-Keywords[eo]=déjà;deja;dup;
X-GNOME-Keywords[es]=déjà;deja;dup;
X-GNOME-Keywords[eu]=déjà;deja;dup;
X-GNOME-Keywords[fa]=déjà;deja;dup;
X-GNOME-Keywords[fi]=déjà;deja;dup;
X-GNOME-Keywords[fo]=déjà;deja;dup;
X-GNOME-Keywords[fr]=déjà;deja;dup;
X-GNOME-Keywords[gl]=déjà;deja;dup;
X-GNOME-Keywords[hu]=déjà;deja;dup;
X-GNOME-Keywords[id]=déjà;deja;dup;
X-GNOME-Keywords[io]=déjà;deja;dup;
X-GNOME-Keywords[it]=déjà;deja;dup;
X-GNOME-Keywords[ja]=déjà;deja;dup;
X-GNOME-Keywords[ko]=déjà;deja;dup;데자둡;베껴두기
X-GNOME-Keywords[lt]=déjà;deja;dup;
X-GNOME-Keywords[lv]=déjà;deja;dup;deža;dublēt;rezerves
X-GNOME-Keywords[ms]=déjà;deja;dup;
X-GNOME-Keywords[nl]=déjà;deja;dup;
X-GNOME-Keywords[oc]=déjà;deja;dup;
X-GNOME-Keywords[pl]=déjà;deja;dup;
X-GNOME-Keywords[pt_BR]=déjà;deja;dup;
X-GNOME-Keywords[ru]=déjà;deja;dup;дежа;дап;дуп
X-GNOME-Keywords[sk]=déjà;deja;dup;zaloha;záloha;zálohovanie;zalohovanie;
X-GNOME-Keywords[sl]=déjà;deja;dup;varnostna;kopija;arhiv
X-GNOME-Keywords[sv]=déjà;deja;dup;
X-GNOME-Keywords[th]=déjà;deja;dup;
X-GNOME-Keywords[tr]=déjà;deja;dup;
X-GNOME-Keywords[uk]=déjà;deja;dup;
X-GNOME-Keywords[zh_CN]=déjà;deja;dup;备份;
X-GNOME-Keywords[zh_HK]=déjà;deja;dup;備份
X-GNOME-Keywords[zh_TW]=déjà;deja;dup;備份

X-AppInstall-Ignore=true
X-Ayatana-Desktop-Shortcuts=X-BackUpNow;

[X-BackUpNow Shortcut Group]
Name=Back Up Now
Name[bg]=Създаване на резервно копие
Name[ca@valencia]=Fes una còpia de seguretat
Name[cs]=Zálohovat nyní
Name[da]=Sikkerhedskopiér nu
Name[de]=Jetzt Datensicherung erstellen
Name[el]=Δημιουργία Αντιγράφων Ασφαλείας Τώρα
Name[en_AU]=Back Up Now
Name[en_GB]=Back Up Now
Name[eo]=Sekurkopii nun
Name[es]=Respaldar ahora
Name[eu]=Egin babeskopia orain
Name[fa]=هم‌اکنون پشتیبان بگیر
Name[fi]=Varmuuskopioi nyt
Name[fo]=Trygdarrita nú
Name[fr]=Sauvegarder maintenant
Name[gl]=Facer copia de respaldo agora
Name[hr]=Izradi sigurnsnu kopiju odmah
Name[hu]=Biztonsági mentés most
Name[id]=Backup Sekarang
Name[it]=Esegui backup ora
Name[ja]=今すぐバックアップ
Name[ko]=지금 베껴두기
Name[lt]=Daryti atsarginę kopiją dabar
Name[lv]=Dublēt tagad
Name[ms]=Sandar Sekarang
Name[nl]=Nu back-up maken
Name[oc]=Salvar ara
Name[pl]=Wykonaj kopię zapasową
Name[pt_BR]=Cópia de segurança agora
Name[ru]=Создать резервную копию
Name[sk]=Zálohovať teraz
Name[sl]=Ustvari varnostno kopijo
Name[sv]=Säkerhetskopiera nu
Name[ta]=இப்பொழுது காப்புச் செய்
Name[th]=สำรองข้อมูลเดี๋ยวนี้
Name[tr]=Şimdi Yedekle
Name[uk]=Створити резервну копію
Name[vi]=Sao lưu ngay
Name[zh_CN]=立即备份
Name[zh_HK]=立刻備份
Name[zh_TW]=立刻備份
Exec=deja-dup --backup
TargetEnvironment=Unity
