[Desktop Entry]
Name=FreeCell Solitaire
Name[af]=FreeCell-patience
Name[ar]=سوليتير الخانة الحرة
Name[as]=ফ্ৰীসেল সলিটেয়াৰ
Name[ast]=Solitariu FreeCell
Name[az]=FreeCell Solitaire
Name[be]=Пасьянс FreeCell
Name[bg]=Пасианс „Свободна клетка“
Name[bn]=ফ্রি-সেল সলিটেয়ার
Name[bn_IN]=ফ্রি-সেল সলিটেয়ার
Name[ca]=Solitari del FreeCell
Name[ca@valencia]=Solitari del FreeCell
Name[cs]=Solitér FreeCell
Name[cy]=Gêm Amynedd FreeCell
Name[da]=Napoleon
Name[de]=FreeCell Solitaire
Name[dz]=ཕིརི་སེལ་ སོ་ལི་ཊེར།
Name[el]=Πασιέντζα FreeCell
Name[en_CA]=FreeCell Solitaire
Name[en_GB]=FreeCell Solitaire
Name[eo]=FreeCell-paciencludo
Name[es]=Solitario FreeCell
Name[et]=Kaardiladumismäng FreeCell
Name[eu]=FreeCell bakar-jokoa
Name[fa]=بازی یک نفره‌ی فری‌سل
Name[fi]=Vapaakenttä-pasianssi
Name[fr]=Solitaire FreeCell
Name[ga]=Cluiche Aonair FreeCell
Name[gl]=Solitario FreeCell
Name[gu]=FreeCell Solitaire
Name[he]=פריסל סוליטר
Name[hi]=फ्रीसेल सॉलिटेयर
Name[hr]=FreeCell Pasijans
Name[hu]=FreeCell pasziánsz
Name[id]=FreeCell Solitaire
Name[is]=FreeCell kapall
Name[it]=Gioco FreeCell
Name[ja]=フリーセル・ソリティア
Name[kn]=ಫ್ರೀಸೆಲ್ ಸಾಲಿಟೇರ್
Name[ko]=프리셀 솔리테어
Name[lt]=FreeCell pasjansas
Name[lv]=FreeCell Solitaire
Name[mai]=फ्रीसेल सॉलिटेयर
Name[mk]=FreeCell Solitaire
Name[ml]=ഫ്രീസെല്‍ സോളിറ്റെയര്‍
Name[mn]=Нүд чөлөөлөх хөзөр
Name[mr]=फ्रिसेल सॉलीटेयर
Name[ms]=Solitaire FreeCell
Name[nb]=FreeCell Solitaire
Name[ne]=फ्रिसेल सोलिटेइर
Name[nl]=FreeCell Solitaire
Name[nn]=FreeCell-kabal
Name[oc]=Solitari FreeCell
Name[or]=ମୁକ୍ତକୋଷ ସଲିଟେଯାର
Name[pa]=ਫਰੀਸੈੱਲ ਸੋਲੀਟਾਇਰ
Name[pl]=Pasjans FreeCell
Name[pt]=Solitário FreeCell
Name[pt_BR]=FreeCell
Name[ro]=Solitaire FreeCell
Name[ru]=Пасьянс Свободная ячейка
Name[sk]=Solitér FreeCell
Name[sl]=Pasjansa Freecell
Name[sq]=Loja FreeCell
Name[sr]=Игра Ослобађања поља
Name[sr@latin]=Igra Oslobađanja polja
Name[sv]=Napoleon på S:t Helena-patiens
Name[ta]=இலவசகளம் சாலிடேர்
Name[te]=ఫ్రీసెల్ సొలిటైర్ పేకాట
Name[th]=ถอดไพ่ FreeCell
Name[tr]=Yedekli İskambil Falı
Name[ug]=FreeCell Solitaire
Name[uk]=Пасьянс «Вільна комірка»
Name[vi]=Solitaire FreeCell
Name[wa]=Li cwårdjeu di Freecell
Name[xh]=I-FreeCell Solitaire
Name[zh_CN]=空当接龙
Name[zh_HK]=FreeCell 啤牌接龍遊戲
Name[zh_TW]=FreeCell 紙牌接龍遊戲
Comment=Play the popular FreeCell card game
Comment[af]=Speel die gewilde FreeCell-kaartspel
Comment[ar]=العب لعبة الخانة الحرة الشعبية
Comment[as]=জনপ্ৰিয় ফ্ৰীসেল খেলাটি খেলক
Comment[ast]=Xuega al conocíu xuegu de cartes FreeCell
Comment[az]=Məşhur FreeCell kart oyununu oynayın
Comment[be]=Папулярная картачная гульня FreeCell
Comment[bg]=Популярната игра „Свободна клетка“
Comment[bn]=জনপ্রিয় ফ্রি-সেল তাসের খেলা খেলুন
Comment[bn_IN]=জনপ্রিয় ফ্রি-সেল তাসের খেলা খেলুন
Comment[ca]=Juga al popular joc de cartes del FreeCell
Comment[ca@valencia]=Juga al popular joc de cartes del FreeCell
Comment[cs]=Hrát populární karetní hru FreeCell
Comment[cy]=Chwarae'r gêm cardiau poblogaidd FreeCell
Comment[da]=Spil den populære kabale Napoleon
Comment[de]=Das populäre Kartenspiel FreeCell spielen
Comment[dz]=ཡོངས་གྲགས་ཅན་གྱི་ ཕིརི་སེལ་ ཏ་སེའི་རྩེདམོ་རྩེ།
Comment[el]=Παίξτε το δημοφιλές παιχνίδι χαρτιών FreeCell 
Comment[en_CA]=Play the popular FreeCell card game
Comment[en_GB]=Play the popular FreeCell card game
Comment[eo]=Ludi la popularan kartludon FreeCell
Comment[es]=Juegue al popular juego de cartas FreeCell
Comment[et]=Populaarse FreeCell kaardiladumismängu mängimine
Comment[eu]=Jolastu FreeCell karta-joko ezagunera
Comment[fa]=شروع بازی کارتی پرطرفدار فری سل 
Comment[fi]=Pelaa suosittua Vapaakenttä-pasianssia
Comment[fr]=Jouer au jeu de cartes populaire Freecell
Comment[ga]=Imir an cluiche cártaí móréilimh FreeCell
Comment[gl]=Xogue ao popular xogo de cartas FreeCell
Comment[gu]=લોકપ્રિય ફ્રી સૅલ પત્તાની રમત રમો
Comment[he]=שחק במשחק הקלפים הפופולרי פריסל
Comment[hi]=लोकप्रिय ताश का खेल फ्रीसेल खेलें
Comment[hr]=Igraj popularnu kartašku igru FreeCell
Comment[hu]=A népszerű FreeCell kártyajáték
Comment[id]=Mainkan permainan kartu FreeCell yang populer
Comment[is]=Spilaðu hið vinsæla spil FreeCell
Comment[it]=Gioca il popolare solitario FreeCell
Comment[ja]=有名なフリーセル・カード・ゲームをお楽しみください
Comment[kn]=ಜನಪ್ರಿಯ ಫ್ರೀಸೆಲ್ ಇಸ್ಪೀಟು ಆಟವನ್ನು ಆಡು
Comment[ko]=유명한 프리셀 카드 게임
Comment[lt]=Žaiskite populiarųjį FreeCell kortų žaidimą
Comment[lv]=Spēlēt populāro FreeCell kāršu spēli
Comment[mai]=लोकप्रिय तास क' खेल फ्रीसेल खेलू
Comment[mk]=Играјте ја популарната игра со карти FreeCell.
Comment[ml]=പ്രസിദ്ധമായ ഫ്രീസെല്‍ ചീട്ട് കളി കളിക്കുക
Comment[mn]=Түгээмэл нүд чөлөөлөх хөзрийн тоглоом тоглох
Comment[mr]=प्रसिद्ध फ्रिसेल हा पत्त्यांचा खेळ खेळा
Comment[ms]=Main permainan kad popular FreeCell
Comment[nb]=Spill det populære kortspillet FreeCell
Comment[ne]=तासको प्रसिद्ध फ्रिसेल खेल खेल्नुहोस्
Comment[nl]=Het populaire FreeCell kaartspel
Comment[nn]=Spel den populære FreeCell-kabalen
Comment[oc]=Jogatz a Freecell, lo jòc de cartas popular
Comment[or]=ଲୋକପ୍ରିଯ ମୁକ୍ତ କୋଷ କାର୍ଡ ଖେଳ ଖେଳନ୍ତୁ 
Comment[pa]=ਹਰਮਨ-ਪਿਆਰੀ ਫਰੀਸੈੱਲ ਤਾਸ਼ ਖੇਡ ਖੇਡੋ
Comment[pl]=Popularna gra karciana FreeCell
Comment[pt]=Jogar a popular paciência FreeCell
Comment[pt_BR]=Jogue o popular jogo de cartas FreeCell
Comment[ro]=Jucați popularul joc de cărți FreeCell
Comment[ru]=Сыграйте в популярный карточный пасьянс Свободная ячейка
Comment[sk]=Hrať populárnu kartovú hru FreeCell
Comment[sl]=Igrajte priljubljeno igro s kartami FreeCell
Comment[sq]=Luaj lojën e famshme të letrave FreeCell
Comment[sr]=Играј популарну карташку игру Ослобађања поља.
Comment[sr@latin]=Igraj popularnu kartašku igru Oslobađanja polja.
Comment[sv]=Spela det populära patienskortspelet Napoleon på S:t Helena
Comment[ta]=பிறபலமான இலவசகளம் சீட்டு விளையாட்டை விளையாடு
Comment[te]=సుపరిచితమైన ఫ్రీసెల్ పేకాటను ఆడు
Comment[th]=เล่น FreeCell เกมถอดไพ่ยอดนิยม
Comment[tr]=Meşhur Yedekli İskambil Falı oyununu oynayın
Comment[uk]=Ще одна реалізація популярного пасьянсу.
Comment[vi]=Đánh bài FreeCell phổ thông
Comment[xh]=Dlala umdlalo wamakhadi oqhelekileyo i-FreeCell
Comment[zh_CN]=玩流行的空当接龙纸牌游戏
Comment[zh_HK]=玩受歡迎的 FreeCell 啤牌接龍遊戲
Comment[zh_TW]=玩受歡迎的 FreeCell 紙牌接龍遊戲
Exec=sol --freecell
Icon=gnome-freecell
NoDisplay=true
Terminal=false
Type=Application
Categories=GNOME;GTK;Game;CardGame;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=aisleriot
X-GNOME-Bugzilla-Component=Zwischenlager
X-GNOME-Bugzilla-Version=3.2.3.2
StartupNotify=true
