[Desktop Entry]
Name=Documents
Name[af]=Dokumente
Name[ar]=المستندات
Name[as]=দস্তাবেজসমূহ
Name[be]=Дакументы
Name[bg]=Документи
Name[ca]=Documents
Name[ca@valencia]=Documents
Name[cs]=Dokumenty
Name[da]=Dokumenter
Name[de]=Dokumentverwaltung
Name[en_GB]=Documents
Name[eo]=Dokumentoj
Name[es]=Documentos
Name[et]=Dokumendid
Name[eu]=Dokumentuak
Name[fa]=سندها
Name[fi]=Asiakirjat
Name[fr]=Documents
Name[gl]=Documentos
Name[gu]=દસ્તાવેજો
Name[he]=מסמכים
Name[hi]=दस्तावेज़
Name[hu]=Dokumentumok
Name[id]=Dokumen
Name[it]=Documenti
Name[ja]=Documents
Name[kn]=ದಸ್ತಾವೇಜುಗಳು
Name[ko]=문서
Name[lt]=Dokumentai
Name[lv]=Dokumenti
Name[mk]=Документи
Name[ml]=ഗ്രന്ഥങ്ങള്‍
Name[mr]=दस्तऐवज
Name[nb]=Dokumenter
Name[nl]=Documenten
Name[or]=ଦଲିଲଗୁଡିକ
Name[pa]=ਡੌਕੂਮੈਂਟ
Name[pl]=Dokumenty
Name[pt]=Documentos
Name[pt_BR]=Documentos
Name[ru]=Документы
Name[sk]=Dokumenty
Name[sl]=Dokumenti
Name[sr]=Документи
Name[sr@latin]=Dokumenti
Name[sv]=Dokument
Name[ta]=ஆவணங்கள்
Name[te]=పత్రాలు
Name[th]=เอกสาร
Name[tr]=Belgeler
Name[ug]=پۈتۈكلەر
Name[uk]=Документи
Name[vi]=Tài liệu
Name[xh]=Amaxwebhu
Name[zh_CN]=文档
Name[zh_HK]=文件
Name[zh_TW]=文件
Comment=Access, manage and share documents
Comment[af]=Bekyk, bestuur en deel dokumente
Comment[ar]=الوصول للمستندات وإدارتها ومشاركتها
Comment[as]=দস্তাবেজসমূহ অভিগম, ব্যৱস্থাপনা আৰু অংশীদাৰী কৰক
Comment[be]=Праца, кіраванне і супольны доступ да дакументаў
Comment[bg]=Преглед, управление и споделяне на документи
Comment[ca]=Accediu, gestioneu i compartiu documents
Comment[ca@valencia]=Accediu, gestioneu i compartiu documents
Comment[cs]=Přístup k dokumentům, jejich správa a sdílení
Comment[da]=Tilgå, håndtér og del dokumenter
Comment[de]=Auf Dokumente zugreifen, verwalten und freigeben
Comment[en_GB]=Access, manage and share documents
Comment[eo]=Aliri, administri kaj kunhavigi dokumentojn
Comment[es]=Acceder, gestionar y compartir documentos
Comment[et]=Dokumentide haldus ja jagamine
Comment[eu]=Atzitu, kudeatu eta partekatu dokumentuak
Comment[fa]=دسترسی، مدیریت و اشتراک‌گذاری سندها
Comment[fi]=Käytä, hallitse ja jaa asiakirjoja
Comment[fr]=Accéder, gérer et partager ses documents
Comment[gl]=Acceder, xestionar e compartir documentos
Comment[gu]=દસ્તાવેજોને વાપરો, સંચાલિત અને વહેંચો
Comment[he]=גישה, ניהול ושיתוף של מסמכים
Comment[hi]=दस्तावेज का अभिगम, प्रबंधन और साझा करता है
Comment[hu]=Dokumentumok elérése, kezelése és megosztása
Comment[id]=Akses, kelola, dan berbagi dokumen
Comment[it]=Accede, gestisce e condivide documenti
Comment[ja]=ドキュメントへのアクセス、管理、そして共有
Comment[kn]=ದಸ್ತಾವೇಜುಗಳನ್ನು ನಿಲುಕಿಸಿಕೊಳ್ಳಿ, ವ್ಯವಸ್ಥಾಪಿಸಿ ಮತ್ತು ಹಂಚಿಕೊಳ್ಳಿ
Comment[ko]=문서를 접근, 관리하고 공유합니다
Comment[lt]=Prieikite, tvarkykite ir bendrinkite dokumentus
Comment[lv]=Piekļūt dokumentiem, pārvaldīt un koplietot tos
Comment[mk]=Пристапи, менаџирај и споделувај документи
Comment[ml]=ആധാരങ്ങലിലേയ്ക്ക് പ്രവേശിക്കുക, കൈകാര്യംചെയ്യുക, പങ്കിടുക
Comment[mr]=दस्तऐवजकरीता प्रवेश, व्यवस्थापन व एकत्र वापर
Comment[nb]=Aksesser, håndter og del dokumenter
Comment[nl]=Documenten gebruiken, beheren en delen
Comment[or]=ଦଲିଲଗୁଡ଼ିକୁ ଅଭିଗମ୍ୟ କରନ୍ତୁ, ପରିଚାଳନା କରନ୍ତୁ ଏବଂ ସହଭାଗ କରନ୍ତୁ
Comment[pa]=ਡੌਕੂਮੈਂਟ ਵਰਤੋਂ, ਪਰਬੰਧ ਕਰੋ ਅਤੇ ਸਾਂਝੇ ਕਰੋ
Comment[pl]=Dostęp, zarządzanie i współdzielenie dokumentów
Comment[pt]=Aceder, gerir e partilhar documentos
Comment[pt_BR]=Acesse, gerencie e compartilhe documentos
Comment[ru]=Управление и предоставление доступа к документам
Comment[sk]=Prístup, správa a zdieľanie dokumentov
Comment[sl]=Upravljanje, dostop in souporaba dokumentov
Comment[sr]=Приступите, управљајте и делите документе
Comment[sr@latin]=Pristupite, upravljajte i delite dokumente
Comment[sv]=Kom åt, hantera och dela dokument
Comment[ta]=ஆவணங்களை அணுகு, மேலாளு, பகிர்
Comment[te]=పత్రాలను వాడుకోండి, నిర్వహించండి మరియు పంచుకోండి
Comment[th]=เข้าถึง จัดการ และแบ่งปันเอกสาร
Comment[tr]=Belgelerinize erişin, yönetin ve paylaşın
Comment[ug]=پۈتۈكلەرنى زىيارەت قىلىدۇ، باشقۇرىدۇ ۋە ھەمبەھىر قىلىدۇ
Comment[uk]=Доступ, впорядкування і оприлюднення документів
Comment[vi]=Truy cập, quản lý và chia sẻ tài liệu
Comment[xh]=Ngena, lawula kwaye wabelane ngamaxwebhu
Comment[zh_CN]=访问，管理以及分享文档
Comment[zh_HK]=存取、管理、分享文件
Comment[zh_TW]=存取、管理、分享文件
Exec=gnome-documents %U
Icon=gnome-documents
Terminal=false
Type=Application
StartupNotify=true
OnlyShowIn=GNOME;
Categories=GNOME;GTK;Utility;Core;
Keywords=Docs;PDF;Document;
Keywords[ar]=مستندات;المستندات;بي دي اف;
Keywords[as]=দস্তাবেজসমূহ;PDF;দস্তাবেজ;
Keywords[be]=Дакументы;PDF;
Keywords[bg]=Документи;PDF;
Keywords[ca]=Documents;PDF;Document;
Keywords[ca@valencia]=Documents;PDF;Document;
Keywords[cs]=PDF;Dokument;
Keywords[da]=Docs;PDF;Dokument;
Keywords[de]=PDF;Dokumente;
Keywords[en_GB]=Docs;PDF;Document;
Keywords[es]=Documentos;PDF;Documento;
Keywords[et]=Dokumendid;Dokument;PDF;
Keywords[eu]=Dokumentuak;PDF;Dokumentua;
Keywords[fa]=Docs;PDF;سند;
Keywords[fi]=Asiakirjat;PDF;asiakirja;dokumentti;dokumentit;
Keywords[fr]=Doc;Documents;PDF;
Keywords[gl]=Documentos;PDF;Documento;
Keywords[gu]=Docs;PDF;દસ્તાવેજ;
Keywords[he]=מסמכים;PDF;מסמך;
Keywords[hi]=डॉक्स;पीडीएफ;दस्तावेज़;
Keywords[hu]=Dokumentum;PDF;Doksi;
Keywords[id]=Docs;PDF;Document;
Keywords[it]=Documenti;PDF;Doc;
Keywords[ja]=Docs;PDF;Document;文書;ドキュメント;
Keywords[kn]=Docs;PDF;ದಸ್ತಾವೇಜು;
Keywords[ko]=Docs;PDF;Document;
Keywords[lt]=Dokumentai;PDF;Dokumentas;
Keywords[lv]=Dokuments;PDF;
Keywords[mr]=डॉक्स;PDF;दस्तऐवज;
Keywords[nb]=Dokumentasjon;PDF;Dokument;
Keywords[pa]=ਡੌਕੂਮੈਂਟ;PDF,ਦਸਤਾਵੇਜ਼;
Keywords[pl]=Docs;PDF;Dokument;
Keywords[pt]=Documento;PDF;Docs;
Keywords[pt_BR]=Docs;PDF;Documento;
Keywords[ru]=Документы;PDF;Документ;
Keywords[sl]=Doc;PDF;Dokumenti;Word;
Keywords[sr]=Документација;ПДФ;Документи;
Keywords[sr@latin]=Dokumentacija;PDF;Dokumenti;
Keywords[sv]=Dok;PDF;Dokument;
Keywords[te]=పత్రాలు;పిడియఫ్;పత్రం;
Keywords[uk]=Доки;PDF;Документ;
Keywords[vi]=Docs;Tài;liệu;PDF;Document;
Keywords[zh_CN]=Docs;PDF;Document;文件;文档;
Keywords[zh_HK]=文件;PDF;Docs;Document;
Keywords[zh_TW]=文件;PDF;Docs;Document;
