
[Desktop Entry]
Name=User Accounts
Name[af]=Gebruikerrekeninge
Name[ar]=حسابات المستخدمين
Name[as]=ব্যৱহাৰকাৰী একাওন্টসমূহ
Name[ast]=Cuentes d'usuariu
Name[be]=Конты карыстальнікаў
Name[bg]=Потребителски регистрации
Name[bn]=ব্যবহারকারীর একাউন্ট
Name[ca]=Comptes d'usuari
Name[ca@valencia]=Comptes d'usuari
Name[crh]=Qullanıcı Hesapları
Name[cs]=Uživatelské účty
Name[da]=Brugerkonti
Name[de]=Benutzerkonten
Name[el]=Λογαριασμοί χρηστών
Name[en_GB]=User Accounts
Name[eo]=Uzantokontoj
Name[es]=Cuentas de usuario
Name[et]=Kasutajakontod
Name[eu]=Erabiltzaileen kontuak
Name[fa]=حساب‌های کاربر
Name[fi]=Käyttäjätilit
Name[fr]=Comptes utilisateur
Name[ga]=Cuntais Úsáideora
Name[gl]=Contas de usuario
Name[gu]=વપરાશકર્તા ખાતાઓ
Name[he]=חשבונות משתמשים
Name[hi]=उपयोक्ता खाता
Name[hu]=Felhasználói fiókok
Name[id]=Akun Pengguna
Name[it]=Account utente
Name[ja]=ユーザーアカウント
Name[kk]=Пайдаланушы тіркелгілері
Name[kn]=ಬಳಕೆದಾರ ಖಾತೆಗಳು
Name[ko]=사용자 계정
Name[ku]=Hesabên bikarhêner
Name[lt]=Naudotojų paskyros
Name[lv]=Lietotāju konti
Name[mk]=Кориснички сметки
Name[mr]=वापरकर्ता खाते
Name[nb]=Brukerkontoer
Name[nl]=Gebruikersaccount
Name[nn]=Brukarkontoar
Name[or]=ଚାଳକ ଖାତା
Name[pa]=ਯੂਜ਼ਰ ਅਕਾਊਂਟ
Name[pl]=Konta użytkowników
Name[pt]=Contas de Utilizadores
Name[pt_BR]=Contas de usuários
Name[ro]=Conturi utilizatori
Name[ru]=Учётные записи пользователей
Name[sk]=Používateľské účty
Name[sl]=Uporabniški računi
Name[sr]=Кориснички налози
Name[sr@latin]=Korisnički nalozi
Name[sv]=Användarkonton
Name[ta]=பயனர் கணக்குகள்
Name[te]=వాడుకరి ఖాతాలు
Name[th]=บัญชีผู้ใช้
Name[tr]=Kullanıcı Hesapları
Name[ug]=ئىشلەتكۈچى ھېساباتى
Name[uk]=Облікові записи
Name[vi]=Tài khoản người dùng
Name[zh_CN]=用户账户
Name[zh_HK]=使用者帳號
Name[zh_TW]=使用者帳號
Comment=Add or remove users
Comment[af]=Byvoeg of skrap van gebruikers
Comment[ar]=أضف أو احذف مستخدمين
Comment[as]=ব্যৱহাৰকাৰীসমূহ যোগ কৰক বা আতৰাওক
Comment[ast]=Amestar o quitar usuarios
Comment[be]=Дадаць ці выдаліць карыстальнікаў
Comment[bg]=Добавяне или премахване на потребители
Comment[bn]=ব্যবহারকারী যোগ অথবা অপসারণ
Comment[ca]=Afegeix o suprimeix usuaris
Comment[ca@valencia]=Afig o suprimeix usuaris
Comment[crh]=Kullanıcı ekle ya da sil
Comment[cs]=Přidat nebo odebrat uživatele
Comment[da]=Tilføj eller fjern brugere
Comment[de]=Benutzer hinzufügen oder entfernen
Comment[el]=Προσθήκη ή αφαίρεση χρηστών
Comment[en_GB]=Add or remove users
Comment[eo]=Aldoni aŭ forigi uzantojn
Comment[es]=Añadir o quitar usuarios
Comment[et]=Kasutajate lisamine ja eemaldamine
Comment[eu]=Gehitu edo kendu erabiltzaileak
Comment[fa]=افزودن و یا حذف کاربرها
Comment[fi]=Lisää tai poista käyttäjiä
Comment[fr]=Ajouter ou supprimer des utilisateurs
Comment[ga]=Cuir leis nó bain úsáideoirí
Comment[gl]=Engadir ou eliminar usuarios
Comment[gu]=વપરાશકર્તાઓને ઉમેરો અથવા દૂર કરો
Comment[he]=הוספה או הסרה של משתמשים
Comment[hi]=जोड़ें या हटायें उपयोक्ता
Comment[hu]=Felhasználók hozzáadása vagy eltávolítása
Comment[id]=Tambah atau hapus pengguna
Comment[it]=Aggiunge o riumove utenti
Comment[ja]=ユーザーの追加と削除
Comment[kk]=Пайдаланушыларды қосу не өшіру
Comment[kn]=ಬಳಕೆದಾರರನ್ನು ಸೇರಿಸಿ ಅಥವ ತೆಗೆದುಹಾಕಿ
Comment[ko]=사용자 추가 및 제거
Comment[lt]=Pridėti arba šalinti naudotojus
Comment[lv]=Pievienot vai dzēst lietotājus
Comment[mk]=Додај или отстрани корисници
Comment[mr]=वापरकर्त्यांना समाविष्ट करा किंवा काढून टाका
Comment[nb]=Legg til eller fjern brukere
Comment[nl]=Gebruikers toevoegen of verwijderen
Comment[nn]=Legg til eller fjern brukarar
Comment[or]=ଚାଳକମାନଙ୍କୁ ଯୋଗ କିମ୍ବା ଅପସାରଣ କରନ୍ତୁ
Comment[pa]=ਯੂਜ਼ਰ ਸ਼ਾਮਲ ਕਰੋ ਜਾਂ ਹਟਾਓ
Comment[pl]=Dodanie lub usunięcie użytkowników
Comment[pt]=Adicionar ou remover utilizadores
Comment[pt_BR]=Adicionar ou remover usuários
Comment[ro]=Adaugă sau șterge utilizatori
Comment[ru]=Добавить или удалить пользователей
Comment[sk]=Pridať alebo odstrániť používateľov
Comment[sl]=Dodajte ali odstranite uporabnike in skupine
Comment[sr]=Додајте или уклоните кориснике
Comment[sr@latin]=Dodajte ili uklonite korisnike
Comment[sv]=Lägg till eller ta bort användare
Comment[ta]=பயனர்களை சேர்அல்லது நீக்கு
Comment[te]=వాడుకరులను జతచేయి లేదా తీసివేయి
Comment[th]=เพิ่มหรือลบผู้ใช้
Comment[tr]=Kullanıcı ekle ya da sil
Comment[ug]=ئىشلەتكۈچى قوشىدۇ ياكى ئۆچۈرىدۇ
Comment[uk]=Додавання та вилучення користувачів
Comment[vi]=Thêm hoặc xoá người dùng
Comment[zh_CN]=添加或删除用户
Comment[zh_HK]=加入或移除使用者
Comment[zh_TW]=加入或移除使用者
Exec=gnome-control-center user-accounts
Icon=system-users
Terminal=false
Type=Application
StartupNotify=true
Categories=System;Settings;X-GNOME-Settings-Panel;X-GNOME-SystemSettings;
OnlyShowIn=GNOME;Unity;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-control-center
X-GNOME-Bugzilla-Component=user-accounts
X-GNOME-Bugzilla-Version=3.4.2
X-GNOME-Settings-Panel=user-accounts
# Translators: those are keywords for the user accounts control-center panel
Keywords=Login;Name;Fingerprint;Avatar;Logo;Face;Password;
Keywords[af]=Login;Name;Fingerprint;Avatar;Logo;Face;Password;aanmeld;naam;vingerafdruk;embleem;gesig;wagwoord;meld aan;
Keywords[ar]=ولوج;اسم;بصمة;أيقونة;شعار;وجه;كلمة سر;
Keywords[as]=লগিন;নাম;ফিংগাৰপ্ৰিন্ট;অৱতাৰ;লগো;মূখ;পাছৱাৰ্ড;
Keywords[ast]=aniciu;sesión;nome;buelga;avatar;logu;cara;contraseña;
Keywords[be]=Уваход;Сеанс;Імя карыстальніка;Адбітак пальцаў;Сканер;Аватар;Лагатып;Выява;Твар;Вобраз;Пароль;
Keywords[bg]=Влизане;Име;Пръстов отпечатък;Аватар;Лого;Лице;Парола;
Keywords[bn]=লগ ইন;নাম;ফিঙ্গারপ্রিন্ট;এভাটার;লোগো;ফেস;পাসওয়ার্ড;
Keywords[ca]=Entrada;Nom;Empremta dactilar;Avatar;Logotip;Cara;Contrasenya;
Keywords[ca@valencia]=Entrada;Nom;Empremta dactilar;Avatar;Logotip;Cara;Contrasenya;
Keywords[crh]=Giriş;İsim;Parmak izi;Kullanıcı simgesi;Logo;Yüz;Parola;
Keywords[cs]=přihlášení;jméno;otisk prstu;avatar;logo;obličej;heslo;
Keywords[da]=Logind;Navn;Fingeraftryk;Profilbillede;Logo;Ansigt;Adgangskode;
Keywords[de]=Anmeldung;Name;Benutzerkonto;Fingerabdruck;Avatar;Benutzerbild;Logo;Gesicht;Passwort;
Keywords[el]=Σύνδεση;Όνομα;Δακτυλικό αποτύπωμα;Avatar;Λογότυπο;Πρόσωπο;Συνθηματικό;
Keywords[en_GB]=Login;Name;Fingerprint;Avatar;Logo;Face;Password;
Keywords[eo]=Ensaluto;Nomo;Fingropremo;Avataro;Logobildo;Vizaĵo;Pasvorto;
Keywords[es]=inicio;sesión;nombre;huella;avatar;logo;cara;contraseña;
Keywords[et]=Sisselogimine;Nimi;Sõrmejälg;Avatar;Logo;Nägu;Parool;Salasõna;
Keywords[eu]=Erabiltzaile-izena;Izena;Hatz-marka;Avatarra;Logotipoa;Aurpegia;Pasahitza;
Keywords[fa]=نام ورود;نام;اثرانگشت;آواتار;نشان;تصویرصورت;گذرواژه;
Keywords[fi]=kirjautuminen;nimi;sormenjälki;avatar;logo;kasvokuva;salasana;
Keywords[fr]=Connexion;Nom;Empreinte;Avatar;Logo;Visage;Tête;Mot de passe;
Keywords[ga]=Login;Name;Fingerprint;Avatar;Logo;Face;Password;Logáil Isteach;Ainm;Méarlorg;Abhatár;Aghaidh;Focal Faire;
Keywords[gl]=Inicio de sesión;Nome;Pegada dixital;Avatar;Logotipo;Cara;Contrasinal;
Keywords[he]=כניסה;שם;טביעת אצבע;תמונה אישית;לוגו;פרצוף;פנים;ססמה;
Keywords[hi]=Login;Name;Fingerprint;Avatar;Logo;Face;Password;
Keywords[hu]=Bejelentkezés;Név;Ujjlenyomat;Avatar;Logó;Arckép;Jelszó;
Keywords[id]=Login;Nama;Sidik jari;Avatar;Logo;Muka;Sandi;
Keywords[it]=Login;Accesso;Nome;Impronta;Avatar;Logo;Faccia;Password;
Keywords[ja]=Login;Name;Fingerprint;Avatar;Logo;Face;Password;ログイン;名前;指紋;アバター;ロゴ;顔;パスワード;
Keywords[ko]=Login;로그인;Name;이름;Fingerprint;지문;Avatar;아바타;Logo;로고;Face;얼굴;Password;암호;비밀 번호;
Keywords[lt]=Prisijungimo vardas;Vardas;Piršo atspaudas;Atvaizdas;Logotipas;Veidas;Slaptažodis;
Keywords[lv]=Lietotājs;Vārds;Pirkstu nospiedumi;Avatar;Logo;Seja;Parole;
Keywords[mk]=Најава;Има;Отпечаток;Аватар;Лого;Лице;Лозинка;
Keywords[mr]=लॉगिन;नाव;फिंगरप्रिंट;अवतार;चिन्ह;फेस;पासवर्ड;
Keywords[nb]=Login;Navn;Fingeravtrykk;Avatar;Logo;Ansikt;Passord;
Keywords[nl]=Login;Name;Fingerprint;Avatar;Logo;Face;Password;Aanmelden;Inloggen;Vingerafdruk;Gezicht;Wachtwoord;
Keywords[nn]=Innlogging;Namn;Fingeravtrykk;Personbilete;Logo;Fjes;Passord;
Keywords[or]=ଲଗଇନ;ନାମ;ଅଙ୍ଗୁଳି ଚିହ୍ନ;ଅଭତାର;ପ୍ରତୀକ;ମୁହଁ;ପ୍ରବେଶ ସଂକେତ;
Keywords[pa]=ਲਾਗਇਨ;ਨਾਂ;ਫਿੰਗਰਪਰਿੰਟ;ਅਵਤਾਰ;ਲੋਗੋ;ਚਿਹਰਾ;ਪਾਸਵਰਡ;
Keywords[pl]=Login;Logowanie;Nazwa;Odcisk palców;Odcisk linii papilarnych;Avatar;Awatar;Logo;Twarz;Hasło;
Keywords[pt]=Iniciar Sessão;Nome;Impressões Digitais;Imagem de Perfil;Logotipo;Face;Senha;
Keywords[pt_BR]=Iniciar sessão;Nome;Impressão digital;Avatar;Logotipo;Face;Senha;
Keywords[ro]=Login;Name;Fingerprint;Avatar;Logo;Face;Password;Autentificare;Nume;Amprentă;Amprente;Față;Parolă;
Keywords[ru]=Вход;Имя;Отпечаток;Аватар;Логотип;Лицо;Пароль;
Keywords[sk]=Prihlásenie;Meno;Odtlačok prsta;Podobizeň;Logo;Tvár;Heslo;
Keywords[sl]=Prijava;Ime;Prstni odtis;Podoba;Logotip;Obraz;Geslo;
Keywords[sr]=Пријављивање;Име;Отисак прстију;Аватар;Лого;Лице;Лозинка;
Keywords[sr@latin]=Prijavljivanje;Ime;Otisak prstiju;Avatar;Logo;Lice;Lozinka;
Keywords[sv]=Inloggning;Namn;Fingeravtryck;Avatar;Logotyp;Ansikte;Lösenord;
Keywords[ta]=உள்புகுகை;பெயர்;விரல்ரேகை;அவதாரம்;லோகோ;முகம்;கடவுச்சொல்;
Keywords[te]=ప్రవేశించు;పేరు;వేలిముద్ర;అవతారం;చిహ్నం;ముఖం;సంకేతపదం;
Keywords[th]=เข้าระบบ;ชื่อ;ลายนิ้วมือ;รูปแทนตัว;โลโก้;รูปหน้า;รหัสผ่าน;
Keywords[tr]=Giriş;İsim;Parmak izi;Kullanıcı simgesi;Logo;Yüz;Parola;
Keywords[ug]=تىزىمغا كىر;ئات;بارماق ئىزى;سىما;تۇغ;چىراي;ئىم;
Keywords[uk]=Вхід;Назва;Відбитки;Аватар;Логотип;Лице;Пароль;
Keywords[vi]=Login;Đăng;nhập;Name;Tên;Fingerprint;Vân;tay;Avatar;Logo;Face;Mặt;Password;Mật;khẩu;
Keywords[zh_CN]=登录;名称;指纹;头像;标志;密码;Login;Name;Fingerprint;Avatar;Logo;Face;Password;
Keywords[zh_HK]=Login;Name;Fingerprint;Avatar;Logo;Face;Password;登入;姓名;指紋;大頭貼;標誌;臉;密碼;
Keywords[zh_TW]=Login;Name;Fingerprint;Avatar;Logo;Face;Password;登入;姓名;指紋;大頭貼;標誌;臉;密碼;
X-Desktop-File-Install-Version=0.19
