
[Desktop Entry]
Name=Wacom Graphics Tablet
Name[af]=Wacom-tekentablet
Name[ar]=لوح رسوميات واكوم
Name[as]=Wacom গ্ৰাফিক্স টেবলেট
Name[ast]=Tableta gráfica Wacom
Name[be]=Графічны планшэт Wacom
Name[bg]=Графичен таблет
Name[ca]=Tauleta gràfica Wacom
Name[ca@valencia]=Tauleta gràfica Wacom
Name[crh]=Wacom Grafik Tablet
Name[cs]=Grafický tablet Wacom
Name[da]=Wacom grafisk tegneplade
Name[de]=Wacom Grafiktablett
Name[el]=Wacom Graphics Tablet
Name[en_GB]=Wacom Graphics Tablet
Name[eo]=Porgrafika tabuleto de Wacom
Name[es]=Tableta gráfica Wacom
Name[et]=Wacom'i digitaallaud
Name[eu]=Wacom taula grafikoa
Name[fa]=تبلت گرافیکی Wacom
Name[fi]=Wacom-piirtopöydät
Name[fr]=Tablette graphique Wacom
Name[ga]=Táibléad Grafaice Wacom
Name[gl]=Tableta gráfica Wacom
Name[gu]=Wacom ગ્રાફિક ટૅબલેટ
Name[he]=לוח גרפי Wacom
Name[hi]=Wacom आलेखी टेब्लेट
Name[hu]=Wacom rajztábla
Name[id]=Tablet Grafis Wacom
Name[it]=Tavoletta Wacom
Name[ja]=ワコム グラフィックスタブレット
Name[kn]=ವೇಕಾಮ್ ಗ್ರಾಫಿಕ್ಸ್ ಕಿಸೆಗಣಕ (ಟ್ಯಾಬ್ಲೆಟ್)
Name[ko]=왓콤 그래픽 태블릿
Name[lt]=Wacom piešimo planšetė
Name[lv]=Wacom grafikas planšete
Name[mk]=Wacom графички таблет
Name[mr]=वॅकॉम ग्राफिक्स् टॅबलेट
Name[nb]=Wacom pekeplate for grafikk
Name[nl]=Wacom grafisch tablet
Name[or]=ୱାକମ ଆଲେଖିକ ଟ୍ୟାବଲେଟ
Name[pa]=ਵਾਕੋਮ ਗਰਾਫਿਕਸ ਟੇਬਲੇਟ
Name[pl]=Tablet firmy Wacom
Name[pt]=Tablet de Gráficos Wacom
Name[pt_BR]=Tablet gráfico Wacom
Name[ru]=Графический планшет Wacom
Name[sk]=Grafický tablet Wacom
Name[sl]=Grafična tablica Wacom
Name[sr]=Ваком графичка таблица
Name[sr@latin]=Vakom grafička tablica
Name[sv]=Wacom-ritplatta
Name[ta]=வாகாம் வரைகலை தொடுதட்டு
Name[te]=వ్యాకం గ్రాఫిక్స్  ట్యాబ్లెట్
Name[th]=แท็บเล็ตกราฟิกส์ Wacom
Name[tr]=Wacom Grafik Tablet
Name[uk]=Графічний планшет Wacom
Name[vi]=Tablet đồ hoạ Wacom
Name[zh_CN]=Wacom 图形手写板
Name[zh_HK]=Wacom 繪圖板
Name[zh_TW]=Wacom 繪圖板
Comment=Set your Wacom tablet preferences
Comment[af]=Stel die Wacom-tabletvoorkeure in
Comment[ar]=إعداد تفضيلات لوح واكوم
Comment[as]=আপোনাৰ Wacom টেব্লেট পছন্দসমূহ সংহতি কৰক
Comment[ast]=Afita les preferencies de la to tableta Wacom
Comment[be]=Настройкі планшэта Wacom
Comment[bg]=Задаване на настройките на таблета
Comment[ca]=Establiu les preferències de la tauleta gràfica Wacom
Comment[ca@valencia]=Establiu les preferències de la tauleta gràfica Wacom
Comment[crh]=Wacom tablet tercihlerinizi ayarlayın
Comment[cs]=Nastavit předvolby pro váš tablet Wacom
Comment[da]=Vælg indstillinger for Wacom-tegnepladen
Comment[de]=Einstellungen für Wacom-Tablets festlegen
Comment[el]=Ρύθμιση προτιμήσεων της Wacom tablet
Comment[en_GB]=Set your Wacom tablet preferences
Comment[eo]=Agordi vian tabuleton de Wacom
Comment[es]=Establezca las preferencias de su tableta Wacom
Comment[et]=Wacom'i digitaalaua eelistuste määramine
Comment[eu]=Ezarri Wacom taularen hobespenak
Comment[fa]=ترجیحات تبلت Wacom خود را تنظیم کنید
Comment[fi]=Muuta Wacom-piirtopöydän asetuksia
Comment[fr]=Définir les préférences pour la tablette Wacom
Comment[gl]=Estabeleza as preferencias da súa tableta Wacom
Comment[gu]=તમારાં Wacom ટૅબલેટ પસંદગીઓને સુયોજિત કરો
Comment[he]=הגדרת העדפות לוח ה־Wacom שלך
Comment[hi]=अपने Wacom टैबलेट वरीयताओं को सेट करें
Comment[hu]=Wacom rajztábla beállításainak megadása
Comment[id]=Atur preferensi tablet Wacom Anda
Comment[it]=Imposta le preferenze per le tavolette grafiche Wacom
Comment[ja]=ワコムタブレットを設定します
Comment[kn]=ನಿಮ್ಮ ವೇಕಾಮ್ ಗ್ರಾಫಿಕ್ಸ್ ಕಿಸೆಗಣಕ (ಟ್ಯಾಬ್ಲೆಟ್) ಆದ್ಯತೆಗಳನ್ನು ಹೊಂದಿಸಿ
Comment[ko]=왓콤 태블릿을 설정합니다
Comment[lt]=Keisti Wacom piešimo planšetės nustatymus
Comment[lv]=Iestatiet savas Wacom planšetes iestatījumus
Comment[mk]=Поставете ги преференците за Вашиот Wacom таблет
Comment[mr]=वॅकॉम टॅबलेट पसंती
Comment[nb]=Sett dine brukervalg for Wacom tegnebrett
Comment[nl]=Wacomtabletvoorkeuren instellen
Comment[or]=ଆପଣଙ୍କର ୱାକମ ଟ୍ୟାବଲେଟ ପସନ୍ଦ ଗୁଡିକୁ ସ୍ଥିର କରନ୍ତୁ
Comment[pa]=ਆਪਣੀ ਵਾਕੋਮ ਟੇਬੇਥ ਪਸੰਦ ਸੈੱਟ ਕਰੋ
Comment[pl]=Ustawianie preferencji tabletów firmy Wacom
Comment[pt]=Defina as suas preferências de tablet wacom
Comment[pt_BR]=Defina suas preferências do tablet Wacom
Comment[ru]=Настройка планшета Wacom
Comment[sk]=Zmeniť nastavenia tabletu Wacom
Comment[sl]=Nastavitve možnosti tablice Wacom
Comment[sr]=Подесите поставке ваше Ваком таблице
Comment[sr@latin]=Podesite postavke vaše Vakom tablice
Comment[sv]=Ställ in din Wacom-ritplatta
Comment[ta]=உங்கள் வாகாம் தொடுதட்டு விருப்பங்களை அமைக்கவும்
Comment[te]=వ్యాకం ట్యాబ్లెట్ అభీష్టాలను సమకూర్చు
Comment[th]=ปรับแต่งค่าตั้งสำหรับแท็บเล็ต Wacom
Comment[tr]=Wacom tablet tercihlerinizi ayarlayın
Comment[uk]=Вказати параметри планшета Wacom
Comment[vi]=Đặt tuỳ thích Tablet Wacom
Comment[zh_CN]=设置您的 Wacom 手写板首选项
Comment[zh_HK]=設定你的 Wacom 繪圖板偏好設定
Comment[zh_TW]=設定您的 Wacom 繪圖板偏好設定
Exec=gnome-control-center wacom
Icon=input-tablet
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Settings;HardwareSettings;X-GNOME-Settings-Panel;
OnlyShowIn=GNOME;Unity;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-control-center
X-GNOME-Bugzilla-Component=wacom
X-GNOME-Bugzilla-Version=3.4.2
X-GNOME-Settings-Panel=wacom
# Translators: those are keywords for the wacom tablet control-center panel
Keywords=Tablet;Wacom;Stylus;Eraser;Mouse;
Keywords[ar]=لوحة;واكوم;قلم;ممحاة;فأرة;
Keywords[as]=টেবলেট;Wacom;স্টাইলাচ;ইৰেজাৰ;মাউছ;
Keywords[ast]=Tablet;Wacom;Llápiz;Borrador;Mur;
Keywords[be]=Планшэт;Wacom;Стыло;Сцірка;Мыш;
Keywords[bg]=Таблет;Wacom;Писалка;Гума;Мишка;
Keywords[ca]=Tauleta gràfica;Wacom;Estilogràfica;Esborrador;Ratolí;
Keywords[ca@valencia]=Tauleta gràfica;Wacom;Estilogràfica;Esborrador;Ratolí;
Keywords[crh]=Tablet;Wacom;Kalem;Silgi;Fare;
Keywords[cs]=tablet;Wacom;stalus;pero;eraser;guma;myš;
Keywords[da]=Tegneplade;Wacom;Pen;Viskelæder;Mus;
Keywords[de]=Tablett;Wacom;Stylus;Radiergummi;Maus;
Keywords[el]=Tablet;Wacom;Stylus;Eraser;Ποντίκι;
Keywords[en_GB]=Tablet;Wacom;Stylus;Eraser;Mouse;
Keywords[eo]=Tabuleto;Wacom;Grifelo;Gumo;Muso;
Keywords[es]=Tableta;Wacom;Stylus;Borrador;Ratón;
Keywords[et]=Tablet;Digitaallaud;Wacom;Stylus;Stiilus;Kirjapulk;Kustutaja;Kustukumm;Hiir;
Keywords[eu]=Taula;Wacom;Estiloa;Borragoma;Sagua;
Keywords[fa]=تبلت;Wacom;Stylus;Eraser;موشی;
Keywords[fi]=Piirtopöytä;Wacom;Stylus;Eraser;Hiiri;
Keywords[fr]=Tablette;Wacom;Stylet;Gomme;Souris;
Keywords[ga]=Táibléad;Wacom;Stíleas;Scriosán;Luch;
Keywords[gl]=Tableta;Wacom;Stylus;Borrador;Rato;
Keywords[he]=לוח;Wacom;עט מגע;מחק;מוחק;עכבר;משטח מגע;
Keywords[hi]=टैब्लेट;Wacom;लेखनी;इरेज़र;माउस;
Keywords[hu]=Tablet;Rajztábla;Wacom;Stylus;Toll;Eraser;Radír;Egér;
Keywords[id]=Tablet;Wacom;Stylus;Penghapus;Tetikus;
Keywords[it]=Tablet;Wacom;Stylus;Eraser;Mouse;Tavoletta;Penna;Gomma;
Keywords[ja]=Tablet;Wacom;Stylus;Eraser;Mouse;タブレット;スタイラスペン;ペン;消しゴム;マウス;
Keywords[ko]=Tablet;태블릿;Wacom;왓콤;Stylus;스타일러스;Eraser;지우개;Mouse;마우스;
Keywords[lt]=Planšetė;Wacom;Stylus;Eraser;Pelė;
Keywords[lv]=Planšete;Wacom;Irbulis;Dzēšgumija;Pele;
Keywords[mk]=Таблет;Wacom;Stylus;Бришач;Глушец;
Keywords[mr]=टॅबलेट;वॅकॉम;स्टायलस;इरेजर;माऊस;
Keywords[nb]=Tegnebrett;Wacom;Stylus;Viskelær;Mus;
Keywords[nl]=Tablet;Wacom;Stylus;Eraser;Mouse;Tekenen;Gum;Muis;
Keywords[pa]=Tablet;Wacom;Stylus;Eraser;Mouse;ਟੇਬਲੇਟ;
Keywords[pl]=Tablet;Wacom;Rysik;Gumka;Mysz;
Keywords[pt]=Tablet;Wacom;Caneta;Stylus;Borracha;Rato;
Keywords[pt_BR]=Tablet; Wacom;Caneta;Borracha;Mouse;
Keywords[ru]=Планшет;Wacom;Перо;Ластик;Мышь;
Keywords[sk]=Tablet;Wacom;Stylus;Guma;Myš;
Keywords[sl]=Tablica;Wacom;Stylus;Eraser;Miška;
Keywords[sr]=Таблица;Ваком;Пенкало;Брисач;Миш;
Keywords[sr@latin]=Tablica;Vakom;Penkalo;Brisač;Miš;
Keywords[sv]=Ritplatta;Wacom;Penna;Raderare;Mus;
Keywords[ta]=தொடுதட்டு;வாகாம்;எழுத்தாணி;துடைப்பி;சொடுக்கி;
Keywords[te]=ట్యాబ్లెట్;వాకం;శ్టైలస్;ఇరేసర్;మౌజ్;
Keywords[th]=แท็บเล็ต;Wacom;ปากกา;สไตลัส;ยางลบ;เมาส์;
Keywords[tr]=Tablet;Wacom;Kalem;Silgi;Fare;
Keywords[uk]=Планшет;Wacom;Стилус;Гумка;Миша;
Keywords[vi]=Tablet;Wacom;Stylus;Eraser;Mouse;Chuột;
Keywords[zh_CN]=Tablet;Wacom;Stylus;Eraser;Mouse;手写板;手写板;写字笔;擦除器;鼠标;
Keywords[zh_HK]=Tablet;Wacom;Stylus;Eraser;Mouse;繪圖板;橡皮擦;滑鼠;
Keywords[zh_TW]=Tablet;Wacom;Stylus;Eraser;Mouse;繪圖板;橡皮擦;滑鼠;
X-Desktop-File-Install-Version=0.19
