[Desktop Entry]
Name=Operating System Upgrade
Name[af]=Bedryfstelselopgradering
Name[ar]=ترقية نظام التشغيل
Name[as]=অপাৰেটিং চিস্টেম উন্নয়ন
Name[ast]=Anovamientu del sistema operativu
Name[be]=Абнаўленне аперацыйнай сістэмы
Name[bg]=Обновяване на операционната система
Name[bn]=অপারেটিং সিস্টেম হালনাগাদ
Name[bn_IN]=অপারেটিং সিস্টেমের আপগ্রেড
Name[ca]=Actualització del sistema operatiu
Name[ca@valencia]=Actualització del sistema operatiu
Name[cs]=Povýšení operačního systému
Name[da]=Opgradering af operativsystem
Name[de]=Aktualisierung des Betriebssystems
Name[el]=Αναβάθμιση λειτουργικού συστήματος
Name[en_GB]=Operating System Upgrade
Name[es]=Actualización del sistema operativo
Name[et]=Operatsioonisüsteemi uuendamine
Name[eu]=Sistema eragilearen bertsio-berritzea
Name[fa]=ارتقای سیستم عامل
Name[fi]=Käyttöjärjestelmän päivitys
Name[fr]=Mise à jour de la distribution
Name[gl]=Anovación do sistema operativo
Name[gu]=ઓપરેટીંગ સિસ્ટમ સુધારો
Name[he]=שדרוג מערכת ההפעלה
Name[hi]=प्रचालन तंत्र अद्यतन कर रहा है
Name[hu]=Operációs rendszer frissítése
Name[id]=Peningkatan Sistem Operasi
Name[it]=Avanzamento sistema operativo
Name[ja]=OS のアップグレード
Name[ko]=운영체제 업그레이드
Name[lt]=Operacinės sistemos atnaujinimas
Name[lv]=Operētājsistēmas uzlabošana
Name[mk]=Надградба на оперативниот систем
Name[nb]=Oppgradering av operativsystemet
Name[nl]=Besturingssysteem-opwaardering
Name[nn]=Operativsystemoppgradering
Name[pa]=ਓਪਰੇਟਿੰਗ ਸਿਸਟਮ ਅੱਪਗਰੇਡ
Name[pl]=Aktualizacja systemu operacyjnego
Name[pt]=A Realizar Actualização de Sistema
Name[pt_BR]=Atualização do sistema operacional
Name[ro]=Înnoire sistem de operare
Name[ru]=Обновление системы
Name[sk]=Aktualizácia operačného systému
Name[sl]=Posodobitev operacijskega sistema
Name[sr]=Надоградња оперативног система
Name[sr@latin]=Nadogradnja operativnog sistema
Name[sv]=Uppgradering av operativsystem
Name[ta]=கணினி இயங்கு தளத்தை மேம்படுத்துகிறது
Name[te]=నిర్వహణ వ్యవస్థ ఉన్నతీకరణ
Name[th]=ปรับรุ่นระบบปฏิบัติการ
Name[tr]=İşletim Sistemi Yükseltmesi
Name[ug]=مەشغۇلات سىستېما يۈكسەلدۈرمىسى
Name[uk]=Оновлення операційної системи
Name[vi]=Nâng cấp hệ điều hành
Name[zh_CN]=升级操作系统
Name[zh_HK]=作業系統升級
Name[zh_TW]=作業系統升級
Comment=Upgrade the operating system to a new version
Comment[af]=Gradeer die bedryfstelsel op na 'n nuwe weergawe
Comment[ar]=رقِّ نظام التشغيل إلى إصدارة جديدة
Comment[as]=অপাৰেটিং চিস্টেমক এটা নতুন সংস্কৰণলে উন্নয়ন কৰক
Comment[ast]=Anovar el sistema operativu a una versión nueva
Comment[be]=Абнаўленне аперацыйнай сістэмы да новай версіі
Comment[bg]=Обновяване на операционната система към нова версия
Comment[bn]=অপারেটিং সিস্টেমকে নতুন সংস্করণে আপগ্রেড
Comment[bn_IN]=অপারেটিং সিস্টেমের নতুন সংস্করণে আপগ্রেড করা হচ্ছে
Comment[ca]=Actualitza el sistema operatiu a una versió nova
Comment[ca@valencia]=Actualitza el sistema operatiu a una versió nova
Comment[cs]=Povýšit operační systém na novou verzi
Comment[da]=Opgradér operativsystemet til en ny version
Comment[de]=Das Betriebssystem auf eine neue Version aktualisieren
Comment[el]=Αναβάθμιση του λειτουργικού συστήματος σε μια νέα έκδοση
Comment[en_GB]=Upgrade the operating system to a new version
Comment[eo]=Promocii la operaciumon al nova versio
Comment[es]=Actualizar el sistema operativo a una versión nueva
Comment[et]=Operatsioonisüsteemi uuendamine uuele versioonile
Comment[eu]=Bertsio-berritu sistema eragilea bertsio berriagora
Comment[fa]=ارتقای سیستم عامل به یک نسخه‌ی جدید
Comment[fi]=Päivitä käyttöjärjestelmä uuteen versioon
Comment[fr]=Met à jour la distribution vers une nouvelle version
Comment[gl]=Anovar o sistema operativo á última versión
Comment[gu]=નવી આવૃત્તિ માટે ઓપરેટીંગ સિસ્ટમને સુધારો
Comment[he]=שדרוג מערכת ההפעלה לגרסה חדשה
Comment[hi]=नए संस्करण के लिए प्रचालन तंत्र अद्यतन कर रहा है
Comment[hu]=Az operációs rendszer frissítése új verzióra
Comment[id]=Tingkatkan sistem operasi ke versi baru
Comment[it]=Esegue l'avanzamento del sistema operativo a una nuova versione
Comment[ja]=OS を新しいバージョンへアップグレードします
Comment[ko]=운영체제를 새 버전으로 업그레이드합니다
Comment[lt]=Atnaujinti operacinę sistemą į naują versiją
Comment[lv]=Uzlabot operētājsistēmu uz jaunu versiju
Comment[mk]=Надгради го оперативниот систем на понова верзија
Comment[nb]=Oppgrader operativsystemet til en ny versjon
Comment[nn]=Oppgrader operativsystemet til ny versjon
Comment[pa]=ਓਪਰੇਟਿੰਗ ਸਿਸਟਮ ਦੇ ਨਵੇਂ ਵਰਜਨ ਲਈ ਅੱਪਗਰੇਡ ਕਰੋ
Comment[pl]=Aktualizacja systemu operacyjnego do nowej wersji
Comment[pt]=Actualizar o sistema operativo para uma nova versão
Comment[pt_BR]=Atualize o sistema operacional para uma nova versão
Comment[ro]=Înnoiește sistemul de operare la o versiune nouă
Comment[ru]=Обновить систему до новой версии
Comment[sk]=Aktualizovať operačný systém na novú verziu
Comment[sl]=Posodobi operacijski sistem na novejšo različico
Comment[sr]=Надоградите оперативни систем на ново издање
Comment[sr@latin]=Nadogradite operativni sistem na novo izdanje
Comment[sv]=Uppgradera operativsystemet till en ny version
Comment[ta]=இயங்குதளத்தை புதிய பதிப்புக்கு மேம்படுத்து
Comment[te]=నిర్వాహణ వ్యవస్థను ఒక కొత్త రూపాంతరానికి ఉన్నతీకరించు
Comment[th]=ปรับรุ่นระบบปฏิบัติการเป็นรุ่นใหม่
Comment[tr]=İşletim sistemini yeni bir sürüme yükselt
Comment[ug]=بۇ مەشغۇلات سىستېمىسىنى يۈكسەلدۈر
Comment[uk]=Оновити операційну систему до нової версії
Comment[vi]=Nâng cấp hệ điều hành sang phiên bản mới
Comment[zh_CN]=将操作系统升级到新版本
Comment[zh_HK]=升級作業系統至新版本
Comment[zh_TW]=升級作業系統至新版本
Icon=view-refresh
Exec=gpk-distro-upgrade
Terminal=false
Type=Application
NoDisplay=true
Categories=
StartupNotify=true
