[Desktop Entry]
Version=1.0
Terminal=false
Icon=libreoffice-draw
Type=Application
Categories=Office;X-Red-Hat-Base;X-SuSE-Core-Office;X-MandrivaLinux-Office-Drawing;
Exec=libreoffice --draw %U
MimeType=application/vnd.oasis.opendocument.graphics;application/vnd.oasis.opendocument.graphics-template;application/vnd.sun.xml.draw;application/vnd.sun.xml.draw.template;
Name=l幻灯片
GenericName=Drawing Program
GenericName[en]=Drawing Program
GenericName[af]=Tekenprogram
GenericName[ar]=برنامج الرسم
GenericName[as]=ড্রয়িং কাৰ্যক্ৰম
GenericName[bg]=Програма за чертане
GenericName[bn]=অঙ্কন প্রোগ্রাম
GenericName[ca]=Programa de dibuix
GenericName[cs]=Kreslící program
GenericName[cy]=Rhaglen Lluniadu
GenericName[da]=Tegneprogram
GenericName[de]=Zeichenprogramm
GenericName[dz]=Drawing Program
GenericName[el]=Πρόγραμμα σχεδίασης
GenericName[es]=Programa de dibujo
GenericName[et]=Skeemilooja
GenericName[eu]=Marrazketa programa
GenericName[fa]=برنامه طراحی
GenericName[fi]=Piirrosohjelma
GenericName[fr]=Programme de dessin
GenericName[ga]=Ríomhchlár Líníochta
GenericName[gl]=Programa de debuxo
GenericName[gu]=પ્રક્રિયાનું ચિત્ર દોરી રહ્યા છે
GenericName[he]=תוכנת רשום
GenericName[hi]=रेखाचित्र प्रोग्राम
GenericName[hr]=Program za crtanje
GenericName[hu]=Rajzolóprogram
GenericName[it]=Programma di disegno
GenericName[ja]=図形描画プログラム
GenericName[kn]=ಡ್ರಾಯಿಂಗ್ ಕ್ರಮವಿಧಿ
GenericName[ko]=그리기 프로그램
GenericName[lt]=Grafikos rengyklė
GenericName[lv]=Zīmēšanas lietotne
GenericName[mai]=Drawing Program
GenericName[ml]=ചിത്രരചനയ്ക്കുള്ള പ്രോഗ്രാം
GenericName[mr]=चित्ररेखा कार्यक्रम
GenericName[nb]=Tegneprogram
GenericName[nl]=Tekenrogramma
GenericName[nn]=Teikneprogram
GenericName[nr]=Drawing Program
GenericName[nso]=Lenaneo la go thala
GenericName[or]=ପ୍ରଗ୍ରାମ ଆଙ୍କୁଅଛି
GenericName[pa_IN]=ਡਰਾਇੰਗ ਪਰੋਗਰਾਮ
GenericName[pl]=Program graficzny
GenericName[pt]=Programa de desenho
GenericName[pt_BR]=Programa de desenho
GenericName[qtz]=wLMy‖Drawing Program
GenericName[ro]=Program de desenare
GenericName[ru]=Редактор рисунков
GenericName[sh]=Program za crtanje
GenericName[si]=ඇදිමේ වැඩසටහන
GenericName[sk]=Kresliaci program
GenericName[sl]=Program za risanje
GenericName[sr]=Програм за цртање
GenericName[ss]=Drawing Program
GenericName[st]=Drawing Program
GenericName[sv]=Ritprogram
GenericName[ta]=வரைபட செயலி
GenericName[te]=చిత్రలేఖక ప్రోగ్రాము
GenericName[th]=Drawing Program
GenericName[tn]=Drawing Program
GenericName[tr]=Çizim Programı
GenericName[ts]=Drawing Program
GenericName[uk]=Drawing Program
GenericName[ve]=Drawing Program
GenericName[xh]=Drawing Program
GenericName[zh_CN]=绘图程序
GenericName[zh_TW]=繪圖程式
GenericName[zu]=Drawing Program
Comment=Create and edit drawings, flow charts, and logos by using Draw.
Comment[en]=Create and edit drawings, flow charts, and logos by using Draw.
Comment[af]=Skep en redigeer tekeninge, vloeigrafieke en logo's met Draw.
Comment[ar]=إنشاء الرسوم وتحريرها، ورسوم الدفق البيانية، والشعارات باستخدام Draw.
Comment[as]=ড্ৰ ব্যৱহাৰ কৰি ড্ৰয়িং, ফ্ল' ছাৰ্ট আৰু ল'গ'বোৰ সৃষ্টি আৰু সম্পাদনা কৰক.
Comment[bg]=С Draw можете да създавате и редактирате рисунки, блок-схеми и емблеми.
Comment[bn]=ড্র ব্যবহার করে অঙ্কন, প্রবাহ চিত্র, এবং লোগো তৈরি এবং সম্পাদনা করুন।
Comment[ca]=Creeu i editeu dibuixos, diagrames de flux i logotips amb el Draw.
Comment[cs]=Draw umožňuje vytvářet a upravovat kresby, vývojové diagramy a loga.
Comment[cy]=Creu a golygu darluniau, siartiau llif a logos drwy ddefnyddio Draw.
Comment[da]=Opret og rediger tegninger, rutediagrammer og logoer ved brug af Draw.
Comment[de]=Zeichnungen erstellen und bearbeiten, Flussdiagramme entwerfen und Logos kreieren - Draw macht's möglich.
Comment[dz]=ཌཱ་ི་པ་ལག་ལེན་འཐབ་ཐོག་པར་རིས་དང་འབབ་རྒྱུན་དཔེ་རིས་ ལེགས་རྟགས་ཚུ་་ཚད་རིས་ཚུ་བཟོ་ནི་དང་ཞུན་དག་རྐྱབ་ནི།
Comment[el]=Δημιουργία και επεξεργασία σχεδίων, διαγραμμάτων ροής, και λογοτύπων με τη χρήση του Draw.
Comment[es]=Cree y edite dibujos, diagramas de flujo y logotipos con Draw.
Comment[et]=Draw võimaldab luua ja redigeerida joonistusi, vooskeeme ning logosid.
Comment[eu]=Marrazkiak, fluxu-diagramak eta logotipoak sortu eta editatu Draw erabiliz.
Comment[fa]=با استفاده از نقاش، نقاشی، روندنما و علامت تجاری طراحی یا ویرایش کنید.
Comment[fi]=Luo ja muokkaa piirroksia, vuokaavioita ja logoja Draw-ohjelmalla.
Comment[fr]=Draw - Création et édition de dessins, d'organigrammes et de logos.
Comment[ga]=Cruthaigh líníochtaí, sreabhchairteacha, agus lógónna, agus cuir iad in eagar le Draw.
Comment[gl]=Crear e editar debuxos, fluxogramas e logotipos con Draw.
Comment[gu]=ચિત્ર દ્દારા ચિત્રો, ફલો ચાર્ટ, અને લોગો બનાવો અને સુઘારો.
Comment[he]=יצירה ועריכה של ציורים, תרשימי זרימה וסמלים מסחריים באמצעות תוכנת הציור
Comment[hi]=ड्रॉ के प्रयोग से रेखाचित्र, फ्लोचार्ट, और लोगो बनाता और संपादित करता है.
Comment[hr]=Stvorite i uredite crteže, dijagrame toka i logo-e.
Comment[hu]=Rajzok, folyamatábrák és logók létrehozása és szerkesztése a Draw használatával.
Comment[it]=Con Draw potete creare e modificate disegni, diagrammi di flusso e logo.
Comment[ja]=Draw を使用して、図形描画、フローチャート、およびロゴを作成および編集します。
Comment[kn]=ಡ್ರಾ ಉಪಯೋಗಿಸಿಕೊಂಡು ಚಿತ್ರಗಳನ್ನು, ಹರಿವು(ಫ್ಲೋ) ನಕ್ಷೆಗಳನ್ನು ಹಾಗೂ ಲಾಂಛನಗಳನ್ನು ರಚಿಸಿ ಮತ್ತು ಸಂಪಾದಿಸಿ.
Comment[ko]=그리기를 사용하여 그리기, 순서도 및 로고를 만들고 편집합니다.
Comment[lt]=Grafikos rengykle galima braižyti brėžinius, blokines schemas, kurti logotipus.
Comment[lv]=Veidot un rediģēt zīmējumus, norises shēmas un firmas zīmes, lietojot Draw.
Comment[mai]=ड्रॉक प्रयोगसँ रेखाचित्र, फ्लोचार्ट, आओर लोगो बनबैत आ संपादित करैत अछि.
Comment[ml]=ചിത്രരചന ഉപയോഗിച്ച് ചിത്രങ്ങള്, ഫ്‍ളോചാര്ട്ടുകള്, ലോഗോകള് സൃഷ്ടിക്കുകയും എഡിറ്റു ചെയ്യുകയും ചെയ്യുക.
Comment[mr]=Draw चा वापरून रेखाचित्र, फ्लोचार्ट, व प्रतिक बनवा आणि संपादीत करा.
Comment[nb]=Opprett og rediger tegninger, flytdiagrammer og logoer ved å bruke Draw.
Comment[nl]=Met Draw kunt u tekeningen, stroomdiagrammen en logo's maken en bewerken.
Comment[nn]=Med Draw kan du laga og redigera teikningar, flytdiagram og logoar.
Comment[nr]=Enza nokuhlela imigwalo, amaflowtjhati namalogo ngokusebenzisa i-Draw.
Comment[nso]=Hlama le go lokiša dithalwa, ditšhate tša go elela, le maswao ka go diriša Draw.
Comment[or]=ଅଙ୍କନ ଉପୟୋଗକରି ଚିତ୍ରାଙ୍କନ, ଫ୍ଲୋ ଚାର୍ଟ ଏବଂ ଚିହ୍ନଗୁଡିକୁ ସୃଷ୍ଟି ଏବଂ ସମ୍ପାଦନ କର।
Comment[pa_IN]=ਡਰਾਇੰਗ ਨਾਲ ਸ਼ਕਲਾਂ, ਵਹਾ-ਚਾਰਟ ਅਤੇ ਲੋਗੋ ਬਣਾਏ ਅਤੇ ਸੋਧੇ ਜਾ ਸਕਦੇ ਹਨ।
Comment[pl]=Twórz i edytuj rysunki, wykresy i znaki graficzne używając programu Draw.
Comment[pt]=Criar e editar desenhos, fluxogramas e logótipos através do Draw.
Comment[pt_BR]=Crie e edite desenhos, fluxogramas e logotipos por meio do Draw.
Comment[qtz]=s1nI‖Create and edit drawings, flow charts, and logos by using Draw.
Comment[ro]=Creați și editați desene, diagrame și sigle folosind Draw.
Comment[ru]=Создание и редактирование рисунков, блок-схем и логотипов.
Comment[sh]=Napravite i uređujte crteže, dijagrame toka i logotipe u Crtanju.
Comment[si]=Draw භාවිතා කරමින් ඇඳීම්, ගැලීම් සටහන් සහ ලාංඡන සාදන්න සහ වෙනස් කරන්න.
Comment[sk]=Vytvárajte a upravujte obrázky, postupové diagramy a logá s použitím Draw.
Comment[sl]=S programom Draw ustvarjajte in urejajte risbe, slike, diagrame poteka in logotipe.
Comment[sr]=Направите и уређујте цртеже, дијаграме тока и логотипе у Цртању.
Comment[ss]=Yakha u-edithe kudvweba, ndizisa emashati, neticubulo ngekusebentisa Draw.
Comment[st]=Bopa le ho lokisa tse torowilweng, ditjhate tse phallang, le di-logo ka ho sebedisa Draw.
Comment[sv]=Skapa och redigera teckningar, flödesdiagram och logotyper med hjälp av Draw.
Comment[ta]=வரைபடங்கள், செயல்வழிப்படங்கள், லோகோ ஆகியவற்றை உருவாக்கவும் தொகுக்கவும் டிராவைப் பயன்படுத்துக.
Comment[te]=చిత్రలేఖనము,ఫ్లోచార్ట్ మరియు,దేవుని చిత్రములను నిర్మించి సరిచేయుము.
Comment[th]=สร้างและแก้ไขการวาด แผนภูมิงาน และโลโก้ โดยการใช้ Draw
Comment[tn]=Create and edit drawings, flow charts, and logos by using Draw.
Comment[tr]=Draw kullanarak akış çizelgeleri ve logolar oluşturabilir ve düzenleyebilirsiniz.
Comment[ts]=Endla ni ku lulamisa Vudirowi, tichati ta ntlhandlamano ni mimfungho hi ku tirhisa Draw.
Comment[uk]=Створення та редагування малюнків, діаграми та емблем.
Comment[ve]=Vhumbani nahone ni lulamise nyolo, tshati dza kusuvhele, na dziḽogo nga u shumisa Draw.
Comment[xh]=Dala uze uhlele imizobo, iitshati zomqukuqelo, kunye nee-logo ngokusebenza u-Draw.
Comment[zh_CN]=使用 Draw 创建并编辑图形、流程图和徽标。
Comment[zh_TW]=使用 Draw 可建立與編輯繪圖、流程圖以及標誌。
Comment[zu]=Yenza futhi ulungise imidwebo, amaflowchadi, namalogo ngokusebenzisa into yokuDweba.
InitialPreference=5
X-GIO-NoFuse=true
StartupNotify=true
TryExec=oodraw
