[Desktop Entry]
Name=Orca
Name[ar]= أوركا
Name[ast]=Orca
Name[be]=Orca
Name[bg]=Orca
Name[bn]=Orca
Name[ca]=Orca
Name[ca@valencia]=Orca
Name[cs]=Orca
Name[da]=Orca
Name[de]=Orca
Name[dz]=ཨོཀ་ར་
Name[el]=Orca
Name[en_GB]=Orca
Name[eo]=Orko
Name[es]=Orca
Name[et]=Orca
Name[eu]=Orca
Name[fi]=Orca
Name[fr]=Orca
Name[ga]=Orca
Name[gl]=Orca
Name[he]=Orca
Name[hi]=ओरका
Name[hu]=Orka
Name[id]=Orca
Name[it]=Orca
Name[ja]=Orca
Name[ko]=오르카
Name[lt]=Orca
Name[lv]=Orca
Name[mai]=ओरका
Name[mk]=Orca
Name[ml]=ഓര്‍ക്കാ
Name[ms]=Orca
Name[nb]=Orca
Name[ne]=ओर्का
Name[nl]=Orca
Name[nn]=Orca
Name[oc]=Orca
Name[or]=ଓର୍କା
Name[pa]=ਓਰਕਾ
Name[pl]=Orca
Name[pt]=Orca
Name[pt_BR]=Orca
Name[ro]=Orca
Name[ru]=Orca
Name[sl]=Orka
Name[sr]=Орка
Name[sr@latin]=Orka
Name[sv]=Orca
Name[ta]=ஆர்கா
Name[te]=ఓర్కా
Name[th]=Orca
Name[tr]=Orca
Name[ug]=Orca
Name[uk]=Orca
Name[vi]=Orca
Name[zh_CN]=Orca
Name[zh_HK]=Orca
Name[zh_TW]=Orca
GenericName=Screen Reader
GenericName[ast]=Llector de pantalla
GenericName[be]=Чытач экрана
GenericName[bg]=Екранен четец
GenericName[ca]=Lector de pantalla
GenericName[ca@valencia]=Lector de pantalla
GenericName[cs]=Čtečka obrazovky
GenericName[da]=Skærmlæser
GenericName[de]=Bildschirmleser
GenericName[en_GB]=Screen Reader
GenericName[es]=Lector de pantalla
GenericName[eu]=Pantaila-irakurlea
GenericName[fi]=Näytönlukija
GenericName[fr]=Lecteur d'écran
GenericName[gl]=Lector da pantalla
GenericName[hu]=Képernyőolvasó
GenericName[id]=Pembaca Layar
GenericName[it]=Lettore schermo
GenericName[lt]=Ekrano skaityklė
GenericName[lv]=Ekrāna lasītājs
GenericName[mk]=Читач на екран
GenericName[nb]=Skjermleser
GenericName[pa]=ਸਕਰੀਨ ਰੀਡਰ
GenericName[pl]=Czytnik ekranowy
GenericName[pt]=Leitor de Ecrã
GenericName[pt_BR]=Leitor de tela
GenericName[ru]=Программа чтения с экрана
GenericName[sl]=Zaslonski bralnik
GenericName[sr]=Читач екрана
GenericName[sr@latin]=Čitač ekrana
GenericName[sv]=Skärmläsare
GenericName[ta]=திரை படிப்பி 
GenericName[te]=తెర చదువరి
GenericName[tr]=Ekran Okuyucusu
GenericName[uk]=Зчитувач екрана
GenericName[zh_CN]=屏幕阅读程序
GenericName[zh_HK]=螢幕閱讀器
GenericName[zh_TW]=螢幕閱讀器
X-GNOME-FullName=Orca Screen Reader
X-GNOME-FullName[ast]=Llector de pantalla d'Orca
X-GNOME-FullName[be]=Чытач экрана Orca
X-GNOME-FullName[bg]=Orca — екранен четец
X-GNOME-FullName[ca]=Lector de pantalla Orca
X-GNOME-FullName[ca@valencia]=Lector de pantalla Orca
X-GNOME-FullName[cs]=Čtečka obrazovky Orca
X-GNOME-FullName[da]=Orca skærmlæser
X-GNOME-FullName[de]=Orca-Bildschirmleser
X-GNOME-FullName[en_GB]=Orca Screen Reader
X-GNOME-FullName[es]=Lector de pantalla Orca
X-GNOME-FullName[eu]=Orca pantaila-irakurlea
X-GNOME-FullName[fi]=Orca-näytönlukija
X-GNOME-FullName[fr]=Lecteur d'écran Orca
X-GNOME-FullName[gl]=Lector da pantalla Orca
X-GNOME-FullName[hu]=Orka képernyőolvasó
X-GNOME-FullName[id]=Orca - Pembaca Layar
X-GNOME-FullName[it]=Lettore schermo Orca
X-GNOME-FullName[lt]=Orca ekrano skaityklė
X-GNOME-FullName[lv]=Orca ekrāna lasītājs
X-GNOME-FullName[mk]=Orca читач на екранот
X-GNOME-FullName[nb]=Orca skjermleser
X-GNOME-FullName[pa]=ਓਰਕਾ ਸਕਰੀਨ ਰੀਡਰ
X-GNOME-FullName[pl]=Czytnik ekranowy Orca
X-GNOME-FullName[pt]=Leitor de Ecrã Orca
X-GNOME-FullName[pt_BR]=Leitor de tela Orca
X-GNOME-FullName[ru]=Программа чтение с экрана Orca
X-GNOME-FullName[sl]=Bralnik zaslona Orka
X-GNOME-FullName[sr]=Читач екрана Орка
X-GNOME-FullName[sr@latin]=Čitač ekrana Orka
X-GNOME-FullName[sv]=Orca skärmläsare
X-GNOME-FullName[ta]=ஆர்கா திரை படிப்பி 
X-GNOME-FullName[te]=ఓర్కా తెరచదువరి
X-GNOME-FullName[tr]=Orca Ekran Okuyucusu
X-GNOME-FullName[uk]=Інструмент читання з екрана Orca
X-GNOME-FullName[zh_CN]=Orca 屏幕阅读程序
X-GNOME-FullName[zh_HK]=Orca 螢幕閱讀器
X-GNOME-FullName[zh_TW]=Orca 螢幕閱讀器
Comment=Provide access to graphical desktop environments via synthesized speech and/or refreshable braille
Comment[ast]=Facilitar l'accesu a entornos gráficos d'escritoriu a traviés d'un sintetizador de voz y/o braille
Comment[be]=Доступ да графічнага працоўнага асяроддзя праз сінтэзатар маўлення і/ці праз манітор Брайля
Comment[bg]=Дава достъп до графичната среда чрез синтезирана реч и/или обновяващ се брайл
Comment[ca]=Proporciona accés a entorns d'escriptori gràfics a través d'un sintetitzador de veu i/o braille
Comment[ca@valencia]=Proporciona accés a entorns d'escriptori gràfics a través d'un sintetitzador de veu i/o braille
Comment[cs]=Poskytuje přístup ke grafickému pracovnímu prostředí pomocí hlasového generátoru a/nebo braillského řádku
Comment[da]=Giv adgang til grafiske skrivebordsmiljøer via syntetiseret tale og/eller opdaterbar blindeskrift
Comment[de]=Bietet Zugriff auf grafische Arbeitsumgebungen über Sprachausgabe und/oder aktualisierbare Braille-Ausgabe
Comment[en_GB]=Provide access to graphical desktop environments via synthesised speech and/or refreshable braille
Comment[es]=Proporciona acceso a entornos de escritorio gráficos a través de voz sintetizada y Braille actualizable
Comment[eu]=Sintetizatutako ahotsa eta/edo braille freskagarria bidez mahaigainaren ingurune grafikoa erabiltzea baimentzen du.
Comment[fr]=Accéder aux environnements de bureau graphiques via la synthèse vocale et des plages braille
Comment[gl]=Fornece acceso a contornos de escritorio gráficos a través de voz sintetizada e Braille actualizábel
Comment[hu]=A beszédszintetizátor és frissíthető Braille-kijelző segítségével elérhetővé teszi az asztali környezeteket
Comment[it]=Permette di accedere agli ambienti desktop grafici attraverso sintesi vocale o braille aggiornabile
Comment[lt]=Suteikia prieiga prie grafinių darbastalio aplinkų su sintezuota kalba ir (arba) atnaujinamu brailiu
Comment[lv]=Nodrošina pieeju grafiskai darbvirsmas videi, izmantojot sintezētu runu un/vai atsvaidzināmu Brailu.
Comment[mk]=Овозможи пристап до графичките работни околини преку синтетизиран говор и/или брајов приказ
Comment[nb]=Gir tilgang til grafiske skrivebordsmiljøer via syntetisk tale og/eller oppdaterbar blindeskrift
Comment[pl]=Dostęp do graficznego środowiska pulpitu przez syntezator mowy i/lub odświeżalne pismo brajlowskie
Comment[pt]=Fornece acesso a ambientes de trabalho gráficos através de voz sintetizada ou braille
Comment[pt_BR]=Proporciona o acesso a ambientes de desktop gráficos por voz sintetizada e/ou Braille atualizável
Comment[ru]=Предоставляет доступ к графическому рабочему столу с помощью синтеза речи и/или брайлевского дисплея
Comment[sl]=Omogoči dostop do grafičnega okolja namizja preko sintetiziranega zvoka in odvoda braillove pisave
Comment[sr]=Обезбеђује приступ графичком окружењу радне површи путем синтетизованог говора и/или путем брајевог писма
Comment[sr@latin]=Obezbeđuje pristup grafičkom okruženju radne površi putem sintetizovanog govora i/ili putem brajevog pisma
Comment[sv]=Tillhandahåll åtkomst till grafiska skrivbordsmiljöer via talsyntes och/eller uppdateringsbar punktskrift
Comment[ta]=வரைகலை மேல்மேசை சூழலுக்கு செயற்கை பேச்சு மற்றும்/ அல்லது புதிப்பிக்கக்கூடிய ப்ரெய்ல் வழியாக அணுகலை அளிக்கிறது
Comment[te]=గ్రాఫికల్ డెస్కటాప్ పరిసరములనకు సింతసైజ్డ్ భాషణము చేత మరియు/లేక పునశ్చరణచేయుగల బ్రైలీ ద్వారా అనుమతిని కలిగించుము
Comment[uk]=Надає доступ до графічного стільничного середовища через синтезоване мовлення й/або оновлювального Брайля
Comment[zh_CN]=通过合成语音和/或可刷新的布莱叶盲文提供访问图形桌面环境的途径
Comment[zh_HK]=透過語音合成與/或可更新的點字系統提供使用圖形化桌面環境的能力
Comment[zh_TW]=透過語音合成與/或可更新的點字系統提供使用圖形化桌面環境的能力
Exec=orca --replace
Icon=orca
Terminal=false
Type=Application
StartupNotify=true
Categories=GTK;GNOME;Utility;Accessibility;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=orca
X-GNOME-Bugzilla-Component=general

