[Desktop Entry]
Version=1.0
Name=Shotwell
GenericName=Photo Manager
Comment=Organize your photos
Exec=shotwell %U
Icon=shotwell
Terminal=false
Type=Application
MimeType=x-content/image-dcf;
Categories=Graphics;Photography;GNOME;GTK;
X-GIO-NoFuse=true
X-GNOME-Gettext-Domain=shotwell
X-GNOME-FullName=Shotwell Photo Manager
X-GNOME-FullName[ia]=Shotwell Photo Manager
GenericName[ia]=Administrator de photos
Comment[ia]=Organize your photos
X-GNOME-FullName[hi]=Shotwell Photo Manager
GenericName[hi]=फोटो प्रबंधक
Comment[hi]=Organize your photos
X-GNOME-FullName[ta_IN]=Shotwell Photo Manager
GenericName[ta_IN]=புகைப்பட அடுக்கு
Comment[ta_IN]=Organize your photos
X-GNOME-FullName[te_IN]=షాట్‌వెల్ ఫొటో నిర్వాహకం
GenericName[te_IN]=ఫొటో నిర్వాహకి
Comment[te_IN]=మీ ఫొటోలను నిర్వహించండి
X-GNOME-FullName[fr]=Gestionnaire de photos Shotwell
GenericName[fr]=Gestionnaire de photos
Comment[fr]=Organiser ses photos
X-GNOME-FullName[de]=Shotwell Fotoverwaltung
GenericName[de]=Fotoverwaltung
Comment[de]=Ihre Fotos organisieren
X-GNOME-FullName[it]=Gestore di fotografie Shotwell
GenericName[it]=Gestore di fotografie
Comment[it]=Organizza le proprie fotografie
X-GNOME-FullName[es]=Gestor de fotos Shotwell
GenericName[es]=Gestor de fotos
Comment[es]=Organice sus fotos
X-GNOME-FullName[pl]=Menedżer zdjęć Shotwell
GenericName[pl]=Menedżer zdjęć
Comment[pl]=Organizowanie zdjęć
X-GNOME-FullName[et]=Shotwell fotohaldur
GenericName[et]=Fotohaldur
Comment[et]=Korrasta oma fotokogu
X-GNOME-FullName[sv]=Fotohanteraren Shotwell
GenericName[sv]=Fotohanterare
Comment[sv]=Organisera dina foton
X-GNOME-FullName[sk]=Shotwell - správca fotografií
GenericName[sk]=Správca fotografií
Comment[sk]=Usporiadajte vaše fotografie
X-GNOME-FullName[lv]=Shotwell fotogrāfiju pārvaldnieks
GenericName[lv]=Fotogrāfiju pārvaldnieks
Comment[lv]=Organizē savas bildes
X-GNOME-FullName[pt]=Gestor de fotos Shotwell
GenericName[pt]=Gestor de fotos
Comment[pt]=Organize as suas fotos
X-GNOME-FullName[bg]=Shotwell Photo Manager
GenericName[bg]=Мениджър на снимки
Comment[bg]=Organize your photos
X-GNOME-FullName[bn]=Shotwell Photo Manager
GenericName[bn]=চিত্র ম্যানেজার
Comment[bn]=Organize your photos
X-GNOME-FullName[nl]=Shotwell-fotobeheer
GenericName[nl]=Fotobeheer
Comment[nl]=Uw foto's organiseren
X-GNOME-FullName[da]=Shotwell billedmanager
GenericName[da]=Billedhåndtering
Comment[da]=Organiser dine billeder
X-GNOME-FullName[zh_CN]=Shotwell 照片管理器
GenericName[zh_CN]=照片管理器
Comment[zh_CN]=组织您的照片
X-GNOME-FullName[el]=Διαχειριστής εικόνων Shotwell
GenericName[el]=Διαχειριστής εικόνων
Comment[el]=Οργανώστε τις φωτογραφίες σας
X-GNOME-FullName[ru]=Менеджер фотографий Shotwell
GenericName[ru]=Менеджер фотографий
Comment[ru]=Организуйте свои фотографии
X-GNOME-FullName[pa]=Shotwell Photo Manager
GenericName[pa]=ਫੋਟੋ ਮੈਨੇਜਰ
Comment[pa]=Organize your photos
X-GNOME-FullName[hu]=Shotwell fényképkezelő
GenericName[hu]=Fényképkezelő
Comment[hu]=Rendszerezze fényképeit
X-GNOME-FullName[en_GB]=Shotwell Photo Manager
GenericName[en_GB]=Photo Manager
Comment[en_GB]=Organise your photos
X-GNOME-FullName[uk]=Впорядник фотографій Shotwell
GenericName[uk]=Впорядник фотографій
Comment[uk]=Впорядкуйте ваші фотографії
X-GNOME-FullName[ja]=Shotwell 写真管理ツール
GenericName[ja]=写真管理ツール
Comment[ja]=写真の整理
X-GNOME-FullName[fi]=Shotwell - valokuvien hallinta
GenericName[fi]=Valokuvien hallinta
Comment[fi]=Järjestele digikuviasi
X-GNOME-FullName[zh_TW]=Shotwell 相片管理員
GenericName[zh_TW]=相片管理員
Comment[zh_TW]=整理您的相片
X-GNOME-FullName[cs]=Správce fotografií Shotwell
GenericName[cs]=Správce fotografií
Comment[cs]=Uspořádejte své fotografie
X-GNOME-FullName[nb]=Shotwell fotobehandler
GenericName[nb]=Fotobehandler
Comment[nb]=Organiser dine bilder
X-GNOME-FullName[id]=Shotwell Photo Manager
GenericName[id]=Manajer Foto
Comment[id]=Organize your photos
X-GNOME-FullName[th]=Shotwell Photo Manager
GenericName[th]=ตัวจัดการภาพถ่าย
Comment[th]=Organize your photos
X-GNOME-FullName[sl]=Shotwell upravljalnik fotografij
GenericName[sl]=Upravljalnik fotografij
Comment[sl]=Organizirajte svoje fotografije
X-GNOME-FullName[hr]=Shotwell upravitelj fotografija
GenericName[hr]=Upravitelj fotografija
Comment[hr]=Organiziraj svoje fotografije
X-GNOME-FullName[ar]=Shotwell Photo Manager
GenericName[ar]=مدير الصور
Comment[ar]=Organize your photos
X-GNOME-FullName[ast]=Shotwell Photo Manager
GenericName[ast]=Xestor de semeyes
Comment[ast]=Organize your photos
X-GNOME-FullName[ro]=Shotwell - Administrator fotografii
GenericName[ro]=Administrator fotografii
Comment[ro]=Organizați-vă fotografiile
X-GNOME-FullName[sr]=Фото-бунар менаџер
GenericName[sr]=Организовање слика
Comment[sr]=Организујте ваше фотографије
X-GNOME-FullName[lt]=Shotwell Photo Manager
GenericName[lt]=Nuotraukų tvarkymo programa
Comment[lt]=Organize your photos
X-GNOME-FullName[gl]=Shotwell Photo Manager
GenericName[gl]=Xestor de fotos
Comment[gl]=Organiza as túas fotos
X-GNOME-FullName[tr]=Shotwell Photo Manager
GenericName[tr]=Fotoğraf Yöneticisi
Comment[tr]=Organize your photos
X-GNOME-FullName[ca]=Gestor fotogràfic Shotwell
GenericName[ca]=Gestor fotogràfic
Comment[ca]=Organitzeu les vostres fotografies
X-GNOME-FullName[ko]=샷웰 사진 관리자
GenericName[ko]=사진 관리자
Comment[ko]=사진을 정리합니다
X-GNOME-FullName[kk]=Shotwell фотосуреттерді басқарушысы
GenericName[kk]=Фотосуреттерді басқару қолданбасы
Comment[kk]=Фотосуреттеріңізді ретке келтіріңіз
X-GNOME-FullName[pt_BR]=Gerenciador de fotos Shotwell
GenericName[pt_BR]=Organizador de fotos
Comment[pt_BR]=Organize as suas fotos
X-GNOME-FullName[eu]=Shotwell argazki-kudeatzailea
GenericName[eu]=Argazki-kudeatzailea
Comment[eu]=Antolatu zure argazkiak
X-GNOME-FullName[he]=מנהל התמונות Shotwell
GenericName[he]=מנהל תמונות
Comment[he]=ארגון התמונות שלך
X-GNOME-FullName[mk]=Shotwell Photo Manager
GenericName[mk]=Менаџер на фотографии
Comment[mk]=Organize your photos
X-GNOME-FullName[te]=షాట్‌వెల్ ఫొటో నిర్వాహకం
GenericName[te]=ఫోటో నిర్వాహకం
Comment[te]=మీ ఫొటోలను నిర్వహించండి
X-GNOME-FullName[ta]=Shotwell Photo Manager
GenericName[ta]=புகைப்பட அடுக்கு
Comment[ta]=Organize your photos
X-GNOME-FullName[vi]=Chương trình quản lí ảnh Shotwell
GenericName[vi]=Trình quản lí ảnh
Comment[vi]=Organize your photos
